@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese";
  line-height: 1;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
  position: relative;
  border-bottom: 1px solid #0068b7;
  min-height: 960px;
}

@media screen and (max-width: 768px) {
  .c-header {
    min-height: 420px;
    background-size: cover;
    border: none;
  }
}

.c-header .logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.c-header .logo h1 {
  padding: 40px 0 0 40px;
}

@media screen and (max-width: 768px) {
  .c-header .logo h1 {
    padding: 0;
  }
}

.c-header .c-btn1, .c-header .c-btn2, .c-header .c-btn3, .c-header .c-btn4 {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
  margin-right: 21px;
}

.c-header .c-btn3 {
  position: absolute;
  top: 0;
  right: 273px;
  margin-right: 0px;
  margin-top: 33px;
}

.c-header .c-btn4 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 21px;
  margin-right: 25px;
}

.c-header .mainCopy {
  z-index: 1;
  position: absolute;
  top: 38%;
  left: 0;
  margin-top: -4px;
}

@media screen and (max-width: 768px) {
  .c-header .mainCopy {
    top: 83px;
  }
}

.c-header__page-2 {
  background: url("../img/pc/bg-page-2.jpg") no-repeat;
  background-size: cover;
  border: none;
}

.c-header__catchCopy {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 60px;
  top: 280px;
}

.c-header__catchCopy h2 {
  padding-left: 38px;
}

.c-header .sp-menuicon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.c-header .sp-menuicon img {
  cursor: pointer;
}

#main_visual {
  position: relative;
  width: 100%;
  min-height: 840px;
  transition: -khtml-opacity 1.2s ease-out, opacity 1.2s ease-out;
}

.ready {
  opacity: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  border-top: 1px solid #0068b7;
  padding-top: 60px;
  text-align: left;
  background-color: #f8f8f8;
}

@media screen and (max-width: 768px) {
  .c-footer {
    text-align: center;
    border: none;
    background-color: #ffffff;
    padding-top: 0;
  }
}

.c-footer__info {
  width: 960px;
  margin: 0 auto;
  height: 355px;
  padding-left: 7px;
}

@media screen and (max-width: 768px) {
  .c-footer__info {
    width: 100%;
  }
}

.c-footer__info h3 {
  padding-bottom: 5px;
  color: #003567;
}

.c-footer__info p {
  padding-top: 30px;
  font-size: 1.3rem;
  color: #003567;
}

.c-footer__info--page2 {
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(26px, 34px);
}

.c-footer__info--page2 h3 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.c-footer__info--page2 .c-list1 {
  margin: 0 !important;
  grid-row: 2;
}

.c-footer__info--page2 p {
  grid-row: 3;
  margin-top: 10px;
}

.c-footer__contact {
  background: #ffffff;
  border-top: 1px solid #e8e8e8;
  padding: 42px 0;
}

@media screen and (max-width: 768px) {
  .c-footer__contact {
    border-top: 2px solid #0068b7;
    padding: 20px;
  }
}

.c-footer__contact ul {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer__contact ul li a img {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

@media screen and (max-width: 768px) {
  .c-footer__contact ul li a img {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media screen and (max-width: 768px) {
  .c-footer__contact ul li {
    padding-right: 5px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .c-footer__contact ul {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.c-footer__contact ul li:hover a img {
  -webkit-transform: translate(5);
  transform: translate(5);
}

.c-footer__main {
  padding: 60px 0 30px;
  border-bottom: 1px solid #809ab3;
}

@media screen and (max-width: 768px) {
  .c-footer__main {
    padding: 10px 0 0;
  }
}

.c-footer__main--inner {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-footer__main--inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px;
    border-bottom: 1px solid #809ab3;
  }
}

.c-footer__main--inner .c-btn3,
.c-footer__main--inner .c-btn1,
.c-footer__main--inner .c-btn2,
.c-footer__main--inner .c-btn3,
.c-footer__main--inner .c-btn4 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.c-footer__main--inner .c-btn3 {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .c-footer__main--inner .c-btn3 {
    margin: 0 0 20px 0;
  }
}

.c-footer__main--inner .c-btn1 p, .c-footer__main--inner .c-btn2 p, .c-footer__main--inner .c-btn3 p, .c-footer__main--inner .c-btn4 p {
  text-align: right;
}

.c-footer__main--inner .c-btn1 span, .c-footer__main--inner .c-btn2 span, .c-footer__main--inner .c-btn3 span, .c-footer__main--inner .c-btn4 span {
  padding: 4px 9px;
}

@media screen and (max-width: 768px) {
  .c-footer__main--inner .c-btn1 span, .c-footer__main--inner .c-btn2 span, .c-footer__main--inner .c-btn3 span, .c-footer__main--inner .c-btn4 span {
    padding: 0px 14px 4px 8px;
  }
}

@media screen and (max-width: 768px) {
  
  .c-footer__main--inner .c-btn1,
  .c-footer__main--inner .c-btn2,
  .c-footer__main--inner .c-btn3,
  .c-footer__main--inner .c-btn4 {
    margin: 0 0 10px 0;
  }
}

.c-footer__main--inner .c-btn1 span:nth-child(2), .c-footer__main--inner .c-btn2 span:nth-child(2), .c-footer__main--inner .c-btn3 span:nth-child(2), .c-footer__main--inner .c-btn4 span:nth-child(2) {
  background: #0075a9;
}

.c-footer__main--inner:last-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .c-footer__main--inner:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    padding: 30px 20px 30px 11px;
  }
}

.c-footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-footer__logo h3 {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .c-footer__logo h3 {
    padding-bottom: 22px;
  }
}

.c-footer__add {
  color: #ffffff;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .c-footer__add {
    margin-right: 0;
    padding-bottom: 17px;
  }
}

.c-footer__add h3 {
  font-size: 1.4rem;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-footer__add h3 {
    border: 1px solid #809ab3;
    border-radius: 3px;
    font-size: 1.3rem;
    padding: 10px 0 10px;
    color: #bfccd9;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}

.c-footer__add p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 16px;
  color: #bfccd9;
}

@media screen and (max-width: 768px) {
  .c-footer__add p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
}

.c-footer__add p span {
  color: #ffffff;
}

.c-footer__add:last-child {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

.c-footer__add--img1 {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  margin-right: 24px;
  margin-left: 15px;
}

.c-footer__add--img2 {
  position: absolute;
  right: -8px;
  top: 1px;
}

@media screen and (max-width: 768px) {
  .c-footer__add--img2 {
    position: relative;
    margin-top: 14px;
    margin-left: 9px;
    top: 0;
    right: 0;
  }
}

.c-footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .c-footer__copy {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
}

.c-footer__copy p {
  color: #ffffff;
  line-height: 79px;
  font-size: 1.2rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .c-footer__copy p {
    font-size: 0.9rem;
    line-height: 0.8;
    padding: 5px 0;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 960px;
  color: #333333;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    min-width: auto;
    font-size: 1.3rem;
  }
}

#wrapper {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #wrapper {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
}

.l-container {
  width: 960px;
  margin: 0 auto;
}

.l-main {
  width: 960px;
  margin: 0 auto;
  padding: 80px 0 74px;
}

@media screen and (max-width: 768px) {
  .l-main {
    width: auto;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-btn1 a, .c-btn2 a, .c-btn3 a, .c-btn4 a {
  max-width: 235px;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .c-btn1 a, .c-btn2 a, .c-btn3 a, .c-btn4 a {
    max-width: 100%;
    display: block;
    border: 1px solid #809ab3;
    padding: 20px;
  }
}

.c-btn1 a span, .c-btn2 a span, .c-btn3 a span, .c-btn4 a span {
  padding: 4px 9px;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .c-btn1 a span, .c-btn2 a span, .c-btn3 a span, .c-btn4 a span {
    border-radius: 3px;
    padding: 2px 10px;
  }
}

.c-btn1 a img, .c-btn2 a img, .c-btn3 a img, .c-btn4 a img {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .c-btn1 a img, .c-btn2 a img, .c-btn3 a img, .c-btn4 a img {
    margin: 0;
  }
}

.c-btn1:hover a, .c-btn2:hover a, .c-btn3:hover a, .c-btn4:hover a {
  -webkit-animation: animate 0.2s linear;
          animation: animate 0.2s linear;
}

.c-btn2 a {
  color: #333333;
  border: 1px solid #d6d6d6;
  padding: 10px 17px 10px 16px;
  font-size: 1.4rem;
  border-radius: 20px;
}

.c-btn2 a::after {
  content: '';
  background: url("../img/pc/ico-arr.png") no-repeat;
  background-size: 6px 10px;
  width: 6px;
  height: 10px;
  display: inline-block;
  margin-left: 15px;
}

.c-btn3 a {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 210px;
}

@media screen and (max-width: 768px) {
  .c-btn3 a {
    max-width: 100%;
    display: block;
    width: auto;
    padding: 20px 47px;
    border-radius: 3px;
    border: 1px solid #809ab3;
  }
}

.c-btn3 a::before {
  content: '';
  background: url("../img/pc/ico-mail.png") no-repeat;
  background-size: 24px 16px;
  width: 24px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .c-btn3 a::before {
    background: url("../img/sp/ico-mail.png") no-repeat;
    background-size: 24px 16px;
  }
}

.c-btn3--color2 a {
  color: #111111;
  border: 1px solid #886e09;
  text-align: left;
  padding: 10px 0 10px 20px;
}

.c-btn3--color2 a::before {
  background: url("../img/pc/ico-mail-2.png") no-repeat;
  margin: 0;
}

.c-btn3--color2 a p {
  padding-left: 5px;
}

.c-btn3--color2 a span {
  display: block;
  padding: 0 0 5px;
}

.c-btn3:hover a {
  -webkit-animation: animate 0.2s linear;
          animation: animate 0.2s linear;
}

.c-btn4 a p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #ffffff;
}

.c-btn4 a span {
  display: block;
  padding: 7px 10px 8px;
  border-radius: 0;
}

.c-btn4 a img {
  margin: 0;
}

.c-btn4 a p.date {
  padding: 0;
  color: #666666;
  text-align: right;
}

.c-btn-scrl {
  position: fixed;
  right: 0;
  bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-btn-scrl {
    right: 10px;
    bottom: 10px;
  }
}

.c-title1 {
  font-size: 2.6rem;
  padding-bottom: 39px;
}

.c-title1 h3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .c-title1 h3 {
    font-size: 1.6rem;
    display: block;
    position: relative;
  }
}

.c-title1 h3::before {
  content: '';
  background: url("../img/pc/line-blue.png") no-repeat;
  background-size: 24px 40px;
  width: 24px;
  height: 40px;
  margin-right: 13px;
  margin-left: 2px;
}

@media screen and (max-width: 768px) {
  .c-title1 h3::before {
    display: block;
    position: absolute;
    top: -30px;
    left: 46%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../img/sp/line-2.png") no-repeat;
    background-size: 18px 30px;
    width: 18px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .c-title1 {
    padding-bottom: 20px;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-txt-excolor {
  color: #111111;
}

.gnavi {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gnavi ul {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gnavi ul li {
  padding: 25px 49px;
  text-align: center;
  border-right: 1px solid #e8e8e8;
}

.gnavi ul li a {
  color: #333333;
  text-decoration: none;
}

.gnavi ul li a span {
  margin-top: 15px;
  display: block;
}

.gnavi ul li a:hover {
  text-decoration: underline;
}

.gnavi ul li a:hover img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.gnavi ul li:nth-child(1) {
  border-left: 1px solid #e8e8e8;
}

.gnavi ul li:last-child {
  padding: 25px 31px;
}

.gnavi-sp {
  background: #ffffff;
  z-index: 1000;
  text-align: left;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
}

.gnavi-sp__inner {
  padding-top: 0;
}

.gnavi-sp__inner--list--item {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0 0 0;
  cursor: pointer;
  position: relative;
}

.gnavi-sp__inner--list--item img {
  margin-right: 10px;
  margin-left: 25px;
}

.gnavi-sp__inner--list--item a {
  text-decoration: none;
  color: #0068b7;
  line-height: 30px;
}

.gnavi-sp__inner--list--item a.btn {
  position: absolute;
  right: 10px;
  top: 25px;
}

.gnavi-sp__inner--list--item ul {
  margin-top: 10px;
}

.gnavi-sp__inner--list--item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px 10px 60px;
  border-top: 1px solid #e8e8e8;
}

.gnavi-sp__inner--list--item ul li a {
  color: #333333;
}

.gnavi-sp__inner--list--item ul li::after {
  content: '';
  display: block;
  background: url("../img/sp/ico-arr.png") no-repeat;
  background-size: 7px 12px;
  height: 12px;
  width: 7px;
}

.gnavi-sp__inner--list--item ul.ex-list {
  border-bottom: 1px solid #e8e8e8;
}

.gnavi-sp__inner--list--item ul.flag-list {
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.gnavi-sp__inner--list--item:last-child {
  border: none;
}

.gnavi-sp__inner--list--item:nth-child(1) {
  border-top: 1px solid #e8e8e8;
}

.gnavi-sp .logo {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.gnavi-sp .sp-menuicon {
  right: 10px;
  z-index: 10;
}

.gnavi-page2 ul li {
  border: none;
  padding: 25px;
}

.c-imgtext1, .c-imgtext2 {
  font-size: 1.4rem;
  color: #ffffff;
  background: #4098bf;
  width: 300px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1, .c-imgtext2 {
    width: 280px;
    margin: 0 auto 10px;
  }
}

.c-imgtext1__txt {
  padding: 30px 0;
  text-align: center;
}

.c-imgtext1__txt span {
  font-weight: bold;
  display: block;
  margin-bottom: 1.6rem;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt span {
    font-size: 1.5rem;
  }
}

.c-imgtext1__txt p {
  line-height: 1.6rem;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt {
    padding: 30px 0 32px;
  }
}

.c-imgtext2 {
  color: #333333;
  background: #ffffff;
}

.c-imgtext2__txt {
  padding: 20px 0;
}

.c-imgtext2__txt span {
  color: #0068b7;
}

.c-imgtext2__txt p {
  padding-top: 15px;
}

.c-imgtext3, .c-imgtext3--noImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 28px;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .c-imgtext3, .c-imgtext3--noImg {
    padding: 17px 29px 19px 31px;
    border-bottom: 1px solid #e8e8e8;
  }
  .c-imgtext3 img, .c-imgtext3--noImg img {
    float: left;
    margin-right: 10px;
  }
}

.c-imgtext3__txt {
  text-align: left;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .c-imgtext3__txt {
    padding: 0;
    width: 100%;
  }
}

.c-imgtext3__txt p {
  display: block;
  padding-bottom: 10px;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .c-imgtext3__txt p {
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-imgtext3__txt a {
  text-decoration: none;
  color: #333333;
}

.c-imgtext3__txt p.sp-arr {
  padding-right: 30px;
  line-height: 1.5;
}

.c-imgtext3__txt p.sp-arr::after {
  content: '';
  width: 7px;
  height: 12px;
  background: url("../img/sp/ico-arr.png") no-repeat;
  background-size: 7px 12px;
  right: 40px;
  cursor: pointer;
  position: absolute;
}

.c-imgtext3__txt span {
  font-size: 1.4rem;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .c-imgtext3__txt span {
    font-size: 1.1rem;
  }
}

.c-imgtext3__txt span:last-child::before {
  content: '';
  width: 2px;
  height: 14px;
  background: #e8e8e8;
  display: inline-block;
  margin: 0 5px;
}

.c-imgtext3--noImg {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-imgtext3--noImg {
    padding: 14px 20px 16px 31px;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtext3--noImg::first-child {
    border-top: 1px solid #e8e8e8;
  }
}

.c-imgtext3--noImg .c-imgtext3__txt {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .c-imgtext3--noImg .c-imgtext3__txt {
    position: relative;
  }
}

.c-imgtext3--noImg .c-imgtext3__txt span::before {
  content: none;
}

.c-imgtext3--noImg .c-imgtext3__txt span:last-child::before {
  content: none;
}

.c-imgtext3--noImg .c-imgtext3__txt p.sp-arr {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-imgtext3--noImg .c-imgtext3__txt p.sp-arr::after {
  content: '';
  width: 7px;
  height: 12px;
  background: url("../img/sp/ico-arr.png") no-repeat;
  background-size: 7px 12px;
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;
}

.c-imgtext3--noImg .c-imgtext3__txt a.sp-btn p.sp-arr::after {
  top: 5px;
}

@media screen and (max-width: 768px) {
  .c-imgtext3:first-child, .c-imgtext3--noImg:first-child {
    border-top: 1px solid #e8e8e8;
  }
}

.c-imgtext4 {
  text-align: left;
  position: relative;
  overflow: hidden;
}

.c-imgtext4 img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .c-imgtext4 img {
    width: auto;
  }
}

.c-imgtext4__txt1, .c-imgtext4__txt2 {
  position: absolute;
  min-height: 57px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
}

.c-imgtext4__txt1 p, .c-imgtext4__txt2 p {
  line-height: 57px;
  color: #ffffff;
  padding-left: 30px;
}

.c-imgtext4__txt2 {
  padding: 11px 0 10px;
}

.c-imgtext4__txt2 p {
  line-height: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.c-imgtext4__txt2 p.time {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-imgtext4__txt2 p.time::before {
  content: '';
  display: block;
  background: url("../img/pc/ico-clock.png") no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  margin-right: -15px;
}

.c-imgtext4__txt2 p.date span {
  padding: 0;
}

.c-imgtext4__txt2 span {
  padding: 4px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.c-imgtext4:hover img {
  -webkit-animation: scale 1s linear;
          animation: scale 1s linear;
}

.c-list1 {
  display: inline-grid;
  margin-right: 67px;
}

.c-list1 p {
  padding-bottom: 13px;
  font-size: 1.5rem;
}

.c-list1 ul li {
  padding-bottom: 11px;
  padding-left: 5px;
}

.c-list1 ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1.3rem;
}

.c-list1 ul li a:hover {
  text-decoration: underline;
}

.c-list1 ul li::before {
  content: '';
  background: url("../img/pc/ico-arr.png") no-repeat;
  background-size: 6px 10px;
  width: 6px;
  height: 10px;
  display: inline-block;
}

.c-list1:nth-child(3) {
  margin-right: 120px;
}

.c-list1:nth-child(4) {
  margin-right: 96px;
}

.c-list1:nth-child(5) {
  margin-right: 42px;
}

.c-list1:nth-child(6) {
  margin-right: 0;
}

.c-list1:nth-child(7) {
  -webkit-transform: translateY(-158px);
  transform: translateY(-158px);
}

.c-list1:nth-child(8) {
  -webkit-transform: translate(20px, -130px);
  transform: translate(20px, -130px);
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .slide-bg {
    -webkit-animation: slide 10s infinite;
            animation: slide 10s infinite;
  }
}

@-webkit-keyframes slide {
  0% {
    background: url("../img/sp/bg-sp-1.jpg") no-repeat center;
  }
  25% {
    background: url("../img/sp/bg-sp-1.jpg") no-repeat center;
  }
  50% {
    background: url("../img/sp/bg-sp-1.jpg") no-repeat center;
  }
  50.01% {
    background: url("../img/sp/bg-sp-2.jpg") no-repeat center;
  }
  75% {
    background: url("../img/sp/bg-sp-2.jpg") no-repeat center;
  }
  100% {
    background: url("../img/sp/bg-sp-2.jpg") no-repeat center;
  }
}

@keyframes slide {
  0% {
    background: url("../img/sp/bg-sp-1.jpg") no-repeat center;
  }
  25% {
    background: url("../img/sp/bg-sp-1.jpg") no-repeat center;
  }
  50% {
    background: url("../img/sp/bg-sp-1.jpg") no-repeat center;
  }
  50.01% {
    background: url("../img/sp/bg-sp-2.jpg") no-repeat center;
  }
  75% {
    background: url("../img/sp/bg-sp-2.jpg") no-repeat center;
  }
  100% {
    background: url("../img/sp/bg-sp-2.jpg") no-repeat center;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  20% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  40% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  60% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  80% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  20% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  40% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  60% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  80% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.6;
    -moz-transform: scale(1);
    opacity: 0.6;
    -ms-transform: scale(1);
    opacity: 0.6;
    -o-transform: scale(1);
    opacity: 0.6;
    transform: scale(1);
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(1.1);
    opacity: 1;
    -moz-transform: scale(1.1);
    opacity: 1;
    -ms-transform: scale(1.1);
    opacity: 1;
    -o-transform: scale(1.1);
    opacity: 1;
    transform: scale(1.1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.2);
    opacity: 1;
    -moz-transform: scale(1.2);
    opacity: 1;
    -ms-transform: scale(1.2);
    opacity: 1;
    -o-transform: scale(1.2);
    opacity: 1;
    transform: scale(1.2);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.3);
    opacity: 1;
    -moz-transform: scale(1.3);
    opacity: 1;
    -ms-transform: scale(1.3);
    opacity: 1;
    -o-transform: scale(1.3);
    opacity: 1;
    transform: scale(1.3);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
    opacity: 1;
    -moz-transform: scale(1);
    opacity: 1;
    -ms-transform: scale(1);
    opacity: 1;
    -o-transform: scale(1);
    opacity: 1;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.6;
    -moz-transform: scale(1);
    opacity: 0.6;
    -ms-transform: scale(1);
    opacity: 0.6;
    -o-transform: scale(1);
    opacity: 0.6;
    transform: scale(1);
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(1.1);
    opacity: 1;
    -moz-transform: scale(1.1);
    opacity: 1;
    -ms-transform: scale(1.1);
    opacity: 1;
    -o-transform: scale(1.1);
    opacity: 1;
    transform: scale(1.1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.2);
    opacity: 1;
    -moz-transform: scale(1.2);
    opacity: 1;
    -ms-transform: scale(1.2);
    opacity: 1;
    -o-transform: scale(1.2);
    opacity: 1;
    transform: scale(1.2);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.3);
    opacity: 1;
    -moz-transform: scale(1.3);
    opacity: 1;
    -ms-transform: scale(1.3);
    opacity: 1;
    -o-transform: scale(1.3);
    opacity: 1;
    transform: scale(1.3);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
    opacity: 1;
    -moz-transform: scale(1);
    opacity: 1;
    -ms-transform: scale(1);
    opacity: 1;
    -o-transform: scale(1);
    opacity: 1;
    transform: scale(1);
    opacity: 1;
  }
}

.c-mainshow {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 30px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .c-mainshow {
    display: block;
    padding: 0 20px 20px;
  }
}

.c-mainshow .c-imgtext1, .c-mainshow .c-imgtext2,
.c-mainshow .c-imgtext2 {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

@media screen and (max-width: 768px) {
  .c-mainshow .c-imgtext1, .c-mainshow .c-imgtext2,
  .c-mainshow .c-imgtext2 {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.c-maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .c-maincontent {
    display: block;
    text-align: center;
    padding-top: 42px;
  }
}

.c-maincontent__inner {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  padding-left: 8px;
}

@media screen and (max-width: 768px) {
  .c-maincontent__inner {
    margin-bottom: 65px;
  }
}

.c-maincontent__inner:last-child {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

@media screen and (max-width: 768px) {
  .c-maincontent__inner:last-child {
    margin-bottom: 0;
  }
}

.c-maincontent__inner .c-btn2 {
  margin-top: 20px;
  padding-right: 70px;
}

.c-maincontent__inner .c-btn2-ex {
  padding-right: 0;
}

.p-page2__main {
  padding: 21px 40px 40px;
}

.c-mainpage2__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-mainpage2__head .c-btn2 {
  padding-bottom: 25px;
  margin-right: -15px;
}

.c-mainpage2__head .c-title1-head2 {
  padding-bottom: 30px;
}

.c-mainpage2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -18px;
}

.c-mainpage2__inner .main-img {
  grid-column: 1 / span 2;
}

.c-mainpage2__inner--left {
  display: grid;
  grid-row-gap: 20px;
}

.c-mainpage2__inner:last-child {
  padding-bottom: 40px;
}

.c-page2__contact {
  background: url("../img/pc/bg-pc-2.jpg") no-repeat center;
  background-size: cover;
}

.c-page2__contact--inner {
  width: 960px;
  height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-page2__contact--inner p {
  font-size: 2rem;
  color: #111111;
}

.c-page2__contact--inner .c-btn3 p {
  font-size: 1.5rem;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.u-blue {
  color: #0068b7;
}

.u-blue-ex {
  color: #003567;
}

.u-bg-blue {
  background: #0068b7;
}

.u-bg-green {
  background: #32b16c;
}

.u-bg-brown {
  background: #7e6b5a;
}

.u-bg-orange {
  background: #f39800;
}

.u-bg-yellow {
  background: #ffcc00;
}

.u-bg-other {
  background: #8957a1;
}
