//------------------c-dev-title

.c-dev-title1,
.c-dev-title2,
.c-dev-title3 {
	line-height: 1;
	font-size: 1.3rem;
	padding: 6px 0 6px 15px;
	margin: 40px 0 20px 0;
	border-radius: 5px;
	text-align: left;
}
.c-dev-title2, .c-dev-title3 {
	margin-top: 20px;
}

.c-dev-title1 {
		font-size: 1.6rem;
		background: #000;
		color: #fff;

		h1 {
			font-size: 1.6rem;
			padding-left: 15px;
		}
	}
.c-dev-title2 {
	background: #888;
	color: #fff;
	padding-left: 30px;
}
.c-dev-title3 {
	padding-left: 35px;
	background: #DDD;
	color: #000
}
