@charset "UTF-8";
@import '0_base/mixin';
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}
.u-blue{
	color: $blue;
}
.u-blue-ex{
	color: $blue-ex;
}
.u-bg-blue {
	background: $blue;
}
.u-bg-green {
	background: $green;
}
.u-bg-brown {
	background: $brown;
}
.u-bg-orange {
	background: $orange;
}
.u-bg-yellow{
	background: $yellow;
}
.u-bg-other{
	background: $other;
}


//------------------------------------------------------------
// color
//------------------------------------------------------------
