@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';

$breakpoint1:768px;

//Text & Border color:
$pri-black: #333333;
$extra-black: #111111;
$sec-white: #ffffff;
$blue: #0068b7;
$blue-ex: #003567;
$green: #32b16c;
$brown: #7e6b5a;
$orange: #f39800;
$other: #8957a1;
$yellow: #ffcc00;
$border: #e8e8e8;
