@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	min-width: 950px;
}
#wrapper {
	box-sizing: border-box;
}
.container {
	width: 950px;
	margin: 0 auto;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}
.top-bar {
	height: 4px;
	background-color: #0f5c9b;
}


/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
    height: 175px;
}

.header-sp {
	display: none;
}
.header-pc {
	padding: 0 5px;
	display: block;
	margin: 0;
	a {
		float: left;
	}

}
.header-util {
	box-sizing: border-box;
	padding-top: 35px;
	@include cf;

	ul {
		padding: 0;

		li {
			width: auto;
			display: block;
			box-sizing: border-box;
			float: right;
			margin-left: 28px;
   			margin-right: -5px;

			img {
				margin-top: 3px;
			}

			a {
				cursor: pointer;
				text-decoration: none;

				p {
					font-size: 1rem;
					color: #878787;
					line-height: 23px;
					margin-right: -5px;
				}
			}
			a.contact {
				height: 44px;
			    font-size: 14px;
			    width: 260px;
			    line-height: 44px;
			    font-weight: bold;
			    color: #fd7e00;
			    background-color: #ffed4d;
			    padding: 12px 20px 13px 17px;
			}
			a.contact::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 14px;
				background: url('../img/pc/mail.png');
				background-size: 20px 14px;
		    margin-right: 2px;
		    margin-bottom: -1.5px;
						}
		}
	}
}


/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/

#gNavi {
	display: block;
	padding-top: 19px;

	ul.nav-bar {
		width: 100%;
		box-sizing: border-box;
		margin-left: 5px;
		@include cf;

		li {
			float: left;
			height: 40px;
			overflow: visible;
    		border-left: 2px solid #dddddd;

			a {
				cursor: pointer;
				position: relative;
				z-index: 0;
			}
			a:hover img {
				border-bottom: 4px solid #dddddd;
			}
		}
		li:last-child{
			padding-right: 2px;
			border-right: 2px solid #dddddd;
		}
	}
}
.nav-bar-sp {
	display: none;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	background-color: #cccccc;
	position: relative;

	.main-footer {
		width: 100%;
		background-color: #ccc;
		text-align: justify;
		padding-top: 40px;
		padding-bottom: 35px;

		.btn {
			width: 80px;
			height: 80px;
			position: fixed;
			bottom: 10px;
			right: 10px;
		}
		
		ul {
			margin:0 auto;
			height: 20px;

			li {
				display: inline-block;
				border-right: 1px solid #888888;

				a {
					text-decoration: none;
					font-size: 14px;
					line-height: 14px;
					color: #5e5e5e;
				}
			}
			li:first-child {
				border-left: 1px solid #888888;
			}
		}
		ul:first-child {
			
			padding-left: 185px;

			li {
				padding: 0 19.5px 0 19px;
			}
		}
		ul:last-child {
			margin-top: 5px;
			padding-left: 158px;

			li {
				padding: 0 19.7px 0 19px;
			}
		}
	}

		.copy {
			background-color: #fff;
			display: grid;
			justify-content: center;
			padding: 20px 0;

			p {
				font-size: 1.4rem;
				line-height: 14px;
				margin-left: -11px;
	   			letter-spacing: 1px;
			}
		}
	}
/*------------------------------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
---------- Responsive ----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 736px) {

	body {
		min-width: 100%;
	}
	.container {
		width: 100%;
		box-sizing: border-box;
		max-width: 640px;
	}
	img {
		max-width: 100%;
		height: auto
	}
	.top-bar {
		width: 100%;
	}
	#header {
		max-width: 100%;
		margin: 0;
		padding: 0;
		height: auto;

		.header-pc {
			display: none;
		}
		.header-sp {
			display: block;
			width: 100%;
			box-sizing: border-box;
			position: relative;
			overflow: hidden;
			@include cf;

			.menu-icon {
				width: 20px;
				height: 16px;
				background-color: #0f5c9b;
				border-radius: 5px;
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				margin-right: 10px;
				margin-top: 10px;
				text-align: center;
				padding: 12px 10px;
				cursor: pointer;

				.icon {
					width: 20px;
					height: 3.5px;
					background-color: #ffffff;
					margin-bottom: 3px;
				}
			}

			a {
				float: left;
				margin-top: -5px;
			}
		}
		.header-util {
			display: none;
		}
	}
	#gNavi {
		display: none;
	}
	nav.nav-bar-sp {
		display: block;
		width: 100%;
		box-sizing: border-box;
		background-color: #0f5c9b;
		height: auto;
		margin: 0;
		padding: 30px 25px 245px;
		overflow: visible;
		text-align: left;
		z-index: 999;
		position: absolute;
		display: none;

		ul {
			width: 100%;

			li {
				list-style-type: none;
			    border-top: 1px dotted #fff;
			    padding: 15px 0 15px 15px;
			    position: relative;

				a {
					font-size: 1.5rem;
					color: #fff;
					line-height: 18px;
					text-decoration: none;
					font-weight: bold;
				}
			}
			li::before {
				content: '';
				background-image: url('../img/sp/arrow.png');
				background-size: 10px 15px;
			    display: inline-block;
			    width: 10px;
			    height: 15px;
			    position: absolute;
			    top: 17px;
			    left: 0;
			}
			li:last-child {
				border-bottom: 1px dotted #fff;
			}
			li:last-child::before{
				top: 21px;
			}
		}
	}

	#footer {
		width: 100%;
		background-color: #ccc;
		text-align: center;

		.main-footer{
			width: 100%;
		    height: auto;
		    margin: 0;
		    padding: 10px 0 20px;
		    min-height: 60px;
		    text-align: center;

			ul {
				max-width: 100%;
				height: auto;
				padding: 0;
				margin: 0;
				text-align: center;
				overflow: hidden;

				li {
				    border: none;
				    line-height: 10px;

					a {
						font-size: 1rem;
						padding: 0 12px;
						line-height: 0;
					}
				}
			}
			ul:first-child {
				margin-top: 5.1px;
				padding-left: 20px;

				li {
					margin: 0;
					padding: 0;
					border-left: 1px solid #888;
				}
				li:last-child {
				    margin-left: -11px;
					margin-top: 8px;
   					border-right: 1px solid #888888;
				}
			}
			ul:last-child {
				margin: 0;
				padding: 0;

				li {
					margin: 0 0 0 -11px;
					padding:0;
					border-right: 1px solid #888888;

					a {
						padding: 0 3px 0 16px;
					}
				}
			}
		}
		.btn {
			 display: none;
		}

		.copy {
			width: 100%;
			display: block;
			text-align: center;
			padding: 15px 0 15px;

			p {
				font-size: 1rem;
				line-height: 15px;
				margin: 0;
				letter-spacing: 0;
			}
			span {
				font-size: 0.6rem;
			}
		}
	}
}
