@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}
/*--Section Slide--*/
.section-slide {
	height: 420px;
	background: url(../img/pc/bg-pc-1.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	text-align: center;
	margin-top: 4px;

	img.slide-pc {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: -20px;
		margin-left: 5px;
		display: block;
	}
	img.slide-sp {
		display: none;
	}
}
/*--Section News--*/
.section-news {
	background-color: #fff;
	height: 310px;
	padding: 80px 0 0 0;
	margin-bottom: -72px;

	.news-content {
	    text-align: left;
	    padding: 21px 0;
	    border: 1px solid #ddd;
			overflow: hidden;
			transform: translateX(5px);
			-webkit-transform: translateX(5px);
			-moz-transform: translateX(5px);
			-o-transform: translateX(5px);

		.main-img {
			display: inline-block;

			img {
				border-right: 1px solid #ddd;
				display: block;
				margin-left: -1px;
				margin-top: 4px;
			}
			img.img-pc{
				display: block;
			}
			img.img-sp {
				display: none;
			}
		}
		.main-link {
			display: inline-block;

			ul {
				width: auto;
				padding-left: 38px;

				li {
					padding: 6px 0 0 0;

					a {
						text-decoration: none;
						font-size: 1.6rem;
						line-height: 32px;
						color: #000;

						span {
							color: #0e5b9a;
							margin-right: 5px;
						}
						p {
							display: inline;
							text-decoration: underline;
						}
					}
				}
				li:last-child {
					transform: translate(0, -9px);
					-webkit-transform: translate(0, -9px);
					-moz-transform: translate(0, -9px);
					-o-transform: translate(0, -9px);
				}
			}
		}
	}
}
/*--Section Constr--*/
.section-constr {
	background-color: #eeeeee;
	height: 510px;
	padding-top: 60px;

	.constr-heading {
		margin-bottom: 60px;
		img {
			margin-left: 9px;
			margin-bottom: 36px;
		}
		img.img-sp {
			display: none;
		}
		p {
			color:#555555;
			font-size: 15.1px;
			line-height: 22.4px;
		}
	}
	.constr-img {
		margin: 0 auto;

		ul {
				box-sizing: border-box;
		    	overflow: hidden;
				padding:3px 36px 0 40px;
				@include cf;

			li {
				float: left;
				display: block;
				margin-right: 107px;

				img {
					margin: 0;
				}
				img.img-sp {
					display: none;
				}
			}
			li:last-child {
				margin: 0;
			}
		}
	}
}
/*--Section Main--*/
.section-main {

		.main-content {
			margin: 50px auto 0;
			height: auto;
			@include cf;
			}
			.main-img-pc {
				float: left;
				@include cf;
				margin-left: -51px;
				margin-top: -1px;
			}
			.box {
				float: right;
				margin-top: 30px;
				margin-right: 35px;
				text-align: left;
				position: relative;

				img.box-heading {
					margin-bottom: 35px;
				}
				img.box-heading-sp {
					display: none;
				}
				img.box-bottom {
					margin-top: 28px;
					margin-left: 2px
				}
				img.box-bottom:hover{
					opacity: 0.6;
				}
				img.box-bottom-sp {
					display: none;
				}
			}
			p {
				font-size: 1.6rem;
				line-height: 22.4px;
			}
		.main-content-sp {
			display: none;
		}

}


/*--Section Contact--*/
.section-contact {
	background: url(../img/pc/bg-pc-3.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding-bottom: 55px;

	.contact {
		padding-top: 60px;

		img {
			margin-bottom: 26px;
    		margin-left: 19px;
		}
		img.contact-sp {
			display: none;
		}

		p {
			color: #ffffff;
			font-size: 1.58rem;
			line-height: 23px;
			padding-left: 10px;
		}
		p.note {
			color: #ffff4c;
		}
	}
	.contact-form {
		padding: 40px 0 0;
		margin: 0 auto;
		text-align: center;

		ul {
		    padding-left: 204px;
			margin-top: -4px;
			@include cf;
		}
		li {
			float: left;
			margin-right: 58px;
			@include cf;

			img {
				margin-bottom: 4px;
			}
			img.sp-phone {
				display: none;
			}
		}
		li:last-child {
			margin: 16px 0 0 3px;
		}
		a {
			text-decoration: none;
		}

		p {
			font-size: 1.2rem;
			color: #ffffff;
			padding-left: 5px;
			letter-spacing: 1px;
		}
		a.mail {
		    font-size: 16px;
		    font-weight: bold;
		    color: #fd7e00;
		    background-color: #ffed4d;
		    padding: 17px 19px 12px 16px;
		    text-decoration: none;
		}
		a.mail:hover {
			opacity: 0.6;
		}
		a.mail::before {
			  content: '';
			  display: inline-block;
			  width: 21px;
			  height: 16px;
			  background: url("../img/pc/mail-2.png");
			  background-size: 21px 16px;
			  margin-right: 7px;
			  margin-left: 4px;
		}
		a.contact-sp {
			display: none;
		}
	}
}
/*--Cont-serv in Service Page--*/
.ex-cont {
	margin-top: 52px;
}



/*Section Top*/
.section-top {
	height: 160px;
	background: url('../img/pc/bg-pc-5.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	margin-top: 4px;

	p {
		font-size: 2.8rem;
		line-height: 34px;
		color: #ffffff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 500;
		display: block;
		letter-spacing: 1px;
		padding-left: 11px;
	}
	img {
		display: none;
	}
}
/*Breadcrumb*/
.bread-crumb {
	width: 950px;
	margin: 0 auto;
	text-align: left;
	height: 37px;

	a {
		text-decoration: none;
		font-size: 1.2rem;
		color: #000;
		line-height: 37px;
		letter-spacing: 0.1px;
		padding-left: 5px;

		span {
			text-decoration: underline;
			color: #0c5999;
		}
	}
}

/*Section About*/
.section-about {
	height: 512px;
	border-top: 1px solid #ddd;

	.about-content {
		padding: 60px 5px 0;

		p {
			font-size: 1.6rem;
			line-height: 25px;
			color: #525252;
			padding-left: 13px;
    		margin-top: 2px;
		}
		p.about-heading {
			font-weight: 500;
			color: #000;
			font-size: 2.6rem;
			line-height: 31px;
			padding-left: 5px;
		}
		ul {
			text-align: center;
			padding-bottom: 35px;
			padding-top: 7px;
			margin-left: 10px;

			li {
				display: inline-block;
				width: 4px;
				height: 4px;
				background-color: #0e5b9a;
				margin: 0 0.6px;
			}
		}
	}
	.about-main {
		margin: 0 auto;
		overflow: hidden;
		margin-right: -6px;
   		margin-left: 5px;

		table, tr, th, td{
			border: 1px solid #ccc;
			border-collapse: collapse;
		}
		table {
			margin-top: 39px;
			display: block;
		}
		th {
			background-color: #0e5b9a;
			color: #ffffff;
			height: 48px;
			text-align: center;
			font-size: 1.6rem;
			line-height: 26px;
		}
		th:first-child {
			width: 258px;
		}
		th:nth-child(2){
			width: 218px;
		}
		td {
			font-size: 1.6rem;
		    line-height: 26px;
		    text-align: left;
		    padding-left: 15px;
		    font-weight: 500;
		    padding-bottom: 67px;
		}
		td:last-child {
			padding-top: 19px;
		}
		ul {
			display: none;
		}
	}
}
/*Section Service*/
.section-service {
	height: auto;
	background-color: #eee;
	padding-bottom: 61px;
	@include cf;

	.service-heading {
		margin: 0 auto;
		padding: 64px 0 0;

		p {
			font-size: 2.6rem;
			line-height: 31px;
			color: #000;
			font-weight: 500;
			padding-left: 11px;
		}
		ul {
			text-align: center;
			padding-bottom: 40px;
			padding-top: 10px;
			margin-left: 11px;

			li {
				display: inline-block;
				width: 4px;
				height: 4px;
				background-color: #0e5b9a;
				margin: 0 0.5px;
			}
		}
	}
	.service {
	    text-align: left;

		ul.service-list {
			width: 100%;
			box-sizing: border-box;

			li.item{
				width: 100%;
				background-color: #fff;
				height: 210px;
				margin-bottom: 30px;
			}
			li.item:first-child {
				height: 250px;
			}
		}
	}
	.service-content {
		margin-left: 25px;
		float: left;
		img.head-no {
			margin: 27px 0 25px 5px;
			display: block;
		}
		img.head-no-sp {
			display: none;
		}
		p {
			font-size: 1.6rem;
			line-height: 26px;
			color: #000;
			font-weight: 600;
			padding-left: 7px;
		}
		span {
			color: #0e5b9a;
		}
		ul {
			width: auto;
			max-height: 50px;
			margin-top: 25px;

			li {
				float: left;
				display: inline-block;
				text-align: center;

				a {
					text-decoration: none;

					img {
					margin-top: 5px;
					}
					img.item-ph {
						display: block;
					}
				}
				a.contact-sp {
					display: none;
				}

				a.mail {
					text-decoration: none;
				    background-color: #ffed4d;
				    font-size: 16px;
				    color: #fd7e00;
				    font-weight: bold;
				    padding: 18px 18px 11px 13px;
				    margin-left: 9px;
				}
				a.mail::before {
					content:'';
					background: url('../img/pc/mail.png') no-repeat;
					background-size: 21px 16px;
				    margin-left: 6px;
				    margin-right: 8px;
				    width: 21px;
				    height: 16px;
				    display: inline-block;
				}
				p {
					font-size: 1rem;
					line-height: 12px;
					color: #0e5b9a;
					padding-left: 5px;
				}
			}
			li:first-child {
				border: 1px solid #0f5c9b;
				width: 284px;
				height: 48px;
				overflow: hidden;
			    margin-left: 5px;
			    margin-top: 2px;

			    p {
			    	padding-top: 2.1px;
				    font-size: 1.16rem;
				    padding-left: 10px;
			    }
			}
			li:last-child {
				margin-left: 5px;
    			margin-top: 19px;
			}
		}
	}
	.service-img {
		float: right;
		box-sizing: border-box;
		width: 280px;
		margin: 26px 20px 0 0;
		@include cf;

		img {
			width: 100%;
		}
		img.sev-img-pc {
			display: block;
		}
		img.sev-img-sp {
			display: none
		}
	}
}
/*Section Lightbox*/
.section-lightbox {
	padding: 64px 0 76px;

	.box-content {
		margin: 0;

		img {
			border: 1px solid #0f5c9b;
			margin-bottom: 50px;
			margin-left: 10px;
		}
		img.light-box-sp {
			display: none;
		}

		p {
			font-size: 1.6rem;
			line-height: 25px;
			color: #525252;
			margin-top: -3px;
 			padding-left: 23px;
		}
		span {
			font-size: 2.2rem;
			color: #0f5c9b;
		}
	}
}

//Menu Icon

.rotate-bar-1 {
	transform: rotate(-45deg) translate(-3px, 4px);
	-webkit-transform: rotate(-45deg) translate(-3px, 4px);
				-moz-transform: rotate(-45deg) translate(-3px, 4px);
				-o-transform: rotate(-45deg) translate(-3px, 4px);
	transition: 0.5s;
}
.rotate-bar-2 {
	transform: rotate(45deg) translate(-1px, -2px);
	-webkit-transform: rotate(45deg) translate(-1px, -2px);
	-moz-transform: rotate(45deg) translate(-1px, -2px);
	-o-transform: rotate(45deg) translate(-1px, -2px);
	transition: 0.5s;
}
/*------------------------------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
---------- Responsive ----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 736px) {
	/*Section Slide*/
	.section-slide {
		display: block;
		height: auto;
		width: 100%;
		background: url('../img/sp/bg-sp-1.jpg') no-repeat;
		z-index: 0;
		background-size: cover;
		background-position: center;
		margin-top: 6px;

		img.slide-pc {
			display: none;
		}
		img.slide-sp {
			display: block;
			width: 100%;
		}

	}
	/*Section News*/
	.section-news{
		height: auto;
		margin: 0 15px 30px;
		padding: 26px 0 0 0;
		box-sizing: border-box;

		.news-content {
			text-align: center;
			padding: 10px 13px 18px;
			transform: translateX(-1px);
			-webkit-transform: translateX(-1px);
			-moz-transform: translateX(-1px);
			-o-transform: translateX(-1px);
			margin-left: 3px;

			.main-img {
				text-align: center;

				img {
					border: none;
					margin: 0;
					padding: 0;
				}
				img.img-pc {
					display: none;
				}
				img.img-sp {
					display: block;
				}
			}
			.main-btn {
				margin-top: 11px;
			}
			.main-link {
				width: 100%;
				text-align: left;
				padding-left: 7px;

				ul {
					padding: 0;
					margin: 7px 0;

					li {
						width: auto;
						border-top: 1px dotted #cccccc;
						padding: 6px 0;
						line-height: 22px;

						a {
							font-size: 1.4rem;
							line-height: 22px;
							color: #000;

							span {
								color: #0d5a99;
								text-decoration: none;
								letter-spacing: 1px;
								margin: 0;
							}

							p {
								display: block ;
								text-decoration: underline;
							}
						}
					}

					li:last-child {
						border-bottom: 1px dotted #cccccc;
						-webkit-transform: none;
						   -moz-transform: none;
						    -ms-transform: none;
						     -o-transform: none;
						        transform: none;
					}
				}
			}
		}
	}
	/*Section Constr*/
	.section-constr {
		width: 100%;
		height: auto;
		padding: 26px 0 29px;

		.constr-heading {
			margin: 0 15px;

			img {
				display: none;
			}
			img.img-sp {
				display: block;
				margin: 0 auto 13px;
			}

			p {
				font-size: 1.4rem;
				line-height: 22px;
			}
		}
		.constr-img {
			margin-top: 21px;
			max-width: 100%;

			ul {
				margin: 0 15px;
			    padding: 0;
			    display: grid;
			    grid-template-columns: auto auto auto;

				li {
					display: block;
					box-sizing: border-box;
					margin: 0;
					padding: 0;

					img {
						display: none;
						margin: 2px 0 0 0;
					}
					img.img-sp {
						display: block;

					}
				}
				li:nth-child(2) {
					margin: 0 10px;;
					padding: 0;
				}
			}
		}
	}
	/*Section Main*/
	.section-main {
		width: 100%;
		height: auto;
		padding: 30px 0 0;
		background: #ffffff;

		.main-img-pc {
			display: none;
		}
		.main-content {
			max-width: 100%;
			margin: 0;
			padding: 0;

			.box {
				float: none;
				text-align: center;
				margin: 0 16.5px;
				display: grid;
   				justify-items: center;

				img.main-img {
					display: none;
				}
				img.box-heading {
					display: none;
				}
				img.box-heading-sp {
					display: block;
					margin-bottom: 17px;
				}
				img.box-bottom {
					display: none;
				}
				img.box-bottom-sp {
					display: block;
					margin: 0 auto;
				}
				img.box-bottom-sp:hover {
					opacity: 0.6;
				}

				p {
					font-size: 1.4rem;
					line-height: 22px;
				}
			}
			.box-sp {
				text-align: center;
				width: auto;
			    margin: 20px 6px 0;
			    box-sizing: border-box;
			}
		}
		.main-content-sp {
			display: block;
			position: relative;

		}
	}
	/*Section Contact*/
	.section-contact {
		width: 100%;
		height: auto;
		background: url('../img/sp/bg-sp-8.jpg') no-repeat;
		background-size: cover;
		padding-top: 35px;
		padding-bottom: 49px;
		margin-top: 1px;

		.contact {
			padding:0 15px;

			img {
				display: none;
			}
			img.contact-sp {
				display: block;
				margin: 0 auto 16px;
			}

			p {
				font-size: 1.4rem;
				line-height: 20px;
				padding: 0;
				letter-spacing: -0.5px;
			    padding-left: 14.5px;
			    padding-right: 10.5px;
			}
			p.note {
				 padding: 0 9px 0 10.5px;
			}
		}
		.contact-form {
			padding: 0 15px;
			margin: 0;
			text-align: center;

			ul {
				padding: 15px 20px 0;
				margin: 0;
				overflow: hidden;

				li {
					float: none;
					box-sizing: border-box;
					padding: 10px 0 9px;
					margin: 0;

					p {
						font-size: 1rem;
						line-height: 12px;
						padding: 0 17px 0 17px;
    					letter-spacing: 0.6px;
					}
					a {
						display: none;
					}
					a.contact-sp {
						display: block;

						img {
							margin: 0;
						}
					}
				}
				li:last-child {
					margin: 0;
				}
			}
		}
		img.btn-scroll {
			display: none;
		}
	}
	/*Section Top*/
	.section-top {
		width: 100%;
		height: auto;
		position: static;
		background: none;
		z-index: 0;
		margin-top: 6px;

		p {
			display: none;
		}
		img {
			display: block;
		}
	}
	/*Bread-Crumb*/
	.bread-crumb {
		display: none;
	}
	/*Section About*/
	.section-about {
		width: 100%;
		height: auto;
		padding-bottom: 37px;
		border: none;

		.about-content {
			max-width: 100%;
			padding: 23px 22.5px 0;

			p.about-heading {
			font-size: 1.8rem;
			line-height: 29px;
			color: #555555;
			}
			p {
				font-size: 1.4rem;
				line-height: 22.5px;
				padding: 0;
				margin: 0;
			}

			ul {
				padding-bottom: 13px;
				padding-top: 0;
				margin-left: 2px;
 				margin-top: 0;
			}
		}
		.about-main {
			max-width: 100%;
			margin: 15px 0 0 0;
			padding: 0 15px;

			table {
				display: none;
			}

			ul {
				display: block;
				border: 1px solid #888888;
				transform: translate(0, -0.9px);

				li {
					display: block;
					padding: 8px 0;
					margin: -1px;

					p {
						font-size: 1.4rem;
						line-height: 22px;
					}
				}
				li:nth-child(odd) {
					background-color: #0f5c9b;
					margin-top: 0;

					p {
						color: #fff;
					}
				}
				li:nth-child(even) {
					text-align: left;
					padding-left: 16px;
					margin-top: 5px;
				}

			}
		}

	}
	/*Section Service*/
	.section-service {
		width: 100%;
		height: auto;
		padding: 0 0 7px;

		.service-heading {
			max-width: 100%;
			padding: 25px 0 0;

			p {
				font-size: 1.8rem;
				line-height: 28px;
				padding-left: 0;
			}
			ul {
				padding-top: 0;
				padding-bottom: 0;
				margin: 0;

				li {
					margin: 0 0.5px;
				}
			}
		}
		.service {
			max-width: 100%;
		    padding: 0;
		    background-color: #eee;
		    margin-top: -4px;

			ul.service-list {
				width: auto;
				background-color: #eee;
				margin-top: 15px;

				li.item {
					width: auto;
					height: auto;
					padding: 15px;
					margin: 0 15px 15px;
					background-color: #fff;
				}
				li.item:first-child {
					height: auto;
				}
				li:nth-child(4) {
					height: auto;

					.service-img {
						margin: 9px 0 0 0;
					}
				}
				li.item:last-child {
					padding: 15px 15px 17px;
   					margin: 0px 15px 16px;

   					.service-img {
   						margin: 9px 0 0 0;

   						img {
   							margin-top: 0px;
   						}
   					}
				}
			}
		}
		.service-content {
			width: 100%;
			margin: 0 0 7px 0;
			float: none;
			@include cf;

			img.head-no {
				display: none;
			}
			img.head-no-sp {
				display: block;
				margin-bottom: 16px;
			}
			span {
				font-weight: bold;
			}

			p {
				font-size: 1.4rem;
				line-height: 20px;
				font-weight: 500;
				color: #555555;
				display: inline;
				letter-spacing: 0.1px;
				padding: 15px 0;
			}
			ul {
				max-height: max-content;
				margin: 15px 0 20px 0;
				@include cf;

				li {
					width: 100%;
					height: auto;
					margin: 0;
					display: block;
					padding: 0;

					p {
						display: block;
						font-size: 1rem;
						line-height: 12px;
						padding: 0;
						letter-spacing: 0;

					}
					p.date {
						display: none;
					}
					a {
						display: none;

						img {
							margin: 0;
						}
						img.item-ph {
							display: none;
						}
						img.item-ph-sp {
							display: block;
							width: 100%;
							margin-top: 5px;
						}
					}
					a.contact-sp {
						display: block;

						img {
							max-width: 100%;
						}
					}
				}
				li:first-child {
					width: 100%;
					height: auto;
					margin: -3px 0 0 0;
					box-sizing: border-box;
					border: none;

				}
				li:last-child {
					width: 100%;
					margin: 10px 0 0 0;
					padding: 0;
				}
			}
		}
		.service-img {
			width: 100%;
			float: none;
			padding: 0;
			margin: 0;
			box-sizing: border-box;

			img.sev-img-pc {
				display: none;
			}
			img.sev-img-sp {
				display: block;
			}
			img {
				margin: 0 auto;
				width: auto;
			}
		}
	}
	/*Section Lightbox*/
	.section-lightbox {
		width: 100%;
		padding: 25px 0 24px;

		.box-content {
			padding: 0;
			margin: 0 15px;
			display: grid;
    		justify-items: center;

			img {
				 display: none;
			}
			img.light-box-sp {
				display: block;
				border: none;
				margin: 0 0 10px;
			}

			p {
				font-size: 1.4rem;
			    line-height: 22px;
			    padding-left: 0px;
			}
			p:last-child {
				padding: 0 60px;
			}
			span {
				font-size: 1.9rem;
				line-height: 30px;
			}
		}
	}
}
