@charset "UTF-8";
@import '0_base/mixin';
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

.u-mt20{
	margin-top: 20px;
}

.u-text-break {
	padding-right: 122px;

	@include breakpoint(768px){
		padding-right: 40px;
	}
}
.u-text-break-s {
	padding-right: 35px;
	@include breakpoint(768px){
		padding: 0;
	}
}
.u-qa-txt {
	font-size: 1.4rem;
	color: #6c6c6d;
	font-weight: normal;
	@include breakpoint(768px){
		font-size: 1.2rem;
		line-height: 1.9rem;
	}
}
.u-text-j {
	padding-top: 15px;
}

.u-active {
	background: #a0a0a0 !important;
}
.u-fade {
	animation: fade 1.5s;

}
@keyframes fade {
	0%{ opacity: 0.4}
	100%{ opacity: 1}
}

.u-sm-sub {
	display: none;
}
.u-sm-plus {
	display: block;
}
.u-bg-color-1{
	background: #fff;
}
.u-bgcolor-2 {
	background-color: #49c8b2;
	color: #fff;
}


//------------------------------------------------------------
// color
//------------------------------------------------------------
