.p-access {
	padding: 60px 0 55px;
	.c-title1 {
		padding: 0;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	.l-content2{
		padding: 46px 0;
		grid-template-columns: 580px auto;
		grid-column-gap: 17px;
		&__img{
			max-width: 100%;
		}
	}
	@include breakpoint{
		padding: 30px 15px;
	}
	&__map{
		@include breakpoint{
			margin-bottom: 15px;
		}
	}
}