.p-brand{
	padding-top: 57px;
	.c-title1{
		padding: 0;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	@include breakpoint{
		padding:40px 15px;
	}
	.c-tab1__control{
		padding: 50px 0;
		@include breakpoint{
			padding: 0;
		}
	}
	.c-text1{
		padding-bottom: 110px;
		@include breakpoint{
			padding: 0;
		}
	}
	.c-text1--ext{
		padding-bottom: 50px;
		@include breakpoint{
			padding: 0;
		}
	}
	.l-content2{
		padding: 30px 0;
		@include breakpoint{
			padding: 0;
		}
	}
	.l-content2-ext {
		padding: 30px 0 90px;
		@include breakpoint{
			padding: 0;
		}
	}
	.brand-content{
		display: block;
	}
}


