.p-community {
	padding-bottom: 35px;
	.c-title1{
		padding-bottom: 0;
		padding-top: 60px;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	.l-content2{
		padding: 40px 0 0;
	}
	@include breakpoint{
		padding: 40px 15px;
	}
}