.p-contact {
	padding: 90px 0;
	h3{
		font-size: 2.4rem;
	}
	&__inner{
		width: 800px;
		margin: 0 auto;
		padding-top: 30px;
		@include breakpoint{
			width: 100%;
		}
		&--txt{
			font-size: 1.5rem;
			line-height: 20px;
			padding-bottom: 30px;
		}
		&--form{
			width: 100%;
		}
	}
	@include breakpoint{
		padding: 40px 15px;
	}
}