.p-gallery{
	padding: 60px 0 95px;
	@include breakpoint{
		padding: 30px 15px;
	}
	.c-title1{
		padding: 0;
	}
	.active {
		display: block;
	}
	.c-tab1__control--2 {
		@include breakpoint{
			display: block;
			margin-bottom: 15px;
		}
	}
	h3{
		@include breakpoint{
			padding: 15px 0;
			background: 0;
		}
	}
	.l-content4{
		grid-row-gap: 45px;
	}
}