//--------------------Index----------------
.p-index {
	padding-bottom: 64px;
	@include breakpoint{
		padding-bottom: 15px;
	}
	&--c-title1{
		padding-top: 30px;
		padding-bottom: 50px;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	.c-title1 {
		img{
			@include breakpoint{
				margin-bottom: 10px;
			}
		}
	}
	&--c-title2{
		padding-bottom: 42px;
   		padding-top: 102px;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	&--imgtitle1{
		margin-bottom: 45px;
		@include breakpoint{
			margin-bottom: 15px;
		}
	}
	.c-imgtext1{
		padding: 30px 0;
		border-top: 1px solid #888;
		@include breakpoint{
			padding: 15px 0;
			border: none;
		}
	}
	@include breakpoint{
		padding: 40px 15px 0;
	}
}
