.p-jabank {
	padding: 60px 0 80px;
	min-height: 91vh;
	.c-title1 {
		padding: 0 0 35px 0;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	.c-btn3 span{
		margin-top: 28px;
	}
	@include breakpoint{
		padding: 30px 15px;
		text-align: left;
	}
}