.p-member{
	padding: 25px 0 50px;
	.l-content2 {
		padding: 0 0 0px;
		&__txt{
			@include breakpoint{
				padding-bottom: 20px;
			}
		}
	}
	.c-title1 {
		padding-top: 60px;
		padding-bottom: 35px;
	}
	.c-title2 {
		padding: 0;
	}
	@include breakpoint{
		padding: 40px 15px;
	}
}