.p-outline{
	padding-bottom: 95px;
	.c-title1{
		padding-top: 60px;
		@include breakpoint {
			padding: 30px 0;
		}
	}
	&--c-title1{
		padding: 60px 0 50px;
		@include breakpoint {
			padding: 30px 0;
		}
	}
	.c-imgtitle1 {
		margin-bottom: 38px;
   		margin-top: -7px;
	}
	.c-imgtext2	{
		margin-bottom: 40px;
	}
	p{
		font-size: 1.5rem;
		line-height: 26px;
	}
	ul {
		li{
			line-height: 22px;
		}
	}
	&__inner {
	    padding: 0 10px;
  	    margin-bottom: 36px;
		&--txt{
			h3{
				padding: 31px 0 20px 11px;
				font-size: 1.8rem;
				@include breakpoint{
					padding: 10px 0;
				}
			}
			p {
				font-size: 1.8rem;
			}
		}
		&--border{
			border: 1px solid $border;
			padding: 0 10px 15px;
  			margin-bottom: 20px;
  			@include breakpoint{
  				margin: 10px 0;
  			}

		}
		&--list{
			font-size: 1.5rem;
			padding-left: 10px;
			text-align: left;
			ul {
				li{
					margin-bottom: 0;
					@include breakpoint{
						margin-bottom: 10px;
					}
					ul{
						padding-top: 5px;
						padding-left: 65px;
						@include breakpoint{
							padding: 0;
						}
						li{
							margin-bottom: 8px;
							@include breakpoint{
								margin: 0;
							}
						}
						li.last{
							padding-left: 40px;
							@include breakpoint{
								padding: 0;
							}
						}
					}
					.spec-list{
						padding-left: 105px;
						@include breakpoint{
							padding: 0;
						}
					}
				}
				li:last-child{
					margin: 0;
				}
			}
			@include breakpoint{
				padding: 0;
			}
		}
		@include breakpoint {
			margin: 0;
			padding: 0;
		}
	}
	@include breakpoint{
		padding: 0 15px;
	}
}