.p-privacy {
	padding: 60px 0 103px;
	.c-title1 {
		padding: 0 0 40px 0;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	&__inner{
		p{
			line-height: 20px;
			margin-bottom: 30px;
			@include breakpoint{
				margin-bottom: 15px;
			}
		}
		@include breakpoint{
			text-align: justify;
		}
	}
	.c-btn3{
		padding-top: 25px;
		font-weight: bold;
		@include breakpoint{
			padding-top: 0;
		}
	}
	@include breakpoint{
		padding: 30px 15px;
		text-align: left;
	}
}