.p-recruit{
	&--c-title3 {
		padding-bottom: 100px;
		@include breakpoint{
			padding-bottom: 20px;
		}
	}
	.c-title1{
		padding-top: 60px;
		@include breakpoint{
			padding-bottom: 20px;
		}
	}
	.c-table2{
		table{
			border-color: $border;
			border-left: none;
		}
		th,td{
			padding: 13px;
			border-right: none;
			border-color: $border;
		}
		td.td-des{
			padding: 30px 13px;
		}
		th{
			width: 90px;
		}
	}
	.l-content2{
		padding: 40px 0 50px;
		@include breakpoint{
			padding: 0 0 20px;
		}
	}
	.l-content4{
		padding-bottom: 105px;
		@include breakpoint{
			padding-bottom: 20px;
		}
	}
	.c-table1--sm {
		margin-top: 20px;
		ul {
			li:nth-child(odd){
				background: #eaf1eb;
			}
		}
	}
	@include breakpoint{
		padding: 40px 15px 0px;
	}
}