.p-recipe {
	padding: 60px 0 100px;
		&__title-ctr{
			background: #f6f0d5;
			text-align: center;
			padding: 15px 0;
			margin-bottom: 25px;
			@include breakpoint{
				margin: 15px 0;
			}
		}
		.c-title1{
			padding: 0;
		}
		.c-title2{
			padding-top: 45px;
		}
		.l-content2{
			padding: 15px 0 0;
			grid-template-columns: 510px auto;
			grid-column-gap: 30px;
		}
		.l-content3{
			padding-bottom: 70px;
			@include breakpoint{
				text-align: left;
				padding-bottom: 15px;
			}
		}
		.c-table4{
			width: auto;
			td{
				text-align: left;
			}
		}
		.l-content5{
			padding-bottom: 101px;
			grid-row-gap: 20px;

			&:last-child {
				padding: 0;
			}
			&__inner{
				@include breakpoint{
					margin-bottom: 15px;
				}
			}
			@include breakpoint{
				padding-bottom: 15px;
			}
		}
		&--2{
			margin-bottom: 35px;
		}
	@include breakpoint{
		padding: 30px 15px;
	}
}