.p-shikaoi {
	padding: 60px 0 25px;

	&__content {
		padding-bottom: 110px;
		p {
			line-height: 26px;
		}
		@include breakpoint{
			text-align: justify;
			padding: 0;
		}
	}
	.c-title1 {
		padding-top: 0;
		@include breakpoint {
			padding: 30px 0;
		}
	}
	.l-content2 {
		padding: 0;
	}
	@include breakpoint{
		padding: 40px 15px;
	}
}
