.p-sitemap {
	padding: 60px 0 0;
	margin-bottom: -80px;
	@include breakpoint{
		padding: 30px 15px;
		margin: 0;
	}
	.c-title1 {
		padding: 0;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	.l-content2{
		grid-auto-rows: minmax(250px, auto);
		grid-row-gap: 16px;
		padding: 50px 0 0;
		&__txt{
			@include breakpoint{
				padding-bottom: 30px;
			}
		}
	}
}