.p-topics{

	padding: 0 0 185px;
	margin-bottom: -50px;
	.c-title1{
		padding-top: 65px;
		padding-bottom: 45px;
		@include breakpoint{
			padding: 15px 0;
		}
	}
	.l-content2{
		padding: 50px 0 0px;
	}
	.p-topic__tab{
		margin-top: 104px;
   		margin-left: 80px;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;

			li{
				background: $txt-hover;
				border: none;
				margin-right: 6px;
				box-sizing: border-box;
				min-width: 32px;
				min-height: 32px;
				a{
					line-height: 30px;
					color: $white;
					background: $txt-hover;
					min-width: 30px;
					display: flex;
					text-align: center;
					align-items: center;
					justify-content: center;
					font-size: 1.4rem;
					font-weight: bold;
				}
				a.active,
				a:hover {
					background: $white;
					border: 1px solid $txt-hover;
					color: $black;
				}
			}
			li:last-child {
				a {
					padding: 0 70px;
				}
			}
		}
		@include breakpoint{
			margin: 25px 0 0 0;
		}
	}
	.p-topics-content{
		display: block;
	}
	.active{
		display: inherit;
	}
	@include breakpoint{
		padding: 40px 15px;
		margin: 0;
	}
}