@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

.u-red{
	color: #ff1e5b !important;
}
.u-yoyo {
	margin-top: 20px;
}
.u-thr--text {
	text-decoration: line-through;
	text-decoration-color: #ff1d5c;
}
.u-acc--box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	img.btn-sub {
		display: none;
	}
}
.u-span-block{
	display: block;
}

//Animate

.fade {
	opacity: 0;
	-webkit-transform: translate(0, 60px);
	   -moz-transform: translate(0, 60px);
	    -ms-transform: translate(0, 60px);
	     -o-transform: translate(0, 60px);
	        transform: translate(0, 60px);
}
.fade-in {
	opacity: 1;
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	     -o-transform: translate(0,0);
	        transform: translate(0,0);
}
.show-off {
	opacity: 0;
}
.show-up {
	opacity: 1;
}