//------------------Title--------

.c-headmain1 {
	background: #e5e5e5;
	height: 210px;
	display: block;
	justify-content: center;
	align-items: center;
	@include breakpoint(768px) {
		width: 100%;
		height: auto;
		padding-bottom: 20px;
		padding-top: 0;
	}

	h2 {
		text-align: center;
		font-size: 2.6rem;
		line-height: 3.6rem;
		font-weight: 900;
		padding-top: 45px;
		@include breakpoint(768px){
			padding-top: 24px;
		}
	}
}
.c-title1 {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
