/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.default-txt {
	font-size: 1.6rem;
	letter-spacing: 1px;
	text-align: justify;
	color: #000;
	@include breakpoint(768px){
		font-size: 1.4rem;
		line-height: 1.9rem;
	}
}
.undeline-txt{
	text-decoration: underline;
	text-decoration-color: #bebebe;
}
.bold-txt {
	font-size: 1.6rem;
	line-height: 25px;
	font-weight: 900;
	letter-spacing: 1.4px;
	text-align: justify;
	font-weight: bold;
	@include breakpoint(768px){
		font-size: 1.4rem;
		line-height: 1.9rem;
	}
}
.jump-txt {
	margin-top: 30px;
	@include breakpoint(768px) {
		margin-top: 20px;
	}
}
.special-txt{
	color: #88c5bd;
	text-decoration-color: #88c5bd;
}