//--------------------C-navi---------
.c-gnavi {
	display: flex;
	align-items: center;

	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-right: 10px;

		li {
			padding-left: 33px;
			align-self: center;

			a {
				text-decoration: none;
				font-size: 1.48rem;
				font-weight: bold;
				color: #000;
			}
		}
		li:nth-child(5),
		li:nth-child(6) {
			padding-left: 8px;
		}
	}
}

//Global menu

.c-globalmenu{
	position: fixed;
	top:0;
	background: rgba(255,255,255,0.9);
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: block;

	&__open {
		padding-top: 10px;
		padding-left: 12px;

		a{
			cursor: pointer;
		}
		a:focus,
		a:hover{
			outline:none;
			background: none;
		}
	}
	&__inner {
		padding-top: 70px;
		display: flex;
		justify-content: center;
		ul{
			box-sizing: border-box;
			text-align: center;

			li {
				padding-bottom: 0;

				a{
					text-decoration: none;
					font-size: 2.1rem;
					color: #000;
					font-weight: bold;
				}
				a.c-menu-stxt{
					font-size: 1.6rem;
				}
			}
			li:nth-child(3){
				padding-bottom: 50px;
			}
			li:nth-child(4){
				padding-bottom: 17px;
			}
			li:nth-child(5){
				padding-bottom: 11px;
			}
		}
	}
}
