//-------------OTher-----------
.c-quote {
	padding: 40px 0 49px;
	@include breakpoint(768px) {
		padding: 20px 0 30px;
	}

	p {
		text-align: right;
		font-size: 1.45rem;
		line-height: 1.1rem;
		padding-bottom: 15px;
		@include breakpoint(768px){
			font-size: 1.1rem;
			padding-bottom: 11px;
		}
	}
}
.c-progress-bar {
	position: fixed;
	width: 40px;
	height: 200px;
	top: 0;
	left: 0;
	margin-top: 92px;
	margin-left: 9px;
	padding: 0 10px;

	ul {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;


		li {

			background: #cccccc;
			background-size: 19px 19px;
			margin-bottom: 46px;
			box-sizing: border-box;
			position: relative;
			cursor: pointer;
			border-radius: 50%;

			a{
				width: 11px;
				height: 11px;
				display: block;
				border-radius: 50%;

				img {
				-webkit-transform: translate(-5px,-5px);
				   -moz-transform: translate(-5px,-5px);
				    -ms-transform: translate(-5px,-5px);
				     -o-transform: translate(-5px,-5px);
				        transform: translate(-5px,-5px);
				        display: none;
				}
			}
		}
		li::after {
			content:'';
			position: absolute;
			width: 1px;
			height: 25px;
			background: #cccccc;
			left: 49%;
			top: 137%;
			display: inline-block;
		}
		li:first-child {
			background: none;
			img {
				-webkit-transform: translate(-3px,0);
				   -moz-transform: translate(-3px,0);
				    -ms-transform: translate(-3px,0);
				     -o-transform: translate(-3px,0);
				        transform: translate(-3px,0);
			}
		}
		li:first-child::after{
			top: 200%;
		}
		li:last-child:after{
			content: none;
		}
	}
	.is-current{
		img {
			display: block;
		}
	}
}
.c-progress-bar-fixed {
	position: fixed;
	left: 19.7%;
}