/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn {
	color: #fff;
	display: inline-block;
	padding: 5px 19px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 1px;

	&--color1 {
		background: #33c49d;
		min-width: 200px;
	}
	&--color2 {
		background: #0080af;
		margin-left: 30px;
   		padding: 5px 18px;
	}

}

.c-btn1 {
	cursor: pointer;
	margin-bottom: 20px;
	display: inline-block;

	a {
		display: flex;
		text-decoration: none;
		color: #fff;
		min-width: 420px;
		background: #6c6852;
		background: rgba(0,0,0,0.3);
		font-size: 2.1rem;
		border: 1px solid #fff;
		border-radius: 60px;
		line-height: 1;
		padding: 30px 0;
		text-align: center;
		justify-content: center;
		overflow: hidden;
		box-sizing: border-box;
		position: relative;
	}
	a::before {
		content: '';
		display: inline;
		background: url('../img/pc/calendar.png') no-repeat;
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		-webkit-transform: translateX(-10px);
		   -moz-transform: translateX(-10px);
		    -ms-transform: translateX(-10px);
		     -o-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	a::after {
		content: '';
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
  		-webkit-transform: translateX(0%) skewX(-45deg);
  		   -moz-transform: translateX(0%) skewX(-45deg);
  		    -ms-transform: translateX(0%) skewX(-45deg);
  		     -o-transform: translateX(0%) skewX(-45deg);
  		        transform: translateX(0%) skewX(-45deg);
	}
	a:hover::after {
		-webkit-transform: translateX(0) skewX(0deg);
	  		   -moz-transform: translateX(0) skewX(0deg);
	  		    -ms-transform: translateX(0) skewX(0deg);
	  		     -o-transform: translateX(0) skewX(0deg);
	  		        transform: translateX(0) skewX(0deg);
	  		        background: rgba(0,0,0,0.5);
	  		        width: 100%;
	}
	&--img {
		a {
			display: block;
			padding: 19px 0;
			margin-bottom: 10px;
		}
		a:hover::after{
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
			        width: 100%;
		}
		img {
			display: block;
			margin-left: 98px;
   			margin-top: 3px;
		}
	}
}

.btn-scrl {
	position: fixed;
	bottom: 107px;
    right: 81px;
    display: none;
}
//------------Button SP------------
.c-btnSP {
	font-size: 1.2rem;
	line-height: 14px;
	text-decoration: none;
	background: #ff1e5b;
	color: #fff;
	max-width: 280px;
	margin: 0 auto;
	padding: 15px 0;
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;

	&--2 {
		background: rgba(0,0,0,0.2);
		border: 1px solid #fff;
		margin-top: 4px;
	}
	&--3 {
		background: rgba(0,0,0,0.2);
		border: 1px solid #fff;
		font-size: 1.4rem;
		flex-direction: column;
		padding: 5px 0;
		margin-top: 13px;

		img {
			display: block;
			margin-top: 5px;
		}
	}
}
.c-btnSP::before {
	content:'';
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url('../img/sp/arr-1.png') no-repeat;
	background-size: cover;
	cursor: pointer;
	margin-right: 15px;
}
.c-btnSP--2::before {
		content: '';
		background: url('../img/sp/i-cal.png') no-repeat;
		background-size: 13px 13px;
		height: 13px;
		width: 13px;
}
.c-btnSP--3::before {
	display: none;
}
.c-btnSP__txt {
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	background: #10222c;
	color: #fff;
	padding: 15px 0;
	font-size: 1.3rem;
	line-height: 14px;
	min-width: 100%;
	letter-spacing: 3px;
	font-weight: bold;

	&--color2 {
		background: #33c49d;
	    margin-bottom: 10px;
	    line-height: 1;
	    padding: 10px 0 8px;
	    font-size: 1.2rem;
	    letter-spacing: 1px;
	    position: relative;
	    z-index: 1;
	}
	&--color2:hover{
		background: #0080af;
	}
	&--color2::before,
	&--color2::after {
    	position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background: #33c49d;
		content:'';
		z-index: -1;
		-webkit-transition: 0.4s;
		   -moz-transition: 0.4s;
		    -ms-transition: 0.4s;
		     -o-transition: 0.4s;
		        transition: 0.4s;
    }
    &--color2::before{
    	left: 0;
    }
    &--color2::after{
    	right: 0;
    }
    &--color2:hover::before,
    &--color2:hover::after {
    	width: 0;
    	background: #0080af;
    }

	&--color3 {
	    background: #0080af;
	    margin-top: 14px;
	    margin-bottom: 9px;
	    padding: 8px 0 8px 5px;
	    overflow: hidden;
	    box-sizing: border-box;
	    position: relative;
	    z-index: 1;
	}
	&--color3:hover{
		background: #33c49d;
	}
	&--color3::before,
	&--color3::after {
    	position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background: #0080af;
		content:'';
		z-index: -1;
		-webkit-transition: 0.4s;
		   -moz-transition: 0.4s;
		    -ms-transition: 0.4s;
		     -o-transition: 0.4s;
		        transition: 0.4s;
    }
    &--color3::before{
    	left: 0;
    }
    &--color3::after{
    	right: 0;
    }
    &--color3:hover::before,
    &--color3:hover::after {
    	width: 0;
    	background: #33c49d;
    }
}
.btn-scrlSP {
	width: 50px;
	height: 50px;
	position: fixed;
	box-sizing: border-box;
	bottom: 51px;
    right: 15px;
    display: none;
}