/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.c-dev-title1 {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	height: 27px;
	padding-bottom: 50px;
	margin-left: -6px;

	h2 {
		font-weight: 200;
		font-size: 5.6rem;
		color: #202020;
		line-height: 68px;
	}
}
.c-dev-titleSP {
	margin-bottom: 30px;
}

