/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-gnavi {
	position: absolute;
	top: 19%;
	right: 0;
	z-index: 999;
	ul {
		margin-top: 41px;
		display: -webkit-box;
		display: -ms-flex-box;
		display: flex;

		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: flex-end;

		li {
			padding: 0 18px;

			a {
				font-size: 1.8rem;
				line-height: 27px;
				color: #3c3c3c;
				text-decoration: none;
				cursor: pointer;
			}
		}
		li::before {
			background: url('../img/pc/nav-arr.png') no-repeat center;
			background-size: cover;
			width: 15px;
			height: 10px;
			display: inline-block;
			content:'';
			margin-right: 13px;
			cursor: pointer;
		}
		li:last-child {
			padding-right: 60px;
		}
	}
}