/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtext1{
	padding: 24px;
	text-align: left;
	display: flex;
	border: 1px solid #c8c8c8;

	&__img {
		width: 272px;
		margin-right: 30px;
	}
	&__text {
		flex: 1;

		h4 {
			font-size: 1.8rem;
			line-height: 40px;
		}
		p {
			font-size: 1.5rem;
			line-height: 22px;
		}
		&--ext {
			padding: 24px 30px 26px 33px;
			background: #f0f0f0;
			margin-top: 20px;

			p {
				letter-spacing: -0.5px;
				text-align: justify;
				padding-left: 10px;
   				line-height: 25px;
			}

			p::before {
				content: '';
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #33c49d;
				display: inline-block;
				transform: translateX(-14px);
			}
		}
	}
}

/*------------------------------------------------------------
			SP-IMAGES
------------------------------------------------------------*/

/*768

------------------------------------------------------------*/


