/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
ul.c-box {
	width: 100%;
	border-left: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	align-items: center;
	text-align: left;

	li.list-box {
		padding: 12px 15px;
		position: relative;

		h4 {
			font-size: 1.2rem;
			flex-basis: 40%;
		}
		p {
			font-size: 1.2rem;
			color: #3c3c3c;
			padding-left: 12px;
			letter-spacing: 0;
			flex: 1;
		}
	}
	li:after {
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		left: 42%;
		top: 0;
		background: #c8c8c8;
	}
	.list-box__content {
			display: flex;
   			align-items: center;
   			width: 100%;
		}

}

