/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1 {
		table {
			width: 100%;
			border-collapse: collapse;
			thead {

				th, td {
				font-size: 1.5rem;
				color: #3c3c3c;
				font-weight: 500;
				text-align: center;
				line-height: 50px;
			}
		}
		tbody {
			td {
				line-height: 50px;
				font-size: 1.5rem;
			}
		}
		span{
			display: block;
			line-height: 1;
		}
		th {
			background-color: #dddddd;
		}
		tr:nth-child(even){
			background-color: #f8f8f8;
		}
		td {
			border-bottom: 1px solid #c8c8c8;
			border-right: 1px solid #c8c8c8;
   			padding-left: 27px;
   			line-height: 27px;
   			width: calc((1440px - 580px)/ 3);
   			text-align: center;
				p {
					font-size: 1.5rem;
					line-height: 27px;
					background: none;
					color: #3c3c3c;
				}
		}
		td:nth-child(1){
			border-left: 1px solid #c8c8c8;
			border-right: none;
			text-align: left;
			width: 260px;
		}
		td:nth-child(2){
			text-align: left;
			padding-left: 0;
			width: 320px;
			}
		}
		tr:nth-child(4),
		tr:nth-child(6),
		tr:nth-child(7),
		 {
			height: 70px;
		}
}