/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-btn1 {
	a {
		color: $white;
		background: $grey-bg;
		padding: 13px 0;
		display: inline-block;
		min-width: 160px;
		text-align: center;
		font-size: 1.5rem;
		@include breakpoint{
			padding: 10px 0;
			min-width: 100%;
		}
	}
	a:hover{
		background: $btn-hover;
		text-decoration: none;
		box-shadow: 0px 0.5px 0.5px #111111;
	}
	&--sm a{
		min-width: 100px;
		padding: 4px 0;
		font-size: 1.3rem;
	}
	&--social a{
		min-width: auto;
		padding: 1px;
		background: none;
	}
}
.c-btn2{
	@extend .c-btn1;
	a{
		min-width: 100%;
		font-weight: bold;
		letter-spacing: 0.5px;
		padding: 7.5px 0;
	}
	&--color2 a{
		background: $orange;
	}
	&--tab{

		@extend .c-btn2;
		a:hover,
		a:active,
		a:focus,
		a.activeTab
		{
			background: $green;
		}
		a{
			padding: 10.5px 0;
		}
	}
	&--sm{
		@extend .c-btn2;
		a{
			min-width: 125px;
			background: $orange;
			padding: 4px 0;
		}
	}
}
.c-btn3{
	a {
		color: $black;
   		font-size: 1.4rem;
	}
	span {
		margin-top: 18px;
		display: flex;
		align-items: center;
		font-weight: bold;
		@include breakpoint{
			line-height: 20px;
			text-decoration: underline;
			text-decoration-color: $txt-hover;
		}
	}
	span::after{
		content: '';
	    background: url(../img/pc/icon-1.png) no-repeat center;
	    background-size: 11px 11px;
	    width: 11px;
	    height: 11px;
	    margin-left: 10px;
	    transition: all 0.3s ease-in-out;
	    @include breakpoint{
		    content: none;
	    }
	}
	a:hover span{
		text-decoration: underline;
	}
	a:hover span::after{
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
}
