//------------------Title--------
.c-title1{
	padding-bottom: 50px;
	padding-top: 90px;
	text-align: center;
	&--img{
		text-align: left;
		padding: 0;
		span{
			font-size: 1.3rem;
		}
		@include breakpoint{
			text-align: center;
		}
	}
	img{
		@include breakpoint{
			margin: 0 auto;
		}
	}
	@include breakpoint {
		padding: 30px 0;
	}
}
.c-title2 {
	@extend .c-title1;
	text-align: left;
	padding-bottom: 20px;
	p {
		padding-bottom: 10px;
	}
	h3{
		font-size: 2rem;
	}
	&--color2{
		color: $orange;
	}
}
.c-title3 {
	text-align: left;
	padding-bottom: 10px;
	h3{
		font-size: 1.6rem;
   		padding-bottom: 20px;
	}
	p {
		font-size: 1.5rem;
		line-height: 25px;
	}
	&--btn{
		display: flex;
		align-items: center;
		margin-top: 15px;
		& > div{
			margin-right: 15px;
		}
	}
	@include breakpoint{
		padding-bottom: 20px;
	}
}