/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.contact-form{

	&__control{
		display: flex;
		justify-content: flex-start;
		margin-bottom: 20px;
		font-size: 1.6rem;
		text-align: center;
			@include breakpoint{
				display: block;
				text-align: left;
				margin: 0;
			}

		label {
			min-width: 150px;
			margin-right: 20px;
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			@include breakpoint{
				display: block;
				min-width: auto;
				margin: 0 0 10px 0;
			}
		}
		input,
		select,
		textarea{
			border: 1px solid $border;
			border-radius: 5px;
			outline: none;
			margin-right: 20px;
			@include breakpoint{
				margin: 10px 0;
			}

			&:hover,
			&:focus{
				border: 1px solid  $green;
				box-shadow: -3px 3px 5px rgba(34,150,60,0.5);
			}
		}
		input{
			padding: 5px;
			&.input1 {
				min-width: 250px;
				@include breakpoint{
					min-width: auto;
				}
			}
			@include breakpoint{
				padding: 5px 0;
				width: 100%;
			}
		}
		textarea {
			width: 540px;
			@include breakpoint{
				width: 100%;
			}
		}
		select{
			@include breakpoint{

			}
		}
	}
	&__btn{
		display: flex;
		justify-content: center;
		align-items: center;
		input{
			margin-right: 20px;
			padding: 2px 5px;
			&:hover{
				box-shadow: -1px -1px 10px rgba(34, 150, 60, 0.5);
			}
		}
	}
}
::placeholder{
	color: $txt-hover;
}