/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1{
	// max-width: 560px;
	text-align: justify;
	h3{
		padding: 17px 0;
	}

	&__title{
		background: $green;
		color: $white;
		padding: 0 15px;
		margin-bottom: 16px;
		p{
			line-height: 2.4rem;
			display: flex;
			justify-content: space-between;
			font-size: 1.2rem;
			padding: 0;
		}
		@include breakpoint{
			margin-bottom: 10px;
		}
	}
	&__inner{
		h3{
			padding-bottom: 2rem;
		}
		p{
			font-size: 1.3rem;
			line-height: 19px;
			padding-bottom: 17px;
		}
		a {
			font-size: 1.3rem;
			font-weight: bold;
			color: $black;
		}
	}
	&--color2{
		.c-text1__title{
			background: $orange;
		}
	}
	@include breakpoint{
		padding-bottom: 15px;
	}
}