//--------------------C-navi---------
.c-globalHeaderPC__gnavi{
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;

		li{
			margin-left: 25px;
			a {
				font-size: 1.3rem;
				text-decoration:none;
				font-weight: bold;
				color: $black;
			}
		}
		span {
			background: $grey-bg;
			height: 4px;
			display: block;
			position: absolute;
			width: 40px;
			left: 23px;
			top: 21px;
		}
	}

}

.c-globalMenuSP{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	display: none;
	z-index: 999;
	ul{
		background: rgba(0,0,0,0.8);
		overflow: hidden;
		min-height: 100vh;

		li {
			text-align: left;
			position: relative;
			overflow: hidden;
			a {
				text-decoration: none;
				font-size: 1.6rem;
				color: #111;
				padding: 15px 10px;
				display: block;
				font-weight: 600;
				color: $white;
				position: relative;
				display: flex;
				align-items: center;

			}
		}
		li::after{
			content: '';
		    display: inline-block;
		    position: absolute;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background: rgba(0,0,0,0.1);
		    top: 0;
		    -webkit-transform: translateX(-100%);
		       -moz-transform: translateX(-100%);
		        -ms-transform: translateX(-100%);
		         -o-transform: translateX(-100%);
		            transform: translateX(-100%);
		            -webkit-transition: all 0.3s linear;
		               -moz-transition: all 0.3s linear;
		                -ms-transition: all 0.3s linear;
		                 -o-transition: all 0.3s linear;
		                    transition: all 0.3s linear;
		}
		li:hover a{
			color: $orange;
			-webkit-transform: scale(1.1) translateX(30px);
			   -moz-transform: scale(1.1) translateX(30px);
			    -ms-transform: scale(1.1) translateX(30px);
			     -o-transform: scale(1.1) translateX(30px);
			        transform: scale(1.1) translateX(30px);
		}
		li:hover::after{
			-webkit-transform: translate(0) rotate(0);
			   -moz-transform: translate(0) rotate(0);;
			    -ms-transform: translate(0) rotate(0);;
			     -o-transform: translate(0) rotate(0);;
			        transform: translate(0) rotate(0);;
		}
	}
}

