//----------------C-imgtext--------------------
.c-imgtitle1 {
	max-width: 1460px;
	margin: 0 auto;

	img{
		width:100%;
		@include breakpoint{
			width: auto;
		}
	}
	@include breakpoint{
		max-width: 100%;
		display: none;
	}
}
.c-imgtext1{
	display: flex;
	align-items: center;
	&__img{
		margin-right: 25px;

		img{
			border: 1px solid $border;
		}
		@include breakpoint{
			margin: 0;
			padding-bottom: 15px;
		}
	}
	&__txt{
		font-size: 1.8rem;
		align-self: flex-start;
		p,
		h3 {
			padding-bottom: 15px;
			@include breakpoint{
				padding-bottom: 10px;
			}
		}
		span{
			padding-right: 14px;
			@include breakpoint{
				padding-right: 0;
			}
		}
		img{
			@include breakpoint{
				display: inline-block;
			}
		}
		@include breakpoint{
			text-align: justify;
		}
	}
	&__btn{
		flex: 1;
		text-align: right;
		margin-right: 45px;
		@include breakpoint{
			margin: 0;
			text-align: center;
		}
	}
	@include breakpoint{
		display: block;
	}
}
.c-imgtext2 {
	@extend .c-imgtext1;
	&__img{
		@extend .c-imgtext1__img;

	}
	&__txt{
		@extend .c-imgtext1__txt;
		text-align: justify;
		p{
			padding: 0;
			line-height: 3rem;
			font-size: 1.5rem;
		}
		h3{
			text-align: right;
			padding-top: 25px;
		}
	}
}
.c-imgtext3{
	box-sizing: border-box;
	max-width: 370px;
	padding-bottom: 50px;
	h3{
		padding: 10px 0;
	}
	p {
		font-size: 1.3rem;
		line-height: 1.9;
	}
	&--border{
		max-width: 219px;
		border: 1px solid #d5d5d5;
		padding-bottom: 0;
		h3 {
			font-size: 1.3rem;
			text-align: justify;
			padding: 10px;
			line-height: 16px;
		}
	}
	&--lg{
		max-width: 510px;
		.c-btn2--sm{
			margin: 13px 0;
		}
	}
	@include breakpoint{
		max-width: 100%;
		padding-bottom: 15px;
	}
}
.c-imgtext4 {
	@extend .c-imgtext1;
		align-items: flex-start;
		justify-content: space-between;
		&__txt{
			p {
				font-size: 1.5rem;

			}
			@include breakpoint{
				padding: 15px 0;
			}
		}
	@include breakpoint{
		display: block;
		padding-bottom: 15px;
	}
}
.c-imgtext5 {
	@extend .c-imgtext3;
	max-width: 266px;
	padding-bottom: 0;
	h3{
		padding: 20px 15px;
		background: $grey-table;
		font-size: 1.3rem;
		font-weight: normal;
	}
	@include breakpoint{
		max-width: 100%;
	}
	&-white{
		h3{
			background: none;
			padding: 15px 0;
			font-size: 1.6rem;
			font-weight: bold;
		}
	}
}
.c-imgtext6 {
	@extend .c-imgtext1;
	background: #98d0cd;
	max-width: 266px;
	justify-content: space-between;
	padding: 5px 5px 5px 20px;

	&__txt {
		a {
			color: #333834;
			font-size: 1.7rem;
		}
		p{
			border-bottom: 1px solid #333834;
			text-align: justify;
			padding-bottom: 3px;
			font-weight: 600;
			line-height: 1.5rem;
		}
		span {
			font-size: 1.17rem;
		}
	}
	&--soft{
		background: #ddbccf;
	}
	&--youth{
		background: #a6ceff;
	}
	&--senior{
		background: #c6a993;
	}
	@include breakpoint{
		max-width: 100%;
	    display: flex;
	    padding: 5px 0;
	    justify-content: space-around;
	}
}
img{
	@include breakpoint{
		max-width: 100%;
		height: auto;
	}
}
img.sp-img {
	margin: 0 auto;
}
