//-----------c-list1------------------------
.c-listinfo{
	padding: 15px 0;
	font-size: 1.4rem;

	ul {
		li{
			padding: 8px 0 7px;
			@include breakpoint{
				padding-bottom: 10px;
			}
			a{
				display: flex;
				text-decoration: none;
				color: $black;
				@include breakpoint{
					display: block;
				}
			}
			p {
				display: flex;
				align-items: center;
				@include breakpoint{
					display: block;
				}
			}
			p.date {
				margin-right: 20px;
				@include breakpoint{
					margin: 0;
					text-align: left;
					padding-bottom: 5px;
				}
			}
			span{
				font-size: 1.1rem;
				padding: 8px 0;
				display: flex;
				min-width: 75px;
				justify-content: center;
				margin-right: 25px;
				font-weight: 600;
				@include breakpoint{
					margin-right: 0;
					margin-bottom: 5px;
					min-width: auto;
					display: block;
				}
			}
		}

	}
	@include breakpoint {
		padding: 20px 0;
	}

}
.c-listsitemap {
	max-width: 100%;

	h3 {
		border-bottom: 1px solid #939393;
		padding-bottom: 10px;
		a {
			font-size: 1.8rem;
			color: $black;
			display: flex;
			align-items: center;
		}
		a::after {
			content: '';
			width: 22px;
			height: 22px;
			background-size: 22px 22px;
			background: url('../img/pc/icon-1.png') no-repeat;
			margin-left: 8px;
			@include breakpoint{
				background: url('../img/sp/icon-1.png') no-repeat center;
				width: 22px;
			    height: 22px;
			    background-size: 22px 22px;
			}
		}
	}
	ul{
		margin-top: 30px;
		li {
			padding-bottom: 18px;
			@include breakpoint{
				padding-bottom: 15px;
			}
			a {
				color: $black;
				font-size: 1.6rem;
			}
		}
		li.item-child{
			padding-left: 40px;
			@include breakpoint{
				padding-left: 0;
			}
		}
		li:last-child{
			padding-bottom: 0;
		}
		@include breakpoint{
			margin-top: 15px;
		}
	}
	@include breakpoint{
		text-align: left;
	}
}
