//---------------C-table---------------
.c-table1{
	width: 560px;
	table{
		border-top: 1px solid $border-table;
		border-left: 1px solid $border-table;
		border-collapse: collapse;
		text-align: left;
		width: 100%;
	}
	th,td {
		border-bottom: 1px solid $border-table;
		border-right: 1px solid $border-table;
		padding: 10px;
		text-align: justify;
		@include breakpoint{
			padding: 5px;
		}
	}
	th{
		width: 225px;
		background: $grey-table;
		font-size: 1.3rem;
		font-weight: 600;
		@include breakpoint{
			width: 100%;
		}
	}
	span{
		margin-left: 100px;
		background: $grey-table;
		color: $black;
		height: 100%;
		padding: 8px 16px 8px 8px;
		border-right: 1px solid $border-table;
		border-left: 1px solid $border-table;
		font-weight: 600;
		margin-right: 8px;
		@include breakpoint{
			margin: 0;
		}
	}
	td{
		font-size: 1.3rem;
	}
	td.td-des{
		padding-bottom: 105px;
		line-height: 20px;
		@include breakpoint{
			padding: 0;
		}
	}
	@include breakpoint{
		width: 100%;
	}
	&--sm{
		@include breakpoint{
			width: 100%;
			text-align: justify;
			ul{
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
			}
			li{
				font-size: 1.4rem;
				padding: 10px 5px;
				display: flex;
				justify-content: space-arround;
				margin: 1px 0;
			}
			li:nth-child(odd){
				font-weight: bold;
				background: #e5e5e5;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			li:nth-child(odd)::after{
				content: '+';
				width: 20px;
				height: 20px;
				color: $black;
				font-size: 20px;
				text-align: center;
			}
			li:nth-child(even){
				display: none;
			}
			span{
				background: #e5e5e5;
				margin: 0 15px 0 30px;
				padding: 5px 15px;
			}
			p{
				line-height: 24px;
				padding: 0 5px;
			}
			li.accControl::after{
				content: '-';
				font-size: 27px;
				text-align: center;
				-webkit-transform: translateY(-5px);
				   -moz-transform: translateY(-5px);
				    -ms-transform: translateY(-5px);
				     -o-transform: translateY(-5px);
				        transform: translateY(-5px);
			}
		}
	}
}
.c-table2{
	@extend .c-table1;
	table, th, td{
		border-color: #777777;
	}
	th{
		background: #eaf1eb;
	}
	td.td-des{
		padding: 35px 10px;
	}
}
.c-table3{
	width: 100%;
	@extend .c-table1;
	table, th, td{
		border-color: #555555;
	}
	th, td{
		font-size: 1.6rem;
		padding: 24px 25px 24px 30px;
	}
	th{
		width: 230px;
	}
	p {
		line-height: 27px;
	}
}
.c-table4{
	@extend .c-table1;
	width: 620px;

	table{
		td{
			height: 30px;
			text-align: center;
		}
		th{
			@include breakpoint{
				width: 33.3333%;
				text-align: center;
			}
		}
		td:nth-child(1){
			width: 250px;
			@include breakpoint{
				width: auto;
			}
		}
		td:nth-child(2),
		th:nth-child(2){
			width: 152px;
			@include breakpoint{
				width: auto;
			}

		}
	}
	@include breakpoint{
		width: 100%;
	}
}