/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.mainVisual{
	max-width: 1460px;
	margin: 0 auto;
	@include breakpoint{
		max-width: 100%;
		padding: 15px;
	}
	&__contain{
		position: relative;
		min-height: 642px;
	}
	&__child{
		width: 100%;
		position: absolute;
		.catchCopy{
			position: absolute;
			top: 250px;
			right: 180px;
		}
	}
	&__dots{
		.dot{
			display: inline-block;
			position: relative;
			z-index: 1;
			background: url('../img/slides/icon-3.png') no-repeat center;
			background-size: 14px 14px;
			box-shadow: none;
			width: 14px;
			height: 14px;
			margin: 0 5px;
		}
		.dot.active {
			background: url('../img/slides/icon-2.png') no-repeat center;
			background-size: 14px 14px;
		}
	}
	img{
		width: 100%;
	}
	.flexslider{
		@include breakpoint{
			margin-bottom: 30px;
		}
	}
}
.mainVisual__dots{
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	        width: auto;
	        min-height: 15px;
}

.fade{
		animation: fade 1.5s;
	}
@keyframes fade {
	0%{opacity:0.4}
	100%{opacity:1}
}
@-webkit-keyframes fade {
	0%{opacity:0.4}
	100%{opacity:1}
}

.c-sliderContain {
	width: 560px;
	height: 450px;
	position: relative;

	.btn-dots {
		@extend .mainVisual__dots;
		bottom: 0;
		.dot{
			@extend .dot;
		}
	}
	.flexslider{
		border: none;
	}
	.flex-control-paging li a {
		background: url('../img/slides/icon-3.png') no-repeat center;
		background-size: 14px 14px;
		box-shadow: none;
		width: 14px;
		height: 14px;
	}
	.flex-control-paging li a:hover {
		background: $green;
	}
	.flex-control-paging li a.flex-active{
		background: url('../img/slides/icon-2.png') no-repeat center;
		background-size: 14px 14px;
	}
	@include breakpoint{
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}
