//-------------OTher-----------
.c-tab1{
	position: relative;
	&__control{
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
		@include breakpoint{
			display: block;
			padding: 15px 0;
			text-align: left;
		}

		li {
			width: 370px;
			@include breakpoint{
				width: 100%;
				margin: 1px 0;
			}
		}
		&--2{
			justify-content: flex-start;
			padding: 0;
			margin: 50px 0;
			border-top: 1px solid #777777;
			border-bottom: 1px solid #777777;
			li{
				width: auto;
				margin-right: 60px;
				a{
					color: $black;
					line-height: 38px;
				}
				a:hover,
				a.current-ctr{
					color: $txt-hover;
				}
				@include breakpoint{
				    width: auto;
				    margin-right: 25px;
				}
			}
			@include breakpoint{
				margin: 0;
				display: flex;
			}
		}
	}
	p{
		font-size: 1.5rem;
		line-height: 20px;
	}
	h3{
		font-size: 1.6rem;
	}
	&__content{
		padding-top: 0;
		display: none;
	}
	.activeTab{
		display: block;
	}
}

