/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.footer {
	box-sizing: border-box;
	overflow: hidden;
	@include breakpoint(768px) {
		width: 100%;
	}
}
.c-footMap {
	text-align: left;
	box-sizing: border-box;

	h2 {
		font-size: 5.6rem;
		line-height: 27px;
		font-style: normal;
		font-weight: 100;
		margin-top: 117px;
   		letter-spacing: 2px;
	}
	&__inner {
		height: 496px;
		margin-bottom: 100px;
		position: relative;
		margin-top: 44px;
	}
	&__textbox {
		position: absolute;
		top: -81px;
		left: 59%;
   		margin-left: 7px;
   		background: #10222b;
   		padding: 82px 240px 70px 71px;
   		text-align: left;

   		dl {
			font-size: 1.5rem;
			line-height: 20px;
			display: flex;
			color: #fff;
			font-weight: bold;
			letter-spacing: 1.5px;
			border-bottom: 1px solid #fff;
			padding: 10px 0;
			align-items: flex-start;
   		}
   		dt{
   			flex: 0.8;
   			padding-left: 5px;
   		}
   		dd {
   			flex: 2;
   			span {
   				display: block;
   			}
   		}
   		dl:last-child {
				border: none;
		}
		dl::before {
			content: '';
			background-size: 16px 16px;
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-left: -10px;
		}
		dl:nth-child(1)::before{
			background: url('../img/pc/icon_1.png') no-repeat center;
		}
		dl:nth-child(2)::before{
			background: url('../img/pc/icon_2.png') no-repeat center;
		}
		dl:nth-child(3)::before{
			background: url('../img/pc/icon_3.png') no-repeat center;
		}
		dl:nth-child(4)::before{
			background: url('../img/pc/icon_4.png') no-repeat center;
		}
		dl:nth-child(5)::before{
			background: url('../img/pc/icon_5.png') no-repeat center;
		}
	}
	&__label {
		padding-left: 5px;
		display: block;
	}
	&__time {
		margin:0;
		position: relative;
	}
	&__img {
		background: url('../img/pc/map.jpg') no-repeat center;
		background-size: cover;
		position: absolute;
		height: 496px;
		width: 100%;
		top: 0;
	}
}
.c-footInfo {
	background: #fff;
	text-align: center;

	&__head {
		padding-top: 1px;
		padding-bottom: 83px;
		background-color: #eeeeee;

		h2 {
			width: 100%;
			margin-top: 100px;
		}
		h3 {
			font-size: 3.2rem;
			line-height: 27px;
			color: #666666;
			font-weight: 200;
			padding-top: 20px;
		}
		p {
			font-size: 1.6rem;
			line-height: 40px;
			color: #404040;
			padding-top: 41px;
			letter-spacing: 2px;
		}
	}
	&__content {
		background-color: #33c49d;
		padding-top: 46px;
   		padding-bottom: 55px;
		position: relative;

		p {
			font-size: 1.5rem;
			line-height: 24px;
			color: #fff;
			letter-spacing: 0.5px;
		}
	}
	&__txt {
		padding-top: 21px;
	}
}
.c-footCopy {
	background-color: #3c3c3c;
	color: #f5f5f5;

	p {
		line-height: 40px;
		font-size: 1.2rem;
		 letter-spacing: 0.5px;
	}
}
//-------------------------SP-------------------------
.c-footSP {
	padding: 55px 20px 0;

	h1 {
		font-size: 2.8rem;
		line-height: 13px;
		font-weight: 200;
		color: #202020;
		margin-bottom: 13px;
	}
	h2 {
		font-size: 2.8rem;
		line-height: 13px;
		font-weight: 200;
		color: #202020;
		margin-bottom: 31px;
	}

	&__inner{
		ul {
		    background: #10222b;
		    padding: 21px 15px 15px;
		    margin-bottom: 72px;
		    -webkit-transform: translateX(-1px);
		       -moz-transform: translateX(-1px);
		        -ms-transform: translateX(-1px);
		         -o-transform: translateX(-1px);
		            transform: translateX(-1px);

			li {
				border-bottom: 1px solid #636f75;
				padding-bottom: 18px;

				h3 {
					font-size: 1.4rem;
					line-height: 12px;
					color: #fff;
					padding: 0 0 11px;
				}
				p {
					font-size: 1.2rem;
					line-height: 12px;
					color: #fff;
					padding-bottom: 1px;
				}
			}
		}
		li:last-child {
			border: none;
		}
		&--txt {
			padding-top: 8px;
		}
	}
	&__info {
			background: #eeeeee;
   			margin-top: 40px;
    		padding-top: 33px;
    		padding-bottom: 37px;
		h2{
			margin-bottom: 13px;
		}

		h4 {
			font-size: 1.2rem;
			line-height: 20px;
			font-weight: 300;
			color: #404040;
		}
	}
	&__textbox {
		background: #10222b;
		color: #fff;
		padding: 14px 15px;
		transform: translateY(2px);
		dl {
			padding: 10px 0 10px;
			border-bottom: 1px solid #636f75;
		}
		dl:last-child { 
			border:none;
		}
		dt {
			font-size: 1.4rem;
			font-weight: bold;
			padding-bottom: 3px;
		}
		dd {
			font-size: 1.2rem;
		}
	}
}

.c-footSP--contact {
	background: #33c49d;
	padding: 30px 25px 30px;

	h2 {
		margin-bottom: 20px;
	}

	.c-footSP--contact__inner {

		p {
			font-size: 1rem;
			line-height: 15px;
			color: #fff;
			letter-spacing: 1.8px;
		}
	}
}
.c-footSPCopy {
	background-color: #3c3c3c;
	color: #fff;

	p {
		line-height: 30px;
		font-size: 1rem;
		letter-spacing: 0.3px;
	}
}