/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.c-headPC {

	&__inner {
		position: relative;
		overflow:hidden;
	}
	&__banner{
		position: absolute;
	    top: 228px;
	    right: 128px;
	}
}

//----------------------SP Header------------------------
.c-headSP {
	width: 100%;
	position: relative;

	&__inner {
		margin: 0 auto;
		position: relative;
	}
}
