@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
	min-width: 1460px;
	box-sizing: border-box;
	// overflow-x: hidden;
	@include breakpoint(768px) {
		width: 100%;
		min-width: auto;
	}
}
.l-container {
	width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
	@include breakpoint(768px) {
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		overflow: hidden;
	}


}

.l-main {

	@include breakpoint(768px) {
		width: 100%;
	}
}
.l-btn1--2btnCenter {
	display: flex;
	justify-content: center;
	margin-top: 30px;

	& div:last-child{
		margin-left: 30px;
	}
}
#wrapper{
	@include breakpoint(768px){
		width:100%;
		box-sizing: border-box;
	}
}
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

.sideBar {

}

@include min_breakpoint(768px){
	.sp-only{
		display: none;
	}
}
@include breakpoint(768px){
	.pc-only {
		display: none;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.sp-only{
		display: block;
	}
}

