/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
.c-btn{
	a{
		padding: 14px 20px;
		text-decoration: none;
		display: flex;
		position: relative;
		margin: 0 auto;
	}
	&_contact a{
			min-width: 126px;
			background: #e69800;
			color: #ffffff;
			&::before{
				content: '';
				background: url('../img/icon_mail.png') no-repeat;
				background-size: 21px 15px;
				width: 21px;
				height: 15px;
				margin-right:10px;
			}
			&::after{
				content:'';
				background: url('../img/icon_contact.png') no-repeat;
				background-size: 8px 8px;
				width: 8px;
				height: 8px;
				position: absolute;
				bottom: 5px;
				right: 5px;
			}
			&:hover{
				background: #fff;
				color:#e69800;
				&::before{
					background: url('../img/icon_mail-hover.png');
				}
				&::after{
					background: url('../img/icon_contact-hover.png');
				}
			}
		}
		&_contact-2 a{
			width: 173px;
			color: #3386c2;
			@include border(border);
			border-color: #3386c2;
			@include j-box(center);
			&::after{
				content:'';
				background: url('../img/icon_contact-hover.png') no-repeat;
				background-size: 8px 8px;
				width: 8px;
				height: 8px;
				position: absolute;
				bottom: 5px;
				right: 5px;
			}
			&:hover{
				background: #3386c2;
				color: #fff;
				&::after{
						background: url('../img/icon_contact.png') no-repeat;
				}
			}
		}
		&_contact-3 a{
			width: 430px;
			@include j-box(center);
			font-size: 2.5rem;
			font-weight: 400;
			height: 38px;
			align-items: center;
		}
		&_contact-4 a,
		&_contact-5 a{
			width: 318px;
			height: 86px;
			background: #fff;
			@include border(border);
			border-color: #4c86c2;

			&::before{
				background: url('../img/icon_3.png');
				background-size: 40px 51px;
				width: 40px;
				height: 51px;
			}
			&::after{
				background: url('../img/icon_5.png');
				background-size: 13px 13px;
				height: 13px;
				width: 13px;
			}
			&:hover{
					background: #4c86c2;
					&::before{
							background: url('../img/icon_3-hover.png');
					}
					&:after{
						background: url('../img/icon_5-hover.png');
					}
			}
			.c-title1{
				padding: 0;
			}
		}
		&_contact-5 a.ex-ctn5{
			&::before{
				background: url('../img/icon_4.png');
				background-size: 45px 54px;
				width: 45px;
				height: 54px;
			}
			&:hover{
				&::before{
						background: url('../img/icon_4-hover.png');
				}
			}
		}
	&_phone{
		width: 470px;
		text-align: center;
		@include border(top-bot);
		border-color: white;
	}
}
