/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
.main-title{
  background-size: cover !important;
  height: 270px;
  position: relative;
  margin-bottom: 100px;
  &_company{
    background: url('../img/bg-company.jpg') no-repeat center;
    margin-bottom: 120px;
  }
  &_shop{
    background: url('../img/bg-shop.jpg') no-repeat center;
  }
  &_blog{
    background: url('../img/bg-blog.jpg') no-repeat center;
  }
  .c-title1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.c-title1{
  text-align: center;
  font-size: 1.6rem;
  line-height: 20px;
  color: #333;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 40px;
  h3{
    padding-bottom: 5px;
  }
}
.c-title2{
  color: #3386c2;
  h3{
    font-size: 2.5rem;
  }
}
