/*------------------------------------------------------------
	                    TEXT COMPONENT
------------------------------------------------------------*/
.c-text1{
  padding: 30px 0 20px;
  @include border(top);
  border-color: #eeeeee;
  p{
    line-height: 15px;
    padding-bottom: 12px;
    color: #333333;
  }
  span{
    @include border();
    border-color: #e69800;
    color: #e69800;
    font-size: 1.2rem;
    padding: 0 20px;
    text-align: center;
  }
  .u-text{
    @include border(bottom);
    border-color: #333333;
    padding-bottom: 5px;
    width: max-content;
  }
}
