/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
$g:globalNav;
.#{$g}{
    width: 1000px;
    margin: 0 auto;
    height: 86px;
    overflow: hidden;

    &_items {
      @include box;

      ul{
        width: 630px;
        position: relative;
        li{
          margin-right: 0;
          a{
            text-decoration: none;
            color: #fff;
            letter-spacing: 4px;
            font-size: 1.6rem;
            @include box;
            @include j-box(center);
            position: relative;
            width: 150px;
            &::after{
              content:'';
              background: url('../img/icon_1.png') no-repeat;
              background-size: 11px 19px;
              width: 11px;
              height: 19px;
              position: absolute;
              right: -10%;
            }
          }
          &:nth-child(4){

            a{
              &::after {
                content: none;
            }
          }
        }
        &:nth-child(5){
          width: 0;
        }
        span{
          position: absolute;
          display: block;
          height: 4px;
          width: 40px;
          top: 139%;
          background: #fff;
        }
      }
    }
    &_foot{
        ul{
          li{
            a{
            &::after{
                background: url(../img/icon_2.png) no-repeat;
            }
          }
          span{
            background: #5ea6e8;
          }
        }
      }
    }
  }
}
