/*------------------------------------------------------------
	                    TABLE COMPONENT
------------------------------------------------------------*/
table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  @include border(bottom);
  border-color: #dcdcdc;
  th,td{
    @include border(top);;
    border-color: #dcdcdc;
    padding: 30px 0;
  }
  th{
    color: #3386c2;
    padding-left: 40px;
    width: 200px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  td{
    width: auto;
  }
  span{
    display: block;
    line-height: 21px;
  }
}
