@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    BASE DEVELOP
------------------------------------------------------------*/
/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
.globalHeader {
  position: static;
  width: 100%;
  background: url("../img/bg-2.jpg") no-repeat;
  background-size: cover;
  min-height: 675px;
}

.globalHeader_top, .globalHeader_ulti, .globalFooter_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(123, 173, 160, 0.6);
}

.globalHeader_top p, .globalHeader_ulti p, .globalFooter_bot p {
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 40px;
  padding-left: 20px;
  letter-spacing: 1.8px;
}

.globalHeader_ulti li {
  background: #49917f;
  border-right: 1px solid #6c6969;
  border-color: #fff;
}

.globalHeader_ulti li:last-child {
  border: none;
}

.globalHeader_ulti li:hover a img {
  opacity: 0.4;
}

.globalHeader_banner {
  margin-top: 140px;
  text-align: center;
}

.globalHeader_banner h1 {
  margin-bottom: 20px;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
.globalFooter {
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  height: 398px;
}

.globalFooter_inner {
  text-align: center;
  font-size: 1.8rem;
  color: #5c4e42;
  line-height: 1.8rem;
  padding: 65px 0;
}

.globalFooter_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 67px auto 0;
  width: 570px;
}

.globalFooter_list li {
  margin-right: 46px;
}

.globalFooter_list li:nth-child(3) {
  margin-right: 30px;
}

.globalFooter_list li:last-child {
  margin: 0;
}

.globalFooter_bot {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 8px;
}

.globalFooter_goTop {
  position: fixed;
  bottom: 10%;
  right: 20%;
}

/*------------------------------------------------------------
	                    SIDE LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    BREADCRUMB LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    MAIN LAYOUT
------------------------------------------------------------*/
#l-wrapper {
  position: relative;
  background: #fff;
  overflow: hidden;
}

.l-content {
  width: 900px;
  margin: 0 auto;
}

@media all and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media all and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media all and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
.c-btn-contact a {
  text-decoration: none;
}

.c-btn-contact a p {
  background: #49917f;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 15px;
}

/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
.c-title1 h3 {
  line-height: 70px;
}

.c-title1 p {
  font-size: 1.8rem;
  line-height: 45px;
  font-weight: 300;
}

.c-title2 {
  text-align: left;
}

.c-title2 p {
  color: #49917f;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.c-title-contact p {
  font-size: 1.6rem;
  width: 460px;
  margin: auto;
  color: #614d40;
  line-height: 18px;
  padding: 5px 0;
  border-top: 1px solid #6c6969;
  border-bottom: 1px solid #6c6969;
}

.c-title-contact h3 {
  padding-top: 15px;
}

/*------------------------------------------------------------
	                    ICON COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    FORM COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TEXT COMPONENT
------------------------------------------------------------*/
.c-text1 {
  border-top: 1px solid #6c6969;
  border-bottom: 1px solid #6c6969;
  line-height: 2.8rem;
  margin-left: 15px;
  font-weight: 300;
}

.cell-1 {
  background: url("../img/bg-span.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.5px 0;
}

.cell-2 {
  background: url("../img/bg-span-2.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
}

.cell-2 span {
  color: #474338;
  display: block;
  font-size: 1.3rem;
}

.cell-3 {
  padding: 5px 0;
  background: url("../img/bg-span-3.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.cell-3 span {
  display: block;
  line-height: 15px;
  font-size: 1.2rem;
}

/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
.globalNav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.globalNav_items li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.globalNav_items li > a::after {
  content: '';
  background: url("../img/menu-icon.png");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.globalNav_items li > a:hover {
  opacity: 0.6;
}

/*------------------------------------------------------------
	                    IMAGES & IMAGES TEXT COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    LIST COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TABLE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    LINE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    VIDEO COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    SLIDER COMPONENT
------------------------------------------------------------*/
.sliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*------------------------------------------------------------
	                    OTHER COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    PAGE INDEX
------------------------------------------------------------*/
.conceptArea {
  background: url(../img/bg-concept.jpg) no-repeat center;
  background-size: cover;
  padding-top: 145px;
  min-height: 1267px;
}

.conceptAreaInner {
  text-align: center;
}

.conceptAreaMenu {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 40px;
}

.conceptAreaMenu-items {
  position: relative;
}

.conceptAreaMenu-items a {
  cursor: pointer;
}

.conceptAreaMenu-items p {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.conceptAreaContact {
  margin-top: 35px;
  background: url("../img/bg-concept-2.png") no-repeat;
  background-size: cover;
  min-height: 300px;
  padding: 45px 23px 45px 45px;
}

.conceptAreaContact_head, .conceptAreaContact_head h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.conceptAreaContact_head h3 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.conceptAreaContact_txt {
  margin-top: -40px;
  text-align: left;
  line-height: 22px;
  color: #6c6969;
}

.conceptAreaContact_menu {
  text-align: center;
  background: #e9e9e9;
  color: #140809;
  position: relative;
  padding: 25px 0 20px;
  margin-top: 25px;
}

.conceptAreaContact_menu h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 300;
  coolor: #4b4647;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.conceptAreaContact_menu p {
  font-size: 1.3rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.conceptAreaContact_menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
}

.conceptAreaContact_menu ul li {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100px;
  height: 20px;
  padding: 0 15px;
  background: #ffffff;
  margin-right: 25px;
  position: relative;
}

.conceptAreaContact_menu ul li:last-child {
  margin-right: 0;
}

.conceptAreaContact_menu ul li:last-child::after {
  content: none;
}

.conceptAreaContact_menu ul li::after {
  content: '';
  background: url("../img/concept2-icon.png") no-repeat;
  background-size: 11px 17px;
  width: 11px;
  height: 17px;
  position: absolute;
  right: -20px;
}

.conceptAreaContact_menu ul li a {
  text-decoration: none;
  color: #140809;
  line-height: 1;
  font-size: 1.2rem;
}

.conceptAreaContact_menu ul > * {
  cursor: pointer;
}

.menuArea {
  background: url("../img/bg-menu.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 150px 0 120px;
}

.menuAreaInner {
  width: 1193px;
  margin: 0 auto;
  border: 1px solid #6c6969;
  border-width: 2px;
  padding-top: 85px;
}

.menuAreaInner_content {
  padding-top: 103px;
}

.menuAreaInner_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menuAreaInner_head-txt {
  text-align: right;
  color: #49917f;
}

.menuAreaInner_txt {
  margin: 45px 0 135px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: 250px auto;
  grid-column-gap: 30px;
}

.menuAreaInner_txt--list table {
  width: 100%;
  padding: 0 22px 0 8px;
  border-top: 1px solid #6c6969;
  border-bottom: 1px solid #6c6969;
  border-color: #bedbcf;
}

.menuAreaInner_txt--list tr, .menuAreaInner_txt--list td {
  border-bottom: 1px solid #6c6969;
  border-color: #bedbcf;
}

.menuAreaInner_txt--list td {
  height: 50px;
  text-align: center;
}

.menuAreaInner_txt--list td:nth-child(1) {
  text-align: left;
  padding: 0 0 0 10px;
  width: 200px;
}

.menuAreaInner_txt--list td:nth-child(2) {
  width: 83px;
}

.menuAreaInner_txt--list td:nth-child(3) {
  width: 135px;
}

.menuAreaInner_txt--list td:nth-child(4) {
  width: 60px;
}

.menuAreaInner_txt2 {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 75px;
}

.menuAreaInner_txt2-items h3 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #474338;
  font-weight: 400;
  text-align: left;
}

.menuAreaInner_txt2-items h3 span {
  display: block;
}

.menuAreaInner_txt2-items table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.3rem;
  color: #140809;
  border-bottom: 1px solid #6c6969;
  border-color: #a0c4ba;
}

.menuAreaInner_txt2-items table thead th {
  font-weight: 400;
  width: 80px;
}

.menuAreaInner_txt2-items table thead th:first-child {
  width: 30px;
  background: none;
}

.menuAreaInner_txt2-items table thead th.border {
  border-left: 2px solid #fff;
}

.menuAreaInner_txt2-items table thead th p {
  margin-bottom: 2px;
  background: #bedbcf;
  height: 18px;
}

.menuAreaInner_txt2-items table tbody th, .menuAreaInner_txt2-items table tbody td {
  height: 50px;
  border-top: 1px solid #6c6969;
  border-color: #a0c4ba;
}

.menuAreaInner_txt2-items table tbody th {
  width: 35px;
}

.menuAreaInner_txt2-items table tbody th p {
  width: 30px;
  height: 25px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #474338;
  font-weight: 400;
}

.menuAreaInner_txt2-items table tbody td span img {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

.menuAreaInner_txt2-items table tbody td.border {
  border-left: 1px solid #6c6969;
  border-color: #a0c4ba;
}

.menuAreaInner_txt2-items table tbody td.border span img {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.menuArea .c-title-contact {
  margin: 105px 0 108px;
}

.menuAreaContact {
  width: 960px;
  margin: 0 auto 80px;
}

.accessArea {
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: 50% 50%;
}

.accessAreaInner {
  background: url("../img/bg-access.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  padding: 100px 0 80px 60px;
}

.accessAreaInner_list {
  padding-top: 50px;
  color: #5c4e42;
  max-width: 375px;
}

.accessAreaInner_list h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.accessAreaInner_list dl dt, .accessAreaInner_list dl dd {
  font-size: 1.6rem;
  line-height: 24px;
}

.accessAreaInner_list dl dt {
  margin-top: 25px;
}

.contactArea {
  background: url("../img/bg-contact.jpg") no-repeat center;
  background-size: cover;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.contactArea .c-title1 {
  margin-top: -70px;
}

.contactArea .c-title1 p {
  font-size: 3rem;
  padding-bottom: 45px;
}

.contactArea .c-title1 a {
  cursor: pointer;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.u-extext {
  color: #49917f;
}
