/*------------------------------------------------------------
	                    PAGE COMPONENT
------------------------------------------------------------*/
.advantage{
  margin-top: 30px;
}
.equip{
  background: #e9eff2;
  padding: 0 15px 40px;
  .c-title1{
    background: transparent;
    padding: 25px 0 0;
  }
  &-end{
    text-align: left;
    line-height: 21px;
    .c-btn1-ex{
      margin-top: 10px;
    }
  }
}
.contact{
  padding: 20px 15px 0;
  h3{
    padding-top: 30px;
    font-size: 1.4rem;
    line-height: 1rem
  }
  p{
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #585550;
  }
  .c-btn1-ex{
    margin: 10px 0 0;
    padding: 5px 0;
    a{
      padding: 10px 0;
    }
    span{
      color: #ffffff;
      margin: 0;
    }
  }
}
.map{
  min-height: 250px;
}
