@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1080px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1080px;
  text-align: center;
}

.l-main {
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  position: relative;
  height: 73px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-top: 18px;
  padding: 0;
  float: right;
  display: inline-block;
}

#gNavi:after {
  display: block;
  clear: both;
  content: "";
}

#gNavi ul.nav-bar {
  width: auto;
}

#gNavi ul.nav-bar:after {
  display: block;
  clear: both;
  content: "";
}

#gNavi ul.nav-bar li {
  float: left;
  position: relative;
  border-bottom: 3px solid transparent;
  padding: 0 2px;
}

#gNavi ul.nav-bar li a::after {
  content: '';
  width: 0;
  height: 4px;
  position: absolute;
  left: 50%;
  background: #06a7fe;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#gNavi ul.nav-bar li a:hover::after {
  width: 100%;
  left: 0;
}

#gNavi ul.nav-bar li::before {
  content: '';
  width: 1px;
  height: 33px;
  background-color: #cecece;
  position: absolute;
  top: 0;
  left: 2px;
}

#gNavi ul.nav-bar li:first-child::before {
  content: '';
  width: 1px;
  height: 33px;
  background-color: #cecece;
  position: absolute;
  top: 0;
  left: -2px;
}

#gNavi ul.nav-bar li:last-child::after {
  content: '';
  width: 1px;
  height: 33px;
  background-color: #cecece;
  position: absolute;
  top: 0;
  left: 109px;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  background: url("../img/pc/footer-bg.jpg") no-repeat top center #003c7f;
  padding-top: 108px;
  margin-top: 4px;
}

.m-footer {
  height: 168px;
  background-color: #003c7f;
  position: relative;
}

.m-footer .f-logo {
  float: left;
  padding: 40px 0;
  margin-left: -4px;
}

.m-footer .f-logo a {
  margin-left: -50px;
}

.m-footer .f-logo p {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 18px;
  padding-top: 15px;
}

.m-footer .ctn-detail {
  color: #ffffff;
  text-align: left;
  margin-top: 38px;
  position: relative;
  float: left;
  padding-left: 27px;
}

.m-footer .ctn-detail:after {
  display: block;
  clear: both;
  content: "";
}

.m-footer .ctn-detail p {
  font-size: 1.2rem;
  line-height: 18px;
  padding: 1px 0 2px 17px;
}

.m-footer .ctn-detail img {
  margin-bottom: 8px;
}

.m-footer .ctn-detail::before {
  content: '';
  width: 1px;
  height: 88px;
  background-color: #809ebf;
  position: absolute;
  top: 2;
  left: 20px;
}

.m-footer .btn {
  float: right;
  text-align: right;
  padding-top: 34px;
}

.m-footer .btn:after {
  display: block;
  clear: both;
  content: "";
}

.m-footer .btn ul {
  padding-left: 0;
}

.m-footer .btn ul li {
  display: inline-block;
  padding-left: 58px;
}

.m-footer .btn ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 21px;
}

.m-footer .btn ul li a:hover {
  color: #3b75b5;
}

.m-footer .btn ul:first-child li:first-child {
  padding: 0 70px 0 0;
}

.m-footer .btn img {
  margin-top: 8px;
  margin-left: 56px;
}

.m-footer .btn img.btn-in {
  display: block;
}

.m-footer .btn img.active {
  display: none;
  float: right;
  text-align: right;
  padding: 0;
}

.m-footer .btn a:hover img.btn-in {
  display: none;
}

.m-footer .btn a:hover img.active {
  display: block;
}

.m-footer .btn-scrl {
  position: fixed;
  bottom: 88px;
  right: 5px;
}

.m-footer .btn-scrl:hover {
  opacity: 0.5;
}

.f-end {
  height: 48px;
  background-color: #002f64;
  padding: 8px 0;
}

.f-end p {
  font-size: 1.2rem;
  line-height: 30px;
  color: #608fbf;
  text-align: left;
  letter-spacing: 1.2px;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.clearFix {
  clear: both;
}

@media screen and (max-width: 736px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
