/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.t-header {
  background-color: #015294;
  text-align: left;
  height: 47px;
}

.t-header p {
  text-align: left;
  font-size: 1.25rem;
  line-height: 47px;
  color: #ffffff;
  float: left;
}

.t-header p:after {
  display: block;
  clear: both;
  content: "";
}

.t-header ul {
  float: right;
}

.t-header ul:after {
  display: block;
  clear: both;
  content: "";
}

.t-header ul li {
  float: left;
  line-height: 47px;
  padding: 5px 0 0 15px;
}

.t-header ul li:after {
  display: block;
  clear: both;
  content: "";
}

.t-header ul li a {
  border-radius: 20px;
  background-color: #009fbb;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.t-header ul li a img.in-active {
  display: block;
}

.t-header ul li a img.active {
  display: none;
}

.t-header ul li a:hover img.in-active {
  display: none;
}

.t-header ul li a:hover img.active {
  display: block;
}

.logo {
  float: left;
  display: inline-block;
}

.logo:after {
  display: block;
  clear: both;
  content: "";
}

#main_slider {
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: -khtml-opacity 1.2s ease-out, opaicty 1.2s ease-out;
  transition: -khtml-opacity 1.2s ease-out, opacity 1.2s ease-out;
}

#main_slider.ready {
  -khtml-opacity: 1;
  opacity: 1;
}

#main_slider {
  position: relative;
  width: 100%;
  margin-bottom: 120px;
  min-height: 756px;
}

#main_slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#main_slider img {
  width: 100%;
  height: 100%;
  display: block;
  -khtml-opacity: 0;
  opacity: 0;
}

.t-news {
  height: 202px;
  background-color: #e7f5ff;
  text-align: center;
  margin-top: -20px;
}

.t-news-inner {
  padding: 35px 0 0;
}

.t-news-inner:after {
  display: block;
  clear: both;
  content: "";
}

.head {
  float: left;
  margin-top: 15px;
}

.head:after {
  display: block;
  clear: both;
  content: "";
}

.head h3 {
  cursor: pointer;
}

.head h3 img.active {
  display: none;
}

.head h3:hover img.active {
  display: block;
}

.head h3:hover img.in-active {
  display: none;
}

.content {
  float: left;
  width: 640px;
  text-align: left;
  margin-left: 67px;
}

.content:after {
  display: block;
  clear: both;
  content: "";
}

.content dl {
  padding: 0;
  float: left;
}

.content dl:after {
  display: block;
  clear: both;
  content: "";
}

.content dt {
  float: left;
  font-size: 1.3rem;
  line-height: 46px;
  color: #0361a7;
  font-style: normal;
}

.content dt:after {
  display: block;
  clear: both;
  content: "";
}

.content dd {
  overflow: hidden;
  word-break: break-all;
  padding-left: 58px;
  padding-top: 9px;
}

.content dd a {
  text-decoration: none;
  color: #000000;
}

.content dd:hover a {
  text-decoration: underline;
  color: #a8a8a8;
}

.index-main {
  height: 535px;
  padding-top: 100px;
  background: url("../img/pc/bg-sb-1.jpg") no-repeat center top 100px;
}

.index-main .sidebar {
  width: 470px;
  text-align: left;
  float: left;
}

.index-main .sidebar:after {
  display: block;
  clear: both;
  content: "";
}

.index-main .sidebar p {
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.index-main .sidebar p.t-break {
  margin-top: 21px;
}

.index-main .sidebar img {
  margin-bottom: 20px;
}

.index-main .sidebar img.btn {
  display: block;
  margin: 62px 0 0 0;
}

.index-main .sidebar img.active {
  display: none;
  margin: 62px 0 0 0;
}

.index-main .sidebar a:hover img.active {
  display: block;
}

.index-main .sidebar a:hover img.btn {
  display: none;
}

.index-main.item-2 {
  background: url("../img/pc/bg-sb-2.jpg") no-repeat center top 78px;
  padding-top: 80px;
}

.index-main.item-2 .sidebar-2 {
  float: right;
}

.index-main.item-2 .sidebar-2:after {
  display: block;
  clear: both;
  content: "";
}

.index-main.item-2 .sidebar-2 img.btn {
  margin: 86px 0 0 0;
  display: block;
}

.index-main.item-2 .sidebar-2 img.active {
  margin: 86px 0 0 0;
}

.index-main.item-3 {
  background: url("../img/pc/bg-sb-3.jpg") no-repeat center top 56px;
  padding-top: 57px;
}

.index-main.item-3 .sidebar-3 {
  float: left;
}

.index-main.item-3 .sidebar-3:after {
  display: block;
  clear: both;
  content: "";
}

.index-main.item-3 .sidebar-3 img.btn {
  margin: 87px 0 0 0;
}

.index-main.item-3 .sidebar-3 img.active {
  margin: 87px 0 0 0;
}

.hf-slide {
  min-height: 276px !important;
  margin-bottom: 114px;
}

.l-main-news {
  margin-bottom: 37px;
}

.news-conts {
  text-align: left;
  padding-bottom: 119px;
  padding-top: 13px;
  margin-top: -20px;
}

.news-conts:after {
  display: block;
  clear: both;
  content: "";
}

.news-conts h3 {
  font-size: 2.1rem;
  line-height: 34px;
  color: #025995;
  border-bottom: 1px solid #015294;
}

.news-conts h4 {
  color: #009fbb;
  font-size: 15px;
  line-height: 22px;
  padding-top: 12px;
  padding-left: 33px;
  letter-spacing: 1.5px;
  position: relative;
}

.news-conts h4::before {
  content: '';
  width: 21px;
  height: 22px;
  background: url("../img/pc/news/news-icon.png") no-repeat;
  background-size: 21px 22px;
  display: inline-block;
  margin-right: 5px;
  line-height: 22px;
  position: absolute;
  top: 10px;
  left: 1px;
}

.news-conts p {
  font-size: 1.4rem;
  line-height: 20px;
  color: #000;
  padding-top: 3px;
  letter-spacing: 0.4px;
}

.news-conts p.t-break {
  margin-top: 16px;
}

.news-conts img.img-news_cont {
  float: right;
  margin-top: 28px;
  cursor: pointer;
}

.news-conts img.img-news_cont:after {
  display: block;
  clear: both;
  content: "";
}

.news-conts .conts {
  width: 590px;
  float: left;
  text-align: justify;
  padding-top: 24px;
}

.news-conts .conts:after {
  display: block;
  clear: both;
  content: "";
}

.news-conts .conts.l-conts {
  width: auto;
  text-align: justify;
}

.greeting {
  text-align: left;
  position: relative;
  margin-bottom: 81px;
  margin-top: 114px;
}

.greeting img {
  margin-bottom: 22px;
  margin-top: -6px;
}

.greeting img.bg-greeting {
  margin: 136px 0 0 0;
}

.greeting p {
  font-size: 1.4rem;
  line-height: 22px;
}

.greeting p.t-break-g {
  margin-top: 18px;
}

.greeting p.t-break-2 {
  margin-top: 14px;
}

.greeting .quote {
  position: absolute;
  bottom: 35%;
  right: 0;
}

.profile {
  background-color: #f7f7f7;
  padding: 80px 0 75px;
  text-align: left;
}

.profile .prof-cont {
  text-align: left;
}

.profile .prof-cont img {
  margin-bottom: 30px;
}

.profile .prof-cont table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
}

.profile .prof-cont table td {
  font-size: 1.4rem;
  line-height: 60px;
  border-top: 1px solid #d4d4d4;
  padding-left: 40px;
}

.profile .prof-cont table td p {
  line-height: 20px;
}

.profile .prof-cont table td.td-f-cont p {
  margin-top: -30px;
}

.profile .prof-cont table td.td-cont {
  padding: 20px 0 15px 40px;
}

.profile .prof-cont table td:first-child {
  width: 216px;
  color: #0361a7;
  background-color: #e7f5ff;
}

.profile .prof-cont table tr:last-child {
  border-bottom: 1px solid #d4d4d4;
}

.staff {
  padding: 80px 0;
  text-align: left;
}

.staff h3 {
  margin-bottom: 32px;
}

.staff .staff-img {
  display: grid;
  grid-template-columns: 249px 249px 249px 249px;
  grid-column-gap: 28px;
  grid-row-gap: 49px;
}

.staff .staff-img .intro {
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.staff .staff-img .intro p {
  font-size: 1.4rem;
  line-height: 24px;
  padding-top: 5px;
}

.staff .staff-img .intro img {
  border: 1px solid #d4d4d4;
  padding: 4px;
}

.map {
  padding: 70px 0 126px;
  text-align: left;
}

.map h3 {
  margin-bottom: 37px;
}

.bs-slide {
  background: url("../img/pc/bussiness/bs-bg.jpg") no-repeat center;
  background-size: cover;
  height: 276px;
  margin-bottom: 120px;
}

.business {
  padding: 35px 41px 40px;
  border: 1px solid #009fbb;
  margin-bottom: 80px;
}

.business .bs-content {
  text-align: left;
}

.business .bs-content:after {
  display: block;
  clear: both;
  content: "";
}

.business .bs-content h3 {
  font-size: 2rem;
  line-height: 34px;
  font-weight: 900;
  color: #025995;
  margin-bottom: 10px;
  letter-spacing: 1.9px;
}

.business .bs-content h3::before {
  content: '';
  width: 17px;
  height: 17px;
  background-color: #025995;
  display: inline-block;
  margin-right: 5px;
}

.business .bs-content p {
  font-size: 1.4rem;
  line-height: 20px;
  color: #000;
  letter-spacing: 0.2px;
  padding-bottom: 4px;
}

.business .bs-content p.t-break-b {
  margin-top: 15px;
}

.business .bs-content .bs-inner {
  width: 520px;
  float: left;
}

.business .bs-content .bs-inner.f-inner {
  width: auto;
}

.business .bs-content img {
  float: right;
  margin-top: -40px;
  cursor: pointer;
}

.business:last-child {
  margin-bottom: 130px;
  padding: 35px 41px 29px;
}

.case-slide {
  background: url("../img/pc/case/case-bg.jpg") no-repeat center;
  background-size: cover;
  height: 276px;
  margin-bottom: 120px;
}

.case-head {
  padding: 0 110px;
  text-align: center;
  margin-bottom: 59px;
  border-bottom: 1px solid #015294;
}

.case-head ul {
  padding-bottom: 80px;
  margin-left: -2px;
  margin-top: -11px;
}

.case-head ul li {
  display: inline-block;
  padding-right: 37px;
  padding-top: 12px;
}

.case-head ul li a {
  background-color: #0291aa;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  border-radius: 3px;
  width: 260px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: none;
}

.case-head ul li a::after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url("../img/pc/case/arrw-1.png");
  margin-left: 30px;
}

.case-head ul li:hover a {
  background-color: #016f82;
}

.case-head ul li:first-child:hover a {
  background-color: #fff;
  border: 2px solid #0291aa;
  color: #0291aa;
}

.case-head ul li:first-child:hover a::after {
  background-image: url("../img/pc/case/arrw-2.png");
}

.case-head ul li:last-child {
  padding: 0;
}

.case-head h3 {
  font-size: 2.4rem;
  line-height: 25.5px;
  font-weight: 600;
  color: #025995;
  letter-spacing: 2px;
  margin-bottom: 7px;
  padding-left: 9px;
}

.case {
  margin-bottom: 81px;
  text-align: left;
}

.case h3 {
  font-size: 2.2rem;
  line-height: 45px;
  background-color: #e1f0fa;
  color: #025995;
  padding-left: 16px;
}

.case .case-cont {
  padding-top: 30px;
}

.case .case-cont:after {
  display: block;
  clear: both;
  content: "";
}

.case img {
  float: left;
  cursor: pointer;
}

.case .case-ct {
  float: right;
  width: 570px;
}

.case .case-ct table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  margin-top: -2px;
}

.case .case-ct table td {
  font-size: 1.3rem;
  line-height: 50px;
  padding-left: 30px;
}

.case .case-ct table tr {
  border-top: 1px solid #d8d7d7;
}

.case .case-ct table tr:last-child {
  border-bottom: 1px solid #d8d7d7;
}

.case .case-ct table td:first-child {
  color: #025995;
  width: 130px;
}

.case:last-child {
  margin-bottom: 130px;
}

.rc-slide {
  background: url("../img/pc/recruit/bg-recruit.jpg") no-repeat center;
  background-size: cover;
  height: 276px;
  margin-bottom: 113px;
}

.recruit {
  text-align: left;
}

.recruit h3 {
  margin-top: -5px;
  margin-bottom: 15px;
  float: left;
}

.recruit .re-content {
  text-align: left;
  padding: 0;
  margin-bottom: 85px;
}

.recruit .re-content:after {
  display: block;
  clear: both;
  content: "";
}

.recruit .re-content .rc-conts {
  width: 670px;
  float: left;
}

.recruit .re-content .rc-conts p {
  font-size: 1.42rem;
  line-height: 20px;
}

.recruit .re-content .rc-conts p:last-child {
  margin-top: 15px;
}

.recruit .re-content img {
  float: right;
  margin-top: -54px;
  margin-right: 1px;
}

.guide-line {
  background-color: #f7f7f7;
  padding: 74px 0 79px;
}

.guide-line .gl-cont {
  text-align: left;
}

.guide-line .gl-cont h3 {
  margin-bottom: 26px;
}

.guide-line .gl-cont table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
}

.guide-line .gl-cont table td {
  font-size: 1.4rem;
  padding: 25px 0 19px 42px;
}

.guide-line .gl-cont table td p {
  line-height: 20px;
}

.guide-line .gl-cont table td:first-child {
  width: 216px;
  color: #0361a7;
  background-color: #e7f5ff;
}

.guide-line .gl-cont table tr {
  border-top: 1px solid #d8d7d7;
}

.guide-line .gl-cont table tr:last-child {
  border-bottom: 1px solid #d8d7d7;
}

.rc-cont {
  background: url("../img/pc/recruit/cnt-bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 243px;
  margin: 80px 0 130px;
  position: relative;
}

.rc-cont a {
  background-color: #0291aa;
  position: absolute;
  bottom: 40px;
  left: 0;
  border-radius: 4px;
  border-radius: 4px;
  margin-left: 40px;
}

.rc-cont a img.in-active {
  display: block;
}

.rc-cont a img.active {
  display: none;
}

.rc-cont a:hover {
  background-color: #ffffff;
  border: 1px solid #017c91;
}

.rc-cont a:hover img.in-active {
  display: none;
}

.rc-cont a:hover img.active {
  display: block;
}

.ctn-slide {
  background: url("../img/pc/contact/bg-cnt.jpg") no-repeat center;
  background-size: cover;
  height: 276px;
  margin-bottom: 113px;
}

.ctn-head {
  text-align: left;
  margin-bottom: 74px;
  margin-top: -5px;
}

.ctn-head h3 {
  margin-bottom: 25px;
}

.ctn-head p {
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 0.7px;
}

.ctn-head p:last-child {
  margin-top: 19px;
}

.contact-form {
  padding: 80px 0 78px;
  background-color: #f7f7f7;
}

.contact-form h3 {
  text-align: left;
}

.contact-form .c-form {
  text-align: left;
  padding-top: 49px;
}

.contact-form .c-form:after {
  display: block;
  clear: both;
  content: "";
}

.contact-form .c-form form {
  font-size: 1.4rem;
}

.contact-form .c-form .label {
  width: 200px;
  padding: 15px 0 0 3px;
  text-align: right;
  float: left;
  background-color: #f7f7f7;
}

.contact-form .c-form .label li {
  padding-bottom: 36px;
}

.contact-form .c-form .label li:nth-child(4) {
  padding-top: 125px;
}

.contact-form .c-form label {
  color: #0361a7;
  float: left;
}

.contact-form .c-form span {
  background-color: #0361a7;
  color: #ffffff;
  line-height: 23px;
  padding: 3px 7px;
}

.contact-form .c-form span.ex-span {
  background: #8c8b8b;
  color: #ffffff;
}

.contact-form .c-form .field-inpt {
  float: left;
  text-align: left;
  margin-left: 30px;
  padding: 0;
  width: 850px;
  background-color: transparent;
}

.contact-form .c-form .field-inpt input[type=text] {
  background-color: #ffffff;
  padding: 15px 18px;
  line-height: 20px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  width: 100%;
}

.contact-form .c-form .field-inpt input.name {
  width: 100%;
}

.contact-form .c-form .field-inpt input.potal-code {
  width: 130px;
  margin: 0 5px 8px 12px;
}

.contact-form .c-form .field-inpt select {
  padding: 15px 2px 16px 15px;
  width: 180px;
  border: 1px solid #eaeaea;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.contact-form .c-form .field-inpt input[type=radio] {
  margin-top: 23px;
}

.contact-form .c-form .field-inpt span.radio-box {
  background-color: transparent;
  color: #000000;
  margin-right: 52px;
}

.contact-form .c-form .field-inpt textarea {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid #eaeaea;
  font-size: 1.4rem;
  line-height: 20px;
}

.form-group {
  background-color: #ffffff;
  height: 225px;
}

.form-group .btn-group {
  position: relative;
}

.form-group .btn-group ul {
  color: #ffffff;
  padding-top: 46px;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group .btn-group ul li {
  padding-bottom: 7px;
}

.form-group .btn-group button {
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.form-group .btn-group button.confirm {
  background: #0291aa;
  margin-left: 44px;
}

.form-group .btn-group button.confirm:hover {
  background: #00798e;
}

.form-group .btn-group button.back {
  background: #939d9f;
  margin-left: 45px;
  display: none;
}

.form-group .btn-group button.back:hover {
  background: #5b696b;
}

.form-group .btn-group button.send {
  background: #0291aa;
  display: none;
}

.form-group .btn-group button.send:hover {
  background: #00798e;
}

::-webkit-input-placeholder {
  color: #b6b6b6;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  line-height: 20px;
}

:-ms-input-placeholder {
  color: #b6b6b6;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  line-height: 20px;
}

::-ms-input-placeholder {
  color: #b6b6b6;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  line-height: 20px;
}

::placeholder {
  color: #b6b6b6;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  line-height: 20px;
}

::-moz-selection {
  color: #ffffff;
  background: #e8da65;
}

::selection {
  color: #ffffff;
  background: #e8da65;
}

/*-----------LightBox-------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: visible;
  display: none;
}

.backdrop .light-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 18px #bbb;
          box-shadow: 0 0 18px #bbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  width: 400px;
  height: auto;
  display: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.backdrop .light-box img {
  display: block;
}

.backdrop .close {
  position: absolute;
  float: right;
  margin-right: -60px;
  margin-top: -10px;
  font-size: 45px;
  color: #fff;
  top: -40px;
  right: 0;
  cursor: pointer;
  outline: none;
  background: none;
}

.backdrop .close:hover {
  opacity: 0.5;
}

/*-----------Animte-------------*/
.inview-off {
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.inview {
  opacity: 1;
}

.scale-off {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

.scale-out {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.fade-in {
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: translate(0, 60px);
  transform: translate(0, 60px);
}

.fade-out {
  opacity: 1.0;
  -webkit-transform: translate(0);
  transform: translate(0);
}
