@import '0_base/mixin';
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
.globalFooter{
	background: url('../img/bg-footer.jpg') no-repeat center;
	background-size: cover;
	height: 398px;
	&_inner{
		text-align: center;
		font-size: 1.8rem;
		color: #5c4e42;
		line-height: 1.8rem;
		padding: 65px 0;
	}
	&_list{
		@include box;
		@include j-box(start);
		margin: 67px auto 0;
		width: 570px;
		li{
			margin-right: 46px;
			&:nth-child(3){
				margin-right: 30px;
			}
			&:last-child{
				margin: 0;
			}
		}
	}
	&_bot{
		@extend .globalHeader_top;
		@include j-box(center);
		margin-top: 8px;
	}
	&_goTop{
		position: fixed;
		bottom: 10%;
		right: 20%;
	}
}