@import '0_base/mixin';
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
$h:globalHeader;
.#{$h}{
  position: static;
  width: 100%;
  background: url('../img/bg-2.jpg') no-repeat;
  background-size: cover;
  min-height: 675px;
  &_top{
    @include box;
    @include j-box(between);
    @include a-box(center);
    background: rgba(123,173,160,0.6);
    p{
      font-size: 1.5rem;
      color: #ffffff;
      line-height: 40px;
      padding-left: 20px;
      letter-spacing: 1.8px;
    }
  }
 &_ulti{
    @extend .#{$h}_top;
    li{
      background: #49917f;
      @include border(right);
      border-color: #fff;
      &:last-child{
        border: none;
      }
      &:hover a img{
        opacity: 0.4;
      }
    }
  }
  &_banner{
    margin-top: 140px;
    text-align: center;
    h1{
      margin-bottom: 20px;
    }
  }
}
