@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	                    MAIN LAYOUT
------------------------------------------------------------*/
body {
}
#l-wrapper {
	position: relative;
	background: #fff;
	overflow: hidden;
}
.l-content{
	width: 900px;
	margin: 0 auto;
}
.pc-only{
	@include max{
		display: none !important;
	}
}
.sp-only{
	@include min{
		display: none !important;
	}
	@include max{
		display: block;
	}
}
img{
	@include max{
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
