@import '0_base/mixin';
/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
#globalFooter{
	border-top: 1px solid $border;
	padding-top: 50px;
	position: relative;
	@include breakpoint{
		padding-top: 25px;
	}
}
.c-footer{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	@include breakpoint{
		width: 100%;
		font-size: 1rem;
	}
	h2{
		padding-bottom: 80px;
		@include breakpoint{
			padding-bottom: 16px;
		}
	}
	p{
		@include breakpoint{
			font-size: 1.3rem;
		}
	}
}
