@import '0_base/mixin';
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
#globalHeader{
    width: 100%;
    min-height: 935px;
    background: url('../img/pc/mainVisual.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    @include breakpoint{
        background: url('../img/sp/mainVisual-sp.jpg') no-repeat center;
        min-height: 375px;
        background-size: cover;
    }
    .c-header{
      background: $white;
      width: 100%;
      @include breakpoint{
        background: none;
      }
      &__top {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
          @include breakpoint{
            width: 100%;
            background: $white;
          }

        &--left{
          flex: 0.55;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p{
            font-size: 1.6rem;
          }
        }
        &--right {
          flex: 0.5;
          padding-top: 15px;
          @include breakpoint{
            display: flex;
            justify-content: flex-end;
            padding: 0;
          }
        }
      }
    }
    .header-fixed{
      position: fixed;
      top: 0;
    }
}
