@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1100px;
	font-size: $font-size;
	@include breakpoint{
		min-width: auto;
		width: 100%;
	}
}
#wrapper {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.l-container {
}
.l-content{
	width: 1100px;
	margin: 0 auto;
	@include breakpoint{
		width: 100%;
	}
}
.pc-only{
	@include breakpoint{
		display: none !important;
	}
}
.sp-only{
	@include min-breakpoint{
		display: none !important;
	}
	@include breakpoint{
		display: block;
	}
}
img{
	@include breakpoint{
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
