@charset "UTF-8";
@import '0_base/mixin';
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.u-bg-yellow{
	background: $yellow;
}
.u-yellow{
	color: $yellow;
}
.u-break{
	padding-top: 20px;
	@include breakpoint{
		padding-top: 10px;
	}
}
.u-break30{
	padding-top: 30px;
}
.u-right{
	text-align: right;
}
.u-red{
	color: $red;
}
.u-bg-contact{
	background: #fff2f2;
}
