@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';
//Breakpoint
$breakpoint: 768px;

//Text
$font-size: 1.4rem;
$black: #000000;
$white: #ffffff;
$blue: #33a1db;
$red: #ff6767;
$yellow: #f2c526;
$bg-1: #e7ebee;
$bg-2: #f0ede6;
$bg-3: #faf8f3;
$bg-4: #f6f6f6;
$bg-4-ex: #f8f8f8;
$bg-5: #d0d0d0;
$border: #e3e3e3;
$btn-bg: #252523;
