@import '0_base/mixin';
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
#footer{
  padding-top: 15px;
  .nav-bar {
    padding: 0 15px;
    @include grid(2);
    grid-template-columns: 50% 50%;
    li{
      position: relative;
      padding: 0;
      @include border(bot);
      border-color: #ccc;
      @include j-box(between);
      &:nth-child(odd){
        border-left: none;
        @include border(right);
        border-color: #ccc;
      }
      &:nth-child(even){
        border-right: none;
      }
      a{
        color: #000;
      }
      &::after{
        background: url('../img/sm/icon-3.png') no-repeat center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
      }
    }
  }
  .navbarFooter{
    li{
      @include j-box(center);
    }
    li::after{
      content: none;
    }
  }
  .copyRight{
    padding: 10px 0;
    background: #4471c6;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
