@import '0_base/mixin';
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
$sp:-headersp;
header {
  .top#{$sp}{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 15px;
    text-align: left;
  }
  .main#{$sp}{
    @include box;
    @include j-box(between);
    padding: 0 15px;
  }
  .bg#{$sp}{
    margin-top: 10px;
    position: relative;
  }
}
