@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	                    MAIN LAYOUT
------------------------------------------------------------*/
body {
	min-width: auto;
	max-width: 640px;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	@include min{
		max-width: 100%;
	}
}
#wrap {
	width: 100%;
}
.l-content{
	padding: 0 15px;
}
.pc-only{
	@include max{
		display: none !important;
	}
}
.sp-only{
	@include min{
		display: none !important;
	}
	@include max{
		display: block;
	}
}
img{
	@include max{
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
