/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/

.l-btn1 {
	&--center {
		text-align: center;
	}
	&--right {
		text-align: right;
	}
	&--2btnCenter {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	&--2btnCenter div:last-child{
		margin-left: 30px;
	}
	&--2btnBetween {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
@include breakpoint(768px) {
	.l-btn1--2btnCenter {
		padding-left: 10px;
		padding-right: 10px;

		& > div {
			width: 48%;
		}
		& > div:last-child {
			margin-left: 2%;
		}

		.c-btn1 a {
			min-width: 100%;
		}
	}
}
@include breakpoint(768px) {
	.l-btn1.l-btn1--2btnBetween {
		padding-left: 10px;
		padding-right: 10px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		& > div {
			width: 48%;
		}
		& > div:last-child {
			margin-left: 2%;
		}

		.c-btn1 a {
			min-width: 100%;
		}
	}

}

//-----------------Btn----
.c-btn1 {
	display: inline-block;

	a {
		color: #fff;
		background: #fc6e51;
		border-radius: 30px;
		line-height: 1;
		text-align: center;
		min-width: 200px;
		padding: 13px 0;
		font-size: 1.3rem;
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	&--color1 a{
		background: #37bc98;
	}
	&--color2 a{
		background: #38afda;
	}
}

