//------------------Title

.c-title1{
	border-left: 8px solid #8cc152;
	margin-bottom: 10px;

	h1,h2,h3,h4,h5,h6 {
		font-size: 1.6rem;
		padding-left: 15px;
	}

	&--color1 {
		border-left-color: #f6bb42;
	}
	&--color2 {
		border-left-color: #e9573f;
	}
	&--textcolor1 {

		h1,h2,h3,h4,h5,h6 {
			color: #da4453;
		}
	}
	&--textcolor2 {
		h1,h2,h3,h4,h5,h6 {
			color: #38afda;
		}
	}
}
@include breakpoint(768px) {
	.c-title1 {

		h1,h2,h3,h4,h5,h6 {
			font-size: 1.4rem;
		}
	}
}
.c-title2{
	border-bottom: 1px solid #333;
	padding-bottom: 12px;
	margin-bottom: 20px;

	h1,h2,h3,h4,h5,h6 {
		font-size: 1.8rem;
		font-weight: bold;
	}

	&--color1{
		border-bottom-color: #8cc152;

		h1,h2,h3,h4,h5,h6 {
			color: #8cc152;
		}
	}
}
@include breakpoint(768px) {
	.c-title2 {
		h1,h2,h3,h4,h5,h6 {
			font-size: 1.4rem;
		}
	}
}
.c-title3{
	h1,h2,h3,h4,h5,h6{
		font-size: 1.4rem;
		font-weight: bold;
	}
}
.c-title4 {
	line-height: 1;
	border-bottom: 1px solid #ccc;

	&__inner {
		width: 1050px;
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;

		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 100px;

		@include breakpoint(768px) {
			padding: 0 10px;
			height: 70px;
			width: auto;
		}

		h2 {
			font-size: 2.2rem;

			@include breakpoint(768px) {
				font-size: 1.6rem;
			}
		}
		p {
			font-size: 1.4rem;
			margin-top: 8px;

			@include breakpoint(768px){
				font-size: 1rem;
			}
		}
	}

}


