//--------------------C-navi---------
.c-navi1 {
	ul {
		display: -webkit-box;
		display: -ms-flex-box;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		@include breakpoint(768px){
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		}

		li {
			width: 180px;
			@include breakpoint(768px) {
				width: 49%;
				margin-left: 2%;
				margin-bottom: 10px;
			}

			a {
				text-decoration: none;
				background: #4fc1e9;
				color: #fff;
				line-height: 1;

				display: -webkit-box;
				display: -ms-flex-box;
				display: flex;

				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;

				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				height: 38px;
				border-radius: 5px;
				font-size: 1.2rem;
			}
			a::before {
				content:'';
				width: 5px;
				height: 5px;
				border-right: 2px solid #fff;
				border-bottom: 2px solid #fff;
				margin-right: 7px;
				-webkit-transform: rotate(45deg);
				   -moz-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				     -o-transform: rotate(45deg);
				        transform: rotate(45deg);
				margin-top: -4px;
			}
		}
		li:last-child {
			@include breakpoint(768px) {
				margin-left: 0;
			}
		}
		li:nth-child(2n+1) {
			@include breakpoint(768px){
				margin-left: 0;
			}
		}
	}
}


.c-gnavi {
	border-bottom: 1px solid #ccc;

	ul {
		width: 1050px;
		margin: 0 auto;
		display: flex;
		display: -ms-flexbox;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		border-left: 1px solid #ccc;

		li {
			width: 25%;
			border-right: 1px solid #ccc;

			a {
				display: flex;
				display: -ms-flexbox;
				text-decoration: none;
				height: 40px;
				font-size: 1.4rem;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				background: #eee;
				justify-content: center;
				color: #333;
			}
		}
	}
}
@include breakpoint(768px) {
	.c-gnavi {
		width: auto;
	}
}

