//----------------C-imgtext--------------------
.c-imgtext1 {
	border: 1px solid #ccc;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flex-box;
	display: flex;

	&__img {
		width: 150px;
		margin-right: 10px;
	}
	&__text {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;

		p {
			font-size: 1.2rem;
		}

		h3 {
			font-size: 2rem;
			font-weight: normal;
		}

	}
	&--bg1 {
		background: #f5f7fa;
	}
	&--round {
		border-radius: 10px;
	}
	&--imgright {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
}