//-----------c-list1------------------------
.c-list1 {
	display: -webkit-box;
	display: -ms-flex-box;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;

	&__card {
		width: 185px;
		margin-bottom: 20px;
		margin-left: 20px;
		@include breakpoint(768px) {
			width: 49%;
			margin-left: 2%;
		}
	}
	&__card:nth-child(4n+1) {
		margin-left: 0px;
		@include breakpoint(768px) {
			margin-left: 0;
		}
	}
	&__card:nth-child(2n+1) {
		@include breakpoint(768px) {
			margin-left: 0;
		}
	}
	&__info {
		margin-top: 10px;
		display: -webkit-box;
		display: -ms-flex-box;
		display: flex;
	}
	&__img1 img {
		@include breakpoint(768px){
			width: 100%;
			height: auto;
		}
	}
	&__img2 {
		width: 50px;
		margin-right: 10px;
	}
	&__text {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;

		h1,h2,h3,h4,h5,h6 {
			font-size: 1.4rem;
		}
		p {
			font-size: 1.2rem;
		}
	}
	&--col3 {
		.c-list1__card {
			width: 253px;
			@include breakpoint(768px){
				width: 49%;
				margin-left: 2%;
			}
		}
		.c-list1__card:nth-child(4n+1) {
			margin-left: 20px;
			@include breakpoint(768px) {
				margin-left: 2%;
			}
		}
		.c-list1__card:nth-child(3n+1) {
				margin-left: 0px;
			@include breakpoint(768px) {
				margin-left: 2%;
			}
		}
		.c-list1__card:nth-child(2n+1) {
			@include breakpoint(768px) {
				margin-left: 0;
			}
		}

	}
}
.c-list2 {
	ul {
		margin-left: 1.7rem;

		li {
			list-style-type: disc;
			font-size: 1.4rem;
		}
	}
}
.c-list3 {
	ol {
		margin-left: 1.7rem;

		li {
			list-style-type: decimal;
			font-size: 1.4rem;
		}
	}
}
.c-list4 {
	ul {
		border-top: 1px solid #ccc;
		li {
			border-bottom: 1px solid #ccc;

			a {
				text-decoration: none;
				display: block;
				padding: 12px 10px;
				font-size: 1.3rem;
			}
		}
	}
}
.c-list5 {
	ul {
		li {
			margin-top: 15px;
		}
		li:first-child {
			margin-top: 0;
		}
	}
}
