//---------------C-table---------------
.c-table1 {

		th, td {
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 10px 0;
		}
		table {
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			width: 100%;
		    border-collapse: collapse;
		}
		thead {
			th {
				background: #8cc152;
				color: #fff;
				font-size: 1.4rem;
			}
		}
			th {
				font-weight: normal;
				font-size: 1.4rem;
				background: #e6e9e4
			}
			td {
				text-align: center;
				font-size: 1.4rem;
			}

	.u-gray {
		background: #434a54;
		color: #fff;
	}
	&--spBlock {

		th, td {
			@include breakpoint(768px) {
				display: block;
			}
		}
	}
}
