//--------------c-line------------
.c-line1 {
	position: relative;

	hr {
		height: 0;
		border: 0;
		border-top: 1px solid #ccc;
		text-align: center;
	}
	hr::after {
		content: '§';
		display: inline-block;
		position: absolute;
		padding: 0 10px;
		background: #fff;
		color: #bbb;
		font-size: 1.4rem;
		left: 50%;
		top: 50%;
		line-height: 1;
		margin-top: -0.7rem;
		margin-left: -0.7rem;
	}
}

