//-------------C-Message-----------
.c-message1 {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 30px 10px;

	p {
		font-size: 1.4rem;
		text-align: center;
	}
	&--color1 {
		border-color: #37bc9b;
		background: #48cfad;

		p {
			color: #fff;
		}
	}
}
