/*-------------Section 1-----------------*/
.section1{
  min-height: 540px;
  background: url('../img/pc/bg-section1.jpg') no-repeat center;
  background-size: cover;
  @include breakpoint{
    min-height: 333px;
    background: url('../img/sp/sect-1-spbg.jpg') no-repeat center;
    background-size: cover;
    transform: translateY(-35px);
    z-index: 1;
    margin-bottom: -35px;
  }
}
.sec1-cont {
  padding-top: 55px;
  @include breakpoint{
    padding: 49px 0px 0 18px;
  }
  &__top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 33px;
    padding-left: 32px;
    @include breakpoint{
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 15px;
    }
  }
  .c-text1{
    margin-left: 15px;
    margin-top: 20px;
    @include breakpoint{
      margin-left: 0 0 0 10px;
    }
  }
  &__bot{
    display: flex;
    padding-left: 42px;
    padding-top: 11px;
      @include breakpoint{
        display: block;
        padding: 0 0 0 18px;
      }
    h3{
      margin-right: 35px;
      @include breakpoint{
        margin: 0;
        padding-bottom: 14px;
      }
    }
    img{
      @include breakpoint{
        margin: 0;
      }
    }
  }
}
.ex-section1{
  @include breakpoint {
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
        -ms-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0) !important;
    margin-bottom: 0 !important;
        min-height: 315px;
  }
  .sec1-cont {
    @include breakpoint{
      padding: 20px 0 0 18.5px;
    }
  }
}
/*-------------Section 2-----------------*/
.section2{
  background: $bg-2;
  .c-btn2-mail{
    a {
      background: #f0ede6;
      padding: 30px 0 20px 70px;
      @include breakpoint{
        padding: 0;
        justify-content: center;
      }
    }
  }
  .sec2-cont{
    padding: 0 30px 45px;
    @include breakpoint{
      padding: 15px 18.5px 10px;
    }
  }
  .sec2-main{
    background: $white;
    display: grid;
    grid-template-columns: auto 796px;
    @include breakpoint{
      display: block;
    }
    &__right{
      padding: 80px 0 0 0;
      @include breakpoint{
        padding: 35px 0 20px;
      }
      .c-title2{
        padding-left: 71px;
        h3{
          -webkit-transform: translateX(-29px);
             -moz-transform: translateX(-29px);
              -ms-transform: translateX(-29px);
               -o-transform: translateX(-29px);
                  transform: translateX(-29px);
          letter-spacing: 3px;
          @include breakpoint{
            letter-spacing: 0;
            -webkit-transform: translate(0);
               -moz-transform: translate(0);
                -ms-transform: translate(0);
                 -o-transform: translate(0);
                    transform: translate(0);
          }
        }
        p{
          text-align: left;
          letter-spacing: 2.5px;
          line-height: 30px;
          @include breakpoint{
            font-size: 1.1rem;
            letter-spacing: 0;
            line-height: 20px;
          }
        }
        @include breakpoint{
          padding: 0 18.5px 30px;
        }
      }
      &--bot{
        background: $bg-2;
        padding: 36px 50px 26px 30px;
        display: flex;
        align-items: center;
        @include breakpoint{
          display: block;
          padding: 0 18.5px 20px;
        }
        h3{
          @include breakpoint{
           -webkit-transform: translateY(-20px);
              -moz-transform: translateY(-20px);
               -ms-transform: translateY(-20px);
                -o-transform: translateY(-20px);
                   transform: translateY(-20px);
                   display: flex;
                   align-items: center;
                   justify-content: flex-start;
          }
          img{
            margin: 0;
          }
          span{
            font-size: 1.5rem;
            font-weight: bold;
            margin-left: 30px;
          }
        }

        &-txt{
          order: 2;
           p{
            line-height: 30px;
            padding-left: 22px;
            @include breakpoint{
              font-size: 1.15rem;
              line-height: 18px;
              padding: 0;
            }
          }
        }
      }
    }
  }
  .sec2__point1{
    background: $white;
    padding: 50px 0 40px;
    @include breakpoint{
      padding: 0;
    }
    .c-title2--txt{
      padding: 70px 0 0;
      @include breakpoint{
        padding: 40px 0 0 ;
      }
      p{
        @include breakpoint{
           text-align: justify;
        }
      }
    }
    .c-slider{
      padding-top: 60px;
      @include breakpoint{
        padding-top: 30px;
      }
    }
  }
  .sec2__point2 {
    padding: 0;
    background: $bg-3;
    padding-top: 60px;
    padding-bottom: 113px;
    @include breakpoint{
      padding: 60px 0 40px;
      margin: 0;
    }
    &--inner{
      margin: 126px 0 0 0;
      padding: 0 68px;
      display: flex;
      position: relative;
      justify-content: space-between;
      @include breakpoint{
        margin: 35px 0 0 0;
        padding: 0 18.5px;
        display: block;
      }
      &--img{
        order: 2;
        align-self: flex-start;
      }
      .c-title3{
        flex: 0.7;
        padding-top: 20px;
        @include breakpoint{
          padding-top: 25px;
        }
      }
      &::before{
        content: "";
        width: 3px;
        height: 100%;
        background: $black;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
             -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                @include breakpoint{
                  content: none;
                }
      }
    }
  }
  .sec2__point3{
    background: url('../img/pc/point3.jpg') no-repeat center;
    background-size: cover;
    min-height: 468px;
    padding-top: 50px;
    position: relative;
    @include breakpoint{
      background: url('../img/sp/point3-sp.jpg') no-repeat center;
      background-size: cover;
      padding-top: 20px;
      min-height: 230px;
    }
  }
  .sec2__point3--end{
    background: $white;
    padding-bottom: 50px;
    @include breakpoint{
      padding-bottom: 20px;
    }
    &-txt{
      padding: 60px 0 75px 75px;
      @include breakpoint{
        padding: 30px 18.5px 5px;
      }
      p{
        font-size: 1.4rem;
        line-height: 30px;
        @include breakpoint{
          font-size: 1.1rem;
          line-height: 18px;
        }
      }
    }
    &-img{
      display: grid;
      grid-template-columns: 240px auto auto 240px;
      padding: 0 30px;
      @include breakpoint{
        padding: 10px 18.5px;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
    }
  }

}
/*-------------Section 3-----------------*/
.section3{
  background: $bg-1;
  padding: 70px 0 42px;
  text-align: center;
  @include breakpoint{
    padding: 25px 18.5px 0;
  }
}
.sec3-inner{
    .c-text1{
      margin-bottom: 35px;
      @include breakpoint{
        margin-bottom: 8px;
      }
    }
    .c-btn3{
      margin-bottom: 40px;
      @include breakpoint{
        margin-bottom: 15px;
      }
    }
    &--banner{
      width: 850px;
      min-height: 265px;
      padding-top: 50px;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      margin: 0 auto;
      background: url('../img/pc/sec3-img1.jpg') no-repeat center;
      background-size: cover;
      position: relative;
      font-size: 1.4rem;
      @include breakpoint{
        width: 100%;
        background: url('../img/sp/camp-sp.jpg') no-repeat center;
        background-size: cover;
        min-height: 135px;
        font-size: 0.7rem;
        padding-top: 20px;
      }
      a{
        position: absolute;
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
                text-decoration: none;
                color: $black;
                font-weight: bold;
                letter-spacing: 3px;
                display: flex;
                align-items: center;
                @include breakpoint{
                  width: 100%;
                  justify-content: center;
                  bottom: 5px;

                }
                &::after{
                  content: '';
                  width: 16px;
                  height: 16px;
                  background: url('../img/pc/sec3-icon.png') no-repeat center;
                  background-size: 16px 16px;
                  @include breakpoint{
                    width: 8px;
                    height: 8px;
                    background-size: 8px 8px;
                  }
              }
        }
    }
}
.sec3-camp{
  width: 850px;
  margin: 0 auto;
  padding-top: 39px;
  @include breakpoint{
    width: 100%;
    padding: 25px 0 20px;
  }
  .slider-container{
    padding-top: 25px;
    @include breakpoint{
      padding-top: 30px;
    }

  }
  &__slider{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    @include breakpoint{
      display: block;
    }
  }
  .u-right{
    font-size: 1.2rem;
    padding-top: 20px;
    @include breakpoint{
      text-align: left;
      font-size: 0.9rem;
      line-height: 14px;
      padding-top: 5px;
    }
  }
}
.sec3-camp2{
    padding-top: 31px;
    margin-top: -30px;
    padding-bottom: 25px;
    @include breakpoint{
      padding: 12px 11px 10px;
      margin: 0;
    }
}
.sec3-camp3{
    padding-top: 0;
    @include breakpoint{
      padding: 12px 30px 28px;
      margin: 0;
    }
}
/*-------------Section 4-----------------*/
.section4{
    padding: 75px 0 40px;
    text-align: center;
    position: relative;
    @include breakpoint{
      padding: 50px 18.5px 45px;
      margin-top: -15px;
    }

    &::before{
      content:'';
      width: 50px;
      height: 25px;
      background: url('../img/pc/sec4-icon.png') no-repeat center;
      background-size: 50px 25px;
      position: absolute;
      display: block;
      top: -1px;
      left: 50%;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%);
    }
}
.sec4-content{
  width: 850px;
  margin: 60px auto 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include breakpoint{
    width: 100%;
    margin: 30px auto 0;
    display: block;
  }
  &__img{
    flex: 0.5;
    @include breakpoint{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
    h3{
      font-size: 1.2rem;
      padding-left: 25px;
      text-align: left;
      span{
        display: block;
      }
    }
  }
  &__txt{
    flex: 0.5;
    padding-left: 30px;
    text-align: left;
    padding-top: 27px;
    @include breakpoint{
      padding: 0;
    }
    h3{
      font-size: 2.5rem;
      line-height: 38px;
      padding-bottom: 30px;
    }
    p{
      font-size: 1.4rem;
      line-height: 25px;
      @include breakpoint{
        padding: 0;
        font-size: 1rem;
        line-height: 18px;
      }
    }
    span{
      @include breakpoint{
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
  &--2{
    flex-direction: row-reverse;
    @include breakpoint{
      margin: 22px 0 0 0;
    }
    .sec4-content__img {
        margin-top: 20px;
      h3{
        padding-left: 0;
        padding-right: 30px;
      }
    }
    .sec4-content__txt{
      padding-left: 0;
    }
  }
}
/*-------------Section 5-----------------*/
.section5{
  background: $bg-2;
   .c-btn2-mail{
    a {
      background: $bg-2;
    }
  }
}
.sec5-cont {
    padding: 0 30px 45px;
    @include breakpoint{
      padding: 15px 18.5px 10px;
    }
}
.sec5-main{
  background: $white;
  padding: 70px 0;
  @include breakpoint{
    padding: 20px 18.5px 15px;
  }
  &__content{
    width: 850px;
    margin: 0 auto;
    text-align: left;
    padding-top: 60px;
    @include breakpoint{
      width: 100%;
      padding-top: 30px;
    }
    p{
      font-size: 1.4rem;
      line-height: 30px;
      @include breakpoint{
        font-size: 1rem;
        line-height: 16px;
      }
    }
  }
}
/*-------------Section 6-----------------*/
.section6{
  background: $bg-4-ex;
  padding: 60px 0;
  text-align: center;
  @include breakpoint{
    padding: 30px 18.5px;
  }
  .c-text1{
    @include breakpoint{
      padding: 0 35px;
    }
  }
}
.sec6-content{
  padding: 60px 0 45px;
  width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 65px;
  @include breakpoint{
    width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    justify-items: center;
    padding: 36px 0 45px;
  }
  &__img{
    width: auto;

    p{
      padding-top: 30px;
      text-align: left;
      line-height: 24px;
       @include breakpoint{
        font-size: 1rem;
        line-height: 16px;
        padding-top: 10px;
      }
    }
    &:nth-child(3){
      @include breakpoint {
        padding-top: 30px;
        -webkit-transform: translateX(55%);
           -moz-transform: translateX(55%);
            -ms-transform: translateX(55%);
             -o-transform: translateX(55%);
                transform: translateX(55%);
      }
    }
  }

}
.sec6-content-2{
  padding-top: 30px;
  @include breakpoint{
    padding-top: 25px;
  }
  h3{
    font-size: 3rem;
    line-height: 48px;
    @include breakpoint{
      font-size: 1.5rem;
      line-height: 24px;
    }
  }
  p{
    line-height: 24px;
    @include breakpoint{
      font-size: 1rem;
      line-height: 16px;
    }
  }
  img{
    margin-top: 20px;
  }
}
/*-------------Section 7-----------------*/
.section7{
  padding: 60px 0 0;
  @include breakpoint{
    padding: 30px 18.5px 8px;
  }
  .c-title2{
    padding-bottom: 70px;
    @include breakpoint{
      padding-bottom: 5px;
    }
  }
}
.sec7-content {
  width: 850px;
  min-height: 520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0 20px;
  border-bottom: 1px solid $border;

  @include breakpoint{
    width: 100%;
    height: auto;
    display: block;
    border: none;
  }
  &--img{
    @include breakpoint{
      margin-bottom: 20px;
    }
  }
  &--txt{
    padding-left: 50px;
    @include breakpoint{
      padding-left: 0;
    }
    h3{
      font-size: 1.6rem;
      line-height: 60px;
      display: flex;
      align-items: center;
      @include breakpoint{
        font-size: 1.1rem;
        line-height: 16px;
        display: block;
        padding-bottom: 10px;
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 20px;
      @include breakpoint{
        font-size: 0.9rem;
        line-height: 15px;
      }
    }
    &--item{
      h3::before{
        content:'';
        width: 42px;
        height: 24px;
        background: url('../img/pc/sec7-img7.png') no-repeat center;
        background-size: 42px 24px;
        margin-right: 10px;
      }
    }
  }
}
.sec7-sp{
  .prev,
  .next{
    top: 20%;
    @include breakpoint{
      top: 15%;
    }
  }
  .prev{
    left: 0;
  }
  .next{
    right: 0;
  }
}


/*-------------Section Quality-----------------*/
.section-quality{
  @extend .section6;
  padding: 0 0 50px;
  background: none;
  .quality-head{
    background: $bg-5;
    padding: 166px 0 100px;
    text-align: center;
    @include breakpoint{
      padding: 79px 18.5px 55px;

    }
    h3{
      padding-bottom: 45px;
      @include breakpoint{
        padding: 0;
      }
    }
    p{
      font-size: 1.4rem;
      line-height: 28px;
      color: $white;
    }
  }
  .quality-head-sp{
    padding: 30px 18.5px 70px;
    text-align: justify;
    p{
      font-size: 1.1rem;
      line-height: 17px;

    }
  }
  .c-title4{
    padding-top: 81px;
    @include breakpoint{
      padding-top: 0;
    }
  }
  .quality-content{
    width: 616px;
    padding: 72px 0 35px;
    @include breakpoint{
      width: 100%;
      padding: 40px 18.5px 28px;
      grid-gap: 0;
    }
    .sec6-content__img{
      p {
        font-size: 1.2rem;
        line-height: 20px;
        @include breakpoint{
          line-height: 15px;
        }
      }
    }
  }
  @include breakpoint{
    padding: 0;
  }
}
/*-------------Section Contact-----------------*/
.contact{
  padding: 110px 0 45px;
}
