@import '_variable.scss';
@import '_mixin.scss';

//Animation Section Access:
.wrapper {
	max-width: 1200px;
	margin:0 auto;
}
.fade-acc {
	opacity: 0;
	transform: translate(0, 50px);
	transition: all 0.8s;
}

.fadein-acc {
	opacity: 1;
	transform: translate(0, 0);
}
