// Border color
@mixin border($border-color) {
	border: 1px solid $border-color;
}
// Border radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
		border-radius: $radius;
}

// Float clearFix
@mixin clearFix() {
	content: '';
	clear: both;
}

// Align elemnent center via Webkit

@mixin alignCenter(){
	text-align: center;
		text-align: -webkit-center;
}

