@import '_variable.scss';
@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
}
html {
	font-size: 0.625em;
}

/*Font family*/
body {
	 font-family: $base-font-family;
	 font-size: $base-font-size;
	 height: 100vh;
}

/*Reset element*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a:hover, a:link, a:visited, a:active, a:focus {
	text-decoration: none;
	outline: none;
}
a:hover img {
	opacity: 0.7;
}

input, textarea {
	margin: 0;
	padding: 0;
}