
/*Responsive with breakpoint 736px for sm*/
@media screen and (max-width: 736px) {
	.wrapper {
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		padding-bottom: 50px;
	}
	/*Responsive Header*/
	header {
		width: 100%;
		z-index: 1;
		padding-top: 2px;

		.logo {
			position: relative;
			left: 0;
			text-align: center;
			display: none;

			img {
				margin: 0 auto;
			}
		}
		.logo-sm {
			display: block;

			img {
				width: 90px;
				margin-top: 5px;
			}
		}
		.menu-icon {
			display: block;
			margin-right: 11px;
		}
		.menu-social {
			display: none;
		}
		/*Responsive TopNav*/
		.nav-fixed {
			width: 100%;
			box-sizing: border-box;
			background: transparent;
			display: none;
			padding: 0;

			ul {
				width: auto;
				text-align: left;
				padding: 0;

				li {
					width: 100%;
					float: none;
					border-top: 1px solid $black-color;
					padding: 10px 0;
					margin: 0;
					height: auto;
					line-height: normal;

					a{
						width: auto;

						img {
							width: auto;
							margin: 0 0 0 25px;
						}
					}
				}
				li:nth-child(5),
				li:nth-child(6) {
					padding: 10px 0;
				}
				li.sub-social {
					display: block;
					height: auto;
					line-height: normal;
					padding-left: 25px;


						ul {
							margin-left: 0;

							li {
								border: none;
								padding: 0 4px;
								margin: 0;
								display: inline;
								float: left;
								width: auto;

								img {
									margin: 0;
									padding: 0;
									width: 20px;
								}
							}
						}
					}

				li.dropdown {
					border-top: 1px solid $black-color;
					max-width: 100%;
					margin: 0;
					padding: 10px 0;
					height: auto;
					line-height: normal;

					ul.dropdown-content {
						width: auto;
						margin-left: 0;
						margin-top: 5px;
						position: relative;

						li {
							margin: 0;
							border: none;
							padding: 5px 0 5px 45px;
						}
					}
					ul.dropdown-content::before{
						content: 'X';
						font-size: 1.1rem;
						font-weight: 900;
						position: absolute;
						top: -22px;
    					left: 12px;
						cursor: pointer;
						display: none;
					}
				}
				li.dropdown:hover ul.dropdown-content {
					border-top: 1px solid #000;
				}
				li.dropdown:hover ul.dropdown-content::before {
					display: block;
				}
			}

			li:last-child {
				border-bottom: 1px solid $black-color;
			}
			li:nth-child(5) {
				padding: 0;
			}
		}
	}

	/*Responsive Section-Slider*/
	.section-slider {
		width: 100%;
		padding-top: 0;
		height: auto;

		.slider {
			margin-top: 0;

			img {
				width: 100%;
				min-height: 180px;
				margin-top: 80px;
			}

			a {
				font-size: 1.5em;
				padding: 0 15px;
				margin-top: -20px;
			}
		}
		a {
			font-size: 2em;
		}
	}
	.slider-container
		.dot-btn {
		padding-top: 15px;

		.dot {
		    width: 6px;
		    height: 6px;
		    margin: 0 0.4px;
		}
	}

	/*Responsive Section-News*/
	.section-news {
		width: 100%;
		margin: 0;
        padding: 0 25px;
      
		img.img-heading {
			margin-top: 20px;
			margin-bottom: 0;
			width: 50px;
		}
		img.img-more {
			width: 72px;
		    margin-top: 12px;
		    margin-left: -1px;
		}

		.news-content {
			display: block;
			text-align: center;
			padding: 15px 0 0 0;
			margin: 0 auto;

			.news-img{
				width: 100%;
				display: block;
				margin: 0 auto;
				float: none;
				height: auto;

				img {
					float: none;
					margin: 0;
					width: 100%;
				}
				img.news-img-2 {
					margin-top: 19px;
				}
			}
			.content {
				margin: 0;
				padding: 0;
				text-align: left;
				width: 100%;
				float: none;

				p {
				    color: #000000;
				    line-height: 15px;
				    font-size: 1.1rem;
				    padding: 5px 0 1px 0;
				    margin-top: 4.5px;
				    margin-left: 3px;
				}
			}
			.content-2 {
				margin-top: 6px;

				p {
					letter-spacing: 0;
				    margin: 0;
				    padding: 3px 0;
				    font-size: 1.07rem;
				}
			}
		}
	}
	.block {
		width: 100%;
		margin: 0 auto;
	}

	/*Responsive showcase*/
	.section-showcase {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding-top: 84px;

		.showcase-content a {
			display: none;
		}
		.showcase-content img.showcase-pc {
			display: none;
		}
		.showcase-content img.showcase-sm {
			display: block;
			margin-bottom: 0;
		}
	}

	/*Responsive Section Message*/
	.section-message {
		width: 100%;
		margin: 30px auto 40px;

		a {
			padding: 0;

			img.img-msg {
				width: 175px;
				margin: 7px 0 0 0;
			}
		}
		.message-content {
			width: 94%;
			height: auto;
			padding: 0;
			background-color: $black-color;
			margin: 0 auto 32px;

			img.bg-pc {
				display: none
			}
			img.bg-sm {
				display: block;
				margin-top: 6px;
			}
			img.img-author {
				display: block;
				 margin-top: 3px;
			}
			img.img-author-2 {
				margin-top: -2px;
			}

			.msg-text {
				width: 100%;
				height: auto;
				box-sizing: border-box;
				color: $white-color;
				position: relative;
				top: 0;
				left: 0;
				text-align: justify;
				padding: 0 15px;

				p {
					margin-top: -92px;
				    font-size: 1.16rem;
				    line-height: 16px;
				    letter-spacing: 1px;
				}
				p.bot {
				    line-height: 16px;
				    font-size: 1.2rem;
				}
			}
		}
		p.text-break {
			display: none;
		}
	}
	/*Responsive Section Gallery*/
	.section-gallery {
		width: 100%;
		margin: 0 auto;
		padding: 0;

		a{
			margin:0;

			img.img-glr {
				margin: 35px auto 0px;
				width: 50%;
			}
		}
		.gallery-content {
			margin: 0;
			padding: 30px 0 0 0;
			height: auto;
			width: 100%;

			.content {
				width: 100%;
				height: auto;
				padding: 17px 25px 0;
				float: none;
				text-align: justify;

				p {

					font-size: 1.2rem;
    				line-height: 19px;
					font-weight: 600;
					letter-spacing: 0px;
				}

				img {
					margin: 0 0 20px 0;
					width: 100%;
					height: auto;
				}
			}

			.sm-gallery {
				display: block;
				padding: 0 25px;
			}
			.pc-gallery {
				display: none;
			}
		}
	}

	/*Responsive Section Access*/
	.section-access {
		width: 100%;
		padding-top: 30px;
		margin: 0 0 19px 0;
			a {
				margin: 0;

				img.img-acc {
					margin: 50px auto 6px;
					width: 50%;
			}
		}
		.access-content {
			width: 100%;
			margin: 0 auto;
			height: auto;

			.content {
				width: 100%;
				padding: 0 25px;
				float: none;
				overflow: hidden;
				margin: 0;

				img {
					width: 100%;
				}
				img.img-content {
					margin: 0 0 19px 0;
				}
				a {
					display: block;
					position: relative;
					max-width: 50%;
					margin: 12px 0 20px;

					img.sm-gg {
						display: block;
					}
				}

				p {
				    font-size: 1.1rem;
				    line-height: 19px;
				    padding: 0;
				    margin: 0;
				    letter-spacing: 1.8px;
				}
			}
			a.map {
				display: none;
			}
		}
	}

	/*Responsive-Footer*/
	#footer {
		width: 100%;
		margin: 0 auto;
		padding: 0 0 20px 0;

		p {
			padding: 7px 0 5px 0;
		    font-size: 1rem;
		    line-height: 1rem;
		}
		p.copyright {
			font-size: 0.7rem;
    		padding-top: 15px;
		}
		.footer-menu-social {
			margin-top: 20px;

				ul {
				width: 100%;

				li {
					  padding: 0 1px;

					a {
						width: 20px;

						img {
							width: 20px;
						}
					}
				}
			}
		}
	}
}
