//Variable base font

	$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	$base-font-size: 1rem;
	
// Variable colorgroup

	$text-color: #414042;
	$white-color: #ffffff;
	$black-color: #000000;
	$dark-color: #050504;
	$red-color: #EE2F2A;
	$hover-color: #c1a646;



		