/*------------------------------------------------------------
	                    PAGE INDEX
------------------------------------------------------------*/
$cont:conceptArea;
$menu:menuArea;
//Section Concept
.conceptArea{
	background: url(../img/bg-concept.jpg) no-repeat center;
	background-size: cover;
	padding-top: 145px;
	min-height: 1267px; //Remove after complete section
	&Inner{
		text-align: center;
	}
	&Menu{
		margin-top: 65px;
		@include grid(3);
		grid-column-gap: 40px;
		&-items{
			position: relative;
			a{
				cursor: pointer;
			}
			p{
				width: 100%;
				font-size: 2rem;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	&Contact{
		margin-top: 35px;
		background: url('../img/bg-concept-2.png') no-repeat;
		background-size: cover;
		min-height: 300px;
		padding: 45px 23px 45px 45px;
		&_head{
			@include box;
			@include a-box(start);
			@include j-box(between);
			h3{
				@extend .#{$cont}Contact_head;
				@include a-box(center);
			}
		}
		&_txt{
			margin-top: -40px;
			text-align: left;
			line-height: 22px;
			color: #6c6969
		}
		&_menu{
			text-align: center;
			background: #e9e9e9;
			color: #140809;
			position: relative;
			padding: 25px 0 20px;
			margin-top: 25px;
			h3{
				font-size: 1.8rem;
				line-height: 2rem;
				font-weight: 300;
				coolor: #4b4647;
				position: absolute;
				top: -10px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
			}
			p{
				font-size: 1.3rem;
				line-height: 1.2rem;
				margin-top: 10px;
			}
			ul{
				width: 100%;
				@include box;@include j-box(between);
				padding: 0 20px;
				li{
					@include br(20px);
					@include box;
					@include a-box(center);
					@include j-box(center);
					min-width: 100px;
					height: 20px;
					padding: 0 15px;
					background: #ffffff;
					margin-right: 25px;
					position: relative;
					&:last-child{
						margin-right: 0;
						&::after{
							content: none;
						}
					}
					&::after{
						content:'';
						background: url('../img/concept2-icon.png') no-repeat;
						background-size: 11px 17px;
						width: 11px;
						height: 17px;
						position: absolute;
						right: -20px;
					}
					a{
						text-decoration: none;
						color: #140809;
						line-height: 1;
						font-size: 1.2rem;
					}
				}
				& > *{
					cursor: pointer;
				}
			}
		}
	}
}
//Section Menu
.menuArea{
	background: url('../img/bg-menu.jpg') no-repeat center;
	background-size: cover;
	text-align: center;
	padding: 150px 0 120px;
	// min-height: 2165px;//Remove after complete section

	&Inner{
		width: 1193px;
		margin: 0 auto;
		@include border(border);
		border-width: 2px;
		padding-top: 85px;
		&_content{
			padding-top: 103px;
		}
		&_head{
			@include box;
			@include j-box(between);
			@include a-box(start);
			&-txt{
				text-align: right;
				color: #49917f;
			}
		}
		&_txt{
			margin: 45px 0 135px;
			@include grid(2);
			grid-template-columns: 250px auto;
			grid-column-gap: 30px;
			&--list{
				table{
					width: 100%;
					padding: 0 22px 0 8px;
					@include border(top-bot);
					border-color: #bedbcf;
				}
				tr, td{
					@include border(bottom);
					border-color: #bedbcf;
				}
				td{
					height: 50px;
					text-align: center;
					&:nth-child(1){
						text-align: left;
						padding: 0 0 0 10px;
						width: 200px;
					}
					&:nth-child(2){
						width: 83px;
					}
					&:nth-child(3){
						width: 135px;
					}
					&:nth-child(4){
						width: 60px;
					}
				}
			}
		}
		&_txt2{
			margin-top: 45px;
			@include grid(3);
			grid-column-gap: 75px;
			&-items{
				h3{
					font-size: 1.5rem;
					line-height: 2.2rem;
					color: #474338;
					font-weight: 400;
					text-align: left;
					span{
						display: block;
					}
				}
				table{
					margin-top: 30px;
					width: 100%;
					border-collapse: collapse;
					font-size: 1.3rem;
					color: #140809;
					@include border(bottom);
					border-color: #a0c4ba;
					thead {
						th{
							font-weight: 400;
							width: 80px;
							&:first-child{
								width: 30px;
								background: none;
							}
							&.border{
								border-left: 2px solid #fff;
							}
							p{
								margin-bottom: 2px;
    							background: #bedbcf;
    							height: 18px;
							}
						}
					}
					tbody{
						th, td{
							height: 50px;
							@include border(top);
							border-color: #a0c4ba;
						}
						th{
							width: 35px;
							p{
								width: 30px;
								height: 25px;
								background: #fff;
								@include box;
								@include j-box(center);
								@include a-box(center);
								color: #474338;
								font-weight: 400;
							}
						}
						td{
							span {
								img{
								-webkit-transform: translateX(2px);
								   -moz-transform: translateX(2px);
								    -ms-transform: translateX(2px);
								     -o-transform: translateX(2px);
								        transform: translateX(2px);
								}
							}
						}
						td.border{
							@include border(left);
							border-color: #a0c4ba;
							span{
								img{
									-webkit-transform: translate(0);
									   -moz-transform: translate(0);
									    -ms-transform: translate(0);
									     -o-transform: translate(0);
									        transform: translate(0);
								}
							}
						}
					}
				}
			}
		}
	}
	.c-title-contact{
		margin: 105px 0 108px;
	}
	&Contact{
		width: 960px;
		margin: 0 auto 80px;
	}
}
//Section Access
.accessArea{
	min-height: 600px;
	@include grid(2);
	grid-template-columns: 50% 50%;
	&Inner{
		background: url('../img/bg-access.jpg') no-repeat center;
		background-size: cover;
		height: 100%;
		padding: 100px 0 80px 60px;
		&_list{
			padding-top: 50px;
			color: #5c4e42;
			max-width: 375px;
			h3{
				font-size: 1.8rem;
				line-height: 1.8rem;
			}
			dl {
				dt,dd{
					font-size: 1.6rem;
					line-height: 24px;
				}
				dt{
					margin-top: 25px;
				}
			}
		}
	}
}
//Section Contact
.contactArea{
	background: url('../img/bg-contact.jpg') no-repeat center;
	background-size: cover;
	height: 475px;
	@include box;
	@include j-box(center);
	@include a-box(center);
	text-align: center;
	.c-title1{
		margin-top: -70px;
		p{
			font-size: 3rem;
			padding-bottom: 45px;
		}
		a{
			cursor: pointer;
		}
	}
}