@import '0_base/mixin';
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
.globalFooter{
  background: #eff3f7;
  color: #3386c2;
  margin-top: 120px;
  padding-bottom: 120px;
  &_contact{
    padding-top: 60px;
    padding-bottom: 120px;
    background: #5ea6e8;
  }
  &_main{
    width: 1000px;
    margin: 0 auto;
  }
  &_bot{
    @include border(top);
    border-color: #d4d4d4;
    height: 55px;
    dl{
      color: #000;
    }
    dt{
      float: left;
      margin-right: 15px;
    }
    dd{
      @include cf;
      display: inline-block;
      margin-right: 30px;
    }
    p{
      color: #000;
    }
  }
}
