// @import '0_base/mixin';
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
.globalHeader {
	position: relative;
	.mainVisual{
		min-height: 750px;
		position: relative;
		transition: -khtml-opacity 1.5s ease-out, opacity 1.5s ease-out;
			-webkit-transition: -khtml-opacity 1.5s ease-out, opacity 1.5s ease-out;
			-khtml-opacity: 0;
			 opacity: 0;
			 .visual{
			 	position: absolute;
			 	top: 0;
			 	left: 0;
			 	width: 100%;
			 	height: 100%;
			 }
	}
	.ready{
		opacity: 1;
	}
	&_top{
		position: absolute;
		top: 80px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		z-index: 1;
		font-size: 1.4rem;
		color: #fff;
		text-align: center;
		h1{
			margin-top: 90px;
		}
	}
	&_main{
		background: #5ea6e8;
		// -webkit-transform: translateY(-2px);
		//    -moz-transform: translateY(-2px);
		//     -ms-transform: translateY(-2px);
		//      -o-transform: translateY(-2px);
		//         transform: translateY(-2px);
	}
}
