@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  min-width: 950px;
}

#wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

.top-bar {
  height: 4px;
  background-color: #0f5c9b;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  height: 175px;
}

.header-sp {
  display: none;
}

.header-pc {
  padding: 0 5px;
  display: block;
  margin: 0;
}

.header-pc a {
  float: left;
}

.header-util {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 35px;
}

.header-util:after {
  display: block;
  clear: both;
  content: "";
}

.header-util ul {
  padding: 0;
}

.header-util ul li {
  width: auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  margin-left: 28px;
  margin-right: -5px;
}

.header-util ul li img {
  margin-top: 3px;
}

.header-util ul li a {
  cursor: pointer;
  text-decoration: none;
}

.header-util ul li a p {
  font-size: 1rem;
  color: #878787;
  line-height: 23px;
  margin-right: -5px;
}

.header-util ul li a.contact {
  height: 44px;
  font-size: 14px;
  width: 260px;
  line-height: 44px;
  font-weight: bold;
  color: #fd7e00;
  background-color: #ffed4d;
  padding: 12px 20px 13px 17px;
}

.header-util ul li a.contact::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url("../img/pc/mail.png");
  background-size: 20px 14px;
  margin-right: 2px;
  margin-bottom: -1.5px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  display: block;
  padding-top: 19px;
}

#gNavi ul.nav-bar {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 5px;
}

#gNavi ul.nav-bar:after {
  display: block;
  clear: both;
  content: "";
}

#gNavi ul.nav-bar li {
  float: left;
  height: 40px;
  overflow: visible;
  border-left: 2px solid #dddddd;
}

#gNavi ul.nav-bar li a {
  cursor: pointer;
  position: relative;
  z-index: 0;
}

#gNavi ul.nav-bar li a:hover img {
  border-bottom: 4px solid #dddddd;
}

#gNavi ul.nav-bar li:last-child {
  padding-right: 2px;
  border-right: 2px solid #dddddd;
}

.nav-bar-sp {
  display: none;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  background-color: #cccccc;
  position: relative;
}

#footer .main-footer {
  width: 100%;
  background-color: #ccc;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 35px;
}

#footer .main-footer .btn {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#footer .main-footer ul {
  margin: 0 auto;
  height: 20px;
}

#footer .main-footer ul li {
  display: inline-block;
  border-right: 1px solid #888888;
}

#footer .main-footer ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #5e5e5e;
}

#footer .main-footer ul li:first-child {
  border-left: 1px solid #888888;
}

#footer .main-footer ul:first-child {
  padding-left: 185px;
}

#footer .main-footer ul:first-child li {
  padding: 0 19.5px 0 19px;
}

#footer .main-footer ul:last-child {
  margin-top: 5px;
  padding-left: 158px;
}

#footer .main-footer ul:last-child li {
  padding: 0 19.7px 0 19px;
}

#footer .copy {
  background-color: #fff;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

#footer .copy p {
  font-size: 1.4rem;
  line-height: 14px;
  margin-left: -11px;
  letter-spacing: 1px;
}

/*------------------------------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
---------- Responsive ----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 736px) {
  body {
    min-width: 100%;
  }
  .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 640px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .top-bar {
    width: 100%;
  }
  #header {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
  #header .header-pc {
    display: none;
  }
  #header .header-sp {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  #header .header-sp:after {
    display: block;
    clear: both;
    content: "";
  }
  #header .header-sp .menu-icon {
    width: 20px;
    height: 16px;
    background-color: #0f5c9b;
    border-radius: 5px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 12px 10px;
    cursor: pointer;
  }
  #header .header-sp .menu-icon .icon {
    width: 20px;
    height: 3.5px;
    background-color: #ffffff;
    margin-bottom: 3px;
  }
  #header .header-sp a {
    float: left;
    margin-top: -5px;
  }
  #header .header-util {
    display: none;
  }
  #gNavi {
    display: none;
  }
  nav.nav-bar-sp {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #0f5c9b;
    height: auto;
    margin: 0;
    padding: 30px 25px 245px;
    overflow: visible;
    text-align: left;
    z-index: 999;
    position: absolute;
    display: none;
  }
  nav.nav-bar-sp ul {
    width: 100%;
  }
  nav.nav-bar-sp ul li {
    list-style-type: none;
    border-top: 1px dotted #fff;
    padding: 15px 0 15px 15px;
    position: relative;
  }
  nav.nav-bar-sp ul li a {
    font-size: 1.5rem;
    color: #fff;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
  }
  nav.nav-bar-sp ul li::before {
    content: '';
    background-image: url("../img/sp/arrow.png");
    background-size: 10px 15px;
    display: inline-block;
    width: 10px;
    height: 15px;
    position: absolute;
    top: 17px;
    left: 0;
  }
  nav.nav-bar-sp ul li:last-child {
    border-bottom: 1px dotted #fff;
  }
  nav.nav-bar-sp ul li:last-child::before {
    top: 21px;
  }
  #footer {
    width: 100%;
    background-color: #ccc;
    text-align: center;
  }
  #footer .main-footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0 20px;
    min-height: 60px;
    text-align: center;
  }
  #footer .main-footer ul {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
  }
  #footer .main-footer ul li {
    border: none;
    line-height: 10px;
  }
  #footer .main-footer ul li a {
    font-size: 1rem;
    padding: 0 12px;
    line-height: 0;
  }
  #footer .main-footer ul:first-child {
    margin-top: 5.1px;
    padding-left: 20px;
  }
  #footer .main-footer ul:first-child li {
    margin: 0;
    padding: 0;
    border-left: 1px solid #888;
  }
  #footer .main-footer ul:first-child li:last-child {
    margin-left: -11px;
    margin-top: 8px;
    border-right: 1px solid #888888;
  }
  #footer .main-footer ul:last-child {
    margin: 0;
    padding: 0;
  }
  #footer .main-footer ul:last-child li {
    margin: 0 0 0 -11px;
    padding: 0;
    border-right: 1px solid #888888;
  }
  #footer .main-footer ul:last-child li a {
    padding: 0 3px 0 16px;
  }
  #footer .btn {
    display: none;
  }
  #footer .copy {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0 15px;
  }
  #footer .copy p {
    font-size: 1rem;
    line-height: 15px;
    margin: 0;
    letter-spacing: 0;
  }
  #footer .copy span {
    font-size: 0.6rem;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
