/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--Section Slide--*/
.section-slide {
  height: 420px;
  background: url(../img/pc/bg-pc-1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: 4px;
}

.section-slide img.slide-pc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -20px;
  margin-left: 5px;
  display: block;
}

.section-slide img.slide-sp {
  display: none;
}

/*--Section News--*/
.section-news {
  background-color: #fff;
  height: 310px;
  padding: 80px 0 0 0;
  margin-bottom: -72px;
}

.section-news .news-content {
  text-align: left;
  padding: 21px 0;
  border: 1px solid #ddd;
  overflow: hidden;
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
}

.section-news .news-content .main-img {
  display: inline-block;
}

.section-news .news-content .main-img img {
  border-right: 1px solid #ddd;
  display: block;
  margin-left: -1px;
  margin-top: 4px;
}

.section-news .news-content .main-img img.img-pc {
  display: block;
}

.section-news .news-content .main-img img.img-sp {
  display: none;
}

.section-news .news-content .main-link {
  display: inline-block;
}

.section-news .news-content .main-link ul {
  width: auto;
  padding-left: 38px;
}

.section-news .news-content .main-link ul li {
  padding: 6px 0 0 0;
}

.section-news .news-content .main-link ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 32px;
  color: #000;
}

.section-news .news-content .main-link ul li a span {
  color: #0e5b9a;
  margin-right: 5px;
}

.section-news .news-content .main-link ul li a p {
  display: inline;
  text-decoration: underline;
}

.section-news .news-content .main-link ul li:last-child {
  transform: translate(0, -9px);
  -webkit-transform: translate(0, -9px);
  -moz-transform: translate(0, -9px);
  -o-transform: translate(0, -9px);
}

/*--Section Constr--*/
.section-constr {
  background-color: #eeeeee;
  height: 510px;
  padding-top: 60px;
}

.section-constr .constr-heading {
  margin-bottom: 60px;
}

.section-constr .constr-heading img {
  margin-left: 9px;
  margin-bottom: 36px;
}

.section-constr .constr-heading img.img-sp {
  display: none;
}

.section-constr .constr-heading p {
  color: #555555;
  font-size: 15.1px;
  line-height: 22.4px;
}

.section-constr .constr-img {
  margin: 0 auto;
}

.section-constr .constr-img ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 3px 36px 0 40px;
}

.section-constr .constr-img ul:after {
  display: block;
  clear: both;
  content: "";
}

.section-constr .constr-img ul li {
  float: left;
  display: block;
  margin-right: 107px;
}

.section-constr .constr-img ul li img {
  margin: 0;
}

.section-constr .constr-img ul li img.img-sp {
  display: none;
}

.section-constr .constr-img ul li:last-child {
  margin: 0;
}

/*--Section Main--*/
.section-main .main-content {
  margin: 50px auto 0;
  height: auto;
}

.section-main .main-content:after {
  display: block;
  clear: both;
  content: "";
}

.section-main .main-img-pc {
  float: left;
  margin-left: -51px;
  margin-top: -1px;
}

.section-main .main-img-pc:after {
  display: block;
  clear: both;
  content: "";
}

.section-main .box {
  float: right;
  margin-top: 30px;
  margin-right: 35px;
  text-align: left;
  position: relative;
}

.section-main .box img.box-heading {
  margin-bottom: 35px;
}

.section-main .box img.box-heading-sp {
  display: none;
}

.section-main .box img.box-bottom {
  margin-top: 28px;
  margin-left: 2px;
}

.section-main .box img.box-bottom:hover {
  opacity: 0.6;
}

.section-main .box img.box-bottom-sp {
  display: none;
}

.section-main p {
  font-size: 1.6rem;
  line-height: 22.4px;
}

.section-main .main-content-sp {
  display: none;
}

/*--Section Contact--*/
.section-contact {
  background: url(../img/pc/bg-pc-3.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-bottom: 55px;
}

.section-contact .contact {
  padding-top: 60px;
}

.section-contact .contact img {
  margin-bottom: 26px;
  margin-left: 19px;
}

.section-contact .contact img.contact-sp {
  display: none;
}

.section-contact .contact p {
  color: #ffffff;
  font-size: 1.58rem;
  line-height: 23px;
  padding-left: 10px;
}

.section-contact .contact p.note {
  color: #ffff4c;
}

.section-contact .contact-form {
  padding: 40px 0 0;
  margin: 0 auto;
  text-align: center;
}

.section-contact .contact-form ul {
  padding-left: 204px;
  margin-top: -4px;
}

.section-contact .contact-form ul:after {
  display: block;
  clear: both;
  content: "";
}

.section-contact .contact-form li {
  float: left;
  margin-right: 58px;
}

.section-contact .contact-form li:after {
  display: block;
  clear: both;
  content: "";
}

.section-contact .contact-form li img {
  margin-bottom: 4px;
}

.section-contact .contact-form li img.sp-phone {
  display: none;
}

.section-contact .contact-form li:last-child {
  margin: 16px 0 0 3px;
}

.section-contact .contact-form a {
  text-decoration: none;
}

.section-contact .contact-form p {
  font-size: 1.2rem;
  color: #ffffff;
  padding-left: 5px;
  letter-spacing: 1px;
}

.section-contact .contact-form a.mail {
  font-size: 16px;
  font-weight: bold;
  color: #fd7e00;
  background-color: #ffed4d;
  padding: 17px 19px 12px 16px;
  text-decoration: none;
}

.section-contact .contact-form a.mail:hover {
  opacity: 0.6;
}

.section-contact .contact-form a.mail::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 16px;
  background: url("../img/pc/mail-2.png");
  background-size: 21px 16px;
  margin-right: 7px;
  margin-left: 4px;
}

.section-contact .contact-form a.contact-sp {
  display: none;
}

/*--Cont-serv in Service Page--*/
.ex-cont {
  margin-top: 52px;
}

/*Section Top*/
.section-top {
  height: 160px;
  background: url("../img/pc/bg-pc-5.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  margin-top: 4px;
}

.section-top p {
  font-size: 2.8rem;
  line-height: 34px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 500;
  display: block;
  letter-spacing: 1px;
  padding-left: 11px;
}

.section-top img {
  display: none;
}

/*Breadcrumb*/
.bread-crumb {
  width: 950px;
  margin: 0 auto;
  text-align: left;
  height: 37px;
}

.bread-crumb a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  line-height: 37px;
  letter-spacing: 0.1px;
  padding-left: 5px;
}

.bread-crumb a span {
  text-decoration: underline;
  color: #0c5999;
}

/*Section About*/
.section-about {
  height: 512px;
  border-top: 1px solid #ddd;
}

.section-about .about-content {
  padding: 60px 5px 0;
}

.section-about .about-content p {
  font-size: 1.6rem;
  line-height: 25px;
  color: #525252;
  padding-left: 13px;
  margin-top: 2px;
}

.section-about .about-content p.about-heading {
  font-weight: 500;
  color: #000;
  font-size: 2.6rem;
  line-height: 31px;
  padding-left: 5px;
}

.section-about .about-content ul {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 7px;
  margin-left: 10px;
}

.section-about .about-content ul li {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #0e5b9a;
  margin: 0 0.6px;
}

.section-about .about-main {
  margin: 0 auto;
  overflow: hidden;
  margin-right: -6px;
  margin-left: 5px;
}

.section-about .about-main table, .section-about .about-main tr, .section-about .about-main th, .section-about .about-main td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.section-about .about-main table {
  margin-top: 39px;
  display: block;
}

.section-about .about-main th {
  background-color: #0e5b9a;
  color: #ffffff;
  height: 48px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 26px;
}

.section-about .about-main th:first-child {
  width: 258px;
}

.section-about .about-main th:nth-child(2) {
  width: 218px;
}

.section-about .about-main td {
  font-size: 1.6rem;
  line-height: 26px;
  text-align: left;
  padding-left: 15px;
  font-weight: 500;
  padding-bottom: 67px;
}

.section-about .about-main td:last-child {
  padding-top: 19px;
}

.section-about .about-main ul {
  display: none;
}

/*Section Service*/
.section-service {
  height: auto;
  background-color: #eee;
  padding-bottom: 61px;
}

.section-service:after {
  display: block;
  clear: both;
  content: "";
}

.section-service .service-heading {
  margin: 0 auto;
  padding: 64px 0 0;
}

.section-service .service-heading p {
  font-size: 2.6rem;
  line-height: 31px;
  color: #000;
  font-weight: 500;
  padding-left: 11px;
}

.section-service .service-heading ul {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 10px;
  margin-left: 11px;
}

.section-service .service-heading ul li {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #0e5b9a;
  margin: 0 0.5px;
}

.section-service .service {
  text-align: left;
}

.section-service .service ul.service-list {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-service .service ul.service-list li.item {
  width: 100%;
  background-color: #fff;
  height: 210px;
  margin-bottom: 30px;
}

.section-service .service ul.service-list li.item:first-child {
  height: 250px;
}

.section-service .service-content {
  margin-left: 25px;
  float: left;
}

.section-service .service-content img.head-no {
  margin: 27px 0 25px 5px;
  display: block;
}

.section-service .service-content img.head-no-sp {
  display: none;
}

.section-service .service-content p {
  font-size: 1.6rem;
  line-height: 26px;
  color: #000;
  font-weight: 600;
  padding-left: 7px;
}

.section-service .service-content span {
  color: #0e5b9a;
}

.section-service .service-content ul {
  width: auto;
  max-height: 50px;
  margin-top: 25px;
}

.section-service .service-content ul li {
  float: left;
  display: inline-block;
  text-align: center;
}

.section-service .service-content ul li a {
  text-decoration: none;
}

.section-service .service-content ul li a img {
  margin-top: 5px;
}

.section-service .service-content ul li a img.item-ph {
  display: block;
}

.section-service .service-content ul li a.contact-sp {
  display: none;
}

.section-service .service-content ul li a.mail {
  text-decoration: none;
  background-color: #ffed4d;
  font-size: 16px;
  color: #fd7e00;
  font-weight: bold;
  padding: 18px 18px 11px 13px;
  margin-left: 9px;
}

.section-service .service-content ul li a.mail::before {
  content: '';
  background: url("../img/pc/mail.png") no-repeat;
  background-size: 21px 16px;
  margin-left: 6px;
  margin-right: 8px;
  width: 21px;
  height: 16px;
  display: inline-block;
}

.section-service .service-content ul li p {
  font-size: 1rem;
  line-height: 12px;
  color: #0e5b9a;
  padding-left: 5px;
}

.section-service .service-content ul li:first-child {
  border: 1px solid #0f5c9b;
  width: 284px;
  height: 48px;
  overflow: hidden;
  margin-left: 5px;
  margin-top: 2px;
}

.section-service .service-content ul li:first-child p {
  padding-top: 2.1px;
  font-size: 1.16rem;
  padding-left: 10px;
}

.section-service .service-content ul li:last-child {
  margin-left: 5px;
  margin-top: 19px;
}

.section-service .service-img {
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  margin: 26px 20px 0 0;
}

.section-service .service-img:after {
  display: block;
  clear: both;
  content: "";
}

.section-service .service-img img {
  width: 100%;
}

.section-service .service-img img.sev-img-pc {
  display: block;
}

.section-service .service-img img.sev-img-sp {
  display: none;
}

/*Section Lightbox*/
.section-lightbox {
  padding: 64px 0 76px;
}

.section-lightbox .box-content {
  margin: 0;
}

.section-lightbox .box-content img {
  border: 1px solid #0f5c9b;
  margin-bottom: 50px;
  margin-left: 10px;
}

.section-lightbox .box-content img.light-box-sp {
  display: none;
}

.section-lightbox .box-content p {
  font-size: 1.6rem;
  line-height: 25px;
  color: #525252;
  margin-top: -3px;
  padding-left: 23px;
}

.section-lightbox .box-content span {
  font-size: 2.2rem;
  color: #0f5c9b;
}

.rotate-bar-1 {
  transform: rotate(-45deg) translate(-3px, 4px);
  -webkit-transform: rotate(-45deg) translate(-3px, 4px);
  -moz-transform: rotate(-45deg) translate(-3px, 4px);
  -o-transform: rotate(-45deg) translate(-3px, 4px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rotate-bar-2 {
  transform: rotate(45deg) translate(-1px, -2px);
  -webkit-transform: rotate(45deg) translate(-1px, -2px);
  -moz-transform: rotate(45deg) translate(-1px, -2px);
  -o-transform: rotate(45deg) translate(-1px, -2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*------------------------------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
---------- Responsive ----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
----------           -----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 736px) {
  /*Section Slide*/
  .section-slide {
    display: block;
    height: auto;
    width: 100%;
    background: url("../img/sp/bg-sp-1.jpg") no-repeat;
    z-index: 0;
    background-size: cover;
    background-position: center;
    margin-top: 6px;
  }
  .section-slide img.slide-pc {
    display: none;
  }
  .section-slide img.slide-sp {
    display: block;
    width: 100%;
  }
  /*Section News*/
  .section-news {
    height: auto;
    margin: 0 15px 30px;
    padding: 26px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-news .news-content {
    text-align: center;
    padding: 10px 13px 18px;
    transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
    -moz-transform: translateX(-1px);
    -o-transform: translateX(-1px);
    margin-left: 3px;
  }
  .section-news .news-content .main-img {
    text-align: center;
  }
  .section-news .news-content .main-img img {
    border: none;
    margin: 0;
    padding: 0;
  }
  .section-news .news-content .main-img img.img-pc {
    display: none;
  }
  .section-news .news-content .main-img img.img-sp {
    display: block;
  }
  .section-news .news-content .main-btn {
    margin-top: 11px;
  }
  .section-news .news-content .main-link {
    width: 100%;
    text-align: left;
    padding-left: 7px;
  }
  .section-news .news-content .main-link ul {
    padding: 0;
    margin: 7px 0;
  }
  .section-news .news-content .main-link ul li {
    width: auto;
    border-top: 1px dotted #cccccc;
    padding: 6px 0;
    line-height: 22px;
  }
  .section-news .news-content .main-link ul li a {
    font-size: 1.4rem;
    line-height: 22px;
    color: #000;
  }
  .section-news .news-content .main-link ul li a span {
    color: #0d5a99;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;
  }
  .section-news .news-content .main-link ul li a p {
    display: block;
    text-decoration: underline;
  }
  .section-news .news-content .main-link ul li:last-child {
    border-bottom: 1px dotted #cccccc;
    -webkit-transform: none;
    transform: none;
  }
  /*Section Constr*/
  .section-constr {
    width: 100%;
    height: auto;
    padding: 26px 0 29px;
  }
  .section-constr .constr-heading {
    margin: 0 15px;
  }
  .section-constr .constr-heading img {
    display: none;
  }
  .section-constr .constr-heading img.img-sp {
    display: block;
    margin: 0 auto 13px;
  }
  .section-constr .constr-heading p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .section-constr .constr-img {
    margin-top: 21px;
    max-width: 100%;
  }
  .section-constr .constr-img ul {
    margin: 0 15px;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .section-constr .constr-img ul li {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .section-constr .constr-img ul li img {
    display: none;
    margin: 2px 0 0 0;
  }
  .section-constr .constr-img ul li img.img-sp {
    display: block;
  }
  .section-constr .constr-img ul li:nth-child(2) {
    margin: 0 10px;
    padding: 0;
  }
  /*Section Main*/
  .section-main {
    width: 100%;
    height: auto;
    padding: 30px 0 0;
    background: #ffffff;
  }
  .section-main .main-img-pc {
    display: none;
  }
  .section-main .main-content {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .section-main .main-content .box {
    float: none;
    text-align: center;
    margin: 0 16.5px;
    display: grid;
    justify-items: center;
  }
  .section-main .main-content .box img.main-img {
    display: none;
  }
  .section-main .main-content .box img.box-heading {
    display: none;
  }
  .section-main .main-content .box img.box-heading-sp {
    display: block;
    margin-bottom: 17px;
  }
  .section-main .main-content .box img.box-bottom {
    display: none;
  }
  .section-main .main-content .box img.box-bottom-sp {
    display: block;
    margin: 0 auto;
  }
  .section-main .main-content .box img.box-bottom-sp:hover {
    opacity: 0.6;
  }
  .section-main .main-content .box p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .section-main .main-content .box-sp {
    text-align: center;
    width: auto;
    margin: 20px 6px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-main .main-content-sp {
    display: block;
    position: relative;
  }
  /*Section Contact*/
  .section-contact {
    width: 100%;
    height: auto;
    background: url("../img/sp/bg-sp-8.jpg") no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 49px;
    margin-top: 1px;
  }
  .section-contact .contact {
    padding: 0 15px;
  }
  .section-contact .contact img {
    display: none;
  }
  .section-contact .contact img.contact-sp {
    display: block;
    margin: 0 auto 16px;
  }
  .section-contact .contact p {
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0;
    letter-spacing: -0.5px;
    padding-left: 14.5px;
    padding-right: 10.5px;
  }
  .section-contact .contact p.note {
    padding: 0 9px 0 10.5px;
  }
  .section-contact .contact-form {
    padding: 0 15px;
    margin: 0;
    text-align: center;
  }
  .section-contact .contact-form ul {
    padding: 15px 20px 0;
    margin: 0;
    overflow: hidden;
  }
  .section-contact .contact-form ul li {
    float: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0 9px;
    margin: 0;
  }
  .section-contact .contact-form ul li p {
    font-size: 1rem;
    line-height: 12px;
    padding: 0 17px 0 17px;
    letter-spacing: 0.6px;
  }
  .section-contact .contact-form ul li a {
    display: none;
  }
  .section-contact .contact-form ul li a.contact-sp {
    display: block;
  }
  .section-contact .contact-form ul li a.contact-sp img {
    margin: 0;
  }
  .section-contact .contact-form ul li:last-child {
    margin: 0;
  }
  .section-contact img.btn-scroll {
    display: none;
  }
  /*Section Top*/
  .section-top {
    width: 100%;
    height: auto;
    position: static;
    background: none;
    z-index: 0;
    margin-top: 6px;
  }
  .section-top p {
    display: none;
  }
  .section-top img {
    display: block;
  }
  /*Bread-Crumb*/
  .bread-crumb {
    display: none;
  }
  /*Section About*/
  .section-about {
    width: 100%;
    height: auto;
    padding-bottom: 37px;
    border: none;
  }
  .section-about .about-content {
    max-width: 100%;
    padding: 23px 22.5px 0;
  }
  .section-about .about-content p.about-heading {
    font-size: 1.8rem;
    line-height: 29px;
    color: #555555;
  }
  .section-about .about-content p {
    font-size: 1.4rem;
    line-height: 22.5px;
    padding: 0;
    margin: 0;
  }
  .section-about .about-content ul {
    padding-bottom: 13px;
    padding-top: 0;
    margin-left: 2px;
    margin-top: 0;
  }
  .section-about .about-main {
    max-width: 100%;
    margin: 15px 0 0 0;
    padding: 0 15px;
  }
  .section-about .about-main table {
    display: none;
  }
  .section-about .about-main ul {
    display: block;
    border: 1px solid #888888;
    -webkit-transform: translate(0, -0.9px);
            transform: translate(0, -0.9px);
  }
  .section-about .about-main ul li {
    display: block;
    padding: 8px 0;
    margin: -1px;
  }
  .section-about .about-main ul li p {
    font-size: 1.4rem;
    line-height: 22px;
  }
  .section-about .about-main ul li:nth-child(odd) {
    background-color: #0f5c9b;
    margin-top: 0;
  }
  .section-about .about-main ul li:nth-child(odd) p {
    color: #fff;
  }
  .section-about .about-main ul li:nth-child(even) {
    text-align: left;
    padding-left: 16px;
    margin-top: 5px;
  }
  /*Section Service*/
  .section-service {
    width: 100%;
    height: auto;
    padding: 0 0 7px;
  }
  .section-service .service-heading {
    max-width: 100%;
    padding: 25px 0 0;
  }
  .section-service .service-heading p {
    font-size: 1.8rem;
    line-height: 28px;
    padding-left: 0;
  }
  .section-service .service-heading ul {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .section-service .service-heading ul li {
    margin: 0 0.5px;
  }
  .section-service .service {
    max-width: 100%;
    padding: 0;
    background-color: #eee;
    margin-top: -4px;
  }
  .section-service .service ul.service-list {
    width: auto;
    background-color: #eee;
    margin-top: 15px;
  }
  .section-service .service ul.service-list li.item {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 0 15px 15px;
    background-color: #fff;
  }
  .section-service .service ul.service-list li.item:first-child {
    height: auto;
  }
  .section-service .service ul.service-list li:nth-child(4) {
    height: auto;
  }
  .section-service .service ul.service-list li:nth-child(4) .service-img {
    margin: 9px 0 0 0;
  }
  .section-service .service ul.service-list li.item:last-child {
    padding: 15px 15px 17px;
    margin: 0px 15px 16px;
  }
  .section-service .service ul.service-list li.item:last-child .service-img {
    margin: 9px 0 0 0;
  }
  .section-service .service ul.service-list li.item:last-child .service-img img {
    margin-top: 0px;
  }
  .section-service .service-content {
    width: 100%;
    margin: 0 0 7px 0;
    float: none;
  }
  .section-service .service-content:after {
    display: block;
    clear: both;
    content: "";
  }
  .section-service .service-content img.head-no {
    display: none;
  }
  .section-service .service-content img.head-no-sp {
    display: block;
    margin-bottom: 16px;
  }
  .section-service .service-content span {
    font-weight: bold;
  }
  .section-service .service-content p {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 500;
    color: #555555;
    display: inline;
    letter-spacing: 0.1px;
    padding: 15px 0;
  }
  .section-service .service-content ul {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    margin: 15px 0 20px 0;
  }
  .section-service .service-content ul:after {
    display: block;
    clear: both;
    content: "";
  }
  .section-service .service-content ul li {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    padding: 0;
  }
  .section-service .service-content ul li p {
    display: block;
    font-size: 1rem;
    line-height: 12px;
    padding: 0;
    letter-spacing: 0;
  }
  .section-service .service-content ul li p.date {
    display: none;
  }
  .section-service .service-content ul li a {
    display: none;
  }
  .section-service .service-content ul li a img {
    margin: 0;
  }
  .section-service .service-content ul li a img.item-ph {
    display: none;
  }
  .section-service .service-content ul li a img.item-ph-sp {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
  .section-service .service-content ul li a.contact-sp {
    display: block;
  }
  .section-service .service-content ul li a.contact-sp img {
    max-width: 100%;
  }
  .section-service .service-content ul li:first-child {
    width: 100%;
    height: auto;
    margin: -3px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
  }
  .section-service .service-content ul li:last-child {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
  }
  .section-service .service-img {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-service .service-img img.sev-img-pc {
    display: none;
  }
  .section-service .service-img img.sev-img-sp {
    display: block;
  }
  .section-service .service-img img {
    margin: 0 auto;
    width: auto;
  }
  /*Section Lightbox*/
  .section-lightbox {
    width: 100%;
    padding: 25px 0 24px;
  }
  .section-lightbox .box-content {
    padding: 0;
    margin: 0 15px;
    display: grid;
    justify-items: center;
  }
  .section-lightbox .box-content img {
    display: none;
  }
  .section-lightbox .box-content img.light-box-sp {
    display: block;
    border: none;
    margin: 0 0 10px;
  }
  .section-lightbox .box-content p {
    font-size: 1.4rem;
    line-height: 22px;
    padding-left: 0px;
  }
  .section-lightbox .box-content p:last-child {
    padding: 0 60px;
  }
  .section-lightbox .box-content span {
    font-size: 1.9rem;
    line-height: 30px;
  }
}
