/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
$c:c-btn1;
.#{$c}{
  text-align: center;
  margin: 0 15px 15px;
  background: #ffffff;
  padding: 15px 0;
  a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    @include box;
    @include j-box(around);
    @include a-box(center);
    span{
      display: block;
    }

    &::after{
      content:'';
      background: url(../img/sm/icon-3.png) no-repeat center;
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
      display: block;
      margin-right: 15px;
      position: absolute;
      right: 15px;
    }
    p{
      text-align: center;
    }
  }
}
.#{$c}-ex{
  @extend .#{$c};
  margin: 0 0 15px;
  a{
    color: #fff;
    font-weight: normal;
    &::after{
      background: url('../img/sm/icon-3ex.png') no-repeat;
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
    }
  }
  span{
    margin-top: 5px;
  }
}
