/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
.c-title1{
  background: #ffffff;
  margin: 0 15px;
  padding: 25px 15px 15px;
  h3{
    font-size: 1.6rem;
    padding-bottom: 15px;
  }
  p{
    font-size: 1.3rem;
    text-align: justify;
    line-height: 21px;
  }
}
