/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
.g-navi {
  position:absolute;
  top: 0;
  width: 100%;
  background: rgba(79,122,199,0.9);
  display: none;
  z-index: 999;
}
ul.nav-bar{
  padding-bottom: 30px;
  li{
    @include box;
    @include j-box(between);
    @include a-box(center);
    @include border(bottom);
    padding: 0 15px;
    min-height: 50px;
    cursor: pointer;
    &::after{
      content:'';
      background: url(../img/sm/icon-3ex.png) no-repeat center;
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
    }
    a{
      font-size: 1.4rem;
      text-decoration: none;
      color: #ffffff;
    }
  }
}
