/*------------------------------------------------------------
	                    IMAGES & IMAGES TEXT COMPONENT
------------------------------------------------------------*/
.c-imgtext1{
  text-align: center;
}
.c-imgtext2{
  background: #ffffff;
  margin-bottom: 15px;
  p{
    line-height: 15px;
    padding: 15px 0;
  }
}
