/*------------------------------------------------------------
	                    OTHER COMPONENT
------------------------------------------------------------*/
.copy{
  margin: 0 auto -50px;
  text-align: center;
  transform: translateY(-80px);
}
.date{
  padding-bottom: 30px;
  text-align: left;
  dl{
    font-size: 1.4rem;
    dt{
      padding-bottom: 5px;
    }
  }
}
