@charset "UTF-8";
@import '0_base/mixin';
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}
.u-grey{
	color: $grey-bg;
}
.u-bg-orange{
	background: $orange;
	color: $white;
}
.u-bg-green {
	background: $green;
	color: $white;
}
.u-bg-blue{
	background: #68b4ce;
	color: $white;
}
.u-red{
	color: #f00;
}
.u-leftspace::before{
	content: '';
	display: inline-block;
	margin-right: 15px;
	@include breakpoint{
		content: '';
	}
}
.u-textbreak{
	margin-top: 20px;
	@include breakpoint{
		margin: 0;
	}
}
.u-underline {
	text-decoration: underline;
	text-decoration-color: #666666;

}


//------------------------------------------------------------
// color
//------------------------------------------------------------
