@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';
$breakpoint: 768px;
//Text & Border color

$black: #000000;
$white: #ffffff;
$grey: #333333;
$grey-bg: #888888;
$grey-table: #e6e6e6;
$txt-hover: #888888;
$btn-hover: #bbbbbb;
$orange: #e2750c;
$green: #22963c;
$blue: #1d2088;
$border: #cccccc;
$border-table: #d8d8d8;
