//--------------------Index----------------
.c-qa {
  padding-top: 65px;
  @include breakpoint(768px){
    padding-top: 40px;
  }

  &__head {
    padding-bottom: 20px;
    @include breakpoint(768px){
      padding-bottom: 10px;
    }
  }
  &__inner {
    padding-top: 0;

    &--list {
      border-top: 1px solid #e5e5e5;
      padding: 18px 0 15px;
       @include breakpoint(768px){
        padding: 18px 0 15px;
      }
    }
    &--list:last-child {
      border-bottom: 1px solid #e5e5e5;
    }

    &--q {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      position: relative;
      padding-right: 20px;
      @include breakpoint(768px){
        align-items: center;
        padding-right: 0;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: bold;
        letter-spacing: 1px;
        @include breakpoint(768px){
          font-size: 1.51rem;
          line-height: 1.9rem;
          letter-spacing: 0.4px;
          padding-right: 20px;
        }

      }
      img {
        vertical-align: middle;
        margin-top: 5px;
        @include breakpoint(768px){
          margin-top: 0;
          margin-right: 0;
        }
      }
      img.sub {
          display: none;
      }
      .icon-sp{
            flex-basis: 20%;
            text-align: right;

            img.sp-sub{
              display: none;
            }
      }
    }
    &--q.active-btn::after{
      content: '';
      width: 20px;
      height: 3px;
      background: #069d8f;
      position: absolute;
      right: 20px;
      @include breakpoint(768px){
        right: 0;
        bottom: 20px;
        background: #c9c9c9;
      }
    }
    &--a {
      padding-top: 12px;

      p {
        font-size: 1.4rem;
        line-height: 2.3rem;
        letter-spacing: 0.7px;
        @include breakpoint(768px){
          font-size: 1.2rem;
          line-height: 1.9rem;
          letter-spacing: 0;
          letter-spacing: 0.53px;
          text-align: justify;
        }
      }
    }
  }
}
.c-qa:last-child {
  padding-bottom: 67px;
  padding-top: 70px;
  @include breakpoint(768px){
    padding-bottom: 49px;
    padding-top: 13px;
  }
}
