//------------Rule---------
.c-rule__head {
	padding: 63px 0 35px;
	@include breakpoint(768px){
		padding: 24px 0 29px;
		p{
			text-align: justify;
		}
	}
	p {
		font-size: 1.6rem;
		line-height: 25.6px;
		letter-spacing: 1.1px;
		@include breakpoint(768px) {
			font-size: 1.4rem;
			line-height: 19px;
			letter-spacing: 0.1px;
		}
	}
}
.c-rule__inner {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 36px 0 18px;
	@include breakpoint(768px){
		padding: 30px 0;
	}

	h3 {
	    font-size: 1.5rem;
	    line-height: 22px;
	    padding-left: 7px;
		@include breakpoint(768px){
			font-size: 1.2rem;
			line-height: 1.9rem;
		}
	}
	p {
		font-size: 1.49rem;
		@include breakpoint(768px){
			font-size: 1.2rem;
			letter-spacing: 0;
			line-height: 1.9rem;
		}
	}

	&--txt1 {
		padding-bottom: 15px;
		@include breakpoint(768px){
			padding-bottom: 36px;
		}
	}
	&--txt1:last-child {
		padding-bottom: 8px;
	}
}
.c-quote-rule{
	@include breakpoint(768px) {
		padding: 25px 0 28px;
	}
}