//---------Topic Page-------
.c-topic {
	padding-bottom: 62px;
	@include breakpoint(768px){
		padding: 0 0 40px 0;
	}

	&__head {
		padding-top: 65px;
		@include breakpoint(768px){
			padding: 30px 0 28px;
		}

		p{
			padding-bottom: 1px;
			@include breakpoint(768px){
				padding: 0;
				font-size: 1.2rem;
			}
		}
	}
	&__list {
		padding: 47px 0 8px;
		@include breakpoint(768px){
			padding: 0 0 39px;
		}

		&--panel {
			padding-bottom: 12px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
			position: relative;
			max-height: 37px;
			@include breakpoint(768px){
				align-items: flex-start;
				padding-right: 0;
				max-height: initial;
			}
			img {
				margin-right: 20px;
				margin-top: 5px;
				vertical-align: middle;
				@include breakpoint(768px){
					margin-right: 0;
					margin-top: 10px;
				}
			}
		}
		&--acc {
			display: block;
			border-top: 1px solid #e5e5e5;
			padding: 0;

	        dl.c-acc-panel {
	        	    cursor: pointer;
				    overflow: hidden;
				    padding: 18px 0 17px;
	        	@include breakpoint(768px){
					display: grid;
    				grid-template-columns: 30% auto 10%;
				}
	        }
	        dt {
	        	float: left;
	        	font-size: 1.8rem;
				margin-right: 50px;

				@include breakpoint(768px){
					font-size: 1.6rem;
					line-height: 1.9rem;
					margin-right: 10px;
					grid-column: 1 / 2;
					float: none;
				}
	        }
	        dd {
	        	float:left;
	        	font-size: 1.6rem;
				@include breakpoint(768px){
					padding-right: 27px;
					grid-column: 2 / 3;
					letter-spacing: 0;
					padding-right: 0;
					line-height: 1.9rem;
					float: none;
				}
			}
			dd.accordion{
				float: none;
				padding-top: 40px;
				transition: all 0.3s ease-out;
				@include breakpoint(768px){
					grid-column: 1 / span 3;
					padding-top: 20px;
					padding-right: 0;
					font-size: 1.4rem;
					line-height:18px;
				}
			}
			.icon-pc{
				float: right;
				margin-right: 25px;
				img {
					vertical-align: middle;
				}
				@include cf;
			}
			.icon-sp {
				img {
					vertical-align: middle;
				}
				@include breakpoint(768px){
					grid-column: 3;
					align-self: start;
   					margin-top: 0;
   					justify-self: end;
				}
			}
			img.sub{
				display: none;
				@include breakpoint(768px){
					margin-top: 10px;
				}
			}
			img.sp-sub{
				display: none;
			}
				 @include breakpoint(768px){
						padding: 17px 0 8px;
						    -moz-transform: translateY(8px);
					  		  -ms-transform: translateY(8px);
					    		 -o-transform: translateY(8px);
					     		   transform: translateY(8px);

}

			p {
				font-size: 1.6rem;
   				letter-spacing: 1px;
   				text-align: justify;
    			color: #000;
    			@include breakpoint(768px){
    				font-size: 1.35rem;
    			}
			}

			@include breakpoint(768px) {
				text-align: left;
			}
		}
	}
	&__more {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		@include breakpoint(768px){
			margin-top: 3px;
		}

		a {
			text-decoration: none;
			color: #919191;
			span {
				color: #069d8f;
				font-size: 10px;
				-webkit-transform: translateY(-3px);
				   -moz-transform: translateY(-3px);
				    -ms-transform: translateY(-3px);
				     -o-transform: translateY(-3px);
				        transform: translateY(-3px);
			}
		}
	}
}