//------------Top---------
.c-tophead {
	background: #49c8b2;
	height: auto !important;
	@include breakpoint(768px){
		padding-top: 6px;
		padding-bottom: 11px;
	}


	&__inner {
		padding-left: 35px;
		display: flex;
		justify-content: space-between;
		@include breakpoint(768px){
			padding: 0;
			text-align: center;
		}

		h3 {
			font-size: 2rem;
			line-height: 43px;
			color: #fff;
			font-weight: bold;
			@include breakpoint(768px){
				font-size: 1.7rem;
				line-height: 3.5rem;
			}
		}
		h1 {
			font-size: 3.9rem;
			font-weight: bold;
			color: #fff;
			padding-top: 3px;
			@include breakpoint(768px){
				font-size: 2.6rem;
				line-height: 2.6rem;
			}
		}
		ul{
			display: grid;
			grid-template-columns: 125px 125px 125px;
			grid-column-gap: 50px;
			padding-top: 38px;
			@include breakpoint(768px){
				grid-template-columns: auto auto auto;
				grid-column-gap: 30px;
				padding-top: 24px;
			}

			li {
				text-align: center;
				a{
					color: #fff;
					font-size: 1.6rem;
					line-height: 23px;
					text-decoration: none;
					font-weight: bold;
					letter-spacing: 1.5px;

					@include breakpoint(768px) {
						font-size: 1.2rem;
						line-height: 1.7rem;
					}
					img {
						margin-bottom: 17px;
						@include breakpoint(768px){
							margin: 0;
						}
					}
					span {
						display: block;
						@include breakpoint(736px){
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
	&__img{
		-webkit-transform: translateY(-63px);
		   -moz-transform: translateY(-63px);
		    -ms-transform: translateY(-63px);
		     -o-transform: translateY(-63px);
		        transform: translateY(-63px);
		        margin-right: 30px;

		        @include breakpoint(768px){
		        	margin: 0;
		        	-webkit-transform: translateY(0);
		        	   -moz-transform: translateY(0);
		        	    -ms-transform: translateY(0);
		        	     -o-transform: translateY(0);
		        	        transform: translateY(0);
		        }
   		img {
			box-shadow: -14px 10px 30px #888;
			border-radius: 34px;
		}
	}
	&__txt {
		padding-top: 42px;
		@include breakpoint(768px){
			padding: 0;
			width: 100%;
		}
	}
}

.c-about{
	padding: 65px 0;
	height: auto !important;
	@include breakpoint(768px){
		padding: 30px 0;
	}

	&__inner {
		padding-top: 38px;
		@include breakpoint(768px){
			padding-top: 30px;
		}

	}
	&__active {
		padding-top: 40px;
		display: flex;
		justify-content: center;
		@include breakpoint(768px){
			display: block;
			padding-top: 25px;
			position: relative;
			padding-bottom: 56.25%;

			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
			}
		}
	}
}
.c-top-topic {
	padding: 60px 0 61px;
	background: #e5e5e5;
	height: auto !important;
	@include breakpoint(768px){
		padding: 24px 0 0;
	}

	h2{
		-webkit-transform: translate(1px, 6px);
		   -moz-transform: translate(1px, 6px);
		    -ms-transform: translate(1px, 6px);
		     -o-transform: translate(1px, 6px);
		        transform: translate(1px, 6px);
	}

	&__inner {
		padding: 24px 0 31px;

		p {
			padding-bottom: 6px;
			@include breakpoint(768px) {
				padding: 0;
				font-size: 1.5rem;
				line-height: 1.9rem;
				font-weight: 600;
			}
		}

	}
	&__list {
		padding: 0;
		&--cont {
			display: block;
			ul {
				width: 100%;
				li {
					padding: 10px 0 12px;
					border-bottom: 2px solid #fff;
					font-weight: 500;
					@include breakpoint(768px){
						font-weight: bold;
						font-size: 1.2rem;
						letter-spacing: 0;
					}
					span {
						margin-right: 50px;
						@include breakpoint(768px){
							margin-right: 25px;
						}
					}
				}
				li:first-child{
					border-top: 2px solid #fff;
				}
			}
		}
	}
	&__quote{
		padding-top: 20px;
		text-align: right;
		@include breakpoint(768px){
			padding-bottom: 20px;
		}
		a {
			font-size: 1.6rem;
			color: #000;
		}
		a:hover {
			color: #069d8f;
			text-decoration: none;
		}
	}
}
.c-use {
	position: relative;
	padding: 63px 0 30px;
	height: auto !important;

	@include breakpoint(768px){
		padding: 30px 0 16px;
	}

	&__mainslider {
		position: relative;
		padding: 0 80px 100px;
		min-height: 500px;
		border-bottom: 1px solid #e5e5e5;
		margin-top: -15px;
		@include breakpoint(768px) {
			padding: 30px 0 73px;
			min-height: auto;
			text-align: center;

		}

		&--dot {
			position: absolute;
			height: 10px;
			box-sizing: border-box;
			bottom: 62px;
			right: 30%;

			@include breakpoint(768px){
				bottom: 30px;
				left: 50%;
				right: 0;
				-webkit-transform: translateX(-50%);
				   -moz-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				     -o-transform: translateX(-50%);
				        transform: translateX(-50%);
			}


			span.dot,
			span.dot-2,
			span.dot-3 {
				background: #e2e2e2;
				background-size: 10px 10px;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				display: inline-block;
				margin-right: 10px;

				@include breakpoint(768px){
					margin-right: 5px;
				}
			}
			span.dot:last-child,
			span.dot-2:last-child,
			span.dot-3:last-child {
				margin: 0;
			}
		}
		a{
			position: absolute;
			top: 43%;
			cursor: pointer;
			@include breakpoint(768px){
				top: 32%;
			}
		}
		a:hover,
		a:focus {
			outline: none;
			background: none;
		}
		a.prev-btn,
		a.prev-btn-2,
		a.prev-btn-3 {
			left: 0%;
		}
		a.next-btn,
		a.next-btn-2,
		a.next-btn-3 {
			right: 0%;
		}
	}
	&__mainslider:last-child{
		border-bottom: none;
	}

	&__slide,
	&__slide-2,
	&__slide-3 {
		position: absolute;
		padding: 50px 0;
		display: flex;

		@include breakpoint(768px){
  			flex-direction: column;
  			position: relative;
  			padding: 0;
		}

		&--img {
			h2{
				img {
					-webkit-transform: translateX(-33px);
					   -moz-transform: translateX(-33px);
					    -ms-transform: translateX(-33px);
					     -o-transform: translateX(-33px);
					        transform: translateX(-33px);

					        @include breakpoint(768px){
					        	-webkit-transform: translateX(4px);
					        	   -moz-transform: translateX(4px);
					        	    -ms-transform: translateX(4px);
					        	     -o-transform: translateX(4px);
					        	        transform: translateX(4px);
					        	        margin-top: 15px;
					        }
				}
			}

			@include breakpoint(768px){
				display: flex;
				justify-content: center;
				align-items: center;
			}

		}
		&--txt {
			align-self: flex-start;
			margin-top: 83px;
			@include breakpoint(768px){
				align-self: center;
				text-align: center;
				margin-top: 13px;
			}
			h2 {
				padding-bottom: 25px;
				@include breakpoint(768px){
					padding-bottom: 15px;
				}
			}
			p{
				padding-right: 80px;
				@include breakpoint(768px){
					text-align: center;
					letter-spacing: 0;
					padding: 0;
				}
			}
		}
	}
}
.c-genetic {
	padding: 65px 0;
	background: #e5e5e5;
	height: auto !important;
	@include breakpoint(768px){
		padding: 32px 0 40px;
	}

	&__img {
		padding-top: 50px;
		display: flex;
		justify-content: space-between;

		@include breakpoint(768px){
			display: grid;
   			grid-template-rows: auto auto;
   			grid-row-gap: 19px;
   			justify-content: center;
			box-sizing: border-box;
			padding: 0 16px;
			margin-top: 18px;
		}
	}
}