//----------------------Campain------------------------
.c-campain {

	height: 708px;
    background: url(../img/pc/bg.jpg) repeat;
    background-size: cover;
    z-index: 1;
    margin-top: 97px;
    margin-bottom: 120px;

	&__inner {
		background: url(../img/pc/bg-campain.png) no-repeat center top;
	    z-index: 0;
	    height: 1005px;
	    -webkit-transform: translateY(-297px);
	       -moz-transform: translateY(-297px);
	        -ms-transform: translateY(-297px);
	         -o-transform: translateY(-297px);
	            transform: translateY(-297px);
	            position: relative;

	            h2 {
	            	position: absolute;
	            	left: 76px;
   					top: 130px;
	            }
	}
	&__content {
		box-sizing: border-box;
		width: 1440px;
		margin:0 auto;

		ul {
			display: grid;
			grid-template-columns: 480px 480px 480px;
			grid-gap: 10px;
			padding-top: 350px;
			margin-left: -10px;
		    -webkit-transform: translateY(6px);
		       -moz-transform: translateY(6px);
		        -ms-transform: translateY(6px);
		         -o-transform: translateY(6px);
		            transform: translateY(6px);

		            li {
		            	-webkit-transition: 0.8s;
		            	   -moz-transition: 0.8s;
		            	    -ms-transition: 0.8s;
		            	     -o-transition: 0.8s;
		            	        transition: 0.8s;
		            }
		            li:nth-child(1){
		            	animation-delay: 0.4s;
		            }
		             li:nth-child(2){
		            	animation-delay: 0.6s;
		            }
		             li:nth-child(3){
		            	animation-delay: 0.8s;
		            }
		}
		img {
			box-shadow: -2px 1px 11px rgba(255,255,255,0.1);
		}
		a {
			display: inline-block;
		    text-decoration: none;
		    font-size: 1.8rem;
		    line-height: 80px;
		    background: #ff1e5b;
		    min-width: 474px;
		    height: 77px;
		    color: #fff;
		    border-radius: 50px;
		    margin-top: 46px;
		    position: relative;
		    overflow: hidden;
		    letter-spacing: 1px;
		}
		a::before{
			content:'';
			width: 9px;
			height: 15px;
			display: inline-block;
			background: url('../img/pc/arr.png') no-repeat center;
			background-size: cover;
			margin-right: 22px;
		}
		a::after {
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left: 0;
			content:'';
			transform: translateX(400px) skewX(45deg);
			opacity: 1;
		}
		a:hover::after {
			transform: translateX(0) skewX(0deg);
			background-color: #ff5684;
			transition: all 0.2s linear;
			color: #fff;
			opacity: 0.5;
		}
	}
}
//----------------------Fee------------------------
.c-fee {
	background-color: #fff;
	margin-bottom: 140px;
	margin-top: 41px;

	&__inner {
		text-align: center;
		margin-bottom: 40px;
		-webkit-transition: 0.8s;
		   -moz-transition: 0.8s;
		    -ms-transition: 0.8s;
		     -o-transition: 0.8s;
		        transition: 0.8s;

		p {
			font-size: 2rem;
			background-color: #10222b;
			color: #fff;
			line-height: 49px;
		}
		img {
			border-bottom: 1px solid #c8c8c8;
		}
	}
	&__btn {
		text-align: left;
		margin-top: 18px;
		display: flex;
		align-items: center;

		span {
			font-size: 1.5rem;
			background: none;
			color: #3c3c3c;
			padding-left: 15px;
			display: inline;

		}
		span:nth-child(1){
			background: #33c49d;
			color: #fff;
			padding-right: 10px;
		}
		span:nth-child(3){
			background: #0080af;
			color: #fff;
		}
		&--txt {
			box-sizing: border-box;
			overflow: hidden;
		}
	}
}
//----------------------Reversation------------------------

.c-reversation {
		background: url('../img/pc/grad-bg-2.jpg') no-repeat center;
		background-size: cover;
		height: 695px;
   	    padding-top: 70px;
  		margin-top: -10px;

	&__inner {
		background: url('../img/pc/rev-bg.jpg') no-repeat center;
		background-size: cover;
		height: 562px;
		text-align: center;

		h2 {
			font-size: 3.2rem;
			line-height: 27px;
			color: #fff;
			padding-top: 94px;
			font-weight: normal;
			padding-left: 67px;
  			letter-spacing: 1.5px;
  			margin-bottom: 50px;
		}
		h4 {
			padding-top: 30px;
			margin-bottom: 50px;
			padding-left: 68px;
		}
		h5 {

			font-size: 1.8rem;
			line-height: 27px;
			color: #fff;
			font-weight: 300;
			padding-left: 70px;
		}
		p {
			font-size: 1.3rem;
			line-height: 18px;
			color: #fff;
			font-weight: 300;
			letter-spacing: 1px;
		}
	}

}

//----------------------Instructor------------------------
.c-instructor {
	margin-top: -15px;
	margin-bottom: 125px;

	&__inner {
		padding: 45px 225px 0;
	}
}

//----------------------Shop------------------------
.c-shop {
	&__inner {
		padding-top: 40px;

		ul {
			display: flex;

			li {
				flex-basis: 272px;
				margin-right: 20px;
				box-sizing: border-box;
			}
			li:last-child {
				margin: 0;
			}
		}
	}
}

//----------------------SP------------------------
//Camp
.c-campSP {
	padding: 10px 10px 50px;
	background: url('../img/sp/bg.jpg') repeat;

	&__inner {
		width: 100%;
		box-sizing: border-box;
		transition: 0.8s;

		img {
			margin-bottom: 14px;
			box-shadow: -1px 1px 10px #c8c8c8;
		}
	}
}
//Fee
.c-feeSP {
	margin-top: 50px;
	text-align: center;
	-webkit-transition: 0.8s;
	   -moz-transition: 0.8s;
	    -ms-transition: 0.8s;
	     -o-transition: 0.8s;
	        transition: 0.8s;

	&__content {
		text-align: left;

		ul {
			li {
				// padding: 20px 15px;
				border-bottom: 1px solid #c8c8c8;
				display: flex;
				align-items: center;
				padding: 15px;
				cursor: pointer;

				h3 {
					font-size: 1.9rem;
					margin-right: 23px;

				}
				span {
					font-size: 1rem;
					color: #999999;
					flex: 2;
					margin-right: 23px;
				}
				img {
					-webkit-transform: translateX(-7px);
					   -moz-transform: translateX(-7px);
					    -ms-transform: translateX(-7px);
					     -o-transform: translateX(-7px);
					        transform: translateX(-7px);
					        vertical-align: middle;
					        cursor: pointer;
				}
			}

		}

		li:nth-child(1),
		li:nth-child(3)  {
			padding: 20px 15px;
		}
		li:last-child {
			padding: 20px 15px;
		}
	}
	&__btn {
		padding: 17px 25px 15px 15px;
		@include breakpoint(768px) {
			padding: 28px 25px 15px 15px;
		}

		span {
			font-size: 1.2rem;
			line-height: 12px;
			display: block;
		}
	}
}

//Reversation
.c-reverSP {
	background: url('../img/sp/bg-reve-2.jpg') no-repeat;
	background-size: 100%;
	padding-top: 20px;
	margin-top: 35px;
	padding-bottom: 90px;

	&__inner {
		// background: url('../img/sp/bg-rever.jpg') no-repeat center;
		// background-size: cover;
		padding: 44px 20px 0;

		&--top {
			padding: 0;

			p {
				font-size: 1.2rem;
				line-height: 18px;
				color: #fff;
			}
		}

		h3 {
			font-size: 1.6rem;
			line-height: 27px;
			color: #fff;
			letter-spacing: 1px;
			margin-bottom: 21px;
		}
		h1 {
			font-size: 2.8rem;
			line-height: 27px;
			color: #fff;
			font-weight: 200;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 2.8rem;
			line-height: 27px;
			color: #fff;
			font-weight: 200;
			margin-bottom: 13px;

		}
		&--bot {
			padding-top: 10px;

				p {
				font-size: 1rem;
				line-height: 13px;
				color: #fff;
			}
		}
		&--btn {
			padding-top: 20px;
		}
	}
}
//Instrustor
.c-instrSP {
	padding: 43px 20px 0;

	h2 {
		margin-bottom: 25px;
	}
	 &__inner {
	 	padding: 15px;
	 	border: 1px solid #c8c8c8;
	 }
	 &__img{
	 	padding: 0;
	 }
	 &__txt{
	 	padding-top: 10px;

	 	p {
	 		text-align: justify;
	 		font-size: 1.2rem;
	 		line-height: 16px;
	 	}
	 	h6 {
	 		font-size: 1.6rem;
	 		line-height: 20px;
	 		margin-bottom: 9px;
	 	}
	 }
	 &__box {
	 	margin-top: 30px;
	 	background: #f0f0f0;
	 	padding: 15px 20px 15px 25px;

	 	p {
	 		position: relative;
	 	}

	 	p::before {
			content: '';
			width: 4px;
			height: 4px;
			background: #33c49d;
			position: absolute;
			left: -10px;
			top: 7px;
			border-radius: 50%;
	 	}
	 }
}

//Shop

.c-shopSP {
	padding: 50px 20px 0;

	h2 {
		font-size: 2.5rem;
	}

	&__inner {
		padding-top: 25px;
		display: grid;
		grid-template-columns: auto auto;
		grid-row-gap: 10px;
		grid-column-gap: 10px;
		box-sizing: border-box;
		justify-content: center;
	}
}
