/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
.c-btn-contact{
	a{
		text-decoration: none;
		p{
			background: #49917f;
			color: #fff;
			font-size: 1.6rem;
			text-align: center;
			font-weight: 200;
			line-height: 30px;
			margin-bottom: 15px;
		}
	}
}