/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
.c-title1{
	h3{
		line-height: 70px;
	}
	p{
		font-size: 1.8rem;
		line-height: 45px;
		font-weight: 300;
	}
}
.c-title2{
	text-align: left;
	p{
		color: #49917f;
		font-size: 1.3rem;
		line-height: 1.7rem;
	}
}
.c-title-contact{
	p{
		font-size: 1.6rem;
		width: 460px;
		margin: auto;
		color: #614d40;
		line-height: 18px;
		padding: 5px 0;
		@include border(top-bot);
	}
	h3{
		padding-top: 15px;
	}
}
