/*------------------------------------------------------------
	                    TEXT COMPONENT
------------------------------------------------------------*/
.c-text1{
	@include border(top-bot);
	line-height: 2.8rem;
	margin-left: 15px;
	font-weight: 300;
}
.cell-1 {
	background: url('../img/bg-span.png') no-repeat center;
	background-size: cover;
    @include box;
    @include j-box(center);
    padding: 2.5px 0;
}
.cell-2{
	// padding: 5px 18px;
	background: url('../img/bg-span-2.png') no-repeat center;
	background-size: cover;
	@include box;
    @include a-box(center);
    @include j-box(center);
    height: 40px;
	span{
		color: #474338;
		display: block;
		font-size: 1.3rem;
	}
}
.cell-3{
	padding: 5px 0;
	background: url('../img/bg-span-3.png') no-repeat center;
	background-size: cover;
	color: #ffffff;
	span{
		display: block;
		line-height: 15px;
		font-size: 1.2rem;
	}
}