/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
$nav:globalNav;
.#{$nav}{
	&_items{
		@include box;
		@include j-box(center);
		margin-top: 50px;
		li > a{
			display: flex;
			&::after{
				content:'';
				background: url('../img/menu-icon.png');
				background-size: 24px 24px;
				width: 24px;
				height: 24px;
			}
			&:hover{
				opacity: 0.6;
			}
		}
	}
}