//------------------BreadCrumb--------
.c-dev-breadcrumb {
	width: 960px;
    margin: 0 auto;
    padding: 25px 0 30px;
    display: flex;
    justify-content: flex-start;

	ul {
		overflow: hidden;
		display: flex;

		li {
			padding-right: 0;
			a {
				text-decoration: none;
				font-size: 1.2rem;
				color: #333;
			}
		}
		li:after{
			content: '>';
			color: #333333;
			margin: 0;
		}
		li:last-child {
			a {
				text-decoration: underline;
			}
		}
		li:last-child::after{
			content:'';
		}
		li:first-child a{
			color: #006699;
		}
		li:hover a{
			text-decoration: underline;
		}
	}
}