@import '0_base/mixin';
/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
    background: #269eca;
    grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;

  &__inner {
    display: flex;
    position: relative;
    padding: 36px 0;
    width: 960px;
    margin: 0 auto;

  	&--logo {
  		flex-basis: 310px;
  		text-align: left;

  		h1 {
  			padding-bottom: 20px;
  		}
  		p {
  			color: #fff;
  			font-size: 1.2rem;
        font-weight: bold;
  		}
  	}
  	&--btn {
  		flex-basis: 215px;
		a{
			img {
				margin-bottom: 5px;
			}
		}
  	}
  	&--nav {
  		display: flex;
  		flex: 0.6;
      padding-left: 10px;

  		ul {
        margin-right: 30px;

  			li{
  				line-height: 20px;

  				a{
  					text-decoration: none;
  					color: #fff;
  					font-size: 1.3rem;
            font-weight: bold;
  				}
          a:hover {
            text-decoration: underline;
          }
  			}
  			li::before{
  				content: '';
  				display: inline-block;
  				background: url('../img/pc/f-arr.png') no-repeat;
  				background-size: 6px 10px;
  				width: 6px;
  				height: 10px;
  			}
  		}
  		ul:nth-child(2){
  			flex: 1.5;
  		}
  	}

  	.btn-scrl {
  		position: absolute;
      right: 0;
  		bottom: 60px;
      display: none;
      z-index: 999;
  	}
  }

}

.copy {
	background: #fff;
	grid-column: 1 / span 4;
	justify-content: center;

	p {
		font-size: 1.2rem;
		line-height: 50px;
		text-align: center;
	}
}