@import '0_base/mixin';
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header{
    grid-column: 1;
    grid-row: 1 / span 3;
    background: #1085b0;
    z-index: 999;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 220px;
    top: 0;
    left: 0;


  &__top {
    background: #fff;
    z-index: 1;
    padding: 0 20px 0px;

    h1 {
      font-size: 1.1rem;
      line-height: 1.5rem;
      position: relative;
      padding: 20px 0 17px;
    }
    h1::after{
      content:'';
      width: 100%;
      height: 1px;
      background: #1085b0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    h2{
      padding: 20px 0;
    }
  }
  &__contact{
      background: #269eca;
      padding: 10px 20px 20px;
      grid-row: 4;
      position: absolute;
      bottom: 0;
      left: 0;

    h2 {
      padding-bottom: 10px;
    }
    a {
      img {
        margin-bottom: 10px;
      }
    }
  }
}
