@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	line-height: 1.6;
	font-size: 1.4rem;
	min-width: 1300px;
}

#wrapper {
	display: grid;
	grid-template-columns: 220px 370px auto;
	grid-template-rows: auto auto auto;
	height: auto;
	margin: 0 auto;
}

.l-container {

}
.l-main{

}

.pc-only {
	@include breakpoint(768px){
		display: none !important;
	}

}
.sp-only{
	@include min-breakpoint(768px){
		display: none !important;
	}

}
img {
	@include breakpoint(768px){
		max-width: 100%;
		height: auto;
	}
}
