@import '0_base/mixin';
/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  background: #49c8b2;
  text-align: center;
  padding-top: 60px;
  margin: 0 auto;
  height: auto !important;

  @include breakpoint(768px) {
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
  }

  &__head {
    padding-bottom: 33px;
    box-sizing: border-box;
    @include breakpoint(768px){
      width: 100%;
      padding: 0;
      box-sizing: border-box;
    }
    h3 {
      font-size: 2.2rem;
      line-height: 2.8rem;
      padding-bottom: 19px;
      @include breakpoint(768px) {
         font-size: 2.5rem;
         line-height: 2.8rem;
          padding-bottom: 15px;
          padding-top: 20px;
      }
    }
    ul {
      display: flex;
      justify-content: center;

      @include breakpoint(768px){
        box-sizing: border-box;
      }

      li {
        padding: 0 12px;
        @include breakpoint(768px) {
          padding: 0;
        }
      }
      li:first-child {
        @include breakpoint(768px) {
          padding-right: 14px;
        }
      }
    }
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(768px){
      display: block;
      text-align: center;
      justify-content: center;
    }

    &--logo{
      display: block;

      @include breakpoint(768px){
        padding-top: 20px;
       display: grid;
       justify-content: center;
      }
    }
    &--item {

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(768px){
          display: block;
          padding: 25px 0px 0px 15px;
          box-sizing: border-box;
          @include cf;
        }

        li {
          padding-right: 15px;
          @include breakpoint(768px){
           display: inline-flex;
           margin-right: 14px;
           padding: 0;
          }

          a {
            text-decoration: none;
            font-size: 1.4rem;
            line-height: 2.8rem;
            font-weight: bold;
            color: #fff;
            @include breakpoint(768px){
              font-size: 1.3rem;
              line-height: 2rem;
            }
          }
        }
        li:last-child{
          padding: 0;
        }
        li:nth-child(5) {
          padding-right: 10px;
          padding-left: 13px;
        }
        li:nth-child(5),
        li:nth-child(6){
          @include breakpoint(768px){
            display: none;
          }
        }
      }
    }
  }
  &__copy {
    padding-top: 10px;
    padding-bottom: 60px;

    @include breakpoint(768px){
      padding:0 35px 40px;

    }
    p {
      font-size: 1.2rem;
      line-height: 2.2rem;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      @include breakpoint(768px){
       font-size: 1rem;
       line-height: 1.7rem;
       letter-spacing: 1.4px;
       padding-top: 14px;
      }
    }
    p:last-child{
      @include breakpoint(768px){
        padding: 0 50px;
      }
    }
  }
}
