@import '0_base/mixin';
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header{
	background: #fff;
	height: auto !important;
	z-index:0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-height: 72px;
		box-shadow: 11px 5px 22px #bacfd5;
		background: #fff;
		width: 1080px;
		margin: 0 auto;
		position: relative;
	}
	&--toppage {
		background: none;
	}
}
.c-header-bg {
		background: url('../img/pc/top-bg.jpg') no-repeat center;
		background-size: cover;
		height: 578px;
		align-items: flex-start;
		position: relative;

		h1 {
			align-self: center;
		}
		&__logo {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			   -moz-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			     -o-transform: translate(-50%,-50%);
			        transform: translate(-50%,-50%);
			box-sizing: border-box;
		}
}
.c-headerSP {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 9px 12px 10px 10px;
	background: #fff;

	@include breakpoint(768px){
		background: none;
	}

	&__menuSP {
		width: 30px;
		height: 30px;
		padding-top: 5px;
		box-sizing: border-box;

		&--1,
		&--2,
		&--3 {
			width: 100%;
			height: 3px;
			margin-bottom: 6px;
			background: #000;
		}
	}
		&__logo{
			margin-left: 38px;
		}
		&__social {
			ul {
				display: flex;
				li {
					padding-right: 13px;
				}
				li:last-child {
					padding: 0;
				}
			}
		}
		&--bg {
			background: url('../img/sp/headerSP-bg.jpg') no-repeat center;
			background-size: cover;
			min-height: 480px;

			&__logo{
				@include breakpoint(768px){
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					   -moz-transform: translate(-50%,-50%);
					    -ms-transform: translate(-50%,-50%);
					     -o-transform: translate(-50%,-50%);
					        transform: translate(-50%,-50%);
					        box-sizing: border-box;
				}
			}
			@include breakpoint(768px){
				min-height: 484px;
				position: relative;
			}
		}
	}
.c-header-fix {
	position: fixed;
	width: 100%;
	z-index:10;
}
.c-header-transparent {
	background: rgba(0,0,0,0);
	box-shadow: none;
}