@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	line-height: 1.6;
	font-size: 1.4rem;
	min-width: 1080px;
	@include breakpoint(768px) {
		min-width: auto;
	}
}

#wrapper {
	margin: 0 auto;
	box-sizing: border-box;

	@include breakpoint(768px){
		width: 100%;
	}
}

.l-container {
	width: 780px;
	margin: 0 auto;
	@include breakpoint(768px){
		width: 100%;
		max-width: 750px;
		padding: 0 14px 0 14px;
	}
}
.l-main{
	@include breakpoint(768px) {
		width: 100%;
		box-sizing: border-box;
	}
}

.pc-only {
	@include breakpoint(768px){
		display: none !important;
	}

}
.sp-only{
	@include min-breakpoint(768px){
		display: none !important; 
	}
	
}
img {
	@include breakpoint(768px){
		max-width: 100%;
		height: auto;
	}
}
