
//--------------------Company----------------
.p-company1,
.p-company2, {
	margin-bottom: 40px;
}
.p-company1 p {
	margin-bottom: 20px;
}
.p-company2 {
	.c-table1{
		margin-bottom: 30px;
	}
}
.p-company3 {

	&__txt1 p{

		color: #8cc152;
	}

	p {
		margin-bottom: 10px;
	}
	ul {
		li {
			font-size: 1.6rem;
		}
	}
	.c-list2 {
		margin-bottom: 30px;
	}
	.c-line1 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	&__txt2 {
		p {
			color: #DA4453;
			font-size: 1.2rem;
		}
	}
}
.c-company4 {
	display: -webkit-box;
	display: -ms-flex-box;
	display: flex;
	margin-top: 30px;

	&__img {
		width: 180px;
		margin-right: 15px;

		@include breakpoint(768px) {
			width: 100px;
		}
	}
	&__txt {
		-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
	}
}