
//------------C-Service---------
.p-service {

	.c-title4 {
		background: #5d9cec;
		color: #fff;

		&__iner {
			@include breakpoint(768px) {
			width: auto;
			padding: 0 10px;
			height: 70px;

			}
		}
	}
	&1 {
		margin-bottom: 40px;
		margin-top: 40px;

		@include breakpoint(768px) {
			margin-top: 10px;
		}
	}
	&2 {
		margin-bottom: 40px;

		&__txt1 {
			margin-bottom: 20px;

		}
	}
	&3 {
		margin-bottom: 40px;

		.c-table1 {
			margin-bottom: 30px;
		}
		.l-btn1 {
			margin-top: 30px;
		}
	}
	&4 {
		.c-title1 {
			margin-bottom: 20px;
		}
		.c-imgtext1 {
			margin-bottom: 20px;
			@include breakpoint(768px) {
				margin-bottom: 15px;
			}

			&__text {
				p {
					font-size: 1.2rem;
				}
			}
		}
		p {
			margin-bottom: 20px;
		}
		.c-title3 {
			margin-bottom: 10px;
		}
	}

}