//--------------------Company----------------
.p-business {
	grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;
}
.c-business__cont{
	width: 960px;
    margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 80px;
	&-main{
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;

		&--img{

			box-sizing: border-box;
		}
		&--txt{
			padding-right: 10px;
			padding-left: 30px;

			h3{
				font-size: 2rem;
				color: #269eca;
				padding-bottom: 20px;
			}
			p {
				font-size: 1.4rem;
			}
		}
	}
	&-main:last-child {
		padding: 0;
	}
}
