//--------------------Company----------------

.p-company {
	grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;

}
.c-company__cont{
	padding: 40px 130px 0;
    width: 960px;
    margin: 0 auto;
}
.c-company__map{
	padding-top: 80px;
	width: 960px;
    margin: 0 auto;

	&--img {
	-webkit-transform: translateY(-7px);
	   -moz-transform: translateY(-7px);
	    -ms-transform: translateY(-7px);
	     -o-transform: translateY(-7px);
	        transform: translateY(-7px);
	}
	&--txt{
		padding-top: 22px;
		padding-bottom: 80px;

		p {
			font-size: 1.4rem;
			color: #333333;
			line-height: 24px;
		}
		p::before{
			content:'';
			display: inline-block;
			background: url('../img/pc/map-icon.png') no-repeat;
			background-size: 15px 17px;
			width: 15px;
			height: 17px;
			margin-right: 10px;
		}
		p:first-child::before{
			content: none;
		}
	}
}