//--------------------Contact----------------

.p-contact {
	grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;
    overflow: hidden;
}
.c-contact__cont{
	width: 960px;
	margin: 0 auto;
	padding-top: 40px;

}
.c-contact__inner{
	padding: 0 130px 80px;

}