//--------------------Flow----------------
.p-flow {
	grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;
}
.c-flow__cont {
	width: 960px;
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 65px;

	&-main {
		display: grid;
		grid-template-columns: 60px 300px 550px;

		&--step {
			box-sizing: border-box;
			overflow: hidden;
		}
		&--inner{
			grid-column: 2 / span 3;
			display: flex;
			align-items: flex-start;
			padding-bottom: 30px;
			margin-left: 20px;
			margin-bottom: 15px;
			border-bottom: 1px dashed #cccccc ;

		}
		&--head{

			h5{
				font-size: 2rem;
				color: #269eca;
				padding: 20px 0 21px;
			}
		}
		&--txt{
			   padding-top: 67px;
   				padding-left: 30px;
				flex: 1;
			p {
				font-size: 1.4rem;
				color: #333333;
			}
			.btn{
				margin-top: 20px;
				padding: 20px;
				background: #269eca;
				box-sizing: border-box;
			}
		}
	}

}
