//--------------------Index----------------
.p-index {
	grid-column: 1 / 6;
	display: grid;
    grid-template-columns: 1fr 1fr auto;
    overflow: hidden;
    padding-left: 220px;
}
.c-topmain {
	grid-column: 1 / span 3;
	min-height: 826px;
	background: url('../img/pc/mainbg.jpg') no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	grid-column: 1 / span 3;

	h2 {
		margin: auto;
		-webkit-transform: translate(-38px, -142px);
		   -moz-transform: translate(-38px, -142px);
		    -ms-transform: translate(-38px, -142px);
		     -o-transform: translate(-38px, -142px);
		        transform: translate(-38px, -142px);
	}

	&__news {
		display: flex;
		overflow: hidden;
		max-height: 45px;
		grid-column: 1 / span 3;

		&--head{
			flex: 0.42;
			background: #1085b0;
			overflow: hidden;
			-webkit-transform: skewX(-20deg) translateX(-28px);;
			   -moz-transform: skewX(-20deg) translateX(-28px);;
			    -ms-transform: skewX(-20deg) translateX(-28px);;
			     -o-transform: skewX(-20deg) translateX(-28px);;
			        transform: skewX(-20deg) translateX(-28px);;
			text-align: right;
			align-self: center;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 45px;

			h3{
				transform: skewX(20deg);
				padding-right: 25px;
			}
		}
		&--txt {
			flex: 1.2;

			dl {
				display: flex;
				align-items: center;
				height: 45px;

				dt {
					font-size: 1.4rem;
					color: #333333;
					padding-right: 25px;
				}

			}
		}
	}
}
.c-about {
	grid-column: 1 / span 3;
		&__head{
			background: url('../img/pc/bg-k-1.jpg') no-repeat center;
			background-size: cover;
			display: flex;
		    height: 230px;
		    align-items: center;
		    justify-content: center;
			h3 {
				padding: 0;
			}
		}
		&__inner{
			display: grid;
			grid-template-columns: 1fr 530px 430px 1fr;
			background: #3dafd9;
			z-index: 0;
			margin-bottom: 10px;

			&--txt1 {
				grid-column: 1/3;
				justify-items: start;
				background: #2aa4d1;
				transform: skewX(-20deg) translateX(-50px);
				display: flex;
				justify-content: flex-end;
				padding-top: 43px;
				z-index: 2;
				padding-right: 55px;
				h2 {
					transform: skewX(20deg);
					padding-right: 21px;
				}
				.c-about__content{
					transform: skewX(20deg);
				}
			}
			&--txt2{
				z-index: 1;
				background-color: #3dafd9;
				padding: 43px 0;
				grid-column: 3 / span 4;
				display: flex;
				margin-left: 15px;

				h2 {
					padding-right: 21px;
				}
			}
		}
		&__content {
			transform: skewX(0);
			text-align: left;
			max-width: 216px;
			color: #fff;
			padding-top: 6px;

			h3 {
				font-size: 2.2rem;
				padding-bottom: 14px;

				span {
					font-size: 1.5rem;
				}
			}
			p {
				font-size: 1.4rem;
				padding-bottom:20px;
			}
		}
}
.c-about__src{
	height: 370px;
	margin-bottom: 10px;
	overflow: hidden;

	&--ctn1{
		float: left;
		width: 54%;

		img{
			float: right;
		}
	}
	&--ctn2{
		text-align: left;
		padding-top: 41px;
		float: left;
		h3 {
			padding-bottom: 25px;
		}

		p {
			font-size: 1.4rem;
			color: #fff;
			width: 420px;
		}
		a{
			margin-top: 30px;
		}
	}
}
.c-about__src1{
	background: url('../img/pc/bg-src-1.jpg') repeat;
	background-size: contain;
	@include cf;
}
.c-about__src2{
	background: url('../img/pc/bg-src-2.jpg') no-repeat;
	background-size: contain;

	 .c-about__src--ctn2{
	 	float: right;

	 }
	 .c-about__src--ctn1 {
	 	width: 54%;
	 	float: right;
	 	img{
	 		float: left;
	 	}
	 }
}