//--------------------Policy----------------
.p-policy {
	grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;
}
.c-policy__cont {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 20px;
    padding-top: 40px;

	&--head{
		text-align: center;
		padding-bottom: 50px;

		p {
			font-size: 1.4rem;
			line-height: 24px;
			padding-bottom: 10px;
		}
	}
	&--inner {
		display: flex;
		padding-bottom: 60px;

		&-txt {
			    min-height: 100%;
			    padding: 40px;
			    text-align: justify;
			    margin-top: 39px;
			    margin-bottom: 41px;
			    margin-right: -40px;
				-webkit-transform: translateX(-40px);
				   -moz-transform: translateX(-40px);
				    -ms-transform: translateX(-40px);
				     -o-transform: translateX(-40px);
				        transform: translateX(-40px);
				        background: #e0f4fc;

			h3 {
				font-size: 2rem;
				color: #269eca;
				padding-bottom: 20px;
			}
			p {
				font-size: 1.4rem;
				line-height: 2.8rem;
				letter-spacing: -0.6px;
			}
		}
		&-ex{
			img {
				order: 2;
				-webkit-transform: translateX(-40px);
				   -moz-transform: translateX(-40px);
				    -ms-transform: translateX(-40px);
				     -o-transform: translateX(-40px);
				        transform: translateX(-40px);
				            margin-right: -40px;
			}
			.c-policy__cont--inner-txt{
				order: 1;
				-webkit-transform: translateX(0px);
				   -moz-transform: translateX(0px);
				    -ms-transform: translateX(0px);
				     -o-transform: translateX(0px);
				        transform: translateX(0px);
				        margin-left: 2px;
				        margin-right: -1px;
			}
		}
	}

}