//--------------------Work----------------
.p-works {
	grid-column: 1 / 6;
    overflow: hidden;
    padding-left: 220px;
}
.c-works__cont {
	width: 960px;
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 73px;

	&-main {
		display: grid;
		grid-template-columns: 300px 300px 300px;
		grid-column-gap: 30px;
    	grid-row-gap: 20px;

		&--inner{
			text-align: center;

			&txt{
				background: #e0f4fc;
				padding-bottom: 20px;

				h3 {
					font-size: 2rem;
					line-height: 50px;
					background: #269eca;
					color: #fff;
					margin-bottom: 20px;
				}
				p {
					font-size: 1.4rem;
					color: #333333;
				}
			}
		}
	}

}