@import '0_base/mixin';
/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-globalFooterPC{
	border-top: 1px solid #555555;
	&__inner{
		width: 1160px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 27px;

		&--left{
			display: block;

			p {
				padding-bottom: 10px;
				@include breakpoint{
					padding-bottom: 15px;
					line-height: 20px;
				}
			}
			.c-btn1{
				display: inline-block;
				margin-right: 20px;
				@include breakpoint{
					display: block;
					margin: 0 0 10px 0;
				}
			}
			@include breakpoint{
				text-algin: center;
			}
		}
		&--right{
			align-self: flex-start;
			ul {
				display: flex;
				li{
					padding: 0 5px;
					border-right: 1px solid $black;
					a{
						color: $black;
					}
					a:hover{
						text-decoration: underline;
						color: $txt-hover;
					}
					@include breakpoint{
						border: none;
						padding: 5px 0;
						display: flex;
						&::before{
							content:'';
							background: url('../img/sp/icon-1.png') no-repeat;
							background-size: 22px 22px;
							width: 22px;
							height: 22px;
							display: inline-block;
							margin-right: 8px;
						}
					}
				}
				li:last-child{
					border: none;
				}
				@include breakpoint{
					display: block;
				}
			}
		}
		@include breakpoint{
			width: 100%;
			display: block;
			text-align: left;
			padding-top: 20px;
		}
	}
	@include breakpoint{
		padding: 0 15px;
	}
}
