@import '0_base/mixin';
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-globalHeaderPC{
	padding-bottom: 38px;
	&__inner{
		width: 1160px;
		height: 80px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}
.c-globalHeaderSP{
	padding: 10px 15px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	        text-align: left;
	        border-bottom: 1px solid rgba(0,0,0,0.5);
	        background: #fff;
	        box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.9);
	        z-index: 999;
	&__inner{
		    display: flex;
  			 justify-content: space-between;
		.c-menuSP {
			width: 30px;
			height: 30px;
			cursor: pointer;
			&__1,
			&__2,
			&__3 {
				width: 100%;
				height: 5px;
				background: $black;
				margin: 5px auto;
				transition: all 0.4s ease-in-out;
			}
		}
		.is-open{
			.c-menuSP__1{
				-webkit-transform: rotate(405deg) translate(7px,6px);
				   -moz-transform: rotate(405deg) translate(7px,6px);
				    -ms-transform: rotate(405deg) translate(7px,6px);
				     -o-transform: rotate(405deg) translate(7px,6px);
				        transform: rotate(405deg) translate(7px,6px);
			}
			.c-menuSP__2{
				-webkit-transform: rotate(-405deg) translate(1px,0px);
				   -moz-transform: rotate(-405deg) translate(1px,0px);
				    -ms-transform: rotate(-405deg) translate(1px,0px);
				     -o-transform: rotate(-405deg) translate(1px,0px);
				        transform: rotate(-405deg) translate(1px,0px);
			}
			.c-menuSP__3{
				opacity: 0;
				-webkit-transition: all 0.1s ease-in-out;
				   -moz-transition: all 0.1s ease-in-out;
				    -ms-transition: all 0.1s ease-in-out;
				     -o-transition: all 0.1s ease-in-out;
				        transition: all 0.1s ease-in-out;
			}
		}
	}
}
.fixed{
	position: fixed;
	top: 0;
	box-shadow: none;
}

