@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1160px;
	@include breakpoint{
		min-width: 100%;
		text-align: center;
	}
}

#wrapper {
	margin: 0 auto;
	@include breakpoint{
		max-width: 100%;
		margin: 0 auto;
	}
}

.l-main{
	width: 1160px;
	margin:0 auto;
	@include breakpoint{
		width: 100%;
	}
}
.pc-only{
	@include breakpoint{
		display: none !important;
	}
}
.sp-only{
	@include min-breakpoint{
		display: none;
	}
	@include breakpoint{
		display: block;
	}
}
.l-content2 {
	display: grid;
	grid-template-columns: 560px 560px;
	grid-column-gap: 40px;
	grid-auto-rows: minmax(270px, auto);
	padding: 50px 0;
	&__img {
		max-width: 560px;
		@include breakpoint{
			max-width: 100%;
		}
	}
	&__txt {
		max-height: 370px;

		p{
			font-size: 1.5rem;
			line-height: 2.5rem;
			letter-spacing: 1px;
			text-align: justify;
			padding-bottom: 15px;
		}
		table{

			th,td{
				padding: 7px 10px 6px;
				@include breakpoint{
					padding: 5px;
				}
			}
		}
		h3{
     		padding-bottom: 20px;
		}
		&--2{
			position: relative;
			h3{
				padding-bottom: 15px;
			}
			p{
				font-size: 1.4rem;
				letter-spacing: 0;
			}
		}
		&--btn{
			position: absolute;
			bottom: 0;
			width: 100%;
			.c-btn2--color2{
				margin-top: 20px;
			}
			@include breakpoint{
				position: relative;
			}
		}
		@include breakpoint{
			max-height: inherit;
		}
	}
	@include breakpoint{
		display: block;
		max-width: 100%;
		padding: 0;
	}
}
.l-content3{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: minmax(110px, auto);
	grid-column-gap: 25px;

	&__inner{
		p{
			padding-bottom: 10px;
			font-size: 1.4rem;
			line-height: 24px;
			color: $black;
		}
		ul {
			li{
				margin-bottom: 20px;
				background: #dddddd;
				padding-left: 15px;
				a{
					color: $black;
					line-height: 30px;
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
			li:last-child{
				margin: 0;
			}
			li:hover{
				background: rgba(221,221,221,0.6);
			}
			@include breakpoint{
				margin-bottom: 15px;
			}
		}
	}
	@include breakpoint{
		display: block;
	}
}
.l-content4 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 26px;
	grid-row-gap: 28px;
	&__inner{
		max-width: 270px;
		@include breakpoint{
			max-width: 100%;
			padding-bottom: 15px;
		}
	}
	@include breakpoint{
		display: block;
	}
}
.l-content5{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-row-gap: 25px;
	grid-column-gap: 15px;

	@include breakpoint{
		display: block;
	}
}

