@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1080px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}
*{
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 1080px;
	text-align: center;
}

.l-main {
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	position: relative;
	height: 73px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	margin-top: 18px;
	padding: 0;
	float: right;
	display: inline-block;
	@include cf;

	ul.nav-bar {
		width: auto;
		@include cf;

		li {
			float: left;
			position: relative;
			border-bottom: 3px solid transparent;
			padding: 0 2px;

			a::after {
				content:'';
				width: 0;
				height: 4px;
				position: absolute;
				left: 50%;
				background: #06a7fe;
				transition: all 0.2s ease-out;
			}
			a:hover::after {
				width: 100%;
				left: 0;
			}
		}
		li::before {
			content: '';
			width: 1px;
			height: 33px;
			background-color: #cecece;
			position: absolute;
			top: 0;
			left: 2px;
		}
		li:first-child::before {
			content: '';
			width: 1px;
			height: 33px;
			background-color: #cecece;
			position: absolute;
			top: 0;
			left: -2px;
		}
		li:last-child::after {
			content: '';
			width: 1px;
			height: 33px;
			background-color: #cecece;
			position: absolute;
			top: 0;
			left: 109px;
		}
	}

}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}



/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {

	background: url('../img/pc/footer-bg.jpg') no-repeat top center #003c7f;
	padding-top: 108px;
	margin-top: 4px;
}
.m-footer {
	height: 168px;
	background-color: #003c7f;
	position: relative;

		.f-logo {
			float: left;
			padding: 40px 0;
			margin-left: -4px;

			a {
				margin-left: -50px;
			}

			p {
				color: #ffffff;
				font-size: 1.2rem;
				line-height: 18px;
				padding-top: 15px;
			}
		}
		.ctn-detail {
			color: #ffffff;
			text-align: left;
		    margin-top: 38px;
		    position: relative;
		    float: left;
		    padding-left: 27px;
			@include cf;

			p {
				font-size: 1.2rem;
			    line-height: 18px;
			    padding: 1px 0 2px 17px;
			}
			img {
				margin-bottom: 8px;
			}
		}
		.ctn-detail::before {
			content: '';
			width: 1px;
			height: 88px;
			background-color: #809ebf;
			position: absolute;
			top: 2;
			left: 20px;
		}

		.btn {
			float: right;
			text-align: right;
			padding-top: 34px;
			@include cf;

				ul {
				 padding-left: 0;
				 li {
				 	display: inline-block;
				 	padding-left: 58px;

				 	a {
				 		color: #ffffff;
					 	text-decoration: none;
					 	font-size: 1.2rem;
					 	line-height: 21px;
					}
					a:hover {
						color: #3b75b5;
					}
				 }
			}
			ul:first-child  li:first-child{
				padding: 0 70px 0 0;
			}
			img {
				margin-top: 8px;
				margin-left: 56px;
			}
		 	img.btn-in {
		 		display: block;
		 	}
		 	img.active{
		 		display: none;
		 		float: right;
    			text-align: right;
 				padding: 0;
		 	}
		 	a:hover {
		 		img.btn-in {
		 		display: none;
		 	}
		 	img.active{
		 		display: block;
		 		}
		 	}
		}
		.btn-scrl {
			position: fixed;
			bottom: 88px;
    		right: 5px;
		}
		.btn-scrl:hover {
			opacity: 0.5;
		}
}
.f-end {
	height: 48px;
	background-color: #002f64;
	padding: 8px 0;

	p {
		font-size: 1.2rem;
		line-height: 30px;
		color: #608fbf;
		text-align: left;
		letter-spacing: 1.2px;
	}
}
.pc-only {
	display: block;
}
.sp-only {
	display: none;
}
.clearFix {
	clear: both;
}

@media screen and (max-width:736px) {
	.pc-only {
		display: none;
	}
	.sp-only {
		display: block;
	}
}
