@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}
//---------------------------------Index Page-----------------------------------------------//
.t-header {
	background-color: #015294;
	text-align: left;
	height: 47px;

	p {
		text-align: left;
		font-size: 1.25rem;
		line-height: 47px;
		color: #ffffff;
		float: left;
		@include cf;
	}
	ul {
		float: right;
		@include cf;

		li {
			float: left;
			line-height: 47px;
			padding: 5px 0 0 15px;
			@include cf;

			a{
				border-radius: 20px;
				background-color: #009fbb;
				transition: all 0.1s ease-out;

				img.in-active{
					display: block;
				}
				img.active {
					display: none;
				}
			}
			a:hover img.in-active{
				display: none;
			}
			a:hover img.active{
				display: block;
			}
		}
	}
}
.logo {
	float: left;
	display: inline-block;
	@include cf;
}

//Slide background
#main_slider {
	-khtml-opacity: 0;
			opacity: 0;
	-webkit-transition: -khtml-opacity 1.2s ease-out, opaicty 1.2s ease-out;
			transition: -khtml-opacity 1.2s ease-out, opacity 1.2s ease-out;
}
#main_slider.ready {
	-khtml-opacity: 1;
		opacity: 1;
}
#main_slider {
	position: relative;
	width: 100%;
	margin-bottom: 120px;
	min-height: 756px;

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	img {
		width: 100%;
		height: 100%;
		display: block;
		-khtml-opacity: 0;
			   opacity: 0;
	}
}

//Slide background

.t-news {
	height: 202px;
	background-color: #e7f5ff;
	text-align: center;
	margin-top: -20px;
}
.t-news-inner {
	@include cf;
	padding: 35px 0 0;
}
.head {
	float: left;
	margin-top: 15px;
	@include cf;

	h3 {
		cursor: pointer;

		img.active {
			display: none;
		}
	}
	h3:hover {
		img.active{
			display: block;
		}
		img.in-active{
			display: none;
		}
	}
}
.content {
	float: left;
    width: 640px;
    text-align: left;
    margin-left: 67px;
	@include cf;

	dl {
		padding: 0;
		float: left;
		@include cf;
	}
	dt {
		float: left;
		font-size: 1.3rem;
		line-height: 46px;
		color: #0361a7;
		font-style: normal;
		@include cf;
	}
	dd {
		overflow: hidden;
		word-break: break-all;
		padding-left: 58px;
		padding-top: 9px;

		a {
			text-decoration: none;
			color: #000000;
		}
	}
	dd:hover a {
		text-decoration: underline;
		color: $hover-color;
	}

}
.index-main {
	height: 535px;
	padding-top: 100px;
	background: url('../img/pc/bg-sb-1.jpg') no-repeat center top 100px;

	.sidebar {
		width: 470px;
		text-align: left;
		float: left;
		@include cf;

		p {
			font-size: 1.4rem;
			line-height: 20px;
			letter-spacing: 0.2px;
		}
		p.t-break {
			margin-top: 21px;
		}
		img {
			margin-bottom: 20px;
		}

		img.btn {
			display: block;
			margin: 62px 0 0 0;
		}
		img.active{
			display: none;
			margin: 62px 0 0 0;
		}
		a:hover {
			img.active{
				display: block;
			}
			img.btn {
				display: none;
			}
		}
	}
}
.index-main.item-2 {
	background: url('../img/pc/bg-sb-2.jpg') no-repeat center top 78px;
	padding-top: 80px;

	.sidebar-2 {
		float: right;
		@include cf;

		img.btn {
			margin: 86px 0 0 0;
			display: block;
		}
		img.active {
			margin: 86px 0 0 0;
		}

	}
}
.index-main.item-3 {
	background: url('../img/pc/bg-sb-3.jpg') no-repeat center top 56px;
	padding-top: 57px;

	.sidebar-3 {
		float: left;
		@include cf;

		img.btn {
			    margin: 87px 0 0 0;
		}
		img.active {
			    margin: 87px 0 0 0;
		}
	}
}
.hf-slide {
	min-height: 276px !important;
	margin-bottom: 114px;
}
//---------------------------------News Page-----------------------------------------------//

.l-main-news {
	margin-bottom: 37px;
}
.news-conts {
	text-align: left;
	padding-bottom: 119px;
	padding-top: 13px;
	margin-top: -20px;
	@include cf;

	h3 {
		font-size: 2.1rem;
		line-height: 34px;
		color: #025995;
		border-bottom: 1px solid #015294;
	}

	h4 {
		color: #009fbb;
  		font-size: 15px;
  		line-height: 22px;
  		padding-top: 12px;
  		padding-left: 33px;
   		letter-spacing: 1.5px;
  		position: relative;
	}
	h4::before {
		content: '';
		width: 21px;
		height: 22px;
		background: url('../img/pc/news/news-icon.png') no-repeat;
		background-size: 21px 22px;
   		display: inline-block;
   		margin-right: 5px;
   		line-height: 22px;
   		position: absolute;
   		top: 10px;
  		left: 1px;
	}
	p {
		font-size: 1.4rem;
    	line-height: 20px;
   		color: #000;
   		padding-top: 3px;
   		letter-spacing: 0.4px;
	}
	p.t-break{
		margin-top: 16px;
	}
	img.img-news_cont {
		float: right;
    	 margin-top: 28px;
    	 cursor: pointer;
    	 @include cf;
	}
	.conts {
		width: 590px;
		float: left;
		text-align: justify;
		@include cf;
		padding-top: 24px;

	}
	.conts.l-conts {
		width: auto;
		text-align: justify;
	}
}

//---------------------------Company Page------------------------------------------//


.greeting {
	text-align: left;
	position: relative;
	margin-bottom: 81px;
	margin-top: 114px;

		img {
			margin-bottom: 22px;
			margin-top: -6px;
		}
		img.bg-greeting {
			margin: 136px 0 0 0;
		}
		p {
			font-size: 1.4rem;
			line-height: 22px;
		}
		p.t-break-g {
			margin-top: 18px;
		}
		p.t-break-2 {
			margin-top: 14px;
		}
		.quote {
			position: absolute;
			bottom: 35%;
   			right: 0;
		}
}

.profile {
	background-color: #f7f7f7;
	padding: 80px 0 75px;
	text-align: left;

	.prof-cont {
		text-align: left;

		img {
			margin-bottom: 30px;
		}
		table {
			width: 100%;
			background-color: #ffffff;
			border-collapse: collapse;

			td {
				 font-size: 1.4rem;
				 line-height: 60px;
				 border-top: 1px solid #d4d4d4;
				 padding-left: 40px;

				 p {
				 	line-height: 20px;
				 }
			}
			td.td-f-cont p{
				margin-top: -30px;
			}
			td.td-cont {
				padding: 20px 0 15px 40px;
			}

			td:first-child {
				width: 216px;
				color: #0361a7;
				background-color: #e7f5ff;
			}
			tr:last-child {
				border-bottom: 1px solid #d4d4d4;
			}

		}

	}
}

//Staff Profile
.staff {
	padding: 80px 0;
	text-align: left;

	h3{
		margin-bottom: 32px;
	}
	.staff-img {
		display: grid;
		grid-template-columns: 249px 249px 249px 249px;
		grid-column-gap: 28px;
		grid-row-gap: 49px;

		.intro {
			text-align: center;
			-webkit-transition: all 0.5s ease-out;
	  		-moz-transition: all 0.5s ease-out;
	   		-ms-transition: all 0.5s ease-out;
	   		-o-transition: all 0.5s ease-out;
	      	  transition: all 0.5s ease-out;

			p {
				 font-size: 1.4rem;
				 line-height: 24px;
				 padding-top: 5px;
			}

			img {
				border: 1px solid #d4d4d4;
				padding: 4px;
			}
		}
	}
}

//Map
.map {
	padding: 70px 0 126px;
	text-align: left;

	h3 {
		margin-bottom: 37px;
	}
}


//---------------------------Bussiness Page------------------------------------------//

.bs-slide {
	background: url('../img/pc/bussiness/bs-bg.jpg') no-repeat center;
	background-size: cover;
	height: 276px;
	margin-bottom: 120px;
}
.business {
	padding: 35px 41px 40px;
	border: 1px solid #009fbb;
	margin-bottom: 80px;

	.bs-content {
		text-align: left;
		@include cf;

		h3 {
			font-size: 2rem;
			line-height: 34px;
			font-weight: 900;
			color: #025995;
			margin-bottom: 10px;
			letter-spacing: 1.9px
		}
		h3::before {
			content: '';
			width: 17px;
			height: 17px;
			background-color: #025995;
			display: inline-block;
			margin-right: 5px;
		}
		p {
			font-size: 1.4rem;
			line-height: 20px;
			color: #000;
			letter-spacing: 0.2px;
			padding-bottom: 4px;
		}
		p.t-break-b {
			margin-top: 15px;
		}
		.bs-inner {
			width: 520px;
			float: left;
		}
		.bs-inner.f-inner {
			width: auto;
		}
		img {
			 float: right;
			 margin-top: -40px;
			 cursor: pointer;
		}
	}
}
.business:last-child {
	margin-bottom: 130px;
	padding: 35px 41px 29px;
}


//---------------------------Case Page------------------------------------------//

.case-slide {
	background: url('../img/pc/case/case-bg.jpg') no-repeat center;
	background-size: cover;
	height: 276px;
	margin-bottom: 120px;
}
.case-head {
	padding: 0 110px;
	text-align: center;
	margin-bottom: 59px;
	border-bottom: 1px solid #015294;

	ul {
		padding-bottom: 80px;
		margin-left: -2px;
   		margin-top: -11px;

		li {
			display: inline-block;
			padding-right: 37px;
			padding-top: 12px;

			a {
				background-color: #0291aa;
				text-decoration: none;
			    color: #fff;
			    font-weight: 600;
			    display: flex;
			    font-size: 15px;
			    border-radius: 3px;
			    width: 260px;
			    height: 50px;
			    align-items: center;
			    -webkit-box-pack: center;
			    justify-content: center;
			    border: none;
			}
			a::after {
				content: '';
				width: 10px;
				height: 10px;
				background-image: url('../img/pc/case/arrw-1.png');
				margin-left: 30px;
			}
		}
		li:hover a{
			background-color: #016f82;
		}
		li:first-child:hover a{
			background-color: #fff;
			border: 2px solid #0291aa;
			color: #0291aa;

			&::after {
				background-image: url('../img/pc/case/arrw-2.png');
			}
		}
		li:last-child {
			padding: 0;
		}
	}

	h3 {
		 font-size: 2.4rem;
	    line-height: 25.5px;
	    font-weight: 600;
	    color: #025995;
	    letter-spacing: 2px;
	    margin-bottom: 7px;
   		padding-left: 9px;
	}
}
.case {
	margin-bottom: 81px;
	text-align: left;

	h3 {
	    font-size: 2.2rem;
	    line-height: 45px;
	    background-color: #e1f0fa;
	    color: #025995;
	    padding-left: 16px;
	}
	.case-cont {
		padding-top: 30px;
		@include cf;
	}
	img {
		float: left;
		cursor: pointer;
	}
	.case-ct {
		float: right;
		width: 570px;

		table {
			width: 100%;
			background-color: #ffffff;
			border-collapse: collapse;
			margin-top: -2px;

			td {
				font-size: 1.3rem;
				line-height: 50px;
				padding-left: 30px;
			}
			tr {
				border-top: 1px solid #d8d7d7;
			}
			tr:last-child {
				border-bottom: 1px solid #d8d7d7;
			}
			td:first-child {
				color: #025995;
				width: 130px;
			}
		}
	}
}
.case:last-child {
	margin-bottom: 130px;
}

//---------------------------Recruit Page------------------------------------------//

.rc-slide {
	background: url('../img/pc/recruit/bg-recruit.jpg') no-repeat center;
	background-size: cover;
	height: 276px;
	margin-bottom: 113px;
}
.recruit {
	text-align: left;


	h3 {
		margin-top: -5px;
    	margin-bottom: 15px;
		float: left;
	}
	.re-content {
		text-align: left;
		padding: 0;
		margin-bottom: 85px;
		@include cf;

		.rc-conts {
			width: 670px;
			float: left;

			p {
				font-size: 1.42rem;
				line-height: 20px;
			}
			p:last-child {
				margin-top: 15px;
			}
		}
		img {
			 float: right;
			 margin-top: -54px;
			 margin-right: 1px;
		}
	}
}
.guide-line {
	background-color: #f7f7f7;
	padding: 74px 0 79px;

	.gl-cont {
		text-align: left;

		h3 {
			margin-bottom: 26px;
		}

		table {
			width: 100%;
			background-color: #ffffff;
			border-collapse: collapse;

			td {
				font-size: 1.4rem;
				padding: 25px 0 19px 42px;

				p {
					line-height: 20px;
				}
			}
			td:first-child {
				 width: 216px;
				 color: #0361a7;
				 background-color: #e7f5ff;
			}
			tr {
				border-top: 1px solid #d8d7d7;
			}
			tr:last-child {
				border-bottom: 1px solid #d8d7d7;
			}
		}
	}
}
.rc-cont {
	background: url('../img/pc/recruit/cnt-bg.jpg') center no-repeat;
	background-size: cover;
	min-height: 243px;
	margin: 80px 0 130px;
	position: relative;

	a{
		background-color: #0291aa;
		position: absolute;
		bottom: 40px;
		left: 0;
		border-radius: 4px;
		border-radius: 4px;
   		margin-left: 40px;

   		img.in-active {
   			display: block;
   		}
   		img.active{
   			display: none;
   		}
	}
	a:hover {
		background-color: #ffffff;
		border: 1px solid #017c91;

		img.in-active{
			display: none;
		}
		img.active {
			display: block;
		}
	}

}

//---------------------------Contact Page------------------------------------------//

.ctn-slide {
	background: url('../img/pc/contact/bg-cnt.jpg') no-repeat center;
	background-size: cover;
	height: 276px;
	margin-bottom: 113px;

}
.ctn-head {
	text-align: left;
	margin-bottom: 74px;
	margin-top: -5px;

	h3 {
		margin-bottom: 25px;
	}
	p {
		font-size: 1.4rem;
		line-height: 20px;
		letter-spacing: 0.7px;
	}
	p:last-child {
		margin-top: 19px;
	}
}
.contact-form{
	padding: 80px 0 78px;
	background-color: #f7f7f7;

	h3 {
		text-align: left;
	}
	.c-form{
		text-align: left;
		padding-top: 49px;
		@include cf;

		form {
			font-size: 1.4rem;
		}
		.label {
			width: 200px;
			padding: 15px 0 0 3px;
			text-align: right;
			float: left;
			background-color: #f7f7f7;

			li {
				padding-bottom: 36px;
			}
			li:nth-child(4){
				padding-top: 125px;
			}
		}
		label {
			color: #0361a7;
			float: left;
		}
		span {
			background-color: #0361a7;
			color: #ffffff;
			line-height: 23px;
			padding: 3px 7px;
		}
		span.ex-span {
			background: #8c8b8b;
			color: #ffffff;
		}
		.field-inpt {
			float: left;
		    text-align: left;
		    margin-left: 30px;
		    padding: 0;
		    width: 850px;
		    background-color: transparent;

			input[type=text] {
				background-color: #ffffff;
				padding: 15px 18px;
				line-height: 20px;
				border: 1px solid #eaeaea;
				margin-bottom: 8px;
				width: 100%;
			}
			input.name {
				width: 100%;
			}
			input.potal-code{
			    width: 130px;
   				margin: 0 5px 8px 12px;
			}
			select {
				padding: 15px 2px 16px 15px;
			    width: 180px;
			    border: 1px solid #eaeaea;
			    font-size: 1.4rem;
			    margin-bottom: 5px;
			}
			input[type=radio] {
				margin-top: 23px;
			}
			span.radio-box{
					background-color: transparent;
					color: #000000;
					margin-right: 52px;
			}
			textarea {
				margin-top: 10px;
				width: 100%;
				height: 150px;
				border: 1px solid #eaeaea;
				font-size: 1.4rem;
				line-height: 20px;
			}
		}
	}
}
.form-group {
	background-color: #ffffff;
	height: 225px;

	.btn-group {
		position: relative;

		ul {
			color: #ffffff;
			padding-top: 46px;
			display: grid;
			justify-content: center;

			li {
				padding-bottom: 7px;
			}
		}
		button {
			color:#ffffff;
			border-radius: 2px;
			cursor: pointer;
			-webkit-transition: all 0.4s ease-out;
			   -moz-transition: all 0.4s ease-out;
			    -ms-transition: all 0.4s ease-out;
			     -o-transition: all 0.4s ease-out;
			        transition: all 0.4s ease-out;
		}

		button.confirm {
			background: #0291aa;
			margin-left: 44px;
		}
		button.confirm:hover {
			background: #00798e;
		}
		button.back {
			background: #939d9f;
			margin-left: 45px;
			display: none;
		}
		button.back:hover {
			background: #5b696b;
		}
		button.send {
			background: #0291aa;
			display: none;
		}
		button.send:hover {
			background: #00798e;
		}
	}
}

::placeholder {
	color: #b6b6b6;
	letter-spacing: 1.5px;
	font-size: 1.4rem;
	line-height: 20px;

}

::selection {
    color:#ffffff;
    background:#e8da65;
}

/*-----------LightBox-------------*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: visible;
	display: none;

	.light-box {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		border-radius: 20px;
		box-shadow: 0 0 18px #bbb;
		box-sizing: border-box;
		z-index: 10;
		width: 400px;
		height: auto;
		display: none;
		-webkit-transition: all 0.3s ease-out;
		   -moz-transition: all 0.3s ease-out;
		    -ms-transition: all 0.3s ease-out;
		     -o-transition: all 0.3s ease-out;
		        transition: all 0.3s ease-out;

		img {
			display: block;
		}

			}

		.close {
			position: absolute;
		    float: right;
		    margin-right: -60px;
		    margin-top: -10px;
		    font-size: 45px;
		    color: #fff;
		    top: -40px;
		    right: 0;
		    cursor: pointer;
			outline: none;
			background: none;
		}
		.close:hover {
			opacity: 0.5;
		}

}


/*-----------Animte-------------*/
.inview-off {
	opacity: 0;
	-webkit-transition: all 0.8s ease-in-out;
	   -moz-transition: all 0.8s ease-in-out;
	    -ms-transition: all 0.8s ease-in-out;
	     -o-transition: all 0.8s ease-in-out;
	        transition: all 0.8s ease-in-out;
}
.inview {
	opacity: 1;
}

.scale-off {
	-webkit-transition: all 0.6s linear;
	   -moz-transition: all 0.6s linear;
	    -ms-transition: all 0.6s linear;
	     -o-transition: all 0.6s linear;
	        transition: all 0.6s linear;
	-webkit-transform: scale(0,0);
	   -moz-transform: scale(0,0);
	    -ms-transform: scale(0,0);
	     -o-transform: scale(0,0);
	        transform: scale(0,0);
}
.scale-out {
	-webkit-transform: scale(1,1);
	   -moz-transform: scale(1,1);
	    -ms-transform: scale(1,1);
	     -o-transform: scale(1,1);
	        transform: scale(1,1);
}
.fade-in {
	opacity: 0;
	-webkit-transition: all 0.4s linear;
	   -moz-transition: all 0.4s linear;
	    -ms-transition: all 0.4s linear;
	     -o-transition: all 0.4s linear;
	        transition: all 0.4s linear;
	-webkit-transform: translate(0,60px);
	   -moz-transform: translate(0,60px);
	    -ms-transform: translate(0,60px);
	     -o-transform: translate(0,60px);
	        transform: translate(0,60px);
}
.fade-out {
	opacity: 1.0;
	-webkit-transform: translate(0.0);
	   -moz-transform: translate(0.0);
	    -ms-transform: translate(0.0);
	     -o-transform: translate(0.0);
	        transform: translate(0.0);
}