/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
a.btn-txt {
	background: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 214px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
	border: 1px solid #fff;
	display: inline-block;

}
a.btn-txt::after {
	content:'';
	display: inline-block;
	background: url('../img/pc/arr.png') no-repeat center;
	background-size: 7px 12px;
	width: 7px;
	height: 12px;
	margin-left: 15px;
}
.btn-txt:hover {
	background: #fff;
	color: #333;
}
.btn-txt:hover::after {
	background: url('../img/pc/arr-hover.png') no-repeat;
}

a.btn-txt--company{
	background: #269eca;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 37px auto;
    padding: 12px 0;
    width: 270px;
}
a.btn-txt--company::before {
	content:'';
	background: url('../img/pc/btn-company.png') no-repeat;
	background-size: 20px 16px;
	height: 16px;
	width: 20px;
	display: inline-block;
	-webkit-transform: translateX(-10px);
	   -moz-transform: translateX(-10px);
	    -ms-transform: translateX(-10px);
	     -o-transform: translateX(-10px);
	        transform: translateX(-10px);
}
a.btn-txt--company:hover{
	background: #68bbda;
	color: #fff;
}
a.btn-txt--company:hover::after{
	background: url('../img/pc/arr.png') no-repeat;
}



.btn-scroll-bot{
	position: absolute;
	bottom: 34px;
	left: 45.5%;

	img {
		margin-right: -15px;
	}
}
a.c-btn--img {
	box-sizing: border-box;
	overflow: hidden;
}
.c-btn3{
	    padding-right: 2px;
}