//------------------Title--------
.c-dev-title1{
	grid-column: 1 / span 4;
	min-height: 300px;
	background-size: cover;
	display: grid;
    grid-template-columns: auto 960px auto;

	h2 {
		margin: auto;
		grid-column: 2 / 3;
	}

	&__company {
		background: url('../img/pc/company-bg.jpg') no-repeat;
	}
	&__business {
		background: url('../img/pc/bsn-bg.jpg') no-repeat center;
	}
	&__works {
		background: url('../img/pc/works-bg.jpg') no-repeat center;
	}
	&__flow {
		background: url('../img/pc/flow-bg.jpg') no-repeat center;
	}
	&__policy {
		background: url('../img/pc/policy-bg.jpg') no-repeat;
	}
	&__contact {
		background: url('../img/pc/contact-bg.jpg') no-repeat center;
	}
}
.c-dev-title2{

	h3 {
		font-size: 2.4rem;
		text-align: center;
		position: relative;
		padding-bottom: 40px;
	}
	h3::before{
		position: absolute;
		content:'';
		width: 60px;
		height: 4px;
		background: #269eca;
		top: -30px;
		left: 46%;
	}
}
.c-dev-title3 {
		text-align: center;
		padding-bottom: 38px;
		-webkit-transform: translateY(-10px);
		   -moz-transform: translateY(-10px);
		    -ms-transform: translateY(-10px);
		     -o-transform: translateY(-10px);
		        transform: translateY(-10px);

		p {
			font-size: 1.4rem;
			line-height: 24px;
		}
}