/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-contact-form {
	font-size: 1.4rem;
	text-align: center;
	&__inner{
		display: grid;
		grid-template-columns: 210px auto;
		grid-auto-rows: minmax(70px, auto);
		border-top: 1px solid #dddddd;
		z-index: 1;
		text-align: left;
	}
	&__label{
		background: #e0f4fb;
		padding-top: 10px;
		padding-left: 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		z-index: -1;

		span {
			background: #cf3d3d;
			color: #fff;
			display: block;
			max-height: 15px;
			min-width: 32px;
			text-align: center;
			margin-right: 20px;
			font-size: 1.1rem;
			margin-top: 8px;
		}
		span.ex {
			background: #9a9a9a;
		}
	}
	&__input {
		padding: 15px 70px 8px 20px;
		box-sizing: border-box;

		input, select, textarea{
			outline: 1px solid #dddddd;
			border: none;
		}

		input {
			width: 100%;
			font-size: 1.4rem;
			color: #333;
			padding: 10px;
		}
		input.input-shr,
		select.input-sel {
			width: 130px;
		}
		input.input-brk {
			margin-bottom: 10px;
		}
		p {
			padding-top: 10px;
		}
		select{
			padding: 10px;
			margin-bottom: 10px;
		}
		textarea {
			width: 100%;
			padding: 0 10px;
		}
	}
	button {
		margin-top: 58px;
		background: #269eca;
		border: none;
		outline: none;
		color: #fff;
		font-size: 1.5rem;
		font-weight: bold;
		padding: 20px 0 15px;
		min-width: 184px;
		cursor: pointer;
	}
	button::after {
		content: '';
		background: url('../img/pc/arr-btn.png') no-repeat;
		background-size: 7px 12px;
		width: 7px;
		height: 12px;
		display: inline-block;
		margin-left: 20px;
	}
	button:hover {
		background: #68bbda;
	}
}
::placeholder {
	color: #999999;
}