//--------------------C-navi---------
.c-gnaviside {
  text-align: center;
  padding-top: 20px;
  height: auto;
    ul {
      width: 100%;
      li {
        padding: 12px 0;
    }
    li:hover {
      background: #269eca;
    }
  }
}

