//---------------C-table---------------
.c-company-table {
		width: 100%;
		text-align: left;
		border-top: 1px solid #dddddd;

		td{
			border-bottom: 1px solid #dddddd;
		}

		td {
			padding-left: 20px;
			padding-top: 17px;
   			padding-bottom: 19px;
			font-size: 1.4rem;
			color: #333;
			span {
				display: block;
				line-height: 20px;
			}
		}

		td:first-child {
			width: 180px;
			background: #e0f4fb;
	}
}
