//--------------------Index----------------
.c-mainshow{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-column-gap: 30px;
	padding-bottom: 60px;
	@include breakpoint {
		display: block;
		padding: 0 20px 20px;
	}
	.c-imgtext1,
	.c-imgtext2{
		-webkit-transform: translateX(8px);
		   -moz-transform: translateX(8px);
		    -ms-transform: translateX(8px);
		     -o-transform: translateX(8px);
		        transform: translateX(8px);
		        @include breakpoint {
		        	-webkit-transform: translate(0);
		        	   -moz-transform: translate(0);
		        	    -ms-transform: translate(0);
		        	     -o-transform: translate(0);
		        	        transform: translate(0);
		        }
	}
}
.c-maincontent{
	display: flex;
	@include breakpoint {
		display: block;
		text-align: center;
		padding-top: 42px;
	}
	&__inner{
		flex:0.7;
		padding-left: 8px;
		@include breakpoint {
			margin-bottom: 65px;
		}
		&:last-child{
		flex: 0.6;
			@include breakpoint{
				margin-bottom: 0;
			}
		}
		.c-btn2{
			margin-top: 20px;
   			padding-right: 70px;
		}
		.c-btn2-ex{
			padding-right: 0;
		}
	}
}