//--------------------Page 2----------------
.p-page2__main {
	padding: 21px 40px 40px;
}
.c-mainpage2{

		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.c-btn2{
				    padding-bottom: 25px;
				    margin-right: -15px;
			}
			.c-title1-head2{
				padding-bottom:30px;
			}
		}
		&__inner {
		display: flex;
		padding-bottom: 60px;
   		justify-content: space-between;
  		margin-right: -18px;

		.main-img {
			grid-column: 1 / span 2;
		}

		&--left{
			display: grid;
			grid-row-gap: 20px;
		}
		&:last-child{
			padding-bottom: 40px;
		}
	}
}
.c-page2__contact{
	background: url('../img/pc/bg-pc-2.jpg') no-repeat center;
	background-size: cover;
	&--inner{
		width: 960px;
		height: 150px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-size: 2rem;
			color: $extra-black;
		}
		.c-btn3 p{
			font-size: 1.5rem;
		}
	}
}