@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';
//Breakpoint
$breakpoint: 768px;
//Variable Layout Minwidth & Maxwidth
$minWidth: 800px;
$maxWidth: 1060px;
//Variable Border Width and Color
$borderWidth: 1px;
$borderColor: #7c9acf;
//Variable Text & Color
$fs: 1.4rem;
