@import '0_base/mixin';
/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer{
	border-top: 1px solid $blue;
	padding-top: 60px;
	text-align: left;
	background-color: #f8f8f8;
	@include breakpoint{
		text-align: center;
		border: none;
		background-color: $sec-white;
		padding-top: 0;

	}

	&__info{
		width: 960px;
		margin: 0 auto;
		height: 355px;
		padding-left: 7px;
		@include breakpoint {
			width: 100%;
		}

		h3{
			padding-bottom: 5px;
			color: $blue-ex;
		}
		p {
			padding-top: 30px;
			font-size: 1.3rem;
			color: $blue-ex;
		}
		&--page2 {
			height: 180px;
		    display: grid;
		    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		    grid-auto-rows: minmax(26px, 34px);
		    h3{
		    	grid-row: 1;
   				grid-column: 1 / span 2;
		    }
		    .c-list1{
		    	margin: 0 !important;
		    	grid-row: 2;
		    }
		    p {
		    	grid-row: 3;
		    	margin-top: 10px;
		    }
		}
	}
	&__contact{
		background: $sec-white;
		border-top: 1px solid $border;
		padding: 42px 0;
		@include breakpoint{
			border-top: 2px solid $blue;
			padding: 20px;
		}
		ul {
			width: 960px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

				li {
					a {
						img {
							-webkit-transform: translateX(8px);
							   -moz-transform: translateX(8px);
							    -ms-transform: translateX(8px);
							     -o-transform: translateX(8px);
							        transform: translateX(8px);
							        @include breakpoint{
							        	-webkit-transform: translate(0);
							        	   -moz-transform: translate(0);
							        	    -ms-transform: translate(0);
							        	     -o-transform: translate(0);
							        	        transform: translate(0);
							        }
						}
					}
					@include breakpoint {
						padding-right: 5px;
						padding-bottom: 10px;
					}
				}
				@include breakpoint {
				width: auto;
				flex-wrap: wrap;
				justify-content: flex-start;
			}

			li:hover a img{
				-webkit-transform: translate(5);
				   -moz-transform: translate(5);
				    -ms-transform: translate(5);
				     -o-transform: translate(5);
				        transform: translate(5);
			}
		}
	}
	&__main{
		padding: 60px 0 30px;
		border-bottom: 1px solid #809ab3;
		@include breakpoint {
			padding: 10px 0 0;
		}
		&--inner {
			width: 960px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 40px;
			position: relative;
			@include breakpoint {
				width: 100%;
				display: flex;
			    justify-content: flex-start;
			    flex-direction: column-reverse;
			    padding: 20px;
			    border-bottom: 1px solid #809ab3;
			}

			.c-btn3,
			.c-btn1 {
				flex: 0;
			}
			.c-btn3{
				margin-right: 10px;
				@include breakpoint{
					margin: 0 0 20px 0;
				}
			}
			.c-btn1{
				p{
					text-align: right;
				}
				span {
					   padding: 4px 9px;
					@include breakpoint {
						padding: 0px 14px 4px 8px;
					}
				}
				@include breakpoint{
					margin: 0 0 10px 0;
				}
				span:nth-child(2){
					background: #0075a9;
				}
			}
			&:last-child {
				justify-content: flex-start;
				@include breakpoint{
					flex-direction: column;
					border: none;
					padding: 30px 20px 30px 11px;
				}
			}
		}

	}
	&__logo{
		flex: 1;
		h3{
			padding-left: 10px;
			@include breakpoint{
				padding-bottom: 22px;
			}
		}
	}
	&__add{
		color: $sec-white;
		margin-right: 30px;
		@include breakpoint {
			margin-right: 0;
			padding-bottom: 17px;
		}

		h3 {
			font-size: 1.4rem;
			padding-bottom: 15px;
			@include breakpoint {
				border: 1px solid #809ab3;
				border-radius: 3px;
				font-size: 1.3rem;
			    padding: 10px 0 10px;
			    color: #bfccd9;
			    margin-top: 7px;
			    margin-bottom: 10px;
			}
		}
		p{
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 16px;
			color: #bfccd9;
			@include breakpoint{
				font-size: 1.1rem;
				line-height: 1.7rem;
			}

			span{
				color: $sec-white;
			}
		}
		&:last-child{
			-webkit-transform: translateX(-200px);
			   -moz-transform: translateX(-200px);
			    -ms-transform: translateX(-200px);
			     -o-transform: translateX(-200px);
			        transform: translateX(-200px);
		}
	}
	&__add--img1{
		flex: 0.1;
		margin-right: 24px;
		margin-left: 15px;
	}
	&__add--img2 {
		position: absolute;
		right: -8px;
   		top: 1px;
		@include breakpoint{
			position: relative;
			margin-top: 14px;
			margin-left: 9px;
			top:0;
			right: 0;
		}
	}
	&__copy{
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 1px;
		@include breakpoint {
			display: block;
			text-align: center;
			padding: 10px 0;
		}

		p{
			color: $sec-white;
			line-height: 79px;
			font-size: 1.2rem;
			font-weight: 200;
			@include breakpoint{
				font-size: 0.9rem;
			    line-height: 0.8;
			    padding: 5px 0;
			}
		}
	}
}
