@import '0_base/mixin';
@import '0_base/vars';
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header{
	position: relative;
	border-bottom: 1px solid $blue;
	min-height: 960px;
	@include breakpoint{
		min-height: 420px;
		// background: url('../img/sp/bg-sp-1.jpg') no-repeat center;
		background-size: cover;
		border: none;
	}
	.logo{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		h1{
			padding: 40px 0 0 40px;
			@include breakpoint {
				padding: 0;
			}
		}
	}
	.c-btn1{
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 40px;
		margin-right: 21px;
	}
	.c-btn3{
		position: absolute;
		top: 0;
	    right: 273px;
	    margin-right: 0px;
	    margin-top: 33px;
	}
	.c-btn4{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 21px;
		margin-right: 25px;
	}
	.mainCopy{
		z-index: 1;
		position: absolute;
		top: 38%;;
		left: 0;
		margin-top: -4px;
		@include breakpoint {
			top: 83px;

		}

	}
	&__page-2{
		background: url('../img/pc/bg-page-2.jpg') no-repeat;
		background-size: cover;
		border: none;
	}
	&__catchCopy {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		right: 60px;
		top: 280px;

		h2 {
			padding-left: 38px;
		}

	}
	.sp-menuicon{
		position: absolute;
		top: 10px;
		right: 10px;
		img{
			cursor: pointer;
		}
	}
}
#main_visual {
	position: relative;
	width: 100%;
	min-height: 840px;
	transition: -khtml-opacity 1.2s ease-out, opacity 1.2s ease-out;
}
.ready {
	opacity: 1;
}
.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}