@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 960px;
	color: $pri-black;
	text-align: center;
	@include breakpoint{
		min-width: auto;
		font-size: 1.3rem;
	}
}

#wrapper {
	margin: 0 auto;
	@include breakpoint {
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
	}
}

.l-container {
	width: 960px;
	margin: 0 auto;
}
.l-main{
	width: 960px;
	margin: 0 auto;
	padding: 80px 0 74px;
	@include breakpoint {
		width: auto;
		padding: 30px 0;
	}
}

.pc-only{
	@include breakpoint{
		display: none !important;
	}
}
.sp-only {
	@include minbreakpoint {
		display: none !important;
	}
	@include breakpoint {
		display: block;
	}
}
img{
	@include breakpoint {
		max-width: 100%;
		height: auto;
	}
}


