/*Footer*/

#footer {
	width: 960px;
	padding-top: 30px;
	padding-bottom: 80px;
	text-align: center;
	margin: auto;

	.footer-menu-social {
		height: 30px;
		margin-top: 40px;

		ul {
			height: auto;
			box-sizing: border-box;

			li {
				display: inline-block;
				padding: 0 5px;
				a {
					cursor: pointer;

					img {
						width: 30px;
					}
				}
			}
		}
	}
	p {
		font-weight: 600;
		margin: 0;
		padding: 8px 0;
		font-size: 1.6rem;
		}

		.copyright {
			font-weight: 500;
			text-transform: uppercase;
			font-family: serif;
			font-size: 1.1rem;
			padding-top: 10px;
	}
}