/*Header*/

header {
	width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
	overflow: hidden;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: $white-color;
	position: fixed; //Fixed all header element on top

	.logo {
		width: 100%;
		box-sizing: border-box;
		text-align: center;

		img {
			width: 196px;
		}
		a:hover img{
			opacity: 1;
		}
	}
	.logo-sm {
		display: none;

	}
	.menu-social {
		float: right;
		position: absolute;
		top: 28px;
		right: 137px;

		ul {
			width: 100%;
			overflow: hidden;

			li {
				width: 25px;
				height: 25px;
				display: inline;
				box-sizing: border-box;
				float: left;
				margin: 5px;

				a {
					cursor: pointer;

					img {
						width: 100%;
					}
				}
			}
		}
	}

	/*Menu-Icon*/
	.menu-icon {
		width: 22px;
		float: right;
		position: fixed;
		top: 10px;
		right: 5px;
		display: none;

		.icon{
			width: 100%;
			height: 2px;
			margin: 3px 0;
			background-color: $black-color;
			cursor: pointer;
		}

		.rotate-bar-1 {
			transform: rotate(-45deg) translate(-10px,1px);
				-webkit-transform: rotate(-45deg) translate(-9px,-1px);
				-moz-transform: rotate(-45deg) translate(-9px,-1px);
				-o-transform: rotate(-45deg) translate(-9px,-1px);
			transition: 0.5s;
		}
		.rotate-bar-2{
			transform: rotate(45deg) translate(-4px, 5px);
				-webkit-transform: rotate(45deg) translate(-4px, 5px);
				-moz-transform: rotate(45deg) translate(-4px, 5px);
				-o-transform: rotate(45deg) translate(-4px, 5px);
			transition: 0.5s;
		}
	}

	.menu-icon::after {
		@include clearFix();
	}
	
}
