
/* Navigation */
nav.nav-fixed {
	width: 1200px;
	padding-top: 35px;
	background: $white-color;

	ul {
		width: 100%;
		padding-left: 210px;
		text-align: center;

		li {
			width: auto;
			box-sizing: border-box;
			line-height: 17px;
			float: left;
			padding: 0 15px 0 35px;
			overflow: hidden;

			a {
				width: 100%;
				cursor: pointer;

				img {
				display: block;
				}
			}

			&:nth-child(5) {
				padding: 0 30px 0 16px;
			}

			&:nth-child(6) {
				padding: 0 30px 0 16px;
			}
		}

		li.dropdown {
				padding: 0 15px 0 35px;
				height: auto;
				max-width: 130px;
				overflow: visible;

			ul.dropdown-content {
				width: 200px;
				padding: 0;
				margin: 0 0 0 5px;
				text-align: left;

				li {
					float: none;
					padding: 0 0 0 10px;
					margin: 10px auto;
					display: none;

					a {
						font-weight: 600;
						color: $black-color;
						font-size: 1.6rem;

						img {
							width: auto;
						}
					}
				}
			}
		}
		li.dropdown:hover ul.dropdown-content li {
			display: block;
		}
		li.sub-social{
			display: none;
		}
	}
}