/*Section NEWS */

.section-news {
	width: 960px;
	margin: 90px auto 0;
	box-sizing: border-box;
	position: relative;
	text-align: center;

	img.img-heading {
		margin-top: -8px;
		margin-bottom: 19px;
	}
	img.img-more {
		margin-top: 35px;
	    margin-left: 24px;
	    margin-bottom: 15px;
	}
	.news-content {
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		display: inline-block;
		padding: 70px 125px 0;

		img {
			width: 100%;
			margin-right: 20px;
			@include clearFix();
		}
		img.news-img-2 {
			margin-top: -8px;
		}
		.news-img {
			width: 182px;
			height: 124px;
			float: left;
			margin-left: 35px;
		}
		.content {
			margin-left: 200px;
			margin-top: -16px;

			p {
				font-weight: 500;
			    color: #414042;
			    margin: 0 0 -5px 0;
			    padding: 9px 0 0 35px;
			    font-size: 1.6rem;
			}

			span {
				color: $red-color;
			}
		}
		.content-2 {
			margin-top: -20px;

			p {
				margin: 0 0 -6px 0;
			}
		}
	}
}

/*Section Showcase*/

.section-showcase {
	width: 1200px;
	margin: auto;
	padding-top: 260px;
	overflow: hidden;

	.showcase-content{
		width: 100%;
		box-sizing: border-box;
		text-align: right;
		overflow: hidden;

		img {
			width: 100%;
			margin-bottom: 15px;
		}
		img.showcase-pc {
			display: block;
		}

		img.showcase-sm {
			display: none;
		}

		a {
			color: $black-color;
			font-weight: 500;
			font-size: 1.6rem;
			&:last-child {
				margin-right: 120px;
			}
		}
		a.bread-crumb {
			font-size: 1.2rem;
    		margin-left: -8px;
		}
	}
}


/*Section Message*/
.section-message {
	width: 960px;
	height: auto;
	text-align: center;
	margin: 85px auto 89px;

	a {
		padding: 0;

		img.img-msg{
			width: 350px;
			margin-bottom: 23px;
		}
	}
	.message-content {
		width: 100%;
		height: 600px;
		margin: auto;
		box-sizing: border-box;
		position: relative;

		img {
			width: 100%;
		}
		.bg-pc {
				display: block
			}
		.bg-sm {
				display: none;
			}
		.img-author {
				display: none;
			}

		.msg-text {
			width: 430px;
			height: 400px;
			text-align: left;
			box-sizing: border-box;
			position: absolute;
			top: 74px;
			left: 56px;

			p {
				color: $white-color;
				line-height: 29px;
			    margin: 0;
			    font-size: 1.4rem;
			}
			p.bot {
				    font-family: 'Arial', Helvetica, san-serif;
				    letter-spacing: 1px;
				    line-height: 29px;
				    font-size: 1.6rem;
			}
		}

	}
	p.text-break {
		text-align: left;
		margin-top: 45px;
		margin-bottom: 0;
		font-weight: 500;
		font-size: 1.6rem;
	}
}

/*Section Gallery*/

.section-gallery {
	width: 960px;
	text-align: center;
	margin: 80px auto 0;
	padding-bottom: 100px;

		a {
			padding: 0;
			margin: 0;

			img.img-glr {
				width: 330px;
				margin: 14px auto 14px 8px;
			}

		}
	.gallery-content {
		width: 100%;
		margin: 22px auto 0;
		height: 350px;

		.content {
			width: 460px;
		    height: 340px;
		    text-align: left;
		    box-sizing: border-box;
		    float: left;
		    margin-top: -19px;

			p {
				margin: 0;
			    font-weight: 500;
			    font-size: 1.4rem;
			    line-height: 29px;
			    letter-spacing: 0px;
			}

			img {
				width: 460px;
				height: 340px;
				margin-left: 40px;
			}
		}
		.sm-gallery {
				display: none;
			}
	}
	.gallery-content::after {
		@include clearFix();
	}
}

/*Section Access*/

.section-access {
	width: 960px;
	text-align: center;
	margin: 0 auto 178px;

		a {
			padding: 0;
			margin: 0;

			img.img-acc {
				margin: 80px auto 0;
			}

		}
	.access-content {
		width: 100%;
		height: 500px;
		position: relative;

		.content {
			width: 460px;
			height: auto;
			text-align: left;
			box-sizing: border-box;
			float: left;
			margin-top: 22px;

			p {
			    margin: 0;
			    font-weight: 500;
			    line-height: 29px;
			    margin-left: 40px;
			    font-size: 1.5rem;
			    letter-spacing: 0;
			}
			img {
				width: 100%;
			}
			img.img-content {
				margin-left: 40px;
				margin-bottom: 20px;
			}
			img.sm-gg{
				display: none;
			}

		}

		a.map {
			margin-top: 15px;
			float: left;
			clear: both;

			img.pc-gg {
				display: block;
			}
		}
	}
	.access-content::after {
		@include clearFix();
	}
}
