@import 'base/_variable.scss';
@import 'base/_mixin.scss';

/* Slider */

.section-slider {
	width: 1200px;
	padding-top: 10px;
	margin: 0 auto;

}
.slider-container {
		max-width: 100%;
		position: relative;
		margin: auto;
		box-sizing: border-box;
		
	.slider {
		
		margin-top: 100px;
		display: none;

		img {
			width: 100%;
			margin-top: 150px;
			vertical-align: middle;
		}
	}
	a {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 22px 10px 0 20px;
		margin-top: 0;
		color: $white-color;
		font-weight: bold;
		font-size: 40px;
		transition: 0.6s ease;
		border-radius: 0px 3px 3px 0;

		&.next {
			right: 0;
		}
	}
	.dot-btn {
		text-align: center;
		padding-top: 32px;

		.dot {
			cursor: pointer;
			width: 10px;
			height: 10px;
			margin: 0 1.9px;
			background-color: #d1d2d4;
			display: inline-block;
			transition: background-color 0.6s ease;
			@include border-radius(50%);
		}
	}
	.dot:hover,
	.dot.active {
			background-color: #939598;
		}
}