@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
.globalHeader {
  position: relative;
}

.globalHeader .mainVisual {
  min-height: 750px;
  position: relative;
  transition: -khtml-opacity 1.5s ease-out, opacity 1.5s ease-out;
  -webkit-transition: -khtml-opacity 1.5s ease-out, opacity 1.5s ease-out;
  -khtml-opacity: 0;
  opacity: 0;
}

.globalHeader .mainVisual .visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.globalHeader .ready {
  opacity: 1;
}

.globalHeader_top {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

.globalHeader_top h1 {
  margin-top: 90px;
}

.globalHeader_main {
  background: #5ea6e8;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
.globalFooter {
  background: #eff3f7;
  color: #3386c2;
  margin-top: 120px;
  padding-bottom: 120px;
}

.globalFooter_contact {
  padding-top: 60px;
  padding-bottom: 120px;
  background: #5ea6e8;
}

.globalFooter_main {
  width: 1000px;
  margin: 0 auto;
}

.globalFooter_bot {
  border-top: 1px solid #6c6969;
  border-color: #d4d4d4;
  height: 55px;
}

.globalFooter_bot dl {
  color: #000;
}

.globalFooter_bot dt {
  float: left;
  margin-right: 15px;
}

.globalFooter_bot dd {
  display: inline-block;
  margin-right: 30px;
}

.globalFooter_bot dd:after {
  display: block;
  clear: both;
  content: "";
}

.globalFooter_bot p {
  color: #000;
}

/*------------------------------------------------------------
	                    SIDE LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    BREADCRUMB LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    MAIN LAYOUT
------------------------------------------------------------*/
.l-content {
  width: 1000px;
  margin: 0 auto;
}

@media all and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media all and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media all and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
.c-btn a {
  padding: 14px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.c-btn_contact a {
  min-width: 126px;
  background: #e69800;
  color: #ffffff;
}

.c-btn_contact a::before {
  content: '';
  background: url("../img/icon_mail.png") no-repeat;
  background-size: 21px 15px;
  width: 21px;
  height: 15px;
  margin-right: 10px;
}

.c-btn_contact a::after {
  content: '';
  background: url("../img/icon_contact.png") no-repeat;
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.c-btn_contact a:hover {
  background: #fff;
  color: #e69800;
}

.c-btn_contact a:hover::before {
  background: url("../img/icon_mail-hover.png");
}

.c-btn_contact a:hover::after {
  background: url("../img/icon_contact-hover.png");
}

.c-btn_contact-2 a {
  width: 173px;
  color: #3386c2;
  border: 1px solid #6c6969;
  border-color: #3386c2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-btn_contact-2 a::after {
  content: '';
  background: url("../img/icon_contact-hover.png") no-repeat;
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.c-btn_contact-2 a:hover {
  background: #3386c2;
  color: #fff;
}

.c-btn_contact-2 a:hover::after {
  background: url("../img/icon_contact.png") no-repeat;
}

.c-btn_contact-3 a {
  width: 430px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-btn_contact-4 a,
.c-btn_contact-5 a {
  width: 318px;
  height: 86px;
  background: #fff;
  border: 1px solid #6c6969;
  border-color: #4c86c2;
}

.c-btn_contact-4 a::before,
.c-btn_contact-5 a::before {
  background: url("../img/icon_3.png");
  background-size: 40px 51px;
  width: 40px;
  height: 51px;
}

.c-btn_contact-4 a::after,
.c-btn_contact-5 a::after {
  background: url("../img/icon_5.png");
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
}

.c-btn_contact-4 a:hover,
.c-btn_contact-5 a:hover {
  background: #4c86c2;
}

.c-btn_contact-4 a:hover::before,
.c-btn_contact-5 a:hover::before {
  background: url("../img/icon_3-hover.png");
}

.c-btn_contact-4 a:hover:after,
.c-btn_contact-5 a:hover:after {
  background: url("../img/icon_5-hover.png");
}

.c-btn_contact-4 a .c-title1,
.c-btn_contact-5 a .c-title1 {
  padding: 0;
}

.c-btn_contact-5 a.ex-ctn5::before {
  background: url("../img/icon_4.png");
  background-size: 45px 54px;
  width: 45px;
  height: 54px;
}

.c-btn_contact-5 a.ex-ctn5:hover::before {
  background: url("../img/icon_4-hover.png");
}

.c-btn_phone {
  width: 470px;
  text-align: center;
  border-top: 1px solid #6c6969;
  border-bottom: 1px solid #6c6969;
  border-color: white;
}

/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
.main-title {
  background-size: cover !important;
  height: 270px;
  position: relative;
  margin-bottom: 100px;
}

.main-title_company {
  background: url("../img/bg-company.jpg") no-repeat center;
  margin-bottom: 120px;
}

.main-title_shop {
  background: url("../img/bg-shop.jpg") no-repeat center;
}

.main-title_blog {
  background: url("../img/bg-blog.jpg") no-repeat center;
}

.main-title .c-title1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-title1 {
  text-align: center;
  font-size: 1.6rem;
  line-height: 20px;
  color: #333;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 40px;
}

.c-title1 h3 {
  padding-bottom: 5px;
}

.c-title2 {
  color: #3386c2;
}

.c-title2 h3 {
  font-size: 2.5rem;
}

/*------------------------------------------------------------
	                    ICON COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    FORM COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TEXT COMPONENT
------------------------------------------------------------*/
.c-text1 {
  padding: 30px 0 20px;
  border-top: 1px solid #6c6969;
  border-color: #eeeeee;
}

.c-text1 p {
  line-height: 15px;
  padding-bottom: 12px;
  color: #333333;
}

.c-text1 span {
  border: 1px solid #6c6969;
  border-color: #e69800;
  color: #e69800;
  font-size: 1.2rem;
  padding: 0 20px;
  text-align: center;
}

.c-text1 .u-text {
  border-bottom: 1px solid #6c6969;
  border-color: #333333;
  padding-bottom: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
.globalNav {
  width: 1000px;
  margin: 0 auto;
  height: 86px;
  overflow: hidden;
}

.globalNav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.globalNav_items ul {
  width: 630px;
  position: relative;
}

.globalNav_items ul li {
  margin-right: 0;
}

.globalNav_items ul li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 150px;
}

.globalNav_items ul li a::after {
  content: '';
  background: url("../img/icon_1.png") no-repeat;
  background-size: 11px 19px;
  width: 11px;
  height: 19px;
  position: absolute;
  right: -10%;
}

.globalNav_items ul li:nth-child(4) a::after {
  content: none;
}

.globalNav_items ul li:nth-child(5) {
  width: 0;
}

.globalNav_items ul li span {
  position: absolute;
  display: block;
  height: 4px;
  width: 40px;
  top: 139%;
  background: #fff;
}

.globalNav_items_foot ul li a::after {
  background: url(../img/icon_2.png) no-repeat;
}

.globalNav_items_foot ul li span {
  background: #5ea6e8;
}

/*------------------------------------------------------------
	                    IMAGES & IMAGES TEXT COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    LIST COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TABLE COMPONENT
------------------------------------------------------------*/
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-bottom: 1px solid #6c6969;
  border-color: #dcdcdc;
}

table th, table td {
  border-top: 1px solid #6c6969;
  border-color: #dcdcdc;
  padding: 30px 0;
}

table th {
  color: #3386c2;
  padding-left: 40px;
  width: 200px;
  font-weight: bold;
  font-size: 1.5rem;
}

table td {
  width: auto;
}

table span {
  display: block;
  line-height: 21px;
}

/*------------------------------------------------------------
	                    LINE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    VIDEO COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    SLIDER COMPONENT
------------------------------------------------------------*/
.slider {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 3px;
}

/*------------------------------------------------------------
	                    OTHER COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    PAGE INDEX
------------------------------------------------------------*/
.p-index {
  background: url("../img/bg-main.jpg") no-repeat center;
  background-size: cover;
  padding-top: 100px;
}

.p-index .slider {
  margin-top: 20px;
}

.p-index .c-btn_contact-2 {
  margin-top: 30px;
}

.p-index .c-btn_contact-4 {
  margin-right: 40px;
}

.p-index_about {
  margin-top: 160px;
}

.p-index_topic {
  margin-top: 180px;
}

.p-index_topic_inner dl {
  max-height: 150px;
  overflow-y: scroll;
}

.p-index_topic_inner dt {
  margin-right: 50px;
  float: left;
  color: #3386c2;
  font-size: 1.2rem;
}

.p-index_topic_inner dd {
  border-bottom: 1px solid #6c6969;
  border-color: #ededed;
  cursor: pointer;
}

.p-index_topic_inner dd:after {
  display: block;
  clear: both;
  content: "";
}

.p-index_topic_inner dd:hover {
  text-decoration: underline;
}

.p-index_topic_inner dt, .p-index_topic_inner dd {
  line-height: 40px;
}

.p-index_contact {
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 120px;
  background: #5ea6e8;
}

/*------------------------------------------------------------
	                    PAGE COMPANY
------------------------------------------------------------*/
.p-company {
  background: url("../img/bg-company-content.jpg") no-repeat center;
  background-size: cover;
}

.p-company .c-title2 {
  margin-bottom: 80px;
}

.p-company .c-title1 {
  margin-bottom: 110px;
}

.p-company_info {
  margin-bottom: 120px;
}

/*------------------------------------------------------------
	                    SHOP COMPANY
------------------------------------------------------------*/
.p-shop {
  margin-bottom: -40px;
}

.p-shop_head {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 55px;
}

.p-shop_inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: 435px auto;
  grid-template-rows: minmax(auto, 225px);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.p-shop_inner:after {
  display: block;
  clear: both;
  content: "";
}

.p-shop_slider {
  position: relative;
  overflow: hidden;
}

.p-shop_content table {
  height: 100%;
}

.p-shop_content th, .p-shop_content td {
  padding: 10px 0;
}

.p-shop_content th {
  width: 140px;
  padding-left: 30px;
  font-size: 1.9rem;
}

.p-shop_content p {
  line-height: 20px;
  font-size: 1.5rem;
}

/*------------------------------------------------------------
	                    SHOP COMPANY
------------------------------------------------------------*/
.p-blog {
  background: url("../img/bg-blog-content.jpg") no-repeat;
  background-size: cover;
}

.p-blog_inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: auto 260px;
  grid-column-gap: 110px;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.box-cen-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-cen-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.box-cen-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.box-bet-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-bet-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.box-bet-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.box-start-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-start-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.box-start-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.box-end-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-end-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.box-end-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.u-blue {
  color: #3386c2 !important;
}

.u-white {
  color: #ffff;
}

.j-text {
  margin-bottom: 40px;
}
