/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar {
  background-color: #4a4a4a;
  height: 7px;
}

.section-slide {
  margin: 15px auto 0;
}

.section-slide img {
  max-width: 100%;
}

.section-about {
  margin: 0 auto;
}

.section-about .about {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.section-about .about p {
  font-size: 1.6rem;
  line-height: 28px;
  color: #231815;
  font-weight: 500;
}

.section-collection {
  margin: 0 auto;
  padding-top: 46px;
}

.section-collection:after {
  display: block;
  clear: both;
  content: "";
}

.section-collection .col-slider {
  width: 520px;
  margin: 0 32px 0 50px;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-collection .col-slider:after {
  display: block;
  clear: both;
  content: "";
}

.section-collection .mySlides,
.section-collection .mySlides-2,
.section-collection .mySlides-3 {
  display: none;
}

.section-collection .dot,
.section-collection .dot-2,
.section-collection .dot-3 {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.section-collection .active, .section-collection .dot:hover {
  background-color: #717171;
}

.section-collection .prev,
.section-collection .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
}

.section-collection .prev {
  left: 0;
  margin-top: -50px;
  margin-left: 21px;
}

.section-collection .next {
  right: 0;
  margin-right: 21px;
  margin-top: -50px;
}

.section-collection .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.section-collection .btn-dot {
  padding-top: 13px;
  padding-right: 12px;
}

.section-collection .col-content {
  width: 550px;
  text-align: left;
  float: left;
  margin-top: 3px;
  padding-left: 25px;
  position: relative;
  height: 600px;
}

.section-collection .col-content:after {
  display: block;
  clear: both;
  content: "";
}

.section-collection .col-content p {
  font-size: 1.6rem;
  line-height: 24px;
  padding-left: 10.5px;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.section-collection .col-content .des-cont {
  margin-top: 27px;
}

.section-collection .col-content .des-cont img.btn-col-pc {
  width: 390px;
  margin: 35px 0 0 10px;
}

.section-collection .col-content .content-price {
  position: absolute;
  bottom: 0;
  margin: 0 0 -34px;
}

.section-collection .col-content .content-price p {
  padding: 0 0 0 9px;
}

.section-collection .col-content .content-price p.top-des {
  padding-top: 25px;
  font-size: 2rem;
}

.section-collection .col-content .content-price p.top-des:after {
  display: block;
  clear: both;
  content: "";
}

.section-collection .col-content .content-price p.price {
  font-size: 1.2rem;
  padding-top: 5px;
  padding-left: 13px;
}

.section-collection .col-content .content-price span {
  font-size: 3.4rem;
  letter-spacing: -0.5px;
}

.section-collection .col-content .content-price span.ex-pri {
  font-size: 2.3rem;
}

.section-collection .col-content .content-price img {
  margin-bottom: 28px;
}

.section-collection .col-content .content-price img.top-val {
  width: 75px;
  margin: 11px 11px 15px;
  float: left;
}

.section-collection .col-content .content-price ul {
  margin: 18px 11px 13px;
}

.section-collection .col-content .content-price ul li {
  display: inline-block;
  margin-right: 8px;
}

.section-collection .col-content .ex-col {
  margin: 0 0 -33px;
}

.section-collection .col-content .ex-col p.top-des {
  padding: 4px 0 0 10px;
}

.section-collection .col-content .ex-col p.price {
  padding: 16px 0 0 12px;
}

.section-collection.col-2 {
  margin: 0 auto 30px;
  padding: 50px 0 0 0;
}

.section-collection.col-2 .col-slider {
  float: right;
  margin: -3px 50px 0 0;
}

.section-collection.col-2 .col-slider:after {
  display: block;
  clear: both;
  content: "";
}

.section-collection.col-2 .col-content {
  float: left;
  padding-left: 45px;
  margin-top: 1px;
  position: relative;
  height: 645px;
}

.section-collection.col-2 .col-content:after {
  display: block;
  clear: both;
  content: "";
}

.section-collection.col-2 .col-content img {
  margin-bottom: 40px;
}

.section-collection.col-2 .col-content p {
  padding: 0;
}

.section-collection.col-2 .col-content p.top-des {
  padding: 0;
}

.section-collection.col-2 .col-content .des-cont {
  padding-left: 5px;
  padding-right: 35px;
  margin: 0;
}

.section-collection.col-2 .col-content .content-price {
  margin: 0;
  position: absolute;
  bottom: 0;
}

.section-collection.col-2 .col-content .content-price p {
  font-size: 1.6rem;
  line-height: 24px;
  padding-left: 8px;
}

.section-collection.col-2 .col-content .content-price p.top-des {
  font-size: 2rem;
  padding-top: 5px;
  padding-left: 2px;
  letter-spacing: -1.1px;
}

.section-collection.col-2 .col-content .content-price p.price {
  font-size: 1.2rem;
  padding: 13px 0 0 12px;
}

.section-collection.col-2 .col-content .content-price span {
  letter-spacing: 0;
}

.section-collection.col-2 .col-content .content-price span.ex-pri {
  font-size: 1.96rem;
}

.section-collection.col-2 .col-content .content-price ul {
  margin: 18px 11px 11.5px;
}

.section-main {
  width: 1100px;
  height: 423px;
  background-color: #eef2f5;
  margin: 40px auto -5px;
  border-radius: 5px;
  padding-top: 78px;
}

.section-main .main-content {
  width: 420px;
  height: auto;
  float: left;
  text-align: justify;
  padding: 0 0 0 70px;
}

.section-main .main-content:after {
  display: block;
  clear: both;
  content: "";
}

.section-main .main-content img {
  width: 100%;
  margin-bottom: 21px;
  margin-left: -14px;
}

.section-main .main-content img.btn {
  margin: 33px 0 0 8px;
  width: 390px;
}

.section-main .main-content p {
  font-size: 1.6rem;
  line-height: 33px;
  color: #000;
  letter-spacing: -1.48px;
  font-weight: 600;
}

.section-main .main-sidebar {
  width: 600px;
  float: right;
  text-align: left;
  position: relative;
  margin-top: -4px;
}

.section-main .main-sidebar:after {
  display: block;
  clear: both;
  content: "";
}

.section-main .main-sidebar img {
  margin: 0 0 0 30px;
  float: left;
}

.section-main .main-sidebar img:after {
  display: block;
  clear: both;
  content: "";
}

.banner {
  width: 998px;
  height: 107px;
  margin: 45px auto;
  background: url("../img/pc/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner img.date {
  position: absolute;
  top: 0;
  left: 0;
  margin: 23px 0 0 54px;
}

.banner img.arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 45px 30px 0 0;
}

.banner-2 {
  margin: 76px auto;
  background: url("../img/pc/banner-2.jpg") no-repeat;
}

@media screen and (max-width: 736px) {
  .section-slide {
    width: 100%;
    margin: 0;
  }
  .section-slide img {
    width: auto;
    display: none;
  }
  .section-slide img.sp-only {
    display: block;
  }
  .section-about {
    width: 100%;
  }
  .section-about .about {
    padding: 20px 40px 38px;
    text-align: center;
  }
  .section-about .about p {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .section-collection {
    padding: 0 25px 30px;
  }
  .section-collection .col-slider {
    width: auto;
    float: none;
    margin: 0;
    padding: 0;
  }
  .section-collection .col-slider img {
    max-width: 100%;
    height: auto;
    margin-top: -9px;
  }
  .section-collection .col-slider a.next {
    margin-right: 12px;
    margin-top: -22px;
  }
  .section-collection .col-slider a.prev {
    margin-top: -22px;
    margin-left: 12px;
  }
  .section-collection .col-slider .mySlides,
  .section-collection .col-slider .mySlides-2,
  .section-collection .col-slider .mySlides-3 {
    margin-top: 9px;
  }
  .section-collection .col-slider .btn-dot {
    padding-top: 4px;
    padding-right: 0;
    margin-left: 1px;
  }
  .section-collection .col-slider .dot,
  .section-collection .col-slider .dot-2,
  .section-collection .col-slider .dot-3 {
    width: 7px;
    height: 7px;
    margin: -1px 3px;
  }
  .section-collection .col-content {
    float: none;
    width: auto;
    margin: 23px 0 0 0;
    padding: 0;
    height: auto;
  }
  .section-collection .col-content .des-cont {
    margin: 27px 0 0 0;
  }
  .section-collection .col-content .des-cont p {
    padding: 0;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: justify;
    display: inline;
    letter-spacing: -0.1px;
  }
  .section-collection .col-content .des-cont img.btn-col-sp {
    margin: 10px 0 16px;
  }
  .section-collection .col-content .content-price {
    position: relative;
    margin: 0;
  }
  .section-collection .col-content .content-price img.top-val-sp {
    margin: 10px 5px 20px 0;
    float: left;
  }
  .section-collection .col-content .content-price p {
    font-size: 1.2rem;
    line-height: 12px;
    padding: 0;
  }
  .section-collection .col-content .content-price p.top-des {
    padding: 18px 0 0 0;
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: 600;
  }
  .section-collection .col-content .content-price p.price {
    font-size: 1.2rem;
    line-height: 12px;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0;
  }
  .section-collection .col-content .content-price span {
    font-size: 2.1rem;
    font-weight: 600;
  }
  .section-collection .col-content .content-price span.ex-pri {
    font-size: 1.6rem;
  }
  .section-collection .col-content .content-price ul {
    margin: 13px 0 0;
  }
  .section-collection .col-content .content-price ul li {
    display: block;
    margin: 0;
    padding-bottom: 8px;
  }
  .section-collection .col-content .content-price ul li a {
    width: 100%;
  }
  .section-collection .col-content .content-price ul li a img {
    width: 100%;
    margin: 0;
  }
  .section-collection .col-content .ex-col {
    margin-top: 15px;
  }
  .section-collection .col-content .ex-col p {
    padding: 0;
  }
  .section-collection .col-content .ex-col p.top-des {
    padding: 2px;
  }
  .section-collection .col-content .ex-col p.price {
    padding-top: 13px;
  }
  .section-collection.col-2 {
    margin: 0 auto;
    padding: 0 25px 73px;
  }
  .section-collection.col-2 .col-slider {
    width: auto;
    float: none;
    margin: 0;
    padding: 0;
  }
  .section-collection.col-2 .col-content {
    float: none;
    width: auto;
    margin: 23px 0 0 0;
    padding: 0;
    height: auto;
  }
  .section-collection.col-2 .col-content img {
    margin: 0 0 23px;
  }
  .section-collection.col-2 .col-content .des-cont {
    margin: 0;
    padding: 0;
  }
  .section-collection.col-2 .col-content .content-price {
    position: relative;
    margin-top: 20px;
  }
  .section-collection.col-2 .col-content .content-price p {
    padding: 0;
    font-size: 1rem;
    line-height: 9px;
  }
  .section-collection.col-2 .col-content .content-price p.top-des {
    font-size: 1.5rem;
    line-height: 18px;
  }
  .section-collection.col-2 .col-content .content-price p.price {
    font-size: 1rem;
    line-height: 12px;
    padding: 16px 0 0 0;
    font-weight: 500;
    letter-spacing: 0;
  }
  .section-collection.col-2 .col-content .content-price span {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .section-collection.col-2 .col-content .content-price span.ex-pri {
    font-size: 1.6rem;
    letter-spacing: -0.5px;
  }
  .section-collection.col-2 .col-content .content-price ul {
    margin: 14px 0 0;
  }
  .section-main {
    width: auto;
    height: auto;
    margin: 0 25px;
    padding: 0 15px 25px;
  }
  .section-main .main-content {
    width: 100%;
    float: none;
    padding: 0;
  }
  .section-main .main-content img {
    margin: 2px 0 9px;
  }
  .section-main .main-content p {
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: -0.7px;
  }
  .section-main .main-sidebar {
    width: 100%;
    float: none;
    margin: 15px 0 0;
  }
  .section-main .main-sidebar img {
    margin: 5px 0;
    float: none;
  }
  .section-main .main-sidebar img:last-child {
    position: relative;
    margin: 18px 0 0;
  }
  .banner {
    width: auto;
    margin: 26px 0 64px;
    padding: 0 25px;
    background: none;
    height: auto;
  }
  .banner .banner-sp {
    position: relative;
  }
  .banner .banner-sp a {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
  }
  .banner-2 {
    padding: 0 25px;
    background: none;
    margin: 10px 0 66px;
    height: auto;
  }
}
