@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a:link {
  color: #333333;
}

a:visited,
a:hover,
a:active {
  color: #666699;
}

a::active {
  text-decoration: underline;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
  grid-column: 1;
  grid-row: 1 / span 3;
  background: #1085b0;
  z-index: 999;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  width: 220px;
  top: 0;
  left: 0;
}

.c-header__top {
  background: #fff;
  z-index: 1;
  padding: 0 20px 0px;
}

.c-header__top h1 {
  font-size: 1.1rem;
  line-height: 1.5rem;
  position: relative;
  padding: 20px 0 17px;
}

.c-header__top h1::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #1085b0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.c-header__top h2 {
  padding: 20px 0;
}

.c-header__contact {
  background: #269eca;
  padding: 10px 20px 20px;
  grid-row: 4;
  position: absolute;
  bottom: 0;
  left: 0;
}

.c-header__contact h2 {
  padding-bottom: 10px;
}

.c-header__contact a img {
  margin-bottom: 10px;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  background: #269eca;
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
}

.c-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 36px 0;
  width: 960px;
  margin: 0 auto;
}

.c-footer__inner--logo {
  -ms-flex-preferred-size: 310px;
      flex-basis: 310px;
  text-align: left;
}

.c-footer__inner--logo h1 {
  padding-bottom: 20px;
}

.c-footer__inner--logo p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.c-footer__inner--btn {
  -ms-flex-preferred-size: 215px;
      flex-basis: 215px;
}

.c-footer__inner--btn a img {
  margin-bottom: 5px;
}

.c-footer__inner--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  padding-left: 10px;
}

.c-footer__inner--nav ul {
  margin-right: 30px;
}

.c-footer__inner--nav ul li {
  line-height: 20px;
}

.c-footer__inner--nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.c-footer__inner--nav ul li a:hover {
  text-decoration: underline;
}

.c-footer__inner--nav ul li::before {
  content: '';
  display: inline-block;
  background: url("../img/pc/f-arr.png") no-repeat;
  background-size: 6px 10px;
  width: 6px;
  height: 10px;
}

.c-footer__inner--nav ul:nth-child(2) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.c-footer__inner .btn-scrl {
  position: absolute;
  right: 0;
  bottom: 60px;
  display: none;
  z-index: 999;
}

.copy {
  background: #fff;
  grid-column: 1 / span 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copy p {
  font-size: 1.2rem;
  line-height: 50px;
  text-align: center;
}

.c-dev-breadcrumb {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-dev-breadcrumb ul {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-dev-breadcrumb ul li {
  padding-right: 0;
}

.c-dev-breadcrumb ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
}

.c-dev-breadcrumb ul li:after {
  content: '>';
  color: #333333;
  margin: 0;
}

.c-dev-breadcrumb ul li:last-child a {
  text-decoration: underline;
}

.c-dev-breadcrumb ul li:last-child::after {
  content: '';
}

.c-dev-breadcrumb ul li:first-child a {
  color: #006699;
}

.c-dev-breadcrumb ul li:hover a {
  text-decoration: underline;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  line-height: 1.6;
  font-size: 1.4rem;
  min-width: 1300px;
}

#wrapper {
  display: grid;
  grid-template-columns: 220px 370px auto;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
a.btn-txt {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 214px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid #fff;
  display: inline-block;
}

a.btn-txt::after {
  content: '';
  display: inline-block;
  background: url("../img/pc/arr.png") no-repeat center;
  background-size: 7px 12px;
  width: 7px;
  height: 12px;
  margin-left: 15px;
}

.btn-txt:hover {
  background: #fff;
  color: #333;
}

.btn-txt:hover::after {
  background: url("../img/pc/arr-hover.png") no-repeat;
}

a.btn-txt--company {
  background: #269eca;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 37px auto;
  padding: 12px 0;
  width: 270px;
}

a.btn-txt--company::before {
  content: '';
  background: url("../img/pc/btn-company.png") no-repeat;
  background-size: 20px 16px;
  height: 16px;
  width: 20px;
  display: inline-block;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

a.btn-txt--company:hover {
  background: #68bbda;
  color: #fff;
}

a.btn-txt--company:hover::after {
  background: url("../img/pc/arr.png") no-repeat;
}

.btn-scroll-bot {
  position: absolute;
  bottom: 34px;
  left: 45.5%;
}

.btn-scroll-bot img {
  margin-right: -15px;
}

a.c-btn--img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.c-btn3 {
  padding-right: 2px;
}

.c-dev-title1 {
  grid-column: 1 / span 4;
  min-height: 300px;
  background-size: cover;
  display: grid;
  grid-template-columns: auto 960px auto;
}

.c-dev-title1 h2 {
  margin: auto;
  grid-column: 2 / 3;
}

.c-dev-title1__company {
  background: url("../img/pc/company-bg.jpg") no-repeat;
}

.c-dev-title1__business {
  background: url("../img/pc/bsn-bg.jpg") no-repeat center;
}

.c-dev-title1__works {
  background: url("../img/pc/works-bg.jpg") no-repeat center;
}

.c-dev-title1__flow {
  background: url("../img/pc/flow-bg.jpg") no-repeat center;
}

.c-dev-title1__policy {
  background: url("../img/pc/policy-bg.jpg") no-repeat;
}

.c-dev-title1__contact {
  background: url("../img/pc/contact-bg.jpg") no-repeat center;
}

.c-dev-title2 h3 {
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.c-dev-title2 h3::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 4px;
  background: #269eca;
  top: -30px;
  left: 46%;
}

.c-dev-title3 {
  text-align: center;
  padding-bottom: 38px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.c-dev-title3 p {
  font-size: 1.4rem;
  line-height: 24px;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-contact-form {
  font-size: 1.4rem;
  text-align: center;
}

.c-contact-form__inner {
  display: grid;
  grid-template-columns: 210px auto;
  grid-auto-rows: minmax(70px, auto);
  border-top: 1px solid #dddddd;
  z-index: 1;
  text-align: left;
}

.c-contact-form__label {
  background: #e0f4fb;
  padding-top: 10px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: -1;
}

.c-contact-form__label span {
  background: #cf3d3d;
  color: #fff;
  display: block;
  max-height: 15px;
  min-width: 32px;
  text-align: center;
  margin-right: 20px;
  font-size: 1.1rem;
  margin-top: 8px;
}

.c-contact-form__label span.ex {
  background: #9a9a9a;
}

.c-contact-form__input {
  padding: 15px 70px 8px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-contact-form__input input, .c-contact-form__input select, .c-contact-form__input textarea {
  outline: 1px solid #dddddd;
  border: none;
}

.c-contact-form__input input {
  width: 100%;
  font-size: 1.4rem;
  color: #333;
  padding: 10px;
}

.c-contact-form__input input.input-shr,
.c-contact-form__input select.input-sel {
  width: 130px;
}

.c-contact-form__input input.input-brk {
  margin-bottom: 10px;
}

.c-contact-form__input p {
  padding-top: 10px;
}

.c-contact-form__input select {
  padding: 10px;
  margin-bottom: 10px;
}

.c-contact-form__input textarea {
  width: 100%;
  padding: 0 10px;
}

.c-contact-form button {
  margin-top: 58px;
  background: #269eca;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0 15px;
  min-width: 184px;
  cursor: pointer;
}

.c-contact-form button::after {
  content: '';
  background: url("../img/pc/arr-btn.png") no-repeat;
  background-size: 7px 12px;
  width: 7px;
  height: 12px;
  display: inline-block;
  margin-left: 20px;
}

.c-contact-form button:hover {
  background: #68bbda;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-ms-input-placeholder {
  color: #999999;
}

::placeholder {
  color: #999999;
}

/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-gnaviside {
  text-align: center;
  padding-top: 20px;
  height: auto;
}

.c-gnaviside ul {
  width: 100%;
}

.c-gnaviside ul li {
  padding: 12px 0;
}

.c-gnaviside ul li:hover {
  background: #269eca;
}

.c-company-table {
  width: 100%;
  text-align: left;
  border-top: 1px solid #dddddd;
}

.c-company-table td {
  border-bottom: 1px solid #dddddd;
}

.c-company-table td {
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 19px;
  font-size: 1.4rem;
  color: #333;
}

.c-company-table td span {
  display: block;
  line-height: 20px;
}

.c-company-table td:first-child {
  width: 180px;
  background: #e0f4fb;
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-quote {
  padding: 40px 0 49px;
}

@media screen and (max-width: 768px) {
  .c-quote {
    padding: 20px 0 30px;
  }
}

.c-quote p {
  text-align: right;
  font-size: 1.45rem;
  line-height: 1.1rem;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-quote p {
    font-size: 1.1rem;
    padding-bottom: 11px;
  }
}

.c-progress-bar {
  position: absolute;
  width: 40px;
  height: 200px;
  top: 0;
  left: 0;
  margin-top: 92px;
  margin-left: 9px;
  padding: 0 10px;
}

.c-progress-bar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-progress-bar ul li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #cccccc;
  background-size: 19px 19px;
  margin-bottom: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.c-progress-bar ul li img {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.c-progress-bar ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background: #cccccc;
  left: 49%;
  top: 137%;
  display: inline-block;
}

.c-progress-bar ul li:first-child {
  background: none;
}

.c-progress-bar ul li:first-child::after {
  top: 200%;
}

.c-progress-bar ul li:last-child:after {
  content: none;
}

.p-index {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  overflow: hidden;
  padding-left: 220px;
}

.c-topmain {
  grid-column: 1 / span 3;
  min-height: 826px;
  background: url("../img/pc/mainbg.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  grid-column: 1 / span 3;
}

.c-topmain h2 {
  margin: auto;
  -webkit-transform: translate(-38px, -142px);
  transform: translate(-38px, -142px);
}

.c-topmain__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 45px;
  grid-column: 1 / span 3;
}

.c-topmain__news--head {
  -webkit-box-flex: 0.42;
      -ms-flex: 0.42;
          flex: 0.42;
  background: #1085b0;
  overflow: hidden;
  -webkit-transform: skewX(-20deg) translateX(-28px);
  transform: skewX(-20deg) translateX(-28px);
  text-align: right;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.c-topmain__news--head h3 {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  padding-right: 25px;
}

.c-topmain__news--txt {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.c-topmain__news--txt dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.c-topmain__news--txt dl dt {
  font-size: 1.4rem;
  color: #333333;
  padding-right: 25px;
}

.c-about {
  grid-column: 1 / span 3;
}

.c-about__head {
  background: url("../img/pc/bg-k-1.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-about__head h3 {
  padding: 0;
}

.c-about__inner {
  display: grid;
  grid-template-columns: 1fr 530px 430px 1fr;
  background: #3dafd9;
  z-index: 0;
  margin-bottom: 10px;
}

.c-about__inner--txt1 {
  grid-column: 1/3;
  justify-items: start;
  background: #2aa4d1;
  -webkit-transform: skewX(-20deg) translateX(-50px);
          transform: skewX(-20deg) translateX(-50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 43px;
  z-index: 2;
  padding-right: 55px;
}

.c-about__inner--txt1 h2 {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  padding-right: 21px;
}

.c-about__inner--txt1 .c-about__content {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.c-about__inner--txt2 {
  z-index: 1;
  background-color: #3dafd9;
  padding: 43px 0;
  grid-column: 3 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.c-about__inner--txt2 h2 {
  padding-right: 21px;
}

.c-about__content {
  -webkit-transform: skewX(0);
          transform: skewX(0);
  text-align: left;
  max-width: 216px;
  color: #fff;
  padding-top: 6px;
}

.c-about__content h3 {
  font-size: 2.2rem;
  padding-bottom: 14px;
}

.c-about__content h3 span {
  font-size: 1.5rem;
}

.c-about__content p {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.c-about__src {
  height: 370px;
  margin-bottom: 10px;
  overflow: hidden;
}

.c-about__src--ctn1 {
  float: left;
  width: 54%;
}

.c-about__src--ctn1 img {
  float: right;
}

.c-about__src--ctn2 {
  text-align: left;
  padding-top: 41px;
  float: left;
}

.c-about__src--ctn2 h3 {
  padding-bottom: 25px;
}

.c-about__src--ctn2 p {
  font-size: 1.4rem;
  color: #fff;
  width: 420px;
}

.c-about__src--ctn2 a {
  margin-top: 30px;
}

.c-about__src1 {
  background: url("../img/pc/bg-src-1.jpg") repeat;
  background-size: contain;
}

.c-about__src1:after {
  display: block;
  clear: both;
  content: "";
}

.c-about__src2 {
  background: url("../img/pc/bg-src-2.jpg") no-repeat;
  background-size: contain;
}

.c-about__src2 .c-about__src--ctn2 {
  float: right;
}

.c-about__src2 .c-about__src--ctn1 {
  width: 54%;
  float: right;
}

.c-about__src2 .c-about__src--ctn1 img {
  float: left;
}

.p-company {
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
}

.c-company__cont {
  padding: 40px 130px 0;
  width: 960px;
  margin: 0 auto;
}

.c-company__map {
  padding-top: 80px;
  width: 960px;
  margin: 0 auto;
}

.c-company__map--img {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.c-company__map--txt {
  padding-top: 22px;
  padding-bottom: 80px;
}

.c-company__map--txt p {
  font-size: 1.4rem;
  color: #333333;
  line-height: 24px;
}

.c-company__map--txt p::before {
  content: '';
  display: inline-block;
  background: url("../img/pc/map-icon.png") no-repeat;
  background-size: 15px 17px;
  width: 15px;
  height: 17px;
  margin-right: 10px;
}

.c-company__map--txt p:first-child::before {
  content: none;
}

.p-business {
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
}

.c-business__cont {
  width: 960px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 80px;
}

.c-business__cont-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.c-business__cont-main--img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-business__cont-main--txt {
  padding-right: 10px;
  padding-left: 30px;
}

.c-business__cont-main--txt h3 {
  font-size: 2rem;
  color: #269eca;
  padding-bottom: 20px;
}

.c-business__cont-main--txt p {
  font-size: 1.4rem;
}

.c-business__cont-main:last-child {
  padding: 0;
}

.p-works {
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
}

.c-works__cont {
  width: 960px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 73px;
}

.c-works__cont-main {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.c-works__cont-main--inner {
  text-align: center;
}

.c-works__cont-main--innertxt {
  background: #e0f4fc;
  padding-bottom: 20px;
}

.c-works__cont-main--innertxt h3 {
  font-size: 2rem;
  line-height: 50px;
  background: #269eca;
  color: #fff;
  margin-bottom: 20px;
}

.c-works__cont-main--innertxt p {
  font-size: 1.4rem;
  color: #333333;
}

.p-flow {
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
}

.c-flow__cont {
  width: 960px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 65px;
}

.c-flow__cont-main {
  display: grid;
  grid-template-columns: 60px 300px 550px;
}

.c-flow__cont-main--step {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.c-flow__cont-main--inner {
  grid-column: 2 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #cccccc;
}

.c-flow__cont-main--head h5 {
  font-size: 2rem;
  color: #269eca;
  padding: 20px 0 21px;
}

.c-flow__cont-main--txt {
  padding-top: 67px;
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-flow__cont-main--txt p {
  font-size: 1.4rem;
  color: #333333;
}

.c-flow__cont-main--txt .btn {
  margin-top: 20px;
  padding: 20px;
  background: #269eca;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-policy {
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
}

.c-policy__cont {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 40px;
}

.c-policy__cont--head {
  text-align: center;
  padding-bottom: 50px;
}

.c-policy__cont--head p {
  font-size: 1.4rem;
  line-height: 24px;
  padding-bottom: 10px;
}

.c-policy__cont--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.c-policy__cont--inner-txt {
  min-height: 100%;
  padding: 40px;
  text-align: justify;
  margin-top: 39px;
  margin-bottom: 41px;
  margin-right: -40px;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  background: #e0f4fc;
}

.c-policy__cont--inner-txt h3 {
  font-size: 2rem;
  color: #269eca;
  padding-bottom: 20px;
}

.c-policy__cont--inner-txt p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.6px;
}

.c-policy__cont--inner-ex img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
  margin-right: -40px;
}

.c-policy__cont--inner-ex .c-policy__cont--inner-txt {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  margin-left: 2px;
  margin-right: -1px;
}

.p-contact {
  grid-column: 1 / 6;
  overflow: hidden;
  padding-left: 220px;
  overflow: hidden;
}

.c-contact__cont {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
}

.c-contact__inner {
  padding: 0 130px 80px;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.u-text-br {
  padding-top: 22px;
}
