/*
Theme Name: WP Beginner
Theme URI: WP Beginner
Author: Phan Ba Tai
Author URI: WP Beginner
Description: WP Beginner
Version: 1.0
License: MIT
License URI: WP Beginner
Tags: blog, mini blog
*/

.textwidget{
    padding: 0;
}
.widget_categories ul{
    list-style: none;
    padding-left: 0;
   -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

.widget_categories ul li{
    padding: 0;
    float: left;
    width: 50%;
}

.page-numbers{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-numbers.current{
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fuild-img{
    width: 100% !important;
    height: auto !important;
}
.post-small{
    width: 120px;
    height: auto;
}
ul.children{
    list-style-type: none !important;
}