@charset "UTF-8";
@import '0_base/mixin';
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}
/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.box-cen-cen{
	@include box;
	@include j-box(center);
	@include a-box(center);
}
.box-cen-start{
	@include box;
	@include j-box(center);
	@include a-box(start);
}
.box-cen-end{
	@include box;
	@include j-box(center);
	@include a-box(end);
}
.box-bet-cen{
	@include box;
	@include j-box(between);
	@include a-box(center);
}
.box-bet-start{
	@include box;
	@include j-box(between);
	@include a-box(start);
}
.box-bet-end{
	@include box;
	@include j-box(between);
	@include a-box(end);
}
.box-start-cen{
	@include box;
	@include j-box(start);
	@include a-box(center);
}
.box-start-start{
	@include box;
	@include j-box(start);
	@include a-box(start);
}
.box-start-end{
	@include box;
	@include j-box(start);
	@include a-box(end);
}
.box-end-cen{
	@include box;
	@include j-box(end);
	@include a-box(center);
}
.box-end-start{
	@include box;
	@include j-box(end);
	@include a-box(start);
}
.box-end-end{
	@include box;
	@include j-box(end);
	@include a-box(end);
}
.u-blue{
	color: #3386c2 !important;
}
.u-white{
	color: #ffff;
}
.j-text{
	margin-bottom: 40px;
}
