@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif, "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 1.1;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #888888;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-globalHeaderPC {
  padding-bottom: 38px;
}

.c-globalHeaderPC__inner {
  width: 1160px;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-globalHeaderSP {
  padding: 10px 15px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  -webkit-box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.c-globalHeaderSP__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-globalHeaderSP__inner .c-menuSP {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.c-globalHeaderSP__inner .c-menuSP__1, .c-globalHeaderSP__inner .c-menuSP__2, .c-globalHeaderSP__inner .c-menuSP__3 {
  width: 100%;
  height: 5px;
  background: #000000;
  margin: 5px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.c-globalHeaderSP__inner .is-open .c-menuSP__1 {
  -webkit-transform: rotate(405deg) translate(7px, 6px);
  transform: rotate(405deg) translate(7px, 6px);
}

.c-globalHeaderSP__inner .is-open .c-menuSP__2 {
  -webkit-transform: rotate(-405deg) translate(1px, 0px);
  transform: rotate(-405deg) translate(1px, 0px);
}

.c-globalHeaderSP__inner .is-open .c-menuSP__3 {
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.fixed {
  position: fixed;
  top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-globalFooterPC {
  border-top: 1px solid #555555;
}

.c-globalFooterPC__inner {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px;
}

.c-globalFooterPC__inner--left {
  display: block;
}

.c-globalFooterPC__inner--left p {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC__inner--left p {
    padding-bottom: 15px;
    line-height: 20px;
  }
}

.c-globalFooterPC__inner--left .c-btn1, .c-globalFooterPC__inner--left .c-btn2, .c-globalFooterPC__inner--left .c-btn2--tab, .c-globalFooterPC__inner--left .c-btn2--sm {
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC__inner--left .c-btn1, .c-globalFooterPC__inner--left .c-btn2, .c-globalFooterPC__inner--left .c-btn2--tab, .c-globalFooterPC__inner--left .c-btn2--sm {
    display: block;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC__inner--left {
    text-algin: center;
  }
}

.c-globalFooterPC__inner--right {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.c-globalFooterPC__inner--right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-globalFooterPC__inner--right ul li {
  padding: 0 5px;
  border-right: 1px solid #000000;
}

.c-globalFooterPC__inner--right ul li a {
  color: #000000;
}

.c-globalFooterPC__inner--right ul li a:hover {
  text-decoration: underline;
  color: #888888;
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC__inner--right ul li {
    border: none;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-globalFooterPC__inner--right ul li::before {
    content: '';
    background: url("../img/sp/icon-1.png") no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 8px;
  }
}

.c-globalFooterPC__inner--right ul li:last-child {
  border: none;
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC__inner--right ul {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC__inner {
    width: 100%;
    display: block;
    text-align: left;
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-globalFooterPC {
    padding: 0 15px;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1160px;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 100%;
    text-align: center;
  }
}

#wrapper {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
}

.l-main {
  width: 1160px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

.l-content2 {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-column-gap: 40px;
  grid-auto-rows: minmax(270px, auto);
  padding: 50px 0;
}

.l-content2__img {
  max-width: 560px;
}

@media screen and (max-width: 768px) {
  .l-content2__img {
    max-width: 100%;
  }
}

.l-content2__txt {
  max-height: 370px;
}

.l-content2__txt p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: justify;
  padding-bottom: 15px;
}

.l-content2__txt table th, .l-content2__txt table td {
  padding: 7px 10px 6px;
}

@media screen and (max-width: 768px) {
  .l-content2__txt table th, .l-content2__txt table td {
    padding: 5px;
  }
}

.l-content2__txt h3 {
  padding-bottom: 20px;
}

.l-content2__txt--2 {
  position: relative;
}

.l-content2__txt--2 h3 {
  padding-bottom: 15px;
}

.l-content2__txt--2 p {
  font-size: 1.4rem;
  letter-spacing: 0;
}

.l-content2__txt--btn {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.l-content2__txt--btn .c-btn2--color2 {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .l-content2__txt--btn {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .l-content2__txt {
    max-height: inherit;
  }
}

@media screen and (max-width: 768px) {
  .l-content2 {
    display: block;
    max-width: 100%;
    padding: 0;
  }
}

.l-content3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(110px, auto);
  grid-column-gap: 25px;
}

.l-content3__inner p {
  padding-bottom: 10px;
  font-size: 1.4rem;
  line-height: 24px;
  color: #000000;
}

.l-content3__inner ul li {
  margin-bottom: 20px;
  background: #dddddd;
  padding-left: 15px;
}

.l-content3__inner ul li a {
  color: #000000;
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.l-content3__inner ul li:last-child {
  margin: 0;
}

.l-content3__inner ul li:hover {
  background: rgba(221, 221, 221, 0.6);
}

@media screen and (max-width: 768px) {
  .l-content3__inner ul {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .l-content3 {
    display: block;
  }
}

.l-content4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 26px;
  grid-row-gap: 28px;
}

.l-content4__inner {
  max-width: 270px;
}

@media screen and (max-width: 768px) {
  .l-content4__inner {
    max-width: 100%;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .l-content4 {
    display: block;
  }
}

.l-content5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
}

@media screen and (max-width: 768px) {
  .l-content5 {
    display: block;
  }
}

/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-btn1 a, .c-btn2 a, .c-btn2--tab a, .c-btn2--sm a {
  color: #ffffff;
  background: #888888;
  padding: 13px 0;
  display: inline-block;
  min-width: 160px;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .c-btn1 a, .c-btn2 a, .c-btn2--tab a, .c-btn2--sm a {
    padding: 10px 0;
    min-width: 100%;
  }
}

.c-btn1 a:hover, .c-btn2 a:hover, .c-btn2--tab a:hover, .c-btn2--sm a:hover {
  background: #bbbbbb;
  text-decoration: none;
  -webkit-box-shadow: 0px 0.5px 0.5px #111111;
          box-shadow: 0px 0.5px 0.5px #111111;
}

.c-btn1--sm a {
  min-width: 100px;
  padding: 4px 0;
  font-size: 1.3rem;
}

.c-btn1--social a {
  min-width: auto;
  padding: 1px;
  background: none;
}

.c-btn2 a, .c-btn2--tab a, .c-btn2--sm a {
  min-width: 100%;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 7.5px 0;
}

.c-btn2--color2 a {
  background: #e2750c;
}

.c-btn2--tab a:hover,
.c-btn2--tab a:active,
.c-btn2--tab a:focus,
.c-btn2--tab a.activeTab {
  background: #22963c;
}

.c-btn2--tab a {
  padding: 10.5px 0;
}

.c-btn2--sm a {
  min-width: 125px;
  background: #e2750c;
  padding: 4px 0;
}

.c-btn3 a {
  color: #000000;
  font-size: 1.4rem;
}

.c-btn3 span {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-btn3 span {
    line-height: 20px;
    text-decoration: underline;
    -webkit-text-decoration-color: #888888;
            text-decoration-color: #888888;
  }
}

.c-btn3 span::after {
  content: '';
  background: url(../img/pc/icon-1.png) no-repeat center;
  background-size: 11px 11px;
  width: 11px;
  height: 11px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .c-btn3 span::after {
    content: none;
  }
}

.c-btn3 a:hover span {
  text-decoration: underline;
}

.c-btn3 a:hover span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-title1, .c-title2 {
  padding-bottom: 50px;
  padding-top: 90px;
  text-align: center;
}

.c-title1--img {
  text-align: left;
  padding: 0;
}

.c-title1--img span {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .c-title1--img {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .c-title1 img, .c-title2 img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .c-title1, .c-title2 {
    padding: 30px 0;
  }
}

.c-title2 {
  text-align: left;
  padding-bottom: 20px;
}

.c-title2 p {
  padding-bottom: 10px;
}

.c-title2 h3 {
  font-size: 2rem;
}

.c-title2--color2 {
  color: #e2750c;
}

.c-title3 {
  text-align: left;
  padding-bottom: 10px;
}

.c-title3 h3 {
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.c-title3 p {
  font-size: 1.5rem;
  line-height: 25px;
}

.c-title3--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.c-title3--btn > div {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .c-title3 {
    padding-bottom: 20px;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.contact-form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-form__control {
    display: block;
    text-align: left;
    margin: 0;
  }
}

.contact-form__control label {
  min-width: 150px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .contact-form__control label {
    display: block;
    min-width: auto;
    margin: 0 0 10px 0;
  }
}

.contact-form__control input,
.contact-form__control select,
.contact-form__control textarea {
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .contact-form__control input,
  .contact-form__control select,
  .contact-form__control textarea {
    margin: 10px 0;
  }
}

.contact-form__control input:hover, .contact-form__control input:focus,
.contact-form__control select:hover,
.contact-form__control select:focus,
.contact-form__control textarea:hover,
.contact-form__control textarea:focus {
  border: 1px solid #22963c;
  -webkit-box-shadow: -3px 3px 5px rgba(34, 150, 60, 0.5);
          box-shadow: -3px 3px 5px rgba(34, 150, 60, 0.5);
}

.contact-form__control input {
  padding: 5px;
}

.contact-form__control input.input1 {
  min-width: 250px;
}

@media screen and (max-width: 768px) {
  .contact-form__control input.input1 {
    min-width: auto;
  }
}

@media screen and (max-width: 768px) {
  .contact-form__control input {
    padding: 5px 0;
    width: 100%;
  }
}

.contact-form__control textarea {
  width: 540px;
}

@media screen and (max-width: 768px) {
  .contact-form__control textarea {
    width: 100%;
  }
}

.contact-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form__btn input {
  margin-right: 20px;
  padding: 2px 5px;
}

.contact-form__btn input:hover {
  -webkit-box-shadow: -1px -1px 10px rgba(34, 150, 60, 0.5);
          box-shadow: -1px -1px 10px rgba(34, 150, 60, 0.5);
}

::-webkit-input-placeholder {
  color: #888888;
}

:-ms-input-placeholder {
  color: #888888;
}

::-ms-input-placeholder {
  color: #888888;
}

::placeholder {
  color: #888888;
}

/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text1 {
  text-align: justify;
}

.c-text1 h3 {
  padding: 17px 0;
}

.c-text1__title {
  background: #22963c;
  color: #ffffff;
  padding: 0 15px;
  margin-bottom: 16px;
}

.c-text1__title p {
  line-height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .c-text1__title {
    margin-bottom: 10px;
  }
}

.c-text1__inner h3 {
  padding-bottom: 2rem;
}

.c-text1__inner p {
  font-size: 1.3rem;
  line-height: 19px;
  padding-bottom: 17px;
}

.c-text1__inner a {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
}

.c-text1--color2 .c-text1__title {
  background: #e2750c;
}

@media screen and (max-width: 768px) {
  .c-text1 {
    padding-bottom: 15px;
  }
}

.c-globalHeaderPC__gnavi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.c-globalHeaderPC__gnavi ul li {
  margin-left: 25px;
}

.c-globalHeaderPC__gnavi ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.c-globalHeaderPC__gnavi ul span {
  background: #888888;
  height: 4px;
  display: block;
  position: absolute;
  width: 40px;
  left: 23px;
  top: 21px;
}

.c-globalMenuSP {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  z-index: 999;
}

.c-globalMenuSP ul {
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  min-height: 100vh;
}

.c-globalMenuSP ul li {
  text-align: left;
  position: relative;
  overflow: hidden;
}

.c-globalMenuSP ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #111;
  padding: 15px 10px;
  display: block;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-globalMenuSP ul li::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.c-globalMenuSP ul li:hover a {
  color: #e2750c;
  -webkit-transform: scale(1.1) translateX(30px);
  transform: scale(1.1) translateX(30px);
}

.c-globalMenuSP ul li:hover::after {
  -webkit-transform: translate(0) rotate(0);
  transform: translate(0) rotate(0);
}

.c-imgtitle1 {
  max-width: 1460px;
  margin: 0 auto;
}

.c-imgtitle1 img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .c-imgtitle1 img {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtitle1 {
    max-width: 100%;
    display: none;
  }
}

.c-imgtext1, .c-imgtext2, .c-imgtext4, .c-imgtext6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-imgtext1__img, .c-imgtext2__img {
  margin-right: 25px;
}

.c-imgtext1__img img, .c-imgtext2__img img {
  border: 1px solid #cccccc;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__img, .c-imgtext2__img {
    margin: 0;
    padding-bottom: 15px;
  }
}

.c-imgtext1__txt, .c-imgtext2__txt {
  font-size: 1.8rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.c-imgtext1__txt p, .c-imgtext2__txt p,
.c-imgtext1__txt h3,
.c-imgtext2__txt h3 {
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt p, .c-imgtext2__txt p,
  .c-imgtext1__txt h3,
  .c-imgtext2__txt h3 {
    padding-bottom: 10px;
  }
}

.c-imgtext1__txt span, .c-imgtext2__txt span {
  padding-right: 14px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt span, .c-imgtext2__txt span {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt img, .c-imgtext2__txt img {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtext1__txt, .c-imgtext2__txt {
    text-align: justify;
  }
}

.c-imgtext1__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-right: 45px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1__btn {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtext1, .c-imgtext2, .c-imgtext4, .c-imgtext6 {
    display: block;
  }
}

.c-imgtext2__txt {
  text-align: justify;
}

.c-imgtext2__txt p {
  padding: 0;
  line-height: 3rem;
  font-size: 1.5rem;
}

.c-imgtext2__txt h3 {
  text-align: right;
  padding-top: 25px;
}

.c-imgtext3, .c-imgtext5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 370px;
  padding-bottom: 50px;
}

.c-imgtext3 h3, .c-imgtext5 h3 {
  padding: 10px 0;
}

.c-imgtext3 p, .c-imgtext5 p {
  font-size: 1.3rem;
  line-height: 1.9;
}

.c-imgtext3--border {
  max-width: 219px;
  border: 1px solid #d5d5d5;
  padding-bottom: 0;
}

.c-imgtext3--border h3 {
  font-size: 1.3rem;
  text-align: justify;
  padding: 10px;
  line-height: 16px;
}

.c-imgtext3--lg {
  max-width: 510px;
}

.c-imgtext3--lg .c-btn2--sm {
  margin: 13px 0;
}

@media screen and (max-width: 768px) {
  .c-imgtext3, .c-imgtext5 {
    max-width: 100%;
    padding-bottom: 15px;
  }
}

.c-imgtext4 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-imgtext4__txt p {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .c-imgtext4__txt {
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .c-imgtext4 {
    display: block;
    padding-bottom: 15px;
  }
}

.c-imgtext5 {
  max-width: 266px;
  padding-bottom: 0;
}

.c-imgtext5 h3 {
  padding: 20px 15px;
  background: #e6e6e6;
  font-size: 1.3rem;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .c-imgtext5 {
    max-width: 100%;
  }
}

.c-imgtext5-white h3 {
  background: none;
  padding: 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.c-imgtext6 {
  background: #98d0cd;
  max-width: 266px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px 5px 20px;
}

.c-imgtext6__txt a {
  color: #333834;
  font-size: 1.7rem;
}

.c-imgtext6__txt p {
  border-bottom: 1px solid #333834;
  text-align: justify;
  padding-bottom: 3px;
  font-weight: 600;
  line-height: 1.5rem;
}

.c-imgtext6__txt span {
  font-size: 1.17rem;
}

.c-imgtext6--soft {
  background: #ddbccf;
}

.c-imgtext6--youth {
  background: #a6ceff;
}

.c-imgtext6--senior {
  background: #c6a993;
}

@media screen and (max-width: 768px) {
  .c-imgtext6 {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

img.sp-img {
  margin: 0 auto;
}

.c-listinfo {
  padding: 15px 0;
  font-size: 1.4rem;
}

.c-listinfo ul li {
  padding: 8px 0 7px;
}

@media screen and (max-width: 768px) {
  .c-listinfo ul li {
    padding-bottom: 10px;
  }
}

.c-listinfo ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .c-listinfo ul li a {
    display: block;
  }
}

.c-listinfo ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-listinfo ul li p {
    display: block;
  }
}

.c-listinfo ul li p.date {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .c-listinfo ul li p.date {
    margin: 0;
    text-align: left;
    padding-bottom: 5px;
  }
}

.c-listinfo ul li span {
  font-size: 1.1rem;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .c-listinfo ul li span {
    margin-right: 0;
    margin-bottom: 5px;
    min-width: auto;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .c-listinfo {
    padding: 20px 0;
  }
}

.c-listsitemap {
  max-width: 100%;
}

.c-listsitemap h3 {
  border-bottom: 1px solid #939393;
  padding-bottom: 10px;
}

.c-listsitemap h3 a {
  font-size: 1.8rem;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-listsitemap h3 a::after {
  content: '';
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
  background: url("../img/pc/icon-1.png") no-repeat;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .c-listsitemap h3 a::after {
    background: url("../img/sp/icon-1.png") no-repeat center;
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
  }
}

.c-listsitemap ul {
  margin-top: 30px;
}

.c-listsitemap ul li {
  padding-bottom: 18px;
}

@media screen and (max-width: 768px) {
  .c-listsitemap ul li {
    padding-bottom: 15px;
  }
}

.c-listsitemap ul li a {
  color: #000000;
  font-size: 1.6rem;
}

.c-listsitemap ul li.item-child {
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .c-listsitemap ul li.item-child {
    padding-left: 0;
  }
}

.c-listsitemap ul li:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .c-listsitemap ul {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .c-listsitemap {
    text-align: left;
  }
}

.c-table1, .c-table2, .c-table3, .c-table4 {
  width: 560px;
}

.c-table1 table, .c-table2 table, .c-table3 table, .c-table4 table {
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.c-table1 th, .c-table2 th, .c-table3 th, .c-table4 th, .c-table1 td, .c-table2 td, .c-table3 td, .c-table4 td {
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  padding: 10px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .c-table1 th, .c-table2 th, .c-table3 th, .c-table4 th, .c-table1 td, .c-table2 td, .c-table3 td, .c-table4 td {
    padding: 5px;
  }
}

.c-table1 th, .c-table2 th, .c-table3 th, .c-table4 th {
  width: 225px;
  background: #e6e6e6;
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .c-table1 th, .c-table2 th, .c-table3 th, .c-table4 th {
    width: 100%;
  }
}

.c-table1 span, .c-table2 span, .c-table3 span, .c-table4 span {
  margin-left: 100px;
  background: #e6e6e6;
  color: #000000;
  height: 100%;
  padding: 8px 16px 8px 8px;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  font-weight: 600;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .c-table1 span, .c-table2 span, .c-table3 span, .c-table4 span {
    margin: 0;
  }
}

.c-table1 td, .c-table2 td, .c-table3 td, .c-table4 td {
  font-size: 1.3rem;
}

.c-table1 td.td-des, .c-table2 td.td-des, .c-table3 td.td-des, .c-table4 td.td-des {
  padding-bottom: 105px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .c-table1 td.td-des, .c-table2 td.td-des, .c-table3 td.td-des, .c-table4 td.td-des {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-table1, .c-table2, .c-table3, .c-table4 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .c-table1--sm {
    width: 100%;
    text-align: justify;
  }
  .c-table1--sm ul {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .c-table1--sm li {
    font-size: 1.4rem;
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-arround;
        -ms-flex-pack: space-arround;
            justify-content: space-arround;
    margin: 1px 0;
  }
  .c-table1--sm li:nth-child(odd) {
    font-weight: bold;
    background: #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-table1--sm li:nth-child(odd)::after {
    content: '+';
    width: 20px;
    height: 20px;
    color: #000000;
    font-size: 20px;
    text-align: center;
  }
  .c-table1--sm li:nth-child(even) {
    display: none;
  }
  .c-table1--sm span {
    background: #e5e5e5;
    margin: 0 15px 0 30px;
    padding: 5px 15px;
  }
  .c-table1--sm p {
    line-height: 24px;
    padding: 0 5px;
  }
  .c-table1--sm li.accControl::after {
    content: '-';
    font-size: 27px;
    text-align: center;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.c-table2 table, .c-table2 th, .c-table2 td {
  border-color: #777777;
}

.c-table2 th {
  background: #eaf1eb;
}

.c-table2 td.td-des {
  padding: 35px 10px;
}

.c-table3 {
  width: 100%;
}

.c-table3 table, .c-table3 th, .c-table3 td {
  border-color: #555555;
}

.c-table3 th, .c-table3 td {
  font-size: 1.6rem;
  padding: 24px 25px 24px 30px;
}

.c-table3 th {
  width: 230px;
}

.c-table3 p {
  line-height: 27px;
}

.c-table4 {
  width: 620px;
}

.c-table4 table td {
  height: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-table4 table th {
    width: 33.3333%;
    text-align: center;
  }
}

.c-table4 table td:nth-child(1) {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .c-table4 table td:nth-child(1) {
    width: auto;
  }
}

.c-table4 table td:nth-child(2),
.c-table4 table th:nth-child(2) {
  width: 152px;
}

@media screen and (max-width: 768px) {
  .c-table4 table td:nth-child(2),
  .c-table4 table th:nth-child(2) {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .c-table4 {
    width: 100%;
  }
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.mainVisual {
  max-width: 1460px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .mainVisual {
    max-width: 100%;
    padding: 15px;
  }
}

.mainVisual__contain {
  position: relative;
  min-height: 642px;
}

.mainVisual__child {
  width: 100%;
  position: absolute;
}

.mainVisual__child .catchCopy {
  position: absolute;
  top: 250px;
  right: 180px;
}

.mainVisual__dots .dot, .c-sliderContain .btn-dots .dot {
  display: inline-block;
  position: relative;
  z-index: 1;
  background: url("../img/slides/icon-3.png") no-repeat center;
  background-size: 14px 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 14px;
  height: 14px;
  margin: 0 5px;
}

.mainVisual__dots .dot.active, .c-sliderContain .btn-dots .active.dot {
  background: url("../img/slides/icon-2.png") no-repeat center;
  background-size: 14px 14px;
}

.mainVisual img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mainVisual .flexslider {
    margin-bottom: 30px;
  }
}

.mainVisual__dots, .c-sliderContain .btn-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  min-height: 15px;
}

.fade {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.c-sliderContain {
  width: 560px;
  height: 450px;
  position: relative;
}

.c-sliderContain .btn-dots {
  bottom: 0;
}

.c-sliderContain .flexslider {
  border: none;
}

.c-sliderContain .flex-control-paging li a {
  background: url("../img/slides/icon-3.png") no-repeat center;
  background-size: 14px 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 14px;
  height: 14px;
}

.c-sliderContain .flex-control-paging li a:hover {
  background: #22963c;
}

.c-sliderContain .flex-control-paging li a.flex-active {
  background: url("../img/slides/icon-2.png") no-repeat center;
  background-size: 14px 14px;
}

@media screen and (max-width: 768px) {
  .c-sliderContain {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.c-tab1 {
  position: relative;
}

.c-tab1__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .c-tab1__control {
    display: block;
    padding: 15px 0;
    text-align: left;
  }
}

.c-tab1__control li {
  width: 370px;
}

@media screen and (max-width: 768px) {
  .c-tab1__control li {
    width: 100%;
    margin: 1px 0;
  }
}

.c-tab1__control--2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin: 50px 0;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

.c-tab1__control--2 li {
  width: auto;
  margin-right: 60px;
}

.c-tab1__control--2 li a {
  color: #000000;
  line-height: 38px;
}

.c-tab1__control--2 li a:hover,
.c-tab1__control--2 li a.current-ctr {
  color: #888888;
}

@media screen and (max-width: 768px) {
  .c-tab1__control--2 li {
    width: auto;
    margin-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .c-tab1__control--2 {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-tab1 p {
  font-size: 1.5rem;
  line-height: 20px;
}

.c-tab1 h3 {
  font-size: 1.6rem;
}

.c-tab1__content {
  padding-top: 0;
  display: none;
}

.c-tab1 .activeTab {
  display: block;
}

.p-index {
  padding-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .p-index {
    padding-bottom: 15px;
  }
}

.p-index--c-title1 {
  padding-top: 30px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .p-index--c-title1 {
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .p-index .c-title1 img, .p-index .c-title2 img {
    margin-bottom: 10px;
  }
}

.p-index--c-title2 {
  padding-bottom: 42px;
  padding-top: 102px;
}

@media screen and (max-width: 768px) {
  .p-index--c-title2 {
    padding: 15px 0;
  }
}

.p-index--imgtitle1 {
  margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .p-index--imgtitle1 {
    margin-bottom: 15px;
  }
}

.p-index .c-imgtext1, .p-index .c-imgtext2, .p-index .c-imgtext4, .p-index .c-imgtext6 {
  padding: 30px 0;
  border-top: 1px solid #888;
}

@media screen and (max-width: 768px) {
  .p-index .c-imgtext1, .p-index .c-imgtext2, .p-index .c-imgtext4, .p-index .c-imgtext6 {
    padding: 15px 0;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .p-index {
    padding: 40px 15px 0;
  }
}

.p-outline {
  padding-bottom: 95px;
}

.p-outline .c-title1, .p-outline .c-title2 {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .p-outline .c-title1, .p-outline .c-title2 {
    padding: 30px 0;
  }
}

.p-outline--c-title1 {
  padding: 60px 0 50px;
}

@media screen and (max-width: 768px) {
  .p-outline--c-title1 {
    padding: 30px 0;
  }
}

.p-outline .c-imgtitle1 {
  margin-bottom: 38px;
  margin-top: -7px;
}

.p-outline .c-imgtext2 {
  margin-bottom: 40px;
}

.p-outline p {
  font-size: 1.5rem;
  line-height: 26px;
}

.p-outline ul li {
  line-height: 22px;
}

.p-outline__inner {
  padding: 0 10px;
  margin-bottom: 36px;
}

.p-outline__inner--txt h3 {
  padding: 31px 0 20px 11px;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--txt h3 {
    padding: 10px 0;
  }
}

.p-outline__inner--txt p {
  font-size: 1.8rem;
}

.p-outline__inner--border {
  border: 1px solid #cccccc;
  padding: 0 10px 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--border {
    margin: 10px 0;
  }
}

.p-outline__inner--list {
  font-size: 1.5rem;
  padding-left: 10px;
  text-align: left;
}

.p-outline__inner--list ul li {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--list ul li {
    margin-bottom: 10px;
  }
}

.p-outline__inner--list ul li ul {
  padding-top: 5px;
  padding-left: 65px;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--list ul li ul {
    padding: 0;
  }
}

.p-outline__inner--list ul li ul li {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--list ul li ul li {
    margin: 0;
  }
}

.p-outline__inner--list ul li ul li.last {
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--list ul li ul li.last {
    padding: 0;
  }
}

.p-outline__inner--list ul li .spec-list {
  padding-left: 105px;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--list ul li .spec-list {
    padding: 0;
  }
}

.p-outline__inner--list ul li:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .p-outline__inner--list {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .p-outline__inner {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .p-outline {
    padding: 0 15px;
  }
}

.p-shikaoi {
  padding: 60px 0 25px;
}

.p-shikaoi__content {
  padding-bottom: 110px;
}

.p-shikaoi__content p {
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .p-shikaoi__content {
    text-align: justify;
    padding: 0;
  }
}

.p-shikaoi .c-title1, .p-shikaoi .c-title2 {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .p-shikaoi .c-title1, .p-shikaoi .c-title2 {
    padding: 30px 0;
  }
}

.p-shikaoi .l-content2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-shikaoi {
    padding: 40px 15px;
  }
}

.p-community {
  padding-bottom: 35px;
}

.p-community .c-title1, .p-community .c-title2 {
  padding-bottom: 0;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .p-community .c-title1, .p-community .c-title2 {
    padding: 15px 0;
  }
}

.p-community .l-content2 {
  padding: 40px 0 0;
}

@media screen and (max-width: 768px) {
  .p-community {
    padding: 40px 15px;
  }
}

.p-workplace {
  padding: 0 0 75px;
}

@media screen and (max-width: 768px) {
  .p-workplace {
    padding: 0 15px;
  }
}

.p-workplace .c-title1, .p-workplace .c-title2 {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .p-workplace .c-title1, .p-workplace .c-title2 {
    padding: 30px 0;
  }
}

.p-member {
  padding: 25px 0 50px;
}

.p-member .l-content2 {
  padding: 0 0 0px;
}

@media screen and (max-width: 768px) {
  .p-member .l-content2__txt {
    padding-bottom: 20px;
  }
}

.p-member .c-title1, .p-member .c-title2 {
  padding-top: 60px;
  padding-bottom: 35px;
}

.p-member .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-member {
    padding: 40px 15px;
  }
}

.p-recruit--c-title3 {
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .p-recruit--c-title3 {
    padding-bottom: 20px;
  }
}

.p-recruit .c-title1, .p-recruit .c-title2 {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .p-recruit .c-title1, .p-recruit .c-title2 {
    padding-bottom: 20px;
  }
}

.p-recruit .c-table2 table {
  border-color: #cccccc;
  border-left: none;
}

.p-recruit .c-table2 th, .p-recruit .c-table2 td {
  padding: 13px;
  border-right: none;
  border-color: #cccccc;
}

.p-recruit .c-table2 td.td-des {
  padding: 30px 13px;
}

.p-recruit .c-table2 th {
  width: 90px;
}

.p-recruit .l-content2 {
  padding: 40px 0 50px;
}

@media screen and (max-width: 768px) {
  .p-recruit .l-content2 {
    padding: 0 0 20px;
  }
}

.p-recruit .l-content4 {
  padding-bottom: 105px;
}

@media screen and (max-width: 768px) {
  .p-recruit .l-content4 {
    padding-bottom: 20px;
  }
}

.p-recruit .c-table1--sm {
  margin-top: 20px;
}

.p-recruit .c-table1--sm ul li:nth-child(odd) {
  background: #eaf1eb;
}

@media screen and (max-width: 768px) {
  .p-recruit {
    padding: 40px 15px 0px;
  }
}

.p-topics {
  padding: 0 0 185px;
  margin-bottom: -50px;
}

.p-topics .c-title1, .p-topics .c-title2 {
  padding-top: 65px;
  padding-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .p-topics .c-title1, .p-topics .c-title2 {
    padding: 15px 0;
  }
}

.p-topics .l-content2 {
  padding: 50px 0 0px;
}

.p-topics .p-topic__tab {
  margin-top: 104px;
  margin-left: 80px;
}

.p-topics .p-topic__tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-topics .p-topic__tab ul li {
  background: #888888;
  border: none;
  margin-right: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 32px;
  min-height: 32px;
}

.p-topics .p-topic__tab ul li a {
  line-height: 30px;
  color: #ffffff;
  background: #888888;
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.p-topics .p-topic__tab ul li a.active,
.p-topics .p-topic__tab ul li a:hover {
  background: #ffffff;
  border: 1px solid #888888;
  color: #000000;
}

.p-topics .p-topic__tab ul li:last-child a {
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .p-topics .p-topic__tab {
    margin: 25px 0 0 0;
  }
}

.p-topics .p-topics-content {
  display: block;
}

.p-topics .active {
  display: inherit;
}

@media screen and (max-width: 768px) {
  .p-topics {
    padding: 40px 15px;
    margin: 0;
  }
}

.p-brand {
  padding-top: 57px;
}

.p-brand .c-title1, .p-brand .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-brand .c-title1, .p-brand .c-title2 {
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .p-brand {
    padding: 40px 15px;
  }
}

.p-brand .c-tab1__control {
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .p-brand .c-tab1__control {
    padding: 0;
  }
}

.p-brand .c-text1 {
  padding-bottom: 110px;
}

@media screen and (max-width: 768px) {
  .p-brand .c-text1 {
    padding: 0;
  }
}

.p-brand .c-text1--ext {
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .p-brand .c-text1--ext {
    padding: 0;
  }
}

.p-brand .l-content2 {
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .p-brand .l-content2 {
    padding: 0;
  }
}

.p-brand .l-content2-ext {
  padding: 30px 0 90px;
}

@media screen and (max-width: 768px) {
  .p-brand .l-content2-ext {
    padding: 0;
  }
}

.p-brand .brand-content {
  display: block;
}

.p-gallery {
  padding: 60px 0 95px;
}

@media screen and (max-width: 768px) {
  .p-gallery {
    padding: 30px 15px;
  }
}

.p-gallery .c-title1, .p-gallery .c-title2 {
  padding: 0;
}

.p-gallery .active {
  display: block;
}

@media screen and (max-width: 768px) {
  .p-gallery .c-tab1__control--2 {
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .p-gallery h3 {
    padding: 15px 0;
    background: 0;
  }
}

.p-gallery .l-content4 {
  grid-row-gap: 45px;
}

.p-book {
  padding: 55px 0 105px;
}

@media screen and (max-width: 768px) {
  .p-book {
    padding: 30px 15px;
  }
}

.p-book .c-title1, .p-book .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-book .c-title1, .p-book .c-title2 {
    padding: 15px 0;
  }
}

.p-woman {
  padding: 55px 0 105px;
}

@media screen and (max-width: 768px) {
  .p-woman {
    padding: 30px 15px;
  }
}

.p-woman .c-title1, .p-woman .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-woman .c-title1, .p-woman .c-title2 {
    padding: 15px 0;
  }
}

.p-youth {
  padding: 55px 0 105px;
}

@media screen and (max-width: 768px) {
  .p-youth {
    padding: 30px 15px;
  }
}

.p-youth .c-title1, .p-youth .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-youth .c-title1, .p-youth .c-title2 {
    padding: 15px 0;
  }
}

.p-senior {
  padding: 55px 0 105px;
}

@media screen and (max-width: 768px) {
  .p-senior {
    padding: 30px 15px;
  }
}

.p-senior .c-title1, .p-senior .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-senior .c-title1, .p-senior .c-title2 {
    padding: 15px 0;
  }
}

.p-recipe {
  padding: 60px 0 100px;
}

.p-recipe__title-ctr {
  background: #f6f0d5;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .p-recipe__title-ctr {
    margin: 15px 0;
  }
}

.p-recipe .c-title1, .p-recipe .c-title2 {
  padding: 0;
}

.p-recipe .c-title2 {
  padding-top: 45px;
}

.p-recipe .l-content2 {
  padding: 15px 0 0;
  grid-template-columns: 510px auto;
  grid-column-gap: 30px;
}

.p-recipe .l-content3 {
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .p-recipe .l-content3 {
    text-align: left;
    padding-bottom: 15px;
  }
}

.p-recipe .c-table4 {
  width: auto;
}

.p-recipe .c-table4 td {
  text-align: left;
}

.p-recipe .l-content5 {
  padding-bottom: 101px;
  grid-row-gap: 20px;
}

.p-recipe .l-content5:last-child {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-recipe .l-content5__inner {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .p-recipe .l-content5 {
    padding-bottom: 15px;
  }
}

.p-recipe--2 {
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .p-recipe {
    padding: 30px 15px;
  }
}

.p-regular {
  padding: 60px 0 80px;
}

@media screen and (max-width: 768px) {
  .p-regular {
    padding: 30px 15px;
  }
}

.p-regular .c-title1, .p-regular .c-title2 {
  padding-bottom: 45px;
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .p-regular .c-title1, .p-regular .c-title2 {
    padding: 15px 0;
  }
}

.p-privacy {
  padding: 60px 0 103px;
}

.p-privacy .c-title1, .p-privacy .c-title2 {
  padding: 0 0 40px 0;
}

@media screen and (max-width: 768px) {
  .p-privacy .c-title1, .p-privacy .c-title2 {
    padding: 15px 0;
  }
}

.p-privacy__inner p {
  line-height: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-privacy__inner p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .p-privacy__inner {
    text-align: justify;
  }
}

.p-privacy .c-btn3 {
  padding-top: 25px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .p-privacy .c-btn3 {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .p-privacy {
    padding: 30px 15px;
    text-align: left;
  }
}

.p-jabank {
  padding: 60px 0 80px;
  min-height: 91vh;
}

.p-jabank .c-title1, .p-jabank .c-title2 {
  padding: 0 0 35px 0;
}

@media screen and (max-width: 768px) {
  .p-jabank .c-title1, .p-jabank .c-title2 {
    padding: 15px 0;
  }
}

.p-jabank .c-btn3 span {
  margin-top: 28px;
}

@media screen and (max-width: 768px) {
  .p-jabank {
    padding: 30px 15px;
    text-align: left;
  }
}

.p-kyosai {
  padding: 60px 0 80px;
  min-height: 91vh;
}

.p-kyosai .c-title1, .p-kyosai .c-title2 {
  padding: 0 0 35px 0;
}

@media screen and (max-width: 768px) {
  .p-kyosai .c-title1, .p-kyosai .c-title2 {
    padding: 15px 0;
  }
}

.p-kyosai .c-btn3 span {
  margin-top: 28px;
}

@media screen and (max-width: 768px) {
  .p-kyosai {
    padding: 30px 15px;
    text-align: left;
  }
}

.p-links {
  padding: 60px 0 0;
  min-height: 111vh;
}

.p-links .c-title1, .p-links .c-title2 {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .p-links .c-title1, .p-links .c-title2 {
    padding: 15px 0;
  }
}

.p-links .l-content3 {
  grid-template-columns: 370px 370px 370px;
}

@media screen and (max-width: 768px) {
  .p-links .l-content3 {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 768px) {
  .p-links {
    padding: 30px 15px;
    text-align: left;
  }
}

.p-access {
  padding: 60px 0 55px;
}

.p-access .c-title1, .p-access .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-access .c-title1, .p-access .c-title2 {
    padding: 15px 0;
  }
}

.p-access .l-content2 {
  padding: 46px 0;
  grid-template-columns: 580px auto;
  grid-column-gap: 17px;
}

.p-access .l-content2__img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .p-access {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 768px) {
  .p-access__map {
    margin-bottom: 15px;
  }
}

.p-sitemap {
  padding: 60px 0 0;
  margin-bottom: -80px;
}

@media screen and (max-width: 768px) {
  .p-sitemap {
    padding: 30px 15px;
    margin: 0;
  }
}

.p-sitemap .c-title1, .p-sitemap .c-title2 {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .p-sitemap .c-title1, .p-sitemap .c-title2 {
    padding: 15px 0;
  }
}

.p-sitemap .l-content2 {
  grid-auto-rows: minmax(250px, auto);
  grid-row-gap: 16px;
  padding: 50px 0 0;
}

@media screen and (max-width: 768px) {
  .p-sitemap .l-content2__txt {
    padding-bottom: 30px;
  }
}

.p-contact {
  padding: 90px 0;
}

.p-contact h3 {
  font-size: 2.4rem;
}

.p-contact__inner {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .p-contact__inner {
    width: 100%;
  }
}

.p-contact__inner--txt {
  font-size: 1.5rem;
  line-height: 20px;
  padding-bottom: 30px;
}

.p-contact__inner--form {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-contact {
    padding: 40px 15px;
  }
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.u-grey {
  color: #888888;
}

.u-bg-orange {
  background: #e2750c;
  color: #ffffff;
}

.u-bg-green {
  background: #22963c;
  color: #ffffff;
}

.u-bg-blue {
  background: #68b4ce;
  color: #ffffff;
}

.u-red {
  color: #f00;
}

.u-leftspace::before {
  content: '';
  display: inline-block;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .u-leftspace::before {
    content: '';
  }
}

.u-textbreak {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .u-textbreak {
    margin: 0;
  }
}

.u-underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #666666;
          text-decoration-color: #666666;
}
