@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	text-align: center;
}

#wrapper {
	margin: 0;
	padding: 0;
}
#container {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #ffffff;
	height: auto;
}

.l-main {
	margin-bottom: 10px;
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	margin: 0 auto;
	padding: 0;
}
.header-pc {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
.header-sp {
	display: none;
}


/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	display: block;
	margin: 0 auto;

	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
		display: block;
		@include cf;

		li {
			float: left;
			margin: 0;
			padding: 0;

			a {
				cursor: pointer;

				img {
					width: 100%;
				}
			}
		}
	}
}
.nav-sp {
	display: none;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	margin: -3px auto 0;
	background-color: #f2f2f2;
}

.pc-only {
		display: block;
	}
.sp-only {
	display: none;
}

@media screen and (max-width: 736px){
	.pc-only {
		display: none;
	}
	.sp-only {
		display: block;
	}

	#wrapper {
	}
	.top-bar {
		display: none;
	}
	#container {
		max-width: 650px;
		margin: 0 auto;
		width: 100%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.header-pc {
		display: none;
	}
	.header-sp {
		display: block;
		width: 100%;
	}
	#gNavi {
		display: none;
	}
	#footer {
		width: 100%;
		margin: 0;
		position: relative;

		.btn-scrl {
			width: 50px;
			height: 50px;
			position: fixed;
			z-index: 10;
			right: 10px;
			bottom: 10px;
		}
	}
}