@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}
.top-bar {
	background-color: #4a4a4a;
	height: 7px;
}
.section-slide {
	margin: 15px auto 0;

	img {
		max-width: 100%;
	}
}
.section-about {
	margin: 0 auto;

	.about {
		text-align: center;
		padding-top: 40px;
		padding-bottom: 50px;

		p {
			font-size: 1.6rem;
			line-height: 28px;
			color: #231815;
			font-weight: 500;
		}
	}
}
//Section Collection
.section-collection {
	margin: 0 auto;
	@include cf;
	padding-top: 46px;

	// Slider Container;
	.col-slider {
		width: 520px;
		margin: 0 32px 0 50px;
		float: left;
		position: relative;
		box-sizing: border-box;
		@include cf;

	}
	.mySlides,
	.mySlides-2,
	.mySlides-3 {
		display: none;
	}
	.dot,
	.dot-2,
	.dot-3 {
		  cursor: pointer;
		  height: 9px;
		  width: 9px;
		  margin: 0 5px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
	}
	.active, .dot:hover {
			background-color: #717171;
		}
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
	}
	.prev {
		left: 0;
		margin-top: -50px;
		margin-left: 21px;
	}
	.next {
		right: 0;
		margin-right: 21px;
		margin-top: -50px;
	}

	.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4}
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4}
		  to {opacity: 1}
	}
	.btn-dot {
		padding-top: 13px;
		padding-right: 12px;
	}

	.col-content {
		width: 550px;
		text-align: left;
		float: left;
    	margin-top: 3px;
    	padding-left: 25px;
    	position: relative;
    	height: 600px;
    	@include cf;

		p {
			font-size: 1.6rem;
		    line-height: 24px;
		    padding-left: 10.5px;
		    font-weight: 600;
		    letter-spacing: -0.6px;
		}
		.des-cont {
			margin-top: 27px;

			img.btn-col-pc {
				width: 390px;
				margin: 35px 0 0 10px;
			}
		}
		.content-price {
			position: absolute;
			bottom: 0;
			margin: 0 0 -34px;

			p {
				padding: 0 0 0 9px;
			}
			p.top-des {
				@include cf;
				padding-top: 25px;
				font-size: 2rem;
			}
			p.price {
				font-size: 1.2rem;
				padding-top: 5px;
				padding-left: 13px

			}
			span {
				font-size: 3.4rem;
				letter-spacing: -0.5px;
			}
			span.ex-pri {
				font-size: 2.3rem;
			}

			img {
				margin-bottom: 28px;
			}
			img.top-val {
				width: 75px;
				margin: 11px 11px 15px;
				float: left;
			}

			ul {
				margin: 18px 11px 13px;

				li {
					display: inline-block;
					margin-right: 8px;
				}
			}
		}
		.ex-col {
			margin: 0 0 -33px;

			p.top-des {
				padding: 4px 0 0 10px;
			}
			p.price {
				padding: 16px 0 0 12px;
			}
		}
	}
}
//Section Collection 2
.section-collection.col-2 {
	margin: 0 auto 30px;
	padding: 50px 0 0 0;

	.col-slider {
		float: right;
		margin: -3px 50px 0 0;
		@include cf;

	}
	.col-content {
		float: left;
		padding-left: 45px;
		@include cf;
		margin-top: 1px;
		position: relative;
		height: 645px;

		img {
			margin-bottom: 40px;
		}
		p {
			padding: 0;
		}
		p.top-des {
			padding: 0;
		}
		.des-cont {
			padding-left: 5px;
			padding-right: 35px;
			margin: 0;
		}
		.content-price {
			margin: 0;
			position: absolute;
			bottom: 0;

			p {
				font-size: 1.6rem;
				line-height: 24px;
				padding-left: 8px;
			}
			p.top-des {
				font-size: 2rem;
				padding-top: 5px;
				padding-left: 2px;
				letter-spacing: - 1.1px;
			}
			p.price {
				font-size: 1.2rem;
				padding: 13px 0 0 12px;
			}
			span {
				letter-spacing: 0;
			}
			span.ex-pri {
				font-size: 1.96rem;
			}
			ul {
				margin: 18px 11px 11.5px;
			}
		}
	}

}
//Section Main
.section-main {
	width: 1100px;
	height: 423px;
	background-color: #eef2f5;
	margin: 40px auto -5px;
	border-radius: 5px;
	padding-top: 78px;

	.main-content {
		width: 420px;
		height: auto;
		float: left;
		text-align: justify;
		padding: 0 0 0 70px;
		@include cf;

		img {
			width: 100%;
			margin-bottom: 21px;
			margin-left: -14px;
		}
		img.btn {
			margin: 33px 0 0 8px;
			width: 390px;
		}
		p {
			font-size: 1.6rem;
			line-height: 33px;
			color: #000;
			letter-spacing: -1.48px;
			font-weight: 600;
		}
	}
	.main-sidebar {
		width: 600px;
		float: right;
		text-align: left;
		position: relative;
		margin-top: -4px;
		@include cf;

		img {
			margin: 0 0 0 30px;
			float: left;
			@include cf;
		}
	}
}

//Section Banner
.banner {
	width: 998px;
	height: 107px;
	margin: 45px auto;
	background: url('../img/pc/banner.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	img.date {
		position: absolute;
		top: 0;
		left: 0;
		margin: 23px 0 0 54px;
	}
	img.arrow {
		position: absolute ;
		top: 0;
		right: 0;
		margin: 45px 30px 0 0;
	}

}
.banner-2 {
	margin: 76px auto;
	background: url('../img/pc/banner-2.jpg') no-repeat;
}

//Responsive

@media screen and (max-width: 736px) {
	.section-slide {
		width: 100%;
		margin: 0;

		img {
			width: auto;
			display: none;
		}
		img.sp-only {
			display: block;
		}
	}
	//Section About
	.section-about {
		width: 100%;

		.about {
			padding: 20px 40px 38px;
			text-align:center;

			p {
				font-size: 1.2rem;
				line-height: 18px;
			}
		}
	}

	//Section Collection
	.section-collection {
		padding: 0 25px 30px;

		.col-slider {
			width: auto;
			float: none;
			margin: 0;
			padding: 0;

			img {
				max-width: 100%;
				height: auto;
				margin-top: -9px;
			}
			a.next {
				margin-right: 12px;
  				margin-top: -22px;
			}

			a.prev {
				margin-top: -22px;
    			margin-left: 12px

			}
			.mySlides,
			.mySlides-2,
			.mySlides-3 {
				margin-top: 9px;
			}
			.btn-dot {
				padding-top: 4px;
				padding-right: 0;
				margin-left: 1px;
			}
			.dot,
			.dot-2,
			.dot-3 {
				width: 7px;
				height: 7px;
				margin: -1px 3px;
			}
		}
		.col-content {
			float: none;
			width: auto;
			margin: 23px 0 0 0;
			padding: 0;
			height: auto;

			.des-cont {
				margin: 27px 0 0 0;

				p {
					padding: 0;
					font-size: 1.2rem;
					line-height: 18px;
					text-align: justify;
					display: inline;
					letter-spacing: -0.1px;
				}
				img.btn-col-sp {
					margin: 10px 0 16px;
				}
			}
			.content-price {
				position: relative;
				margin: 0;

				img.top-val-sp {
					 margin: 10px 5px 20px 0;
					 float: left;
				}

				p {
					font-size: 1.2rem;
					line-height: 12px;
					padding: 0;
				}
				p.top-des {
					padding: 18px 0 0 0;
					font-size: 1.5rem;
					line-height: 18px;
					font-weight: 600;
				}
				p.price {
					font-size: 1.2rem;
					line-height: 12px;
					padding: 0;
					font-weight: 400;
					letter-spacing: 0;
				}
				span {
					font-size: 2.1rem;
					font-weight: 600;
				}
				span.ex-pri {
					font-size: 1.6rem;
				}

				ul {
					margin: 13px 0 0;

					li {
						display: block;
						margin: 0;
						padding-bottom: 8px;

						a{
							width: 100%;

							img {
								width: 100%;
								margin: 0;
							}
						}
					}
				}
			}
			.ex-col {
				margin-top: 15px;

				p {
					padding: 0;
				}
				p.top-des {
					padding: 2px	;
				}
				p.price {
					padding-top: 13px;
				}
			}
		}
	}
	.section-collection.col-2 {
		margin: 0 auto;
		padding: 0 25px 73px;

		.col-slider {
			width: auto;
		    float: none;
		    margin: 0;
		    padding: 0;
		}
		.col-content {
			float: none;
		    width: auto;
		    margin: 23px 0 0 0;
		    padding: 0;
		    height: auto;

		    img {
		    	margin: 0 0 23px;
		    }
		    .des-cont {
				margin: 0;
				padding: 0;
		    }
		    .content-price {
		    	position: relative;
		    	margin-top: 20px;

		    	p {
		    		padding: 0;
		    		font-size: 1rem;
		    		line-height: 9px;
		    	}
		    	p.top-des {
		    		font-size: 1.5rem;
		    		line-height: 18px;
		    	}
		    	p.price {
		    		font-size: 1rem;
					line-height: 12px;
					padding: 16px 0 0 0;
					font-weight: 500;
					letter-spacing: 0;
		    	}
	    		span {
					font-size: 2rem;
					letter-spacing: 1px;
				}
				span.ex-pri {
				    font-size: 1.6rem;
					letter-spacing: -0.5px;
				}

				ul {
					margin: 14px 0 0;
				}
		    }
		}
	}
	//Section Main
	.section-main {
		width: auto;
		height: auto;
		margin: 0 25px;
		padding: 0 15px 25px;

		.main-content {
			width: 100%;
			float: none;
			padding: 0;

			img {
				margin: 2px 0 9px;
			}

			p {
				font-size: 1.2rem;
				line-height: 20px;
				letter-spacing: -0.7px;
			}

		}
		.main-sidebar {
			width: 100%;
			float: none;
			margin: 15px 0 0;

			img {
				margin: 5px 0;
				float: none;
			}

			img:last-child {
				position: relative;
				margin: 18px 0 0;
			}
		}
	}
	//Section Banner
	.banner {
		 width: auto;
		 margin: 26px 0 64px;
		 padding: 0 25px;
		 background: none;
		 height: auto;

		 .banner-sp {
			position: relative;

			a {
				position: absolute;
			    top: 50%;
			    right: 0;
			    margin-right: 10px;
			    cursor: pointer;
			}
		 }
	}
	.banner-2 {
		padding: 0 25px;
		background: none;
		margin: 10px 0 66px;
		height: auto;
	}
}
