@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese";
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a::after,
a::before {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.c-headPC__inner {
  position: relative;
  overflow: hidden;
}

.c-headPC__banner {
  position: absolute;
  top: 228px;
  right: 128px;
}

.c-headSP {
  width: 100%;
  position: relative;
}

.c-headSP__inner {
  margin: 0 auto;
  position: relative;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

.c-footMap {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-footMap h2 {
  font-size: 5.6rem;
  line-height: 27px;
  font-style: normal;
  font-weight: 100;
  margin-top: 117px;
  letter-spacing: 2px;
}

.c-footMap__inner {
  height: 496px;
  margin-bottom: 100px;
  position: relative;
  margin-top: 44px;
}

.c-footMap__textbox {
  position: absolute;
  top: -81px;
  left: 59%;
  margin-left: 7px;
  background: #10222b;
  padding: 82px 240px 70px 71px;
  text-align: left;
}

.c-footMap__textbox dl {
  font-size: 1.5rem;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.c-footMap__textbox dt {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  padding-left: 5px;
}

.c-footMap__textbox dd {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.c-footMap__textbox dd span {
  display: block;
}

.c-footMap__textbox dl:last-child {
  border: none;
}

.c-footMap__textbox dl::before {
  content: '';
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: -10px;
}

.c-footMap__textbox dl:nth-child(1)::before {
  background: url("../img/pc/icon_1.png") no-repeat center;
}

.c-footMap__textbox dl:nth-child(2)::before {
  background: url("../img/pc/icon_2.png") no-repeat center;
}

.c-footMap__textbox dl:nth-child(3)::before {
  background: url("../img/pc/icon_3.png") no-repeat center;
}

.c-footMap__textbox dl:nth-child(4)::before {
  background: url("../img/pc/icon_4.png") no-repeat center;
}

.c-footMap__textbox dl:nth-child(5)::before {
  background: url("../img/pc/icon_5.png") no-repeat center;
}

.c-footMap__label {
  padding-left: 5px;
  display: block;
}

.c-footMap__time {
  margin: 0;
  position: relative;
}

.c-footMap__img {
  background: url("../img/pc/map.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  height: 496px;
  width: 100%;
  top: 0;
}

.c-footInfo {
  background: #fff;
  text-align: center;
}

.c-footInfo__head {
  padding-top: 1px;
  padding-bottom: 83px;
  background-color: #eeeeee;
}

.c-footInfo__head h2 {
  width: 100%;
  margin-top: 100px;
}

.c-footInfo__head h3 {
  font-size: 3.2rem;
  line-height: 27px;
  color: #666666;
  font-weight: 200;
  padding-top: 20px;
}

.c-footInfo__head p {
  font-size: 1.6rem;
  line-height: 40px;
  color: #404040;
  padding-top: 41px;
  letter-spacing: 2px;
}

.c-footInfo__content {
  background-color: #33c49d;
  padding-top: 46px;
  padding-bottom: 55px;
  position: relative;
}

.c-footInfo__content p {
  font-size: 1.5rem;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.5px;
}

.c-footInfo__txt {
  padding-top: 21px;
}

.c-footCopy {
  background-color: #3c3c3c;
  color: #f5f5f5;
}

.c-footCopy p {
  line-height: 40px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.c-footSP {
  padding: 55px 20px 0;
}

.c-footSP h1 {
  font-size: 2.8rem;
  line-height: 13px;
  font-weight: 200;
  color: #202020;
  margin-bottom: 13px;
}

.c-footSP h2 {
  font-size: 2.8rem;
  line-height: 13px;
  font-weight: 200;
  color: #202020;
  margin-bottom: 31px;
}

.c-footSP__inner ul {
  background: #10222b;
  padding: 21px 15px 15px;
  margin-bottom: 72px;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.c-footSP__inner ul li {
  border-bottom: 1px solid #636f75;
  padding-bottom: 18px;
}

.c-footSP__inner ul li h3 {
  font-size: 1.4rem;
  line-height: 12px;
  color: #fff;
  padding: 0 0 11px;
}

.c-footSP__inner ul li p {
  font-size: 1.2rem;
  line-height: 12px;
  color: #fff;
  padding-bottom: 1px;
}

.c-footSP__inner li:last-child {
  border: none;
}

.c-footSP__inner--txt {
  padding-top: 8px;
}

.c-footSP__info {
  background: #eeeeee;
  margin-top: 40px;
  padding-top: 33px;
  padding-bottom: 37px;
}

.c-footSP__info h2 {
  margin-bottom: 13px;
}

.c-footSP__info h4 {
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 300;
  color: #404040;
}

.c-footSP__textbox {
  background: #10222b;
  color: #fff;
  padding: 14px 15px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.c-footSP__textbox dl {
  padding: 10px 0 10px;
  border-bottom: 1px solid #636f75;
}

.c-footSP__textbox dl:last-child {
  border: none;
}

.c-footSP__textbox dt {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 3px;
}

.c-footSP__textbox dd {
  font-size: 1.2rem;
}

.c-footSP--contact {
  background: #33c49d;
  padding: 30px 25px 30px;
}

.c-footSP--contact h2 {
  margin-bottom: 20px;
}

.c-footSP--contact .c-footSP--contact__inner p {
  font-size: 1rem;
  line-height: 15px;
  color: #fff;
  letter-spacing: 1.8px;
}

.c-footSPCopy {
  background-color: #3c3c3c;
  color: #fff;
}

.c-footSPCopy p {
  line-height: 30px;
  font-size: 1rem;
  letter-spacing: 0.3px;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  min-width: 1460px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    min-width: auto;
  }
}

.l-container {
  width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 100%;
  }
}

.l-btn1--2btnCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.l-btn1--2btnCenter div:last-child {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  #wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/*------------------------------------------------------------
	side
------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .sp-only {
    display: block;
  }
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn {
  color: #fff;
  display: inline-block;
  padding: 5px 19px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.c-btn--color1 {
  background: #33c49d;
  min-width: 200px;
}

.c-btn--color2 {
  background: #0080af;
  margin-left: 30px;
  padding: 5px 18px;
}

.c-btn1 {
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
}

.c-btn1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  min-width: 420px;
  background: #6c6852;
  background: rgba(0, 0, 0, 0.3);
  font-size: 2.1rem;
  border: 1px solid #fff;
  border-radius: 60px;
  line-height: 1;
  padding: 30px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.c-btn1 a::before {
  content: '';
  display: inline;
  background: url("../img/pc/calendar.png") no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

.c-btn1 a::after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(0%) skewX(-45deg);
  transform: translateX(0%) skewX(-45deg);
}

.c-btn1 a:hover::after {
  -webkit-transform: translateX(0) skewX(0deg);
  transform: translateX(0) skewX(0deg);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.c-btn1--img a {
  display: block;
  padding: 19px 0;
  margin-bottom: 10px;
}

.c-btn1--img a:hover::after {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

.c-btn1--img img {
  display: block;
  margin-left: 98px;
  margin-top: 3px;
}

.btn-scrl {
  position: fixed;
  bottom: 107px;
  right: 81px;
  display: none;
}

.c-btnSP {
  font-size: 1.2rem;
  line-height: 14px;
  text-decoration: none;
  background: #ff1e5b;
  color: #fff;
  max-width: 280px;
  margin: 0 auto;
  padding: 15px 0;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}

.c-btnSP--2 {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  margin-top: 4px;
}

.c-btnSP--3 {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
  margin-top: 13px;
}

.c-btnSP--3 img {
  display: block;
  margin-top: 5px;
}

.c-btnSP::before {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("../img/sp/arr-1.png") no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-right: 15px;
}

.c-btnSP--2::before {
  content: '';
  background: url("../img/sp/i-cal.png") no-repeat;
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
}

.c-btnSP--3::before {
  display: none;
}

.c-btnSP__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #10222c;
  color: #fff;
  padding: 15px 0;
  font-size: 1.3rem;
  line-height: 14px;
  min-width: 100%;
  letter-spacing: 3px;
  font-weight: bold;
}

.c-btnSP__txt--color2 {
  background: #33c49d;
  margin-bottom: 10px;
  line-height: 1;
  padding: 10px 0 8px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

.c-btnSP__txt--color2:hover {
  background: #0080af;
}

.c-btnSP__txt--color2::before, .c-btnSP__txt--color2::after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #33c49d;
  content: '';
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.c-btnSP__txt--color2::before {
  left: 0;
}

.c-btnSP__txt--color2::after {
  right: 0;
}

.c-btnSP__txt--color2:hover::before, .c-btnSP__txt--color2:hover::after {
  width: 0;
  background: #0080af;
}

.c-btnSP__txt--color3 {
  background: #0080af;
  margin-top: 14px;
  margin-bottom: 9px;
  padding: 8px 0 8px 5px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.c-btnSP__txt--color3:hover {
  background: #33c49d;
}

.c-btnSP__txt--color3::before, .c-btnSP__txt--color3::after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #0080af;
  content: '';
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.c-btnSP__txt--color3::before {
  left: 0;
}

.c-btnSP__txt--color3::after {
  right: 0;
}

.c-btnSP__txt--color3:hover::before, .c-btnSP__txt--color3:hover::after {
  width: 0;
  background: #33c49d;
}

.btn-scrlSP {
  width: 50px;
  height: 50px;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 51px;
  right: 15px;
  display: none;
}

/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.c-dev-title1 {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  height: 27px;
  padding-bottom: 50px;
  margin-left: -6px;
}

.c-dev-title1 h2 {
  font-weight: 200;
  font-size: 5.6rem;
  color: #202020;
  line-height: 68px;
}

.c-dev-titleSP {
  margin-bottom: 30px;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-gnavi {
  position: absolute;
  top: 19%;
  right: 0;
  z-index: 999;
}

.c-gnavi ul {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
}

.c-gnavi ul li {
  padding: 0 18px;
}

.c-gnavi ul li a {
  font-size: 1.8rem;
  line-height: 27px;
  color: #3c3c3c;
  text-decoration: none;
  cursor: pointer;
}

.c-gnavi ul li::before {
  background: url("../img/pc/nav-arr.png") no-repeat center;
  background-size: cover;
  width: 15px;
  height: 10px;
  display: inline-block;
  content: '';
  margin-right: 13px;
  cursor: pointer;
}

.c-gnavi ul li:last-child {
  padding-right: 60px;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-imgtext1 {
  padding: 24px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #c8c8c8;
}

.c-imgtext1__img {
  width: 272px;
  margin-right: 30px;
}

.c-imgtext1__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-imgtext1__text h4 {
  font-size: 1.8rem;
  line-height: 40px;
}

.c-imgtext1__text p {
  font-size: 1.5rem;
  line-height: 22px;
}

.c-imgtext1__text--ext {
  padding: 24px 30px 26px 33px;
  background: #f0f0f0;
  margin-top: 20px;
}

.c-imgtext1__text--ext p {
  letter-spacing: -0.5px;
  text-align: justify;
  padding-left: 10px;
  line-height: 25px;
}

.c-imgtext1__text--ext p::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #33c49d;
  display: inline-block;
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
}

/*------------------------------------------------------------
			SP-IMAGES
------------------------------------------------------------*/
/*768

------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
ul.c-box {
  width: 100%;
  border-left: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

ul.c-box li.list-box {
  padding: 12px 15px;
  position: relative;
}

ul.c-box li.list-box h4 {
  font-size: 1.2rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

ul.c-box li.list-box p {
  font-size: 1.2rem;
  color: #3c3c3c;
  padding-left: 12px;
  letter-spacing: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

ul.c-box li:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 42%;
  top: 0;
  background: #c8c8c8;
}

ul.c-box .list-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1 table {
  width: 100%;
  border-collapse: collapse;
}

.c-table1 table thead th, .c-table1 table thead td {
  font-size: 1.5rem;
  color: #3c3c3c;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}

.c-table1 table tbody td {
  line-height: 50px;
  font-size: 1.5rem;
}

.c-table1 table span {
  display: block;
  line-height: 1;
}

.c-table1 table th {
  background-color: #dddddd;
}

.c-table1 table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.c-table1 table td {
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  padding-left: 27px;
  line-height: 27px;
  width: calc((1440px - 580px)/ 3);
  text-align: center;
}

.c-table1 table td p {
  font-size: 1.5rem;
  line-height: 27px;
  background: none;
  color: #3c3c3c;
}

.c-table1 table td:nth-child(1) {
  border-left: 1px solid #c8c8c8;
  border-right: none;
  text-align: left;
  width: 260px;
}

.c-table1 table td:nth-child(2) {
  text-align: left;
  padding-left: 0;
  width: 320px;
}

.c-table1 tr:nth-child(4),
.c-table1 tr:nth-child(6),
.c-table1 tr:nth-child(7) {
  height: 70px;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-campain {
  height: 708px;
  background: url(../img/pc/bg.jpg) repeat;
  background-size: cover;
  z-index: 1;
  margin-top: 97px;
  margin-bottom: 120px;
}

.c-campain__inner {
  background: url(../img/pc/bg-campain.png) no-repeat center top;
  z-index: 0;
  height: 1005px;
  -webkit-transform: translateY(-297px);
  transform: translateY(-297px);
  position: relative;
}

.c-campain__inner h2 {
  position: absolute;
  left: 76px;
  top: 130px;
}

.c-campain__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
}

.c-campain__content ul {
  display: grid;
  grid-template-columns: 480px 480px 480px;
  grid-gap: 10px;
  padding-top: 350px;
  margin-left: -10px;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.c-campain__content ul li {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.c-campain__content ul li:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.c-campain__content ul li:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.c-campain__content ul li:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.c-campain__content img {
  -webkit-box-shadow: -2px 1px 11px rgba(255, 255, 255, 0.1);
          box-shadow: -2px 1px 11px rgba(255, 255, 255, 0.1);
}

.c-campain__content a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 80px;
  background: #ff1e5b;
  min-width: 474px;
  height: 77px;
  color: #fff;
  border-radius: 50px;
  margin-top: 46px;
  position: relative;
  overflow: hidden;
  letter-spacing: 1px;
}

.c-campain__content a::before {
  content: '';
  width: 9px;
  height: 15px;
  display: inline-block;
  background: url("../img/pc/arr.png") no-repeat center;
  background-size: cover;
  margin-right: 22px;
}

.c-campain__content a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  -webkit-transform: translateX(400px) skewX(45deg);
          transform: translateX(400px) skewX(45deg);
  opacity: 1;
}

.c-campain__content a:hover::after {
  -webkit-transform: translateX(0) skewX(0deg);
          transform: translateX(0) skewX(0deg);
  background-color: #ff5684;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff;
  opacity: 0.5;
}

.c-fee {
  background-color: #fff;
  margin-bottom: 140px;
  margin-top: 41px;
}

.c-fee__inner {
  text-align: center;
  margin-bottom: 40px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.c-fee__inner p {
  font-size: 2rem;
  background-color: #10222b;
  color: #fff;
  line-height: 49px;
}

.c-fee__inner img {
  border-bottom: 1px solid #c8c8c8;
}

.c-fee__btn {
  text-align: left;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-fee__btn span {
  font-size: 1.5rem;
  background: none;
  color: #3c3c3c;
  padding-left: 15px;
  display: inline;
}

.c-fee__btn span:nth-child(1) {
  background: #33c49d;
  color: #fff;
  padding-right: 10px;
}

.c-fee__btn span:nth-child(3) {
  background: #0080af;
  color: #fff;
}

.c-fee__btn--txt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.c-reversation {
  background: url("../img/pc/grad-bg-2.jpg") no-repeat center;
  background-size: cover;
  height: 695px;
  padding-top: 70px;
  margin-top: -10px;
}

.c-reversation__inner {
  background: url("../img/pc/rev-bg.jpg") no-repeat center;
  background-size: cover;
  height: 562px;
  text-align: center;
}

.c-reversation__inner h2 {
  font-size: 3.2rem;
  line-height: 27px;
  color: #fff;
  padding-top: 94px;
  font-weight: normal;
  padding-left: 67px;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.c-reversation__inner h4 {
  padding-top: 30px;
  margin-bottom: 50px;
  padding-left: 68px;
}

.c-reversation__inner h5 {
  font-size: 1.8rem;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  padding-left: 70px;
}

.c-reversation__inner p {
  font-size: 1.3rem;
  line-height: 18px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}

.c-instructor {
  margin-top: -15px;
  margin-bottom: 125px;
}

.c-instructor__inner {
  padding: 45px 225px 0;
}

.c-shop__inner {
  padding-top: 40px;
}

.c-shop__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-shop__inner ul li {
  -ms-flex-preferred-size: 272px;
      flex-basis: 272px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-shop__inner ul li:last-child {
  margin: 0;
}

.c-campSP {
  padding: 10px 10px 50px;
  background: url("../img/sp/bg.jpg") repeat;
}

.c-campSP__inner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.c-campSP__inner img {
  margin-bottom: 14px;
  -webkit-box-shadow: -1px 1px 10px #c8c8c8;
          box-shadow: -1px 1px 10px #c8c8c8;
}

.c-feeSP {
  margin-top: 50px;
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.c-feeSP__content {
  text-align: left;
}

.c-feeSP__content ul li {
  border-bottom: 1px solid #c8c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  cursor: pointer;
}

.c-feeSP__content ul li h3 {
  font-size: 1.9rem;
  margin-right: 23px;
}

.c-feeSP__content ul li span {
  font-size: 1rem;
  color: #999999;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 23px;
}

.c-feeSP__content ul li img {
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  vertical-align: middle;
  cursor: pointer;
}

.c-feeSP__content li:nth-child(1),
.c-feeSP__content li:nth-child(3) {
  padding: 20px 15px;
}

.c-feeSP__content li:last-child {
  padding: 20px 15px;
}

.c-feeSP__btn {
  padding: 17px 25px 15px 15px;
}

@media screen and (max-width: 768px) {
  .c-feeSP__btn {
    padding: 28px 25px 15px 15px;
  }
}

.c-feeSP__btn span {
  font-size: 1.2rem;
  line-height: 12px;
  display: block;
}

.c-reverSP {
  background: url("../img/sp/bg-reve-2.jpg") no-repeat;
  background-size: 100%;
  padding-top: 20px;
  margin-top: 35px;
  padding-bottom: 90px;
}

.c-reverSP__inner {
  padding: 44px 20px 0;
}

.c-reverSP__inner--top {
  padding: 0;
}

.c-reverSP__inner--top p {
  font-size: 1.2rem;
  line-height: 18px;
  color: #fff;
}

.c-reverSP__inner h3 {
  font-size: 1.6rem;
  line-height: 27px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 21px;
}

.c-reverSP__inner h1 {
  font-size: 2.8rem;
  line-height: 27px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px;
}

.c-reverSP__inner h2 {
  font-size: 2.8rem;
  line-height: 27px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 13px;
}

.c-reverSP__inner--bot {
  padding-top: 10px;
}

.c-reverSP__inner--bot p {
  font-size: 1rem;
  line-height: 13px;
  color: #fff;
}

.c-reverSP__inner--btn {
  padding-top: 20px;
}

.c-instrSP {
  padding: 43px 20px 0;
}

.c-instrSP h2 {
  margin-bottom: 25px;
}

.c-instrSP__inner {
  padding: 15px;
  border: 1px solid #c8c8c8;
}

.c-instrSP__img {
  padding: 0;
}

.c-instrSP__txt {
  padding-top: 10px;
}

.c-instrSP__txt p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 16px;
}

.c-instrSP__txt h6 {
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 9px;
}

.c-instrSP__box {
  margin-top: 30px;
  background: #f0f0f0;
  padding: 15px 20px 15px 25px;
}

.c-instrSP__box p {
  position: relative;
}

.c-instrSP__box p::before {
  content: '';
  width: 4px;
  height: 4px;
  background: #33c49d;
  position: absolute;
  left: -10px;
  top: 7px;
  border-radius: 50%;
}

.c-shopSP {
  padding: 50px 20px 0;
}

.c-shopSP h2 {
  font-size: 2.5rem;
}

.c-shopSP__inner {
  padding-top: 25px;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.u-red {
  color: #ff1e5b !important;
}

.u-yoyo {
  margin-top: 20px;
}

.u-thr--text {
  text-decoration: line-through;
  -webkit-text-decoration-color: #ff1d5c;
          text-decoration-color: #ff1d5c;
}

.u-acc--box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-acc--box img.btn-sub {
  display: none;
}

.u-span-block {
  display: block;
}

.fade {
  opacity: 0;
  -webkit-transform: translate(0, 60px);
  transform: translate(0, 60px);
}

.fade-in {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.show-off {
  opacity: 0;
}

.show-up {
  opacity: 1;
}
