@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  cursor: pointer;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
  background: #fff;
  height: auto !important;
  z-index: 0;
}

.c-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 72px;
  -webkit-box-shadow: 11px 5px 22px #bacfd5;
          box-shadow: 11px 5px 22px #bacfd5;
  background: #fff;
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.c-header--toppage {
  background: none;
}

.c-header-bg {
  background: url("../img/pc/top-bg.jpg") no-repeat center;
  background-size: cover;
  height: 578px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.c-header-bg h1 {
  -ms-flex-item-align: center;
      align-self: center;
}

.c-header-bg__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-headerSP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px 10px 10px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .c-headerSP {
    background: none;
  }
}

.c-headerSP__menuSP {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-headerSP__menuSP--1, .c-headerSP__menuSP--2, .c-headerSP__menuSP--3 {
  width: 100%;
  height: 3px;
  margin-bottom: 6px;
  background: #000;
}

.c-headerSP__logo {
  margin-left: 38px;
}

.c-headerSP__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-headerSP__social ul li {
  padding-right: 13px;
}

.c-headerSP__social ul li:last-child {
  padding: 0;
}

.c-headerSP--bg {
  background: url("../img/sp/headerSP-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 480px;
}

@media screen and (max-width: 768px) {
  .c-headerSP--bg__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .c-headerSP--bg {
    min-height: 484px;
    position: relative;
  }
}

.c-header-fix {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.c-header-transparent {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  background: #49c8b2;
  text-align: center;
  padding-top: 60px;
  margin: 0 auto;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .c-footer {
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
  }
}

.c-footer__head {
  padding-bottom: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-footer__head {
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.c-footer__head h3 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  padding-bottom: 19px;
}

@media screen and (max-width: 768px) {
  .c-footer__head h3 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    padding-bottom: 15px;
    padding-top: 20px;
  }
}

.c-footer__head ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-footer__head ul {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.c-footer__head ul li {
  padding: 0 12px;
}

@media screen and (max-width: 768px) {
  .c-footer__head ul li {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-footer__head ul li:first-child {
    padding-right: 14px;
  }
}

.c-footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-footer__navbar {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-footer__navbar--logo {
  display: block;
}

@media screen and (max-width: 768px) {
  .c-footer__navbar--logo {
    padding-top: 20px;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-footer__navbar--item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-footer__navbar--item ul {
    display: block;
    padding: 25px 0px 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .c-footer__navbar--item ul:after {
    display: block;
    clear: both;
    content: "";
  }
}

.c-footer__navbar--item ul li {
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .c-footer__navbar--item ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 14px;
    padding: 0;
  }
}

.c-footer__navbar--item ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .c-footer__navbar--item ul li a {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.c-footer__navbar--item ul li:last-child {
  padding: 0;
}

.c-footer__navbar--item ul li:nth-child(5) {
  padding-right: 10px;
  padding-left: 13px;
}

@media screen and (max-width: 768px) {
  .c-footer__navbar--item ul li:nth-child(5),
  .c-footer__navbar--item ul li:nth-child(6) {
    display: none;
  }
}

.c-footer__copy {
  padding-top: 10px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .c-footer__copy {
    padding: 0 35px 40px;
  }
}

.c-footer__copy p {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .c-footer__copy p {
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 1.4px;
    padding-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  .c-footer__copy p:last-child {
    padding: 0 50px;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  line-height: 1.6;
  font-size: 1.4rem;
  min-width: 1080px;
}

@media screen and (max-width: 768px) {
  body {
    min-width: auto;
  }
}

#wrapper {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #wrapper {
    width: 100%;
  }
}

.l-container {
  width: 780px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-container {
    width: 100%;
    max-width: 750px;
    padding: 0 14px 0 14px;
  }
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-headmain1 {
  background: #e5e5e5;
  height: 210px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-headmain1 {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 0;
  }
}

.c-headmain1 h2 {
  text-align: center;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 900;
  padding-top: 45px;
}

@media screen and (max-width: 768px) {
  .c-headmain1 h2 {
    padding-top: 24px;
  }
}

.c-title1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.default-txt {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: justify;
  color: #000;
}

@media screen and (max-width: 768px) {
  .default-txt {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

.undeline-txt {
  text-decoration: underline;
  -webkit-text-decoration-color: #bebebe;
          text-decoration-color: #bebebe;
}

.bold-txt {
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 900;
  letter-spacing: 1.4px;
  text-align: justify;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .bold-txt {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

.jump-txt {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .jump-txt {
    margin-top: 20px;
  }
}

.special-txt {
  color: #88c5bd;
  -webkit-text-decoration-color: #88c5bd;
          text-decoration-color: #88c5bd;
}

.c-gnavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-gnavi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.c-gnavi ul li {
  padding-left: 33px;
  -ms-flex-item-align: center;
      align-self: center;
}

.c-gnavi ul li a {
  text-decoration: none;
  font-size: 1.48rem;
  font-weight: bold;
  color: #000;
}

.c-gnavi ul li:nth-child(5),
.c-gnavi ul li:nth-child(6) {
  padding-left: 8px;
}

.c-globalmenu {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: block;
}

.c-globalmenu__open {
  padding-top: 10px;
  padding-left: 12px;
}

.c-globalmenu__open a {
  cursor: pointer;
}

.c-globalmenu__open a:focus,
.c-globalmenu__open a:hover {
  outline: none;
  background: none;
}

.c-globalmenu__inner {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-globalmenu__inner ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.c-globalmenu__inner ul li {
  padding-bottom: 0;
}

.c-globalmenu__inner ul li a {
  text-decoration: none;
  font-size: 2.1rem;
  color: #000;
  font-weight: bold;
}

.c-globalmenu__inner ul li a.c-menu-stxt {
  font-size: 1.6rem;
}

.c-globalmenu__inner ul li:nth-child(3) {
  padding-bottom: 50px;
}

.c-globalmenu__inner ul li:nth-child(4) {
  padding-bottom: 17px;
}

.c-globalmenu__inner ul li:nth-child(5) {
  padding-bottom: 11px;
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-quote {
  padding: 40px 0 49px;
}

@media screen and (max-width: 768px) {
  .c-quote {
    padding: 20px 0 30px;
  }
}

.c-quote p {
  text-align: right;
  font-size: 1.45rem;
  line-height: 1.1rem;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-quote p {
    font-size: 1.1rem;
    padding-bottom: 11px;
  }
}

.c-progress-bar {
  position: fixed;
  width: 40px;
  height: 200px;
  top: 0;
  left: 0;
  margin-top: 92px;
  margin-left: 9px;
  padding: 0 10px;
}

.c-progress-bar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-progress-bar ul li {
  background: #cccccc;
  background-size: 19px 19px;
  margin-bottom: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.c-progress-bar ul li a {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 50%;
}

.c-progress-bar ul li a img {
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
  display: none;
}

.c-progress-bar ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background: #cccccc;
  left: 49%;
  top: 137%;
  display: inline-block;
}

.c-progress-bar ul li:first-child {
  background: none;
}

.c-progress-bar ul li:first-child img {
  -webkit-transform: translate(-3px, 0);
  transform: translate(-3px, 0);
}

.c-progress-bar ul li:first-child::after {
  top: 200%;
}

.c-progress-bar ul li:last-child:after {
  content: none;
}

.c-progress-bar .is-current img {
  display: block;
}

.c-progress-bar-fixed {
  position: fixed;
  left: 19.7%;
}

.c-qa {
  padding-top: 65px;
}

@media screen and (max-width: 768px) {
  .c-qa {
    padding-top: 40px;
  }
}

.c-qa__head {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-qa__head {
    padding-bottom: 10px;
  }
}

.c-qa__inner {
  padding-top: 0;
}

.c-qa__inner--list {
  border-top: 1px solid #e5e5e5;
  padding: 18px 0 15px;
}

@media screen and (max-width: 768px) {
  .c-qa__inner--list {
    padding: 18px 0 15px;
  }
}

.c-qa__inner--list:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.c-qa__inner--q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .c-qa__inner--q {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
}

.c-qa__inner--q p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .c-qa__inner--q p {
    font-size: 1.51rem;
    line-height: 1.9rem;
    letter-spacing: 0.4px;
    padding-right: 20px;
  }
}

.c-qa__inner--q img {
  vertical-align: middle;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .c-qa__inner--q img {
    margin-top: 0;
    margin-right: 0;
  }
}

.c-qa__inner--q img.sub {
  display: none;
}

.c-qa__inner--q .icon-sp {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: right;
}

.c-qa__inner--q .icon-sp img.sp-sub {
  display: none;
}

.c-qa__inner--q.active-btn::after {
  content: '';
  width: 20px;
  height: 3px;
  background: #069d8f;
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .c-qa__inner--q.active-btn::after {
    right: 0;
    bottom: 20px;
    background: #c9c9c9;
  }
}

.c-qa__inner--a {
  padding-top: 12px;
}

.c-qa__inner--a p {
  font-size: 1.4rem;
  line-height: 2.3rem;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 768px) {
  .c-qa__inner--a p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    letter-spacing: 0;
    letter-spacing: 0.53px;
    text-align: justify;
  }
}

.c-qa:last-child {
  padding-bottom: 67px;
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  .c-qa:last-child {
    padding-bottom: 49px;
    padding-top: 13px;
  }
}

.c-rule__head {
  padding: 63px 0 35px;
}

@media screen and (max-width: 768px) {
  .c-rule__head {
    padding: 24px 0 29px;
  }
  .c-rule__head p {
    text-align: justify;
  }
}

.c-rule__head p {
  font-size: 1.6rem;
  line-height: 25.6px;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 768px) {
  .c-rule__head p {
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: 0.1px;
  }
}

.c-rule__inner {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 36px 0 18px;
}

@media screen and (max-width: 768px) {
  .c-rule__inner {
    padding: 30px 0;
  }
}

.c-rule__inner h3 {
  font-size: 1.5rem;
  line-height: 22px;
  padding-left: 7px;
}

@media screen and (max-width: 768px) {
  .c-rule__inner h3 {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}

.c-rule__inner p {
  font-size: 1.49rem;
}

@media screen and (max-width: 768px) {
  .c-rule__inner p {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.9rem;
  }
}

.c-rule__inner--txt1 {
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-rule__inner--txt1 {
    padding-bottom: 36px;
  }
}

.c-rule__inner--txt1:last-child {
  padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .c-quote-rule {
    padding: 25px 0 28px;
  }
}

.c-topic {
  padding-bottom: 62px;
}

@media screen and (max-width: 768px) {
  .c-topic {
    padding: 0 0 40px 0;
  }
}

.c-topic__head {
  padding-top: 65px;
}

@media screen and (max-width: 768px) {
  .c-topic__head {
    padding: 30px 0 28px;
  }
}

.c-topic__head p {
  padding-bottom: 1px;
}

@media screen and (max-width: 768px) {
  .c-topic__head p {
    padding: 0;
    font-size: 1.2rem;
  }
}

.c-topic__list {
  padding: 47px 0 8px;
}

@media screen and (max-width: 768px) {
  .c-topic__list {
    padding: 0 0 39px;
  }
}

.c-topic__list--panel {
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  max-height: 37px;
}

@media screen and (max-width: 768px) {
  .c-topic__list--panel {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0;
    max-height: initial;
  }
}

.c-topic__list--panel img {
  margin-right: 20px;
  margin-top: 5px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .c-topic__list--panel img {
    margin-right: 0;
    margin-top: 10px;
  }
}

.c-topic__list--acc {
  display: block;
  border-top: 1px solid #e5e5e5;
  padding: 0;
}

.c-topic__list--acc dl.c-acc-panel {
  cursor: pointer;
  overflow: hidden;
  padding: 18px 0 17px;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc dl.c-acc-panel {
    display: grid;
    grid-template-columns: 30% auto 10%;
  }
}

.c-topic__list--acc dt {
  float: left;
  font-size: 1.8rem;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc dt {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-right: 10px;
    grid-column: 1 / 2;
    float: none;
  }
}

.c-topic__list--acc dd {
  float: left;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc dd {
    padding-right: 27px;
    grid-column: 2 / 3;
    letter-spacing: 0;
    padding-right: 0;
    line-height: 1.9rem;
    float: none;
  }
}

.c-topic__list--acc dd.accordion {
  float: none;
  padding-top: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc dd.accordion {
    grid-column: 1 / span 3;
    padding-top: 20px;
    padding-right: 0;
    font-size: 1.4rem;
    line-height: 18px;
  }
}

.c-topic__list--acc .icon-pc {
  float: right;
  margin-right: 25px;
}

.c-topic__list--acc .icon-pc img {
  vertical-align: middle;
}

.c-topic__list--acc .icon-pc:after {
  display: block;
  clear: both;
  content: "";
}

.c-topic__list--acc .icon-sp img {
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc .icon-sp {
    grid-column: 3;
    -ms-flex-item-align: start;
        align-self: start;
    margin-top: 0;
    justify-self: end;
  }
}

.c-topic__list--acc img.sub {
  display: none;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc img.sub {
    margin-top: 10px;
  }
}

.c-topic__list--acc img.sp-sub {
  display: none;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc {
    padding: 17px 0 8px;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}

.c-topic__list--acc p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: justify;
  color: #000;
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc p {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 768px) {
  .c-topic__list--acc {
    text-align: left;
  }
}

.c-topic__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .c-topic__more {
    margin-top: 3px;
  }
}

.c-topic__more a {
  text-decoration: none;
  color: #919191;
}

.c-topic__more a span {
  color: #069d8f;
  font-size: 10px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.c-tophead {
  background: #49c8b2;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .c-tophead {
    padding-top: 6px;
    padding-bottom: 11px;
  }
}

.c-tophead__inner {
  padding-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .c-tophead__inner {
    padding: 0;
    text-align: center;
  }
}

.c-tophead__inner h3 {
  font-size: 2rem;
  line-height: 43px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-tophead__inner h3 {
    font-size: 1.7rem;
    line-height: 3.5rem;
  }
}

.c-tophead__inner h1 {
  font-size: 3.9rem;
  font-weight: bold;
  color: #fff;
  padding-top: 3px;
}

@media screen and (max-width: 768px) {
  .c-tophead__inner h1 {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
}

.c-tophead__inner ul {
  display: grid;
  grid-template-columns: 125px 125px 125px;
  grid-column-gap: 50px;
  padding-top: 38px;
}

@media screen and (max-width: 768px) {
  .c-tophead__inner ul {
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    padding-top: 24px;
  }
}

.c-tophead__inner ul li {
  text-align: center;
}

.c-tophead__inner ul li a {
  color: #fff;
  font-size: 1.6rem;
  line-height: 23px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .c-tophead__inner ul li a {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

.c-tophead__inner ul li a img {
  margin-bottom: 17px;
}

@media screen and (max-width: 768px) {
  .c-tophead__inner ul li a img {
    margin: 0;
  }
}

.c-tophead__inner ul li a span {
  display: block;
}

@media screen and (max-width: 736px) {
  .c-tophead__inner ul li a span {
    margin-top: 20px;
  }
}

.c-tophead__img {
  -webkit-transform: translateY(-63px);
  transform: translateY(-63px);
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .c-tophead__img {
    margin: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.c-tophead__img img {
  -webkit-box-shadow: -14px 10px 30px #888;
          box-shadow: -14px 10px 30px #888;
  border-radius: 34px;
}

.c-tophead__txt {
  padding-top: 42px;
}

@media screen and (max-width: 768px) {
  .c-tophead__txt {
    padding: 0;
    width: 100%;
  }
}

.c-about {
  padding: 65px 0;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .c-about {
    padding: 30px 0;
  }
}

.c-about__inner {
  padding-top: 38px;
}

@media screen and (max-width: 768px) {
  .c-about__inner {
    padding-top: 30px;
  }
}

.c-about__active {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-about__active {
    display: block;
    padding-top: 25px;
    position: relative;
    padding-bottom: 56.25%;
  }
  .c-about__active iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.c-top-topic {
  padding: 60px 0 61px;
  background: #e5e5e5;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .c-top-topic {
    padding: 24px 0 0;
  }
}

.c-top-topic h2 {
  -webkit-transform: translate(1px, 6px);
  transform: translate(1px, 6px);
}

.c-top-topic__inner {
  padding: 24px 0 31px;
}

.c-top-topic__inner p {
  padding-bottom: 6px;
}

@media screen and (max-width: 768px) {
  .c-top-topic__inner p {
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 600;
  }
}

.c-top-topic__list {
  padding: 0;
}

.c-top-topic__list--cont {
  display: block;
}

.c-top-topic__list--cont ul {
  width: 100%;
}

.c-top-topic__list--cont ul li {
  padding: 10px 0 12px;
  border-bottom: 2px solid #fff;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .c-top-topic__list--cont ul li {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}

.c-top-topic__list--cont ul li span {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .c-top-topic__list--cont ul li span {
    margin-right: 25px;
  }
}

.c-top-topic__list--cont ul li:first-child {
  border-top: 2px solid #fff;
}

.c-top-topic__quote {
  padding-top: 20px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .c-top-topic__quote {
    padding-bottom: 20px;
  }
}

.c-top-topic__quote a {
  font-size: 1.6rem;
  color: #000;
}

.c-top-topic__quote a:hover {
  color: #069d8f;
  text-decoration: none;
}

.c-use {
  position: relative;
  padding: 63px 0 30px;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .c-use {
    padding: 30px 0 16px;
  }
}

.c-use__mainslider {
  position: relative;
  padding: 0 80px 100px;
  min-height: 500px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: -15px;
}

@media screen and (max-width: 768px) {
  .c-use__mainslider {
    padding: 30px 0 73px;
    min-height: auto;
    text-align: center;
  }
}

.c-use__mainslider--dot {
  position: absolute;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 62px;
  right: 30%;
}

@media screen and (max-width: 768px) {
  .c-use__mainslider--dot {
    bottom: 30px;
    left: 50%;
    right: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.c-use__mainslider--dot span.dot,
.c-use__mainslider--dot span.dot-2,
.c-use__mainslider--dot span.dot-3 {
  background: #e2e2e2;
  background-size: 10px 10px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .c-use__mainslider--dot span.dot,
  .c-use__mainslider--dot span.dot-2,
  .c-use__mainslider--dot span.dot-3 {
    margin-right: 5px;
  }
}

.c-use__mainslider--dot span.dot:last-child,
.c-use__mainslider--dot span.dot-2:last-child,
.c-use__mainslider--dot span.dot-3:last-child {
  margin: 0;
}

.c-use__mainslider a {
  position: absolute;
  top: 43%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .c-use__mainslider a {
    top: 32%;
  }
}

.c-use__mainslider a:hover,
.c-use__mainslider a:focus {
  outline: none;
  background: none;
}

.c-use__mainslider a.prev-btn,
.c-use__mainslider a.prev-btn-2,
.c-use__mainslider a.prev-btn-3 {
  left: 0%;
}

.c-use__mainslider a.next-btn,
.c-use__mainslider a.next-btn-2,
.c-use__mainslider a.next-btn-3 {
  right: 0%;
}

.c-use__mainslider:last-child {
  border-bottom: none;
}

.c-use__slide, .c-use__slide-2, .c-use__slide-3 {
  position: absolute;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .c-use__slide, .c-use__slide-2, .c-use__slide-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 0;
  }
}

.c-use__slide--img h2 img, .c-use__slide-2--img h2 img, .c-use__slide-3--img h2 img {
  -webkit-transform: translateX(-33px);
  transform: translateX(-33px);
}

@media screen and (max-width: 768px) {
  .c-use__slide--img h2 img, .c-use__slide-2--img h2 img, .c-use__slide-3--img h2 img {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .c-use__slide--img, .c-use__slide-2--img, .c-use__slide-3--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-use__slide--txt, .c-use__slide-2--txt, .c-use__slide-3--txt {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 83px;
}

@media screen and (max-width: 768px) {
  .c-use__slide--txt, .c-use__slide-2--txt, .c-use__slide-3--txt {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    margin-top: 13px;
  }
}

.c-use__slide--txt h2, .c-use__slide-2--txt h2, .c-use__slide-3--txt h2 {
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .c-use__slide--txt h2, .c-use__slide-2--txt h2, .c-use__slide-3--txt h2 {
    padding-bottom: 15px;
  }
}

.c-use__slide--txt p, .c-use__slide-2--txt p, .c-use__slide-3--txt p {
  padding-right: 80px;
}

@media screen and (max-width: 768px) {
  .c-use__slide--txt p, .c-use__slide-2--txt p, .c-use__slide-3--txt p {
    text-align: center;
    letter-spacing: 0;
    padding: 0;
  }
}

.c-genetic {
  padding: 65px 0;
  background: #e5e5e5;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .c-genetic {
    padding: 32px 0 40px;
  }
}

.c-genetic__img {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .c-genetic__img {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 19px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 16px;
    margin-top: 18px;
  }
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.u-mt20 {
  margin-top: 20px;
}

.u-text-break {
  padding-right: 122px;
}

@media screen and (max-width: 768px) {
  .u-text-break {
    padding-right: 40px;
  }
}

.u-text-break-s {
  padding-right: 35px;
}

@media screen and (max-width: 768px) {
  .u-text-break-s {
    padding: 0;
  }
}

.u-qa-txt {
  font-size: 1.4rem;
  color: #6c6c6d;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .u-qa-txt {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}

.u-text-j {
  padding-top: 15px;
}

.u-active {
  background: #a0a0a0 !important;
}

.u-fade {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.u-sm-sub {
  display: none;
}

.u-sm-plus {
  display: block;
}

.u-bg-color-1 {
  background: #fff;
}

.u-bgcolor-2 {
  background-color: #49c8b2;
  color: #fff;
}
