@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    BASE DEVELOP
------------------------------------------------------------*/
/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
header .top-headersp {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 15px;
  text-align: left;
}

header .main-headersp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
}

header .bg-headersp {
  margin-top: 10px;
  position: relative;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
#footer {
  padding-top: 15px;
}

#footer .nav-bar {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: 50% 50%;
}

#footer .nav-bar li {
  position: relative;
  padding: 0;
  border-color: #ccc;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#footer .nav-bar li:nth-child(odd) {
  border-left: none;
  border-right: 1px solid #7c9acf;
  border-color: #ccc;
}

#footer .nav-bar li:nth-child(even) {
  border-right: none;
}

#footer .nav-bar li a {
  color: #000;
}

#footer .nav-bar li::after {
  background: url("../img/sm/icon-3.png") no-repeat center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
}

#footer .navbarFooter li {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#footer .navbarFooter li::after {
  content: none;
}

#footer .copyRight {
  padding: 10px 0;
  background: #4471c6;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
}

/*------------------------------------------------------------
	                    SIDE LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    BREADCRUMB LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    MAIN LAYOUT
------------------------------------------------------------*/
body {
  min-width: auto;
  max-width: 640px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
}

@media all and (min-width: 768px) {
  body {
    max-width: 100%;
  }
}

#wrap {
  width: 100%;
}

.l-content {
  padding: 0 15px;
}

@media all and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media all and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media all and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
.c-btn1, .c-btn1-ex {
  text-align: center;
  margin: 0 15px 15px;
  background: #ffffff;
  padding: 15px 0;
}

.c-btn1 a, .c-btn1-ex a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-btn1 a span, .c-btn1-ex a span {
  display: block;
}

.c-btn1 a::after, .c-btn1-ex a::after {
  content: '';
  background: url(../img/sm/icon-3.png) no-repeat center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 15px;
  position: absolute;
  right: 15px;
}

.c-btn1 a p, .c-btn1-ex a p {
  text-align: center;
}

.c-btn1-ex {
  margin: 0 0 15px;
}

.c-btn1-ex a {
  color: #fff;
  font-weight: normal;
}

.c-btn1-ex a::after {
  background: url("../img/sm/icon-3ex.png") no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

.c-btn1-ex span {
  margin-top: 5px;
}

/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
.c-title1 {
  background: #ffffff;
  margin: 0 15px;
  padding: 25px 15px 15px;
}

.c-title1 h3 {
  font-size: 1.6rem;
  padding-bottom: 15px;
}

.c-title1 p {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 21px;
}

/*------------------------------------------------------------
	                    ICON COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    FORM COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TEXT COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
.g-navi {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(79, 122, 199, 0.9);
  display: none;
  z-index: 999;
}

ul.nav-bar {
  padding-bottom: 30px;
}

ul.nav-bar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #7c9acf;
  padding: 0 15px;
  min-height: 50px;
  cursor: pointer;
}

ul.nav-bar li::after {
  content: '';
  background: url(../img/sm/icon-3ex.png) no-repeat center;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

ul.nav-bar li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
}

/*------------------------------------------------------------
	                    IMAGES & IMAGES TEXT COMPONENT
------------------------------------------------------------*/
.c-imgtext1 {
  text-align: center;
}

.c-imgtext2 {
  background: #ffffff;
  margin-bottom: 15px;
}

.c-imgtext2 p {
  line-height: 15px;
  padding: 15px 0;
}

/*------------------------------------------------------------
	                    LIST COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TABLE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    LINE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    VIDEO COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    SLIDER COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    OTHER COMPONENT
------------------------------------------------------------*/
.copy {
  margin: 0 auto -50px;
  text-align: center;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.date {
  padding-bottom: 30px;
  text-align: left;
}

.date dl {
  font-size: 1.4rem;
}

.date dl dt {
  padding-bottom: 5px;
}

/*------------------------------------------------------------
	                    PAGE COMPONENT
------------------------------------------------------------*/
.advantage {
  margin-top: 30px;
}

.equip {
  background: #e9eff2;
  padding: 0 15px 40px;
}

.equip .c-title1 {
  background: transparent;
  padding: 25px 0 0;
}

.equip-end {
  text-align: left;
  line-height: 21px;
}

.equip-end .c-btn1-ex {
  margin-top: 10px;
}

.contact {
  padding: 20px 15px 0;
}

.contact h3 {
  padding-top: 30px;
  font-size: 1.4rem;
  line-height: 1rem;
}

.contact p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #585550;
}

.contact .c-btn1-ex {
  margin: 10px 0 0;
  padding: 5px 0;
}

.contact .c-btn1-ex a {
  padding: 10px 0;
}

.contact .c-btn1-ex span {
  color: #ffffff;
  margin: 0;
}

.map {
  min-height: 250px;
}

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.u-blue {
  color: #4471c6;
}

.u-bg-blue {
  background: #4471c6;
}
