/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-btn1 {

	a{
		max-width: 235px;
		font-size: 1rem;
		color: $sec-white;
		text-decoration: none;
		display: inline-block;
		@include breakpoint {
			max-width: 100%;
			display: block;
			border: 1px solid #809ab3;
			padding: 20px;
		}

		span {
			// padding: 4px 10px 1px;
			padding: 4px 9px;
			border-radius: 2px;
			@include breakpoint {
				border-radius: 3px;
				padding: 2px 10px;
			}
		}
		img{
			margin-top: 15px;
			@include breakpoint {
				margin: 0;
			}
		}
	}
}
.c-btn1:hover a{
	animation: animate 0.2s linear;
}
.c-btn2 {
	@extend .c-btn1;

	a{
		color: $pri-black;
		border: 1px solid #d6d6d6;
		padding: 10px 17px 10px 16px;
		font-size: 1.4rem;
		border-radius: 20px;
	}
	a::after{
		content:'';
		background: url('../img/pc/ico-arr.png') no-repeat;
		background-size: 6px 10px;
		width: 6px;
		height: 10px;
		display: inline-block;
		margin-left: 15px;
	}

}
.c-btn3 {
	@extend .c-btn1;
	a{
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		padding: 20px 0 20px 20px;
		border: 1px solid $sec-white;
		border-radius: 5px;
		width: 210px;
		@include breakpoint {
			max-width: 100%;
			display: block;
			width: auto;
			padding: 20px 47px;
			border-radius: 3px;
			border: 1px solid #809ab3;
		}
	}
	a::before{
		content:'';
		background: url('../img/pc/ico-mail.png') no-repeat;
		background-size: 24px 16px;
		width: 24px;
		height: 16px;
		display: inline-block;
		margin-right: 10px;
		@include breakpoint{
			background: url('../img/sp/ico-mail.png') no-repeat;
			background-size: 24px 16px;
		}
	}
	&--color2 a{
		color: $extra-black;
		border: 1px solid #886e09;
		text-align: left;
		padding: 10px 0 10px 20px;

		&::before{
			background: url('../img/pc/ico-mail-2.png') no-repeat;
			margin: 0;
		}
		p {
			padding-left: 5px;
		}
		span {
			display: block;
			padding: 0 0 5px;
		}
	}
}
.c-btn3:hover a{
	animation: animate 0.2s linear;
}
.c-btn4{
	@extend .c-btn1;
	a {
		p{
			padding-top: 10px;
   			padding-bottom: 10px;
			font-size: 1rem;
			color: $sec-white;
		}
		span {
			display: block;
			padding: 7px 10px 8px;
			border-radius: 0;
		}
		img{
			margin: 0;
		}
		p.date{
			padding: 0;
			color:#666666;
			text-align: right;
		}
	}
}
.c-btn-scrl{
	position: fixed;
	right: 0;
	bottom: 20px;
	@include breakpoint{
		right: 10px;
		bottom: 10px;
	}
}
