//------------------Title--------

.c-title1 {
	font-size: 2.6rem;
	padding-bottom: 39px;

	h3{
		position: relative;
		display: flex;
		align-items: center;
		font-size: 2.4rem;
		@include breakpoint {
			font-size: 1.6rem;
			display: block;
			position: relative;
		}
	}
	h3::before{
		content:'';
		background: url('../img/pc/line-blue.png') no-repeat;
		background-size: 24px 40px;
		width: 24px;
		height: 40px;
		margin-right: 13px;
   		margin-left: 2px;
		@include breakpoint{
			display: block;
			position: absolute;
			top: -30px;
			left: 46%;
			transform: translateY(-50%);
			background: url('../img/sp/line-2.png') no-repeat;
			background-size: 18px 30px;
			width: 18px;
			height: 30px;
		}
	}
	@include breakpoint{
		padding-bottom: 20px;
	}
}
