//--------------------C-navi---------
.gnavi {
	position: absolute;
	bottom: 0;
	width: 100%;
	ul {
		width: 960px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		li {
			padding: 25px 49px;
			text-align: center;
			border-right: 1px solid $border;

			a{
				color: $pri-black;
				text-decoration: none;
				span {
					margin-top: 15px;
					display: block;
				}
			}
			a:hover {
				text-decoration: underline;
			}
			a:hover img{
				-webkit-transform: scale(1.5);
				   -moz-transform: scale(1.5);
				    -ms-transform: scale(1.5);
				     -o-transform: scale(1.5);
				        transform: scale(1.5);
			}
		}
		li:nth-child(1){
			border-left: 1px solid $border;
		}
		li:last-child{
			padding: 25px 31px;
		}
	}
}
.gnavi-sp {
	background: $sec-white;
	z-index: 1000;
	text-align: left;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	display: none;


	&__inner {
		padding-top: 0;
		&--list{

			&--item {
				border-bottom: 1px solid $border;
				padding: 20px 0 0 0;
				cursor: pointer;
				position: relative;
				img {
					margin-right: 10px;
					margin-left: 25px;
				}
				a {
					text-decoration: none;
					color: $blue;
					line-height: 30px;
				}
				a.btn{
					position: absolute;
					right: 10px;
					top: 25px;
				}
				ul {
					margin-top: 10px;
					li {
						display: flex;
						justify-content: space-between;
						align-items: center;
					    padding: 10px 25px 10px 60px;
						border-top: 1px solid $border;
						a {
							color: $pri-black;
						}
					}
					li::after{
						content:'';
						display: block;
						background: url('../img/sp/ico-arr.png') no-repeat;
						background-size: 7px 12px;
						height: 12px;
						width: 7px;
					}
				}
				ul.ex-list{
					border-bottom: 1px solid $border;
				}
				ul.flag-list{
					margin-bottom: 10px;
					border-bottom: 1px solid $border;
				}
				&:last-child{
					border: none;
				}
				&:nth-child(1){
					border-top: 1px solid $border;
				}
			}

		}
	}
	.logo {
		position: relative;
		padding-bottom: 20px;
    	border-bottom: 1px solid #000;
	}
	.sp-menuicon{
		right: 10px;
		z-index: 10;
	}
}
.gnavi-page2 {
	ul {
		li {
			border: none;
			padding: 25px;
		}
	}
}