//----------------C-imgtext--------------------
.c-imgtext1{
	font-size: 1.4rem;
	color: $sec-white;
	background: #4098bf;
	width: 300px;
	border-radius: 10px;
	@include breakpoint{
		width: 280px;
		margin: 0 auto 10px;
	}
	&__txt{
		padding: 30px 0;
		text-align: center;
		span{
			font-weight: bold;
			display: block;
			margin-bottom: 1.6rem;
			@include breakpoint{
				font-size: 1.5rem;
			}
		}
		p {
			line-height: 1.6rem;
			@include breakpoint {
				font-size: 1.3rem;
			}
		}
		@include breakpoint {
			padding: 30px 0 32px;
		}
	}
}
.c-imgtext2{
	@extend .c-imgtext1;
	color: $pri-black;
	background: $sec-white;
	&__txt {
		padding: 20px 0;
		span {
			color: $blue;
		}
		p {
			padding-top: 15px;
		}
	}
}
.c-imgtext3 {
	display: flex;
	padding-bottom: 28px;
    padding-left: 5px;
	@include breakpoint {
		padding: 17px 29px 19px 31px;
		border-bottom: 1px solid $border;

		img {
			float: left;
			margin-right: 10px;
		}
	}

	&__txt{
		text-align: left;
		padding-left: 20px;
		@include breakpoint {
			padding: 0;
			width: 100%;
		}
		p {
			display: block;
		    padding-bottom: 10px;
  			line-height: 1.3;
			@include breakpoint{
				line-height: 1.2;
				display: flex;
				align-items: center;
			}
		}
		a{
			text-decoration: none;
			color: $pri-black;
		}
		p.sp-arr{
			padding-right: 30px;
			line-height: 1.5;
		}
		p.sp-arr::after {
			content:'';
			width: 7px;
			height: 12px;
			background: url('../img/sp/ico-arr.png') no-repeat;
			background-size: 7px 12px;
			right: 40px;
			cursor: pointer;
			position: absolute;
		}
		span {
			font-size: 1.4rem;
			display: inline-block;
			@include breakpoint {
				font-size: 1.1rem;
			}
		}
		span:last-child::before{
			content:'';
			width: 2px;
			height: 14px;
			background: $border;
			display: inline-block;
			margin: 0 5px;
		}
	}
	&--noImg{
		@extend .c-imgtext3;
		padding-bottom: 20px;
		@include breakpoint {
			padding: 14px 20px 16px 31px;
			border-bottom: 1px solid $border;
			display: block;
			margin: 0;
			}
		&::first-child{
			@include breakpoint {
				border-top: 1px solid $border;
			}
		}

		.c-imgtext3__txt {
			padding: 0;
			@include breakpoint {
				position: relative;
			}

			span::before{
				content: none;
			}
			span:last-child::before{
				content: none;
			}
			p.sp-arr{
				padding-right: 30px;
				display: flex;
				align-items: center;

			}
			p.sp-arr::after{
				content:'';
				width: 7px;
				height: 12px;
				background: url('../img/sp/ico-arr.png') no-repeat;
				background-size: 7px 12px;
				position: absolute;
				right: 20px;
    			top: 25px;
				cursor: pointer;
			}
			a.sp-btn {
				p.sp-arr::after {
					top: 5px;
				}
			}
		}
	}
	&:first-child {
		@include breakpoint {
			border-top: 1px solid $border;
		}
	}
}
.c-imgtext4{
	text-align: left;
	position: relative;
	overflow: hidden;
	img{
		width: 100%;
		@include breakpoint{
			width: auto;
		}
	}

	&__txt1{
		position: absolute;
		min-height: 57px;
		background: rgba(0,0,0,0.5);
		width: 100%;
		bottom: 0;
		p {
			line-height: 57px;
			color: $sec-white;
			padding-left: 30px;

		}
	}
	&__txt2 {
		padding: 11px 0 10px;
		@extend .c-imgtext4__txt1;
		p {
			line-height: 1rem;
			padding-top: 10px;
			padding-bottom: 10px;

			&.time{
				font-size: 1.2rem;
				display: flex;
				align-items: center;

				&::before{
					content:'';
					display: block;
					background: url('../img/pc/ico-clock.png') no-repeat;
					background-size: 12px 12px;
					width: 12px;
					height: 12px;
					margin-right: -15px;
				}
			}
			&.date {
				span{
					padding: 0;
				}
			}
		}
		span {
			padding: 4px 20px;
			border-radius: 5px;
			font-size: 1.2rem;
		}
	}
}
.c-imgtext4:hover img{
	animation: scale 1s linear;
}