//-----------c-list1------------------------
.c-list1 {
	display: inline-grid;
	margin-right: 67px;
	 p {
	 	padding-bottom: 13px;
	 	font-size: 1.5rem;
	 }
	 ul{
	 	li{
	 		padding-bottom: 11px;
	 		padding-left: 5px;
	 		a {
	 			text-decoration: none;
	 			color: $pri-black;
	 			font-size: 1.3rem;
	 		}
	 		a:hover{
	 			text-decoration: underline;
	 		}
	 	}
	 	li::before{
	 		content: '';
	 		background: url('../img/pc/ico-arr.png') no-repeat;
	 		background-size: 6px 10px;
	 		width: 6px;
	 		height: 10px;
	 		display: inline-block;
	 	}
	 }
	 &:nth-child(3) {
	 	margin-right: 120px;
	 }
	 &:nth-child(4) {
	 	margin-right: 96px;
	 }
	 &:nth-child(5) {
	 	margin-right: 42px;
	 }
	 &:nth-child(6) {
	 	margin-right: 0;
	 }
	 &:nth-child(7) {
	 	-webkit-transform: translateY(-158px);
	 	   -moz-transform: translateY(-158px);
	 	    -ms-transform: translateY(-158px);
	 	     -o-transform: translateY(-158px);
	 	        transform: translateY(-158px);
	 }
	 &:nth-child(8){
	 	-webkit-transform: translate(20px,-130px);
	 	   -moz-transform: translate(20px,-130px);
	 	    -ms-transform: translate(20px,-130px);
	 	     -o-transform: translate(20px,-130px);
	 	        transform: translate(20px,-130px);
	 }
}