//-------------OTher-----------
.slide-bg {
	@include breakpoint{
		animation: slide 10s infinite;
	}
}
@keyframes slide {
	0%{
		background: url('../img/sp/bg-sp-1.jpg') no-repeat center;
	}
	25%{
		background: url('../img/sp/bg-sp-1.jpg') no-repeat center;
	}
	50%{
		background: url('../img/sp/bg-sp-1.jpg') no-repeat center;
	}
	50.01%{
		background: url('../img/sp/bg-sp-2.jpg') no-repeat center;
	}
	75%{
		background: url('../img/sp/bg-sp-2.jpg') no-repeat center;
	}
	100%{
		background: url('../img/sp/bg-sp-2.jpg') no-repeat center;
	}
}
@keyframes animate {
	0%{
		-webkit-transform: translateY(-3px);
		   -moz-transform: translateY(-3px);
		    -ms-transform: translateY(-3px);
		     -o-transform: translateY(-3px);
		        transform: translateY(-3px);
	}
	20%{
		-webkit-transform: translateY(3px);
		   -moz-transform: translateY(3px);
		    -ms-transform: translateY(3px);
		     -o-transform: translateY(3px);
		        transform: translateY(3px);
	}
	40%{
		-webkit-transform: translateY(-3px);
		   -moz-transform: translateY(-3px);
		    -ms-transform: translateY(-3px);
		     -o-transform: translateY(-3px);
		        transform: translateY(-3px);
	}
	60%{
		-webkit-transform: translateY(3px);
		   -moz-transform: translateY(3px);
		    -ms-transform: translateY(3px);
		     -o-transform: translateY(3px);
		        transform: translateY(3px);
	}
	80%{
		-webkit-transform: translateY(-3px);
		   -moz-transform: translateY(-3px);
		    -ms-transform: translateY(-3px);
		     -o-transform: translateY(-3px);
		        transform: translateY(-3px);
	}
	100%
	{
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
		    }
}
@keyframes scale{
	0%{
		-webkit-transform: scale(1);opacity: 0.6;
		   -moz-transform: scale(1);opacity: 0.6;
		    -ms-transform: scale(1);opacity: 0.6;
		     -o-transform: scale(1);opacity: 0.6;
		        transform: scale(1);opacity: 0.6;
		}
	30%{
		-webkit-transform: scale(1.1);opacity: 1;
		   -moz-transform: scale(1.1);opacity: 1;
		    -ms-transform: scale(1.1);opacity: 1;
		     -o-transform: scale(1.1);opacity: 1;
		        transform: scale(1.1);opacity: 1;
		}
	60%{
		-webkit-transform: scale(1.2);opacity: 1;
		   -moz-transform: scale(1.2);opacity: 1;
		    -ms-transform: scale(1.2);opacity: 1;
		     -o-transform: scale(1.2);opacity: 1;
		        transform: scale(1.2);opacity: 1;
	}
	90%{
		-webkit-transform: scale(1.3);opacity: 1;
		   -moz-transform: scale(1.3);opacity: 1;
		    -ms-transform: scale(1.3);opacity: 1;
		     -o-transform: scale(1.3);opacity: 1;
		        transform: scale(1.3);opacity: 1;
	}
	90%{
		-webkit-transform: scale(1);opacity: 1;
		   -moz-transform: scale(1);opacity: 1;
		    -ms-transform: scale(1);opacity: 1;
		     -o-transform: scale(1);opacity: 1;
		        transform: scale(1);opacity: 1;
	}
}