@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
#globalHeader {
  width: 100%;
  min-height: 935px;
  background: url("../img/pc/mainVisual.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 768px) {
  #globalHeader {
    background: url("../img/sp/mainVisual-sp.jpg") no-repeat center;
    min-height: 375px;
    background-size: cover;
  }
}

#globalHeader .c-header {
  background: #ffffff;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #globalHeader .c-header {
    background: none;
  }
}

#globalHeader .c-header__top {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #globalHeader .c-header__top {
    width: 100%;
    background: #ffffff;
  }
}

#globalHeader .c-header__top--left {
  -webkit-box-flex: 0.55;
      -ms-flex: 0.55;
          flex: 0.55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#globalHeader .c-header__top--left p {
  font-size: 1.6rem;
}

#globalHeader .c-header__top--right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  #globalHeader .c-header__top--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
  }
}

#globalHeader .header-fixed {
  position: fixed;
  top: 0;
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
#globalFooter {
  border-top: 1px solid #e3e3e3;
  padding-top: 50px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #globalFooter {
    padding-top: 25px;
  }
}

.c-footer {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-footer {
    width: 100%;
    font-size: 1rem;
  }
}

.c-footer h2 {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .c-footer h2 {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .c-footer p {
    font-size: 1.3rem;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 1100px;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  body {
    min-width: auto;
    width: 100%;
  }
}

#wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.l-content {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-btn1 a {
  text-decoration: none;
}

.c-btn1.c-btn-contact-pc {
  max-width: 540px;
  background: #ffffff;
  text-align: right;
}

.c-btn1.c-btn-contact-pc a {
  color: #000000;
  font-size: 1.1rem;
}

.c-btn1.c-btn-contact-pc img {
  margin-bottom: 5px;
}

.c-btn1.c-btn-contact-pc p:last-child {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.c-btn1.c-btn-contact-sp {
  width: auto;
  justify-self: flex-end;
}

@media screen and (max-width: 768px) {
  .c-btn2, .c-btn3 {
    margin-bottom: 16px;
  }
}

.c-btn2 a, .c-btn3 a {
  background: #252523;
  width: 480px;
  color: #ffffff;
  text-decoration: none;
  padding: 25px 0 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .c-btn2 a, .c-btn3 a {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
    padding: 13px 0 10px;
  }
}

.c-btn2 a span, .c-btn3 a span {
  font-size: 2.6rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-btn2 a span, .c-btn3 a span {
    font-size: 1.95rem;
  }
}

.c-btn2 a::before, .c-btn3 a::before {
  content: '';
  background: url("../img/pc/btn-arr.png") no-repeat center;
  background-size: 14px 18px;
  width: 14px;
  height: 18px;
  left: 10px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .c-btn2 a::before, .c-btn3 a::before {
    background: url("../img/sp/btn-arr.png") no-repeat center;
    background-size: 10px 12px;
    width: 10px;
    height: 12px;
    position: absolute;
  }
}

.c-btn2 a img, .c-btn3 a img {
  position: absolute;
  right: 0;
}

.c-btn2-mail {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .c-btn2-mail {
    margin-bottom: 15px;
  }
}

.c-btn2-mail a {
  background: #ffffff;
  color: #000000;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .c-btn2-mail a {
    font-size: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.c-btn2-mail a:before {
  background: url("../img/pc/btn-mail.png") no-repeat center;
  background-size: 26px 16px;
  width: 26px;
  height: 16px;
  margin-right: 14px;
}

@media screen and (max-width: 768px) {
  .c-btn2-mail a:before {
    background: url("../img/sp/btn-mail-sp.png") no-repeat center;
    background-size: 14px 10px;
    width: 14px;
    height: 10px;
  }
}

.c-btn2--sm a {
  width: 250px;
  display: block;
  text-align: center;
  padding: 7px 0;
  margin: 0 auto;
}

.c-btn2--sm a::before {
  display: block;
  position: absolute;
  top: 35%;
  -webkit-transform: translatY(-50%);
  transform: translatY(-50%);
}

.c-btn2--sm a p {
  font-size: 1.4rem;
  line-height: 20px;
}

.c-btn2--sm a span {
  font-size: 1.9rem;
}

.c-btn2-contact {
  width: 550px;
  margin: 0 auto;
  padding-top: 60px;
}

.c-btn2-contact button {
  background: #252523;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  padding: 25px 0 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.c-btn2-contact button span {
  font-size: 2.6rem;
}

.c-btn2-contact button::before {
  content: '';
  background: url("../img/pc/btn-arr.png") no-repeat center;
  background-size: 14px 18px;
  width: 14px;
  height: 18px;
  position: absolute;
  left: 50px;
}

.c-btn3 a {
  background: #ffffff;
  color: #000000;
  border-radius: 50px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  width: 330px;
}

@media screen and (max-width: 768px) {
  .c-btn3 a {
    width: 160px;
    font-size: 0.8rem;
  }
}

.c-btn-scroll {
  text-align: center;
}

.c-btn-scroll a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.c-btn-scroll a span {
  display: block;
}

@media screen and (max-width: 768px) {
  .c-btn-scroll a span {
    display: none;
  }
}

.c-btn-scroll a img {
  margin: 0 auto;
  vertical-align: middle;
}

.c-btn-fix {
  position: fixed;
  top: 48%;
  right: 15%;
  display: none;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .c-btn-fix {
    bottom: 23px;
    right: 15px;
    top: inherit;
  }
}

.c-title1 {
  text-align: center;
}

.c-title1:after {
  display: block;
  clear: both;
  content: "";
}

.c-title1 .c-btn2:nth-child(2), .c-title1 .c-btn3:nth-child(2) {
  float: left;
}

@media screen and (max-width: 768px) {
  .c-title1 .c-btn2:nth-child(2), .c-title1 .c-btn3:nth-child(2) {
    float: none;
  }
}

.c-title1 .c-btn2:last-child, .c-title1 .c-btn3:last-child {
  float: right;
}

@media screen and (max-width: 768px) {
  .c-title1 .c-btn2:last-child, .c-title1 .c-btn3:last-child {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .c-title2, .c-title4 {
    padding: 0 18.5px;
  }
}

.c-title2 h3, .c-title4 h3 {
  font-size: 3.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-title2 h3, .c-title4 h3 {
    font-size: 1.5rem;
  }
}

.c-title2 h3 a, .c-title4 h3 a {
  text-decoration: none;
  color: #000000;
  border-bottom: 3px solid #000000;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .c-title2 h3 a, .c-title4 h3 a {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
  }
}

.c-title2--txt {
  padding: 70px 0 40px;
}

@media screen and (max-width: 768px) {
  .c-title2--txt {
    padding: 40px 0 25px;
  }
}

.c-title2 p, .c-title4 p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .c-title2 p, .c-title4 p {
    font-size: 1.1rem;
    line-height: 20px;
  }
}

.c-title2 p img, .c-title4 p img {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .c-title2 p img, .c-title4 p img {
    margin-bottom: 15px;
  }
}

.c-title3__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .c-title3__head {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-title3__head h3 {
  font-size: 3rem;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .c-title3__head h3 {
    font-size: 1.5rem;
  }
}

.c-title3__head img {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .c-title3__head img {
    margin: 0 20px 0 0;
  }
}

.c-title3__head span {
  display: block;
}

.c-title3 p {
  font-size: 1.6rem;
  line-height: 27px;
}

@media screen and (max-width: 768px) {
  .c-title3 p {
    font-size: 1.2rem;
    line-height: 20px;
  }
}

.c-title4 a {
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .c-title4 a {
    letter-spacing: 0;
    font-size: 1.9rem;
  }
}

.c-title4 p {
  padding-top: 65px;
}

@media screen and (max-width: 768px) {
  .c-title4 p {
    padding-top: 15px;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
form {
  padding: 60px 0;
}

.contact-form {
  width: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}

.contact-form .label {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}

.contact-form .label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.contact-form .label label::before {
  content: '';
  width: 18px;
  height: 18px;
  background: url("../img/pc/cont-icon.png") no-repeat center;
  background-size: 18px 18px;
  margin-right: 10px;
}

.contact-form .input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-form .input label {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
}

.contact-form .input input[type=checkbox],
.contact-form .input input[type=radio] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.contact-form .input input {
  width: 100%;
  min-height: 33px;
}

.contact-form .input span {
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  position: absolute;
  top: 4px;
  left: 0;
}

.contact-form .input input:checked ~ span {
  background: #e3e3e3;
}

.contact-form .input span::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 2px;
  width: 3px;
  height: 7px;
  border-style: solid;
  border-color: #000000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(37deg) translate(0, -1px);
  transform: rotate(37deg) translate(0, -1px);
  display: none;
}

.contact-form .input input:checked ~ span::after {
  display: block;
}

.contact-form .input textarea {
  width: 100%;
  height: 170px;
}

.contact-form .input label.c-box span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
}

.contact-form .input label.c-box span::after {
  background: #000000;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 3px;
  left: 2px;
}

.contact-form .f-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}

.contact-form .c-input {
  background: #fff2f2;
  padding: 20px 0 8px 20px;
}

.contact-form .input-ex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  position: relative;
}

.contact-form .input-ex label {
  margin: 0;
  padding: 0;
  width: 85px;
  display: block;
}

.contact-form .input-ex p {
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 1.2rem;
}

.contact-form .input-ex input,
.contact-form .input-ex select {
  width: 240px;
}

.contact-form .input-ex select {
  height: 23px;
}

.contact-form:first-child .input {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-form .info {
  padding: 30px 20px;
  max-height: 170px;
  overflow-y: scroll;
  border: 1px solid #e3e3e3;
}

.contact-form .info p {
  font-size: 1.2rem;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.contact-form .info span {
  padding-right: 20px;
}

.contact-form .info h3 {
  padding: 35px 0 25px;
  font-size: 1.4rem;
}

/*------------------------------------------------------------
text
------------------------------------------------------------*/
.c-text1--sm p, .c-text1--lg p {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .c-text1--sm p, .c-text1--lg p {
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-text1--sm p::before, .c-text1--lg p::before,
.c-text1--sm p::after,
.c-text1--lg p::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #000000;
}

@media screen and (max-width: 768px) {
  .c-text1--sm p::before, .c-text1--lg p::before,
  .c-text1--sm p::after,
  .c-text1--lg p::after {
    height: 2px;
    width: 10px;
  }
}

.c-text1--sm p:before, .c-text1--lg p:before {
  margin-right: 10px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

@media screen and (max-width: 768px) {
  .c-text1--sm p:before, .c-text1--lg p:before {
    margin-right: 12px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

.c-text1--sm p:after, .c-text1--lg p:after {
  margin-left: 10px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
  .c-text1--sm p:after, .c-text1--lg p:after {
    margin: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}

.c-text1--lg {
  margin-left: 9px;
}

.c-text1--lg p {
  font-size: 3.4rem;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-text1--lg p {
    display: block;
    font-size: 1.3rem;
  }
}

.c-text1--lg p::before,
.c-text1--lg p::after {
  width: 4px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .c-text1--lg p::before,
  .c-text1--lg p::after {
    width: 2px;
    height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .c-text1--lg p::before {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

.c-text1--lg p::after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .c-text1--lg span {
    position: absolute;
    top: -10px;
  }
}

@media screen and (max-width: 768px) {
  .c-text1-sp p {
    font-size: 1.5rem;
    max-width: 190px;
    margin: auto;
  }
}

.c-text1-sp p::after {
  position: relativel;
}

.g-naviSP {
  position: fixed;
  top: 0;
  width: 80%;
  background: #ffffff;
  height: 100%;
  z-index: 900;
  right: 0;
  -webkit-box-shadow: -1px 0px 1px 0px #ffffff;
          box-shadow: -1px 0px 1px 0px #ffffff;
  display: none;
}

.g-naviSP .menu-icon {
  text-align: right;
}

.g-naviSP ul {
  padding: 35px 0;
}

.g-naviSP ul li {
  padding: 10px 15px;
  border-top: 1px solid #e3e3e3;
}

.g-naviSP ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g-naviSP ul li a:after {
  content: '';
  background: url("../img/sp/menu-arr.png") no-repeat center;
  background-size: 7px 10px;
  width: 7px;
  height: 10px;
}

.g-naviSP ul li:last-child {
  border-bottom: 1px solid #e3e3e3;
}

.g-naviSP__btn {
  padding: 0 15px;
}

.c-imgtext1 {
  text-align: center;
  padding: 0 20px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-imgtext1 {
    padding: 0 10px;
  }
}

.c-imgtext1--img {
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1--img {
    padding-bottom: 20px;
  }
}

.c-imgtext1--img img {
  border-radius: 50%;
}

.c-imgtext1--txt h3 {
  font-size: 1.7rem;
  width: 170px;
  text-align: center;
  margin: auto;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .c-imgtext1--txt h3 {
    font-size: 1.1rem;
    width: auto;
    padding-bottom: 10px;
    max-width: 130px;
    line-height: 1.5rem;
  }
}

.c-imgtext1--txt p {
  font-size: 1.3rem;
  line-height: 20px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .c-imgtext1--txt p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.accor-qa {
  padding-top: 45px;
}

@media screen and (max-width: 768px) {
  .accor-qa {
    padding-top: 35px;
  }
}

.accor-qa ul li {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li {
    margin-bottom: 8px;
  }
}

.accor-qa ul li:nth-child(odd) {
  background: #f6f6f6;
  font-size: 2.1rem;
  line-height: 76px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li:nth-child(odd) {
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.accor-qa ul li:nth-child(odd) span {
  -webkit-box-flex: 0.95;
      -ms-flex: 0.95;
          flex: 0.95;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li:nth-child(odd) span {
    padding: 4px 30px 4px 0;
  }
}

.accor-qa ul li:nth-child(odd)::before {
  content: '';
  background: url("../img/pc/acc-icon.png") no-repeat center;
  background-size: 75px 76px;
  height: 76px;
  width: 75px;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li:nth-child(odd)::before {
    background: url("../img/sp/acc-icon-sp.png") no-repeat center;
    background-size: 37px 41px;
    width: 37px;
    height: 41px;
  }
}

.accor-qa ul li:nth-child(odd)::after {
  content: '';
  background: url("../img/pc/plus.png") no-repeat center;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li:nth-child(odd)::after {
    background: url("../img/sp/plus.png") no-repeat center;
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
  }
}

.accor-qa ul li:nth-child(even) {
  font-size: 1.5rem;
  line-height: 30px;
  padding: 10px 30px;
  font-weight: 500;
  display: none;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li:nth-child(even) {
    font-size: 1rem;
    line-height: 16px;
    padding: 20px 0;
  }
}

.accor-qa ul li.active::after {
  content: '';
  background: url("../img/pc/sub.png") no-repeat center;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 768px) {
  .accor-qa ul li.active::after {
    background: url("../img/sp/sub.png") no-repeat center;
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
  }
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.slider-container {
  position: relative;
  padding-top: 65px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .slider-container {
    padding-top: 20px;
  }
}

.slider-container .slider, .slider-container .slider2 {
  position: relative;
  text-align: center;
}

.slider-container .slider .slide, .slider-container .slider2 .slide {
  font-size: 1.5rem;
  max-width: 290px;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide, .slider-container .slider2 .slide {
    max-width: inherit;
  }
}

.slider-container .slider .slide__title, .slider-container .slider2 .slide__title {
  text-align: center;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__title, .slider-container .slider2 .slide__title {
    padding-bottom: 5px;
  }
}

.slider-container .slider .slide__title h3, .slider-container .slider2 .slide__title h3 {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__title h3, .slider-container .slider2 .slide__title h3 {
    font-size: 1.1rem;
  }
}

.slider-container .slider .slide__title p, .slider-container .slider2 .slide__title p {
  width: 50px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__title p, .slider-container .slider2 .slide__title p {
    width: 28px;
  }
}

.slider-container .slider .slide__content, .slider-container .slider2 .slide__content {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__content, .slider-container .slider2 .slide__content {
    max-width: 145px;
    margin: 0 auto;
  }
}

.slider-container .slider .slide__content ul, .slider-container .slider2 .slide__content ul {
  padding: 20px 0;
}

.slider-container .slider .slide__content ul li, .slider-container .slider2 .slide__content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__content ul li, .slider-container .slider2 .slide__content ul li {
    padding-bottom: 10px;
  }
}

.slider-container .slider .slide__content ul li span, .slider-container .slider2 .slide__content ul li span {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  width: 60px;
  height: 20px;
  background: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__content ul li span, .slider-container .slider2 .slide__content ul li span {
    width: 50px;
    height: 18px;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.slider-container .slider .slide__content ul li p, .slider-container .slider2 .slide__content ul li p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
  font-size: 1.2rem;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .slider-container .slider .slide__content ul li p, .slider-container .slider2 .slide__content ul li p {
    font-size: 0.9rem;
    line-height: 18px;
  }
}

.slider-container .slider2 .slide {
  max-width: 250px;
}

@media screen and (max-width: 768px) {
  .slider-container .slider2 .slide {
    max-width: 100%;
    padding-left: 10px;
  }
}

.slider-container .slider2 .slide .slide__content ul {
  padding: 30px 0 0;
}

@media screen and (max-width: 768px) {
  .slider-container .slider2 .slide .slide__content ul {
    padding: 15px 0 0;
  }
}

.slider-container .slider2 .slide .slide__content ul li {
  padding-bottom: 13px;
}

@media screen and (max-width: 768px) {
  .slider-container .slider2 .slide .slide__content {
    max-width: 100%;
  }
}

.slider-container .slider2 .next, .slider-container .slider2 .prev {
  top: 38%;
}

.slider-container .slider2 .next {
  right: -6%;
}

@media screen and (max-width: 768px) {
  .slider-container .slider2 .next {
    right: 0;
  }
}

.slider-container .slider2 .prev {
  left: -6%;
}

@media screen and (max-width: 768px) {
  .slider-container .slider2 .prev {
    left: 0;
  }
}

.next, .prev {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 30%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .next, .prev {
    top: 57%;
  }
}

.prev {
  left: 28px;
}

@media screen and (max-width: 768px) {
  .prev {
    left: 0;
  }
}

.next {
  right: 36px;
}

@media screen and (max-width: 768px) {
  .next {
    right: 0;
  }
}

.c-copy {
  position: absolute;
  top: 111px;
  left: 49.7%;
  -webkit-transform: translateX(-49.7%);
          transform: translateX(-49.7%);
}

@media screen and (max-width: 768px) {
  .c-copy {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: 0;
    left: 0;
    margin: 55px 0 27px;
  }
}

.c-copy img {
  margin: 0 auto;
}

.c-point {
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .c-point {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: 0;
    left: 0;
    z-index: 11;
  }
}

.c-point-top {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  background: #ffffff;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-size: 2.7rem;
}

@media screen and (max-width: 768px) {
  .c-point-top {
    width: 150px;
    height: 150px;
    font-size: 1.3rem;
    padding-top: 25px;
  }
}

.c-point-top p {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .c-point-top p {
    line-height: 1rem;
    margin-bottom: 8px;
  }
}

.c-point-top p.u-bg-yellow {
  width: 175px;
  margin: 0 auto 18px;
  padding: 3px 0;
}

@media screen and (max-width: 768px) {
  .c-point-top p.u-bg-yellow {
    width: 105px;
  }
}

.c-point-top .c-text1 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .c-point-top .c-text1 {
    margin-bottom: 7px;
  }
}

.c-point-mid {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .c-point-mid {
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.c-point-mid h3.mid {
  margin: 0 50px;
}

@media screen and (max-width: 768px) {
  .c-point-mid h3.mid {
    margin: 0;
  }
}

.c-point-mid h3:nth-child(1) {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

@media screen and (max-width: 768px) {
  .c-point-mid h3:nth-child(1) {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.c-point-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.c-point-bot p {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
}

.modalSP {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 999;
  display: none;
}

.modalSP__close {
  text-align: right;
}

.modalSP__content {
  padding: 0 35px;
  display: grid;
  grid-template-columns: auto auto;
}

.modalSP__content p {
  font-size: 1.25rem;
  padding-bottom: 20px;
}

/*-------------Section 1-----------------*/
.section1 {
  min-height: 540px;
  background: url("../img/pc/bg-section1.jpg") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .section1 {
    min-height: 333px;
    background: url("../img/sp/sect-1-spbg.jpg") no-repeat center;
    background-size: cover;
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
    z-index: 1;
    margin-bottom: -35px;
  }
}

.sec1-cont {
  padding-top: 55px;
}

@media screen and (max-width: 768px) {
  .sec1-cont {
    padding: 49px 0px 0 18px;
  }
}

.sec1-cont__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
  padding-left: 32px;
}

@media screen and (max-width: 768px) {
  .sec1-cont__top {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
}

.sec1-cont .c-text1 {
  margin-left: 15px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .sec1-cont .c-text1 {
    margin-left: 0 0 0 10px;
  }
}

.sec1-cont__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 42px;
  padding-top: 11px;
}

@media screen and (max-width: 768px) {
  .sec1-cont__bot {
    display: block;
    padding: 0 0 0 18px;
  }
}

.sec1-cont__bot h3 {
  margin-right: 35px;
}

@media screen and (max-width: 768px) {
  .sec1-cont__bot h3 {
    margin: 0;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 768px) {
  .sec1-cont__bot img {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .ex-section1 {
    -webkit-transform: translate(0);
    transform: translate(0) !important;
    margin-bottom: 0 !important;
    min-height: 315px;
  }
}

@media screen and (max-width: 768px) {
  .ex-section1 .sec1-cont {
    padding: 20px 0 0 18.5px;
  }
}

/*-------------Section 2-----------------*/
.section2 {
  background: #f0ede6;
}

.section2 .c-btn2-mail a {
  background: #f0ede6;
  padding: 30px 0 20px 70px;
}

@media screen and (max-width: 768px) {
  .section2 .c-btn2-mail a {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section2 .sec2-cont {
  padding: 0 30px 45px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-cont {
    padding: 15px 18.5px 10px;
  }
}

.section2 .sec2-main {
  background: #ffffff;
  display: grid;
  grid-template-columns: auto 796px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main {
    display: block;
  }
}

.section2 .sec2-main__right {
  padding: 80px 0 0 0;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right {
    padding: 35px 0 20px;
  }
}

.section2 .sec2-main__right .c-title2, .section2 .sec2-main__right .c-title4 {
  padding-left: 71px;
}

.section2 .sec2-main__right .c-title2 h3, .section2 .sec2-main__right .c-title4 h3 {
  -webkit-transform: translateX(-29px);
  transform: translateX(-29px);
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right .c-title2 h3, .section2 .sec2-main__right .c-title4 h3 {
    letter-spacing: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.section2 .sec2-main__right .c-title2 p, .section2 .sec2-main__right .c-title4 p {
  text-align: left;
  letter-spacing: 2.5px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right .c-title2 p, .section2 .sec2-main__right .c-title4 p {
    font-size: 1.1rem;
    letter-spacing: 0;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right .c-title2, .section2 .sec2-main__right .c-title4 {
    padding: 0 18.5px 30px;
  }
}

.section2 .sec2-main__right--bot {
  background: #f0ede6;
  padding: 36px 50px 26px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right--bot {
    display: block;
    padding: 0 18.5px 20px;
  }
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right--bot h3 {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.section2 .sec2-main__right--bot h3 img {
  margin: 0;
}

.section2 .sec2-main__right--bot h3 span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 30px;
}

.section2 .sec2-main__right--bot-txt {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.section2 .sec2-main__right--bot-txt p {
  line-height: 30px;
  padding-left: 22px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2-main__right--bot-txt p {
    font-size: 1.15rem;
    line-height: 18px;
    padding: 0;
  }
}

.section2 .sec2__point1 {
  background: #ffffff;
  padding: 50px 0 40px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point1 {
    padding: 0;
  }
}

.section2 .sec2__point1 .c-title2--txt {
  padding: 70px 0 0;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point1 .c-title2--txt {
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point1 .c-title2--txt p {
    text-align: justify;
  }
}

.section2 .sec2__point1 .c-slider {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point1 .c-slider {
    padding-top: 30px;
  }
}

.section2 .sec2__point2 {
  padding: 0;
  background: #faf8f3;
  padding-top: 60px;
  padding-bottom: 113px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point2 {
    padding: 60px 0 40px;
    margin: 0;
  }
}

.section2 .sec2__point2--inner {
  margin: 126px 0 0 0;
  padding: 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point2--inner {
    margin: 35px 0 0 0;
    padding: 0 18.5px;
    display: block;
  }
}

.section2 .sec2__point2--inner--img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section2 .sec2__point2--inner .c-title3 {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point2--inner .c-title3 {
    padding-top: 25px;
  }
}

.section2 .sec2__point2--inner::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point2--inner::before {
    content: none;
  }
}

.section2 .sec2__point3 {
  background: url("../img/pc/point3.jpg") no-repeat center;
  background-size: cover;
  min-height: 468px;
  padding-top: 50px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point3 {
    background: url("../img/sp/point3-sp.jpg") no-repeat center;
    background-size: cover;
    padding-top: 20px;
    min-height: 230px;
  }
}

.section2 .sec2__point3--end {
  background: #ffffff;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point3--end {
    padding-bottom: 20px;
  }
}

.section2 .sec2__point3--end-txt {
  padding: 60px 0 75px 75px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point3--end-txt {
    padding: 30px 18.5px 5px;
  }
}

.section2 .sec2__point3--end-txt p {
  font-size: 1.4rem;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point3--end-txt p {
    font-size: 1.1rem;
    line-height: 18px;
  }
}

.section2 .sec2__point3--end-img {
  display: grid;
  grid-template-columns: 240px auto auto 240px;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .section2 .sec2__point3--end-img {
    padding: 10px 18.5px;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

/*-------------Section 3-----------------*/
.section3 {
  background: #e7ebee;
  padding: 70px 0 42px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section3 {
    padding: 25px 18.5px 0;
  }
}

.sec3-inner .c-text1 {
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .sec3-inner .c-text1 {
    margin-bottom: 8px;
  }
}

.sec3-inner .c-btn3 {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .sec3-inner .c-btn3 {
    margin-bottom: 15px;
  }
}

.sec3-inner--banner {
  width: 850px;
  min-height: 265px;
  padding-top: 50px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 auto;
  background: url("../img/pc/sec3-img1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .sec3-inner--banner {
    width: 100%;
    background: url("../img/sp/camp-sp.jpg") no-repeat center;
    background-size: cover;
    min-height: 135px;
    font-size: 0.7rem;
    padding-top: 20px;
  }
}

.sec3-inner--banner a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .sec3-inner--banner a {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 5px;
  }
}

.sec3-inner--banner a::after {
  content: '';
  width: 16px;
  height: 16px;
  background: url("../img/pc/sec3-icon.png") no-repeat center;
  background-size: 16px 16px;
}

@media screen and (max-width: 768px) {
  .sec3-inner--banner a::after {
    width: 8px;
    height: 8px;
    background-size: 8px 8px;
  }
}

.sec3-camp {
  width: 850px;
  margin: 0 auto;
  padding-top: 39px;
}

@media screen and (max-width: 768px) {
  .sec3-camp {
    width: 100%;
    padding: 25px 0 20px;
  }
}

.sec3-camp .slider-container {
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .sec3-camp .slider-container {
    padding-top: 30px;
  }
}

.sec3-camp__slider {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
}

@media screen and (max-width: 768px) {
  .sec3-camp__slider {
    display: block;
  }
}

.sec3-camp .u-right {
  font-size: 1.2rem;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .sec3-camp .u-right {
    text-align: left;
    font-size: 0.9rem;
    line-height: 14px;
    padding-top: 5px;
  }
}

.sec3-camp2 {
  padding-top: 31px;
  margin-top: -30px;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .sec3-camp2 {
    padding: 12px 11px 10px;
    margin: 0;
  }
}

.sec3-camp3 {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .sec3-camp3 {
    padding: 12px 30px 28px;
    margin: 0;
  }
}

/*-------------Section 4-----------------*/
.section4 {
  padding: 75px 0 40px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .section4 {
    padding: 50px 18.5px 45px;
    margin-top: -15px;
  }
}

.section4::before {
  content: '';
  width: 50px;
  height: 25px;
  background: url("../img/pc/sec4-icon.png") no-repeat center;
  background-size: 50px 25px;
  position: absolute;
  display: block;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sec4-content {
  width: 850px;
  margin: 60px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .sec4-content {
    width: 100%;
    margin: 30px auto 0;
    display: block;
  }
}

.sec4-content__img {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

@media screen and (max-width: 768px) {
  .sec4-content__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
  }
}

.sec4-content__img h3 {
  font-size: 1.2rem;
  padding-left: 25px;
  text-align: left;
}

.sec4-content__img h3 span {
  display: block;
}

.sec4-content__txt {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding-left: 30px;
  text-align: left;
  padding-top: 27px;
}

@media screen and (max-width: 768px) {
  .sec4-content__txt {
    padding: 0;
  }
}

.sec4-content__txt h3 {
  font-size: 2.5rem;
  line-height: 38px;
  padding-bottom: 30px;
}

.sec4-content__txt p {
  font-size: 1.4rem;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .sec4-content__txt p {
    padding: 0;
    font-size: 1rem;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .sec4-content__txt span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.sec4-content--2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .sec4-content--2 {
    margin: 22px 0 0 0;
  }
}

.sec4-content--2 .sec4-content__img {
  margin-top: 20px;
}

.sec4-content--2 .sec4-content__img h3 {
  padding-left: 0;
  padding-right: 30px;
}

.sec4-content--2 .sec4-content__txt {
  padding-left: 0;
}

/*-------------Section 5-----------------*/
.section5 {
  background: #f0ede6;
}

.section5 .c-btn2-mail a {
  background: #f0ede6;
}

.sec5-cont {
  padding: 0 30px 45px;
}

@media screen and (max-width: 768px) {
  .sec5-cont {
    padding: 15px 18.5px 10px;
  }
}

.sec5-main {
  background: #ffffff;
  padding: 70px 0;
}

@media screen and (max-width: 768px) {
  .sec5-main {
    padding: 20px 18.5px 15px;
  }
}

.sec5-main__content {
  width: 850px;
  margin: 0 auto;
  text-align: left;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .sec5-main__content {
    width: 100%;
    padding-top: 30px;
  }
}

.sec5-main__content p {
  font-size: 1.4rem;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .sec5-main__content p {
    font-size: 1rem;
    line-height: 16px;
  }
}

/*-------------Section 6-----------------*/
.section6, .section-quality {
  background: #f8f8f8;
  padding: 60px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section6, .section-quality {
    padding: 30px 18.5px;
  }
}

@media screen and (max-width: 768px) {
  .section6 .c-text1, .section-quality .c-text1 {
    padding: 0 35px;
  }
}

.sec6-content {
  padding: 60px 0 45px;
  width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 65px;
}

@media screen and (max-width: 768px) {
  .sec6-content {
    width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    justify-items: center;
    padding: 36px 0 45px;
  }
}

.sec6-content__img {
  width: auto;
}

.sec6-content__img p {
  padding-top: 30px;
  text-align: left;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .sec6-content__img p {
    font-size: 1rem;
    line-height: 16px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .sec6-content__img:nth-child(3) {
    padding-top: 30px;
    -webkit-transform: translateX(55%);
    transform: translateX(55%);
  }
}

.sec6-content-2 {
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .sec6-content-2 {
    padding-top: 25px;
  }
}

.sec6-content-2 h3 {
  font-size: 3rem;
  line-height: 48px;
}

@media screen and (max-width: 768px) {
  .sec6-content-2 h3 {
    font-size: 1.5rem;
    line-height: 24px;
  }
}

.sec6-content-2 p {
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .sec6-content-2 p {
    font-size: 1rem;
    line-height: 16px;
  }
}

.sec6-content-2 img {
  margin-top: 20px;
}

/*-------------Section 7-----------------*/
.section7 {
  padding: 60px 0 0;
}

@media screen and (max-width: 768px) {
  .section7 {
    padding: 30px 18.5px 8px;
  }
}

.section7 .c-title2, .section7 .c-title4 {
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .section7 .c-title2, .section7 .c-title4 {
    padding-bottom: 5px;
  }
}

.sec7-content {
  width: 850px;
  min-height: 520px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 0 20px;
  border-bottom: 1px solid #e3e3e3;
}

@media screen and (max-width: 768px) {
  .sec7-content {
    width: 100%;
    height: auto;
    display: block;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .sec7-content--img {
    margin-bottom: 20px;
  }
}

.sec7-content--txt {
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  .sec7-content--txt {
    padding-left: 0;
  }
}

.sec7-content--txt h3 {
  font-size: 1.6rem;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .sec7-content--txt h3 {
    font-size: 1.1rem;
    line-height: 16px;
    display: block;
    padding-bottom: 10px;
  }
}

.sec7-content--txt p {
  font-size: 1.1rem;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .sec7-content--txt p {
    font-size: 0.9rem;
    line-height: 15px;
  }
}

.sec7-content--txt--item h3::before {
  content: '';
  width: 42px;
  height: 24px;
  background: url("../img/pc/sec7-img7.png") no-repeat center;
  background-size: 42px 24px;
  margin-right: 10px;
}

.sec7-sp .prev,
.sec7-sp .next {
  top: 20%;
}

@media screen and (max-width: 768px) {
  .sec7-sp .prev,
  .sec7-sp .next {
    top: 15%;
  }
}

.sec7-sp .prev {
  left: 0;
}

.sec7-sp .next {
  right: 0;
}

/*-------------Section Quality-----------------*/
.section-quality {
  padding: 0 0 50px;
  background: none;
}

.section-quality .quality-head {
  background: #d0d0d0;
  padding: 166px 0 100px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-quality .quality-head {
    padding: 79px 18.5px 55px;
  }
}

.section-quality .quality-head h3 {
  padding-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .section-quality .quality-head h3 {
    padding: 0;
  }
}

.section-quality .quality-head p {
  font-size: 1.4rem;
  line-height: 28px;
  color: #ffffff;
}

.section-quality .quality-head-sp {
  padding: 30px 18.5px 70px;
  text-align: justify;
}

.section-quality .quality-head-sp p {
  font-size: 1.1rem;
  line-height: 17px;
}

.section-quality .c-title4 {
  padding-top: 81px;
}

@media screen and (max-width: 768px) {
  .section-quality .c-title4 {
    padding-top: 0;
  }
}

.section-quality .quality-content {
  width: 616px;
  padding: 72px 0 35px;
}

@media screen and (max-width: 768px) {
  .section-quality .quality-content {
    width: 100%;
    padding: 40px 18.5px 28px;
    grid-gap: 0;
  }
}

.section-quality .quality-content .sec6-content__img p {
  font-size: 1.2rem;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .section-quality .quality-content .sec6-content__img p {
    line-height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .section-quality {
    padding: 0;
  }
}

/*-------------Section Contact-----------------*/
.contact {
  padding: 110px 0 45px;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.u-bg-yellow {
  background: #f2c526;
}

.u-yellow {
  color: #f2c526;
}

.u-break {
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .u-break {
    padding-top: 10px;
  }
}

.u-break30 {
  padding-top: 30px;
}

.u-right {
  text-align: right;
}

.u-red {
  color: #ff6767;
}

.u-bg-contact {
  background: #fff2f2;
}
