@charset "UTF-8";
/*
	Monte Carlo Gallery Style SASS.
	Editor: Phan Ba Tai.
	Last modified : Jun 07 2018!.
*/
/*Base - Base styles, variable, mixins etc */
body, html {
  margin: 0;
  padding: 0; }

html {
  font-size: 0.625em; }

/*Font family*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1rem;
  height: 100vh; }

/*Reset element*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  margin: 0;
  padding: 0;
  text-decoration: none; }

a:hover, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
  outline: none; }

a:hover img {
  opacity: 0.7; }

input, textarea {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.fade-acc {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.8s; }

.fadein-acc {
  opacity: 1;
  transform: translate(0, 0); }

/*Layout - Page Layout Styles*/
/*Header*/
header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  position: fixed;
  /*Menu-Icon*/ }
  header .logo {
    width: 100%;
    box-sizing: border-box;
    text-align: center; }
    header .logo img {
      width: 196px; }
    header .logo a:hover img {
      opacity: 1; }
  header .logo-sm {
    display: none; }
  header .menu-social {
    float: right;
    position: absolute;
    top: 28px;
    right: 137px; }
    header .menu-social ul {
      width: 100%;
      overflow: hidden; }
      header .menu-social ul li {
        width: 25px;
        height: 25px;
        display: inline;
        box-sizing: border-box;
        float: left;
        margin: 5px; }
        header .menu-social ul li a {
          cursor: pointer; }
          header .menu-social ul li a img {
            width: 100%; }
  header .menu-icon {
    width: 22px;
    float: right;
    position: fixed;
    top: 10px;
    right: 5px;
    display: none; }
    header .menu-icon .icon {
      width: 100%;
      height: 2px;
      margin: 3px 0;
      background-color: #000000;
      cursor: pointer; }
    header .menu-icon .rotate-bar-1 {
      transform: rotate(-45deg) translate(-10px, 1px);
      -webkit-transform: rotate(-45deg) translate(-9px, -1px);
      -moz-transform: rotate(-45deg) translate(-9px, -1px);
      -o-transform: rotate(-45deg) translate(-9px, -1px);
      transition: 0.5s; }
    header .menu-icon .rotate-bar-2 {
      transform: rotate(45deg) translate(-4px, 5px);
      -webkit-transform: rotate(45deg) translate(-4px, 5px);
      -moz-transform: rotate(45deg) translate(-4px, 5px);
      -o-transform: rotate(45deg) translate(-4px, 5px);
      transition: 0.5s; }
  header .menu-icon::after {
    content: '';
    clear: both; }

/* Navigation */
nav.nav-fixed {
  width: 1200px;
  padding-top: 35px;
  background: #ffffff; }
  nav.nav-fixed ul {
    width: 100%;
    padding-left: 210px;
    text-align: center; }
    nav.nav-fixed ul li {
      width: auto;
      box-sizing: border-box;
      line-height: 17px;
      float: left;
      padding: 0 15px 0 35px;
      overflow: hidden; }
      nav.nav-fixed ul li a {
        width: 100%;
        cursor: pointer; }
        nav.nav-fixed ul li a img {
          display: block; }
      nav.nav-fixed ul li:nth-child(5) {
        padding: 0 30px 0 16px; }
      nav.nav-fixed ul li:nth-child(6) {
        padding: 0 30px 0 16px; }
    nav.nav-fixed ul li.dropdown {
      padding: 0 15px 0 35px;
      height: auto;
      max-width: 130px;
      overflow: visible; }
      nav.nav-fixed ul li.dropdown ul.dropdown-content {
        width: 200px;
        padding: 0;
        margin: 0 0 0 5px;
        text-align: left; }
        nav.nav-fixed ul li.dropdown ul.dropdown-content li {
          float: none;
          padding: 0 0 0 10px;
          margin: 10px auto;
          display: none; }
          nav.nav-fixed ul li.dropdown ul.dropdown-content li a {
            font-weight: 600;
            color: #000000;
            font-size: 1.6rem; }
            nav.nav-fixed ul li.dropdown ul.dropdown-content li a img {
              width: auto; }
    nav.nav-fixed ul li.dropdown:hover ul.dropdown-content li {
      display: block; }
    nav.nav-fixed ul li.sub-social {
      display: none; }

/* Slider */
.section-slider {
  width: 1200px;
  padding-top: 10px;
  margin: 0 auto; }

.slider-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box; }
  .slider-container .slider {
    margin-top: 100px;
    display: none; }
    .slider-container .slider img {
      width: 100%;
      margin-top: 150px;
      vertical-align: middle; }
  .slider-container a {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 22px 10px 0 20px;
    margin-top: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0px 3px 3px 0; }
    .slider-container a.next {
      right: 0; }
  .slider-container .dot-btn {
    text-align: center;
    padding-top: 32px; }
    .slider-container .dot-btn .dot {
      cursor: pointer;
      width: 10px;
      height: 10px;
      margin: 0 1.9px;
      background-color: #d1d2d4;
      display: inline-block;
      transition: background-color 0.6s ease;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  .slider-container .dot:hover,
  .slider-container .dot.active {
    background-color: #939598; }

/*Section NEWS */
.section-news {
  width: 960px;
  margin: 90px auto 0;
  box-sizing: border-box;
  position: relative;
  text-align: center; }
  .section-news img.img-heading {
    margin-top: -8px;
    margin-bottom: 19px; }
  .section-news img.img-more {
    margin-top: 35px;
    margin-left: 24px;
    margin-bottom: 15px; }
  .section-news .news-content {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    padding: 70px 125px 0; }
    .section-news .news-content img {
      width: 100%;
      margin-right: 20px;
      content: '';
      clear: both; }
    .section-news .news-content img.news-img-2 {
      margin-top: -8px; }
    .section-news .news-content .news-img {
      width: 182px;
      height: 124px;
      float: left;
      margin-left: 35px; }
    .section-news .news-content .content {
      margin-left: 200px;
      margin-top: -16px; }
      .section-news .news-content .content p {
        font-weight: 500;
        color: #414042;
        margin: 0 0 -5px 0;
        padding: 9px 0 0 35px;
        font-size: 1.6rem; }
      .section-news .news-content .content span {
        color: #EE2F2A; }
    .section-news .news-content .content-2 {
      margin-top: -20px; }
      .section-news .news-content .content-2 p {
        margin: 0 0 -6px 0; }

/*Section Showcase*/
.section-showcase {
  width: 1200px;
  margin: auto;
  padding-top: 260px;
  overflow: hidden; }
  .section-showcase .showcase-content {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    overflow: hidden; }
    .section-showcase .showcase-content img {
      width: 100%;
      margin-bottom: 15px; }
    .section-showcase .showcase-content img.showcase-pc {
      display: block; }
    .section-showcase .showcase-content img.showcase-sm {
      display: none; }
    .section-showcase .showcase-content a {
      color: #000000;
      font-weight: 500;
      font-size: 1.6rem; }
      .section-showcase .showcase-content a:last-child {
        margin-right: 120px; }
    .section-showcase .showcase-content a.bread-crumb {
      font-size: 1.2rem;
      margin-left: -8px; }

/*Section Message*/
.section-message {
  width: 960px;
  height: auto;
  text-align: center;
  margin: 85px auto 89px; }
  .section-message a {
    padding: 0; }
    .section-message a img.img-msg {
      width: 350px;
      margin-bottom: 23px; }
  .section-message .message-content {
    width: 100%;
    height: 600px;
    margin: auto;
    box-sizing: border-box;
    position: relative; }
    .section-message .message-content img {
      width: 100%; }
    .section-message .message-content .bg-pc {
      display: block; }
    .section-message .message-content .bg-sm {
      display: none; }
    .section-message .message-content .img-author {
      display: none; }
    .section-message .message-content .msg-text {
      width: 430px;
      height: 400px;
      text-align: left;
      box-sizing: border-box;
      position: absolute;
      top: 74px;
      left: 56px; }
      .section-message .message-content .msg-text p {
        color: #ffffff;
        line-height: 29px;
        margin: 0;
        font-size: 1.4rem; }
      .section-message .message-content .msg-text p.bot {
        font-family: 'Arial', Helvetica, san-serif;
        letter-spacing: 1px;
        line-height: 29px;
        font-size: 1.6rem; }
  .section-message p.text-break {
    text-align: left;
    margin-top: 45px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.6rem; }

/*Section Gallery*/
.section-gallery {
  width: 960px;
  text-align: center;
  margin: 80px auto 0;
  padding-bottom: 100px; }
  .section-gallery a {
    padding: 0;
    margin: 0; }
    .section-gallery a img.img-glr {
      width: 330px;
      margin: 14px auto 14px 8px; }
  .section-gallery .gallery-content {
    width: 100%;
    margin: 22px auto 0;
    height: 350px; }
    .section-gallery .gallery-content .content {
      width: 460px;
      height: 340px;
      text-align: left;
      box-sizing: border-box;
      float: left;
      margin-top: -19px; }
      .section-gallery .gallery-content .content p {
        margin: 0;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 29px;
        letter-spacing: 0px; }
      .section-gallery .gallery-content .content img {
        width: 460px;
        height: 340px;
        margin-left: 40px; }
    .section-gallery .gallery-content .sm-gallery {
      display: none; }
  .section-gallery .gallery-content::after {
    content: '';
    clear: both; }

/*Section Access*/
.section-access {
  width: 960px;
  text-align: center;
  margin: 0 auto 178px; }
  .section-access a {
    padding: 0;
    margin: 0; }
    .section-access a img.img-acc {
      margin: 80px auto 0; }
  .section-access .access-content {
    width: 100%;
    height: 500px;
    position: relative; }
    .section-access .access-content .content {
      width: 460px;
      height: auto;
      text-align: left;
      box-sizing: border-box;
      float: left;
      margin-top: 22px; }
      .section-access .access-content .content p {
        margin: 0;
        font-weight: 500;
        line-height: 29px;
        margin-left: 40px;
        font-size: 1.5rem;
        letter-spacing: 0; }
      .section-access .access-content .content img {
        width: 100%; }
      .section-access .access-content .content img.img-content {
        margin-left: 40px;
        margin-bottom: 20px; }
      .section-access .access-content .content img.sm-gg {
        display: none; }
    .section-access .access-content a.map {
      margin-top: 15px;
      float: left;
      clear: both; }
      .section-access .access-content a.map img.pc-gg {
        display: block; }
  .section-access .access-content::after {
    content: '';
    clear: both; }

/*Footer*/
#footer {
  width: 960px;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
  margin: auto; }
  #footer .footer-menu-social {
    height: 30px;
    margin-top: 40px; }
    #footer .footer-menu-social ul {
      height: auto;
      box-sizing: border-box; }
      #footer .footer-menu-social ul li {
        display: inline-block;
        padding: 0 5px; }
        #footer .footer-menu-social ul li a {
          cursor: pointer; }
          #footer .footer-menu-social ul li a img {
            width: 30px; }
  #footer p {
    font-weight: 600;
    margin: 0;
    padding: 8px 0;
    font-size: 1.6rem; }
  #footer .copyright {
    font-weight: 500;
    text-transform: uppercase;
    font-family: serif;
    font-size: 1.1rem;
    padding-top: 10px; }

/*Module site components*/
.block {
  width: 960px;
  margin: auto;
  height: 1px;
  background: #000000; }

/*Responsive*/
/*Responsive with breakpoint 736px for sm*/
@media screen and (max-width: 736px) {
  .wrapper {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 50px; }

  /*Responsive Header*/
  header {
    width: 100%;
    z-index: 1;
    padding-top: 2px;
    /*Responsive TopNav*/ }
    header .logo {
      position: relative;
      left: 0;
      text-align: center;
      display: none; }
      header .logo img {
        margin: 0 auto; }
    header .logo-sm {
      display: block; }
      header .logo-sm img {
        width: 90px;
        margin-top: 5px; }
    header .menu-icon {
      display: block;
      margin-right: 11px; }
    header .menu-social {
      display: none; }
    header .nav-fixed {
      width: 100%;
      box-sizing: border-box;
      background: transparent;
      display: none;
      padding: 0; }
      header .nav-fixed ul {
        width: auto;
        text-align: left;
        padding: 0; }
        header .nav-fixed ul li {
          width: 100%;
          float: none;
          border-top: 1px solid #000000;
          padding: 10px 0;
          margin: 0;
          height: auto;
          line-height: normal; }
          header .nav-fixed ul li a {
            width: auto; }
            header .nav-fixed ul li a img {
              width: auto;
              margin: 0 0 0 25px; }
        header .nav-fixed ul li:nth-child(5),
        header .nav-fixed ul li:nth-child(6) {
          padding: 10px 0; }
        header .nav-fixed ul li.sub-social {
          display: block;
          height: auto;
          line-height: normal;
          padding-left: 25px; }
          header .nav-fixed ul li.sub-social ul {
            margin-left: 0; }
            header .nav-fixed ul li.sub-social ul li {
              border: none;
              padding: 0 4px;
              margin: 0;
              display: inline;
              float: left;
              width: auto; }
              header .nav-fixed ul li.sub-social ul li img {
                margin: 0;
                padding: 0;
                width: 20px; }
        header .nav-fixed ul li.dropdown {
          border-top: 1px solid #000000;
          max-width: 100%;
          margin: 0;
          padding: 10px 0;
          height: auto;
          line-height: normal; }
          header .nav-fixed ul li.dropdown ul.dropdown-content {
            width: auto;
            margin-left: 0;
            margin-top: 5px;
            position: relative; }
            header .nav-fixed ul li.dropdown ul.dropdown-content li {
              margin: 0;
              border: none;
              padding: 5px 0 5px 45px; }
          header .nav-fixed ul li.dropdown ul.dropdown-content::before {
            content: 'X';
            font-size: 1.1rem;
            font-weight: 900;
            position: absolute;
            top: -22px;
            left: 12px;
            cursor: pointer;
            display: none; }
        header .nav-fixed ul li.dropdown:hover ul.dropdown-content {
          border-top: 1px solid #000; }
        header .nav-fixed ul li.dropdown:hover ul.dropdown-content::before {
          display: block; }
      header .nav-fixed li:last-child {
        border-bottom: 1px solid #000000; }
      header .nav-fixed li:nth-child(5) {
        padding: 0; }

  /*Responsive Section-Slider*/
  .section-slider {
    width: 100%;
    padding-top: 0;
    height: auto; }
    .section-slider .slider {
      margin-top: 0; }
      .section-slider .slider img {
        width: 100%;
        min-height: 180px;
        margin-top: 80px; }
      .section-slider .slider a {
        font-size: 1.5em;
        padding: 0 15px;
        margin-top: -20px; }
    .section-slider a {
      font-size: 2em; }

  .slider-container
  .dot-btn {
    padding-top: 15px; }
    .slider-container
    .dot-btn .dot {
      width: 6px;
      height: 6px;
      margin: 0 0.4px; }

  /*Responsive Section-News*/
  .section-news {
    width: 100%;
    margin: 0;
    padding: 0 25px;}
    .section-news img.img-heading {
      margin-top: 20px;
      margin-bottom: 0;
      width: 50px; }
    .section-news img.img-more {
      width: 72px;
      margin-top: 12px;
      margin-left: -1px; }
    .section-news .news-content {
      display: block;
      text-align: center;
      padding: 15px 0 0 0;
      margin: 0 auto; }
      .section-news .news-content .news-img {
        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
        height: auto; }
        .section-news .news-content .news-img img {
          float: none;
          margin: 0;
          width: 100%; }
        .section-news .news-content .news-img img.news-img-2 {
          margin-top: 19px; }
      .section-news .news-content .content {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
        float: none; }
        .section-news .news-content .content p {
          color: #000000;
          line-height: 15px;
          font-size: 1.1rem;
          padding: 5px 0 1px 0;
          margin-top: 4.5px;
          margin-left: 3px; }
      .section-news .news-content .content-2 {
        margin-top: 6px; }
        .section-news .news-content .content-2 p {
          letter-spacing: 0;
          margin: 0;
          padding: 3px 0;
          font-size: 1.07rem; }

  .block {
    width: 100%; }

  /*Responsive showcase*/
  .section-showcase {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 84px; }
    .section-showcase .showcase-content a {
      display: none; }
    .section-showcase .showcase-content img.showcase-pc {
      display: none; }
    .section-showcase .showcase-content img.showcase-sm {
      display: block;
      margin-bottom: 0; }

  /*Responsive Section Message*/
  .section-message {
    width: 100%;
    margin: 30px auto 40px; }
    .section-message a {
      padding: 0; }
      .section-message a img.img-msg {
        width: 175px;
        margin: 7px 0 0 0; }
    .section-message .message-content {
      width: 94%;
      height: auto;
      padding: 0;
      background-color: #000000;
      margin: 0 auto 32px; }
      .section-message .message-content img.bg-pc {
        display: none; }
      .section-message .message-content img.bg-sm {
        display: block;
        margin-top: 6px; }
      .section-message .message-content img.img-author {
        display: block;
        margin-top: 3px; }
      .section-message .message-content img.img-author-2 {
        margin-top: -2px; }
      .section-message .message-content .msg-text {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        color: #ffffff;
        position: relative;
        top: 0;
        left: 0;
        text-align: justify;
        padding: 0 15px; }
        .section-message .message-content .msg-text p {
          margin-top: -92px;
          font-size: 1.16rem;
          line-height: 16px;
          letter-spacing: 1px; }
        .section-message .message-content .msg-text p.bot {
          line-height: 16px;
          font-size: 1.2rem; }
    .section-message p.text-break {
      display: none; }

  /*Responsive Section Gallery*/
  .section-gallery {
    width: 100%;
    margin: 0 auto;
    padding: 0; }
    .section-gallery a {
      margin: 0; }
      .section-gallery a img.img-glr {
        margin: 35px auto 0px;
        width: 50%; }
    .section-gallery .gallery-content {
      margin: 0;
      padding: 30px 0 0 0;
      height: auto;
      width: 100%; }
      .section-gallery .gallery-content .content {
        width: 100%;
        height: auto;
        padding: 17px 25px 0;
        float: none;
        text-align: justify; }
        .section-gallery .gallery-content .content p {
          font-size: 1.2rem;
          line-height: 19px;
          font-weight: 600;
          letter-spacing: 0px; }
        .section-gallery .gallery-content .content img {
          margin: 0 0 20px 0;
          width: 100%;
          height: auto; }
      .section-gallery .gallery-content .sm-gallery {
        display: block;
        padding: 0 25px; }
      .section-gallery .gallery-content .pc-gallery {
        display: none; }

  /*Responsive Section Access*/
  .section-access {
    width: 100%;
    padding-top: 30px;
    margin: 0 0 19px 0; }
    .section-access a {
      margin: 0; }
      .section-access a img.img-acc {
        margin: 50px auto 6px;
        width: 50%; }
    .section-access .access-content {
      width: 100%;
      margin: 0 auto;
      height: auto; }
      .section-access .access-content .content {
        width: 100%;
        padding: 0 25px;
        float: none;
        overflow: hidden;
        margin: 0; }
        .section-access .access-content .content img {
          width: 100%; }
        .section-access .access-content .content img.img-content {
          margin: 0 0 19px 0; }
        .section-access .access-content .content a {
          display: block;
          position: relative;
          max-width: 50%;
          margin: 12px 0 20px; }
          .section-access .access-content .content a img.sm-gg {
            display: block; }
        .section-access .access-content .content p {
          font-size: 1.1rem;
          line-height: 19px;
          padding: 0;
          margin: 0;
          letter-spacing: 1.8px; }
      .section-access .access-content a.map {
        display: none; }

  /*Responsive-Footer*/
  #footer {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px 0; }
    #footer p {
      padding: 7px 0 5px 0;
      font-size: 1rem;
      line-height: 1rem; }
    #footer p.copyright {
      font-size: 0.7rem;
      padding-top: 15px; }
    #footer .footer-menu-social {
      margin-top: 20px; }
      #footer .footer-menu-social ul {
        width: 100%; }
        #footer .footer-menu-social ul li {
          padding: 0 1px; }
          #footer .footer-menu-social ul li a {
            width: 20px; }
            #footer .footer-menu-social ul li a img {
              width: 20px; } }

/*# sourceMappingURL=style.css.map */
