/*------------------------------------------------------------
	                    SHOP COMPANY
------------------------------------------------------------*/
.p-blog{
  background: url('../img/bg-blog-content.jpg') no-repeat;
  background-size: cover;
  &_inner{
    @include grid(2);
    grid-template-columns: auto 260px;
    grid-column-gap: 110px;
  }
}
