/*------------------------------------------------------------
	                    PAGE COMPANY
------------------------------------------------------------*/
.p-company{
  background: url('../img/bg-company-content.jpg') no-repeat center;
  background-size: cover;
  .c-title2{
    margin-bottom: 80px;
  }
  .c-title1{
    margin-bottom: 110px;
  }
  &_info{
    margin-bottom: 120px;
  }
}
