/*------------------------------------------------------------
	                    PAGE INDEX
------------------------------------------------------------*/
.p-index{
  background: url('../img/bg-main.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  .slider{
    margin-top: 20px;
  }
  .c-btn_contact-2{
    margin-top: 30px;
  }
  .c-btn_contact-4{
    margin-right: 40px;
  }
  &_about{
    margin-top: 160px;
  }
  &_topic{
    margin-top: 180px;
    &_inner{
      dl{
        max-height: 150px;
        overflow-y: scroll;
      }
      dt{
        margin-right: 50px;
        float: left;
        color: #3386c2;
        font-size: 1.2rem;
      }
      dd{
        @include cf;
        @include border(bottom);
        border-color: #ededed;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      dt, dd {
        line-height: 40px;
      }
    }
  }
  &_contact{
    margin-top: 120px;
    padding-top: 60px;
    padding-bottom: 120px;
    background: #5ea6e8;
  }
}
