/*------------------------------------------------------------
	                    SHOP COMPANY
------------------------------------------------------------*/
.p-shop{
  margin-bottom: -40px;
  &_head{
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 55px;
  }
  &_inner{
    @include cf;
    @include grid(2);
    grid-template-columns: 435px auto;
    grid-template-rows: minmax(auto, 225px);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  &_slider{
    position: relative;
    overflow: hidden;
  }
  &_content{
    table{
      height: 100%;
    }
    th,td{
      padding: 10px 0;
    }
    th{
      width: 140px;
      padding-left: 30px;
      font-size: 1.9rem;
    }
    p{
      line-height: 20px;
      font-size: 1.5rem;
    }
  }
}
