.c-breadcrumb1 {
	padding: 10px;

	ul {
		width: 1050px;
		margin:0 auto;
		display: flex;

		li {
			line-height: 1;
			font-size: 1.2rem;

			a {
				color: #333;
			}
		}
		li:after {
			content: '';
			display: inline-block;
			margin: 0 7px;
		}
	}
	//--------------------
	&--bottomline {
		border-bottom: 1px solid #ccc;
	}
	&--topline {
		border-top: 1px solid #ccc;
	}
}
@include breakpoint(768px) {
	.c-breadcrumb1 ul {
		width: auto;

		li {
			font-size: 1rem;
		}
	}
}
