
//-------------Footer----------------
.c-footSitemap {
	border-top: 1px solid #ccc;
	background: #efefee;
	padding: 30px 0;

	p {
		font-weight: bold;
		font-size: 1.4rem;
	}
	ul {
		li {
			margin-top: 6px;

			a {
				text-decoration: none;
				color: #000;
				font-size: 1.4rem;
			}
		}
	}
	&__inner {
		width: 1050px;
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flex-box;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pacl: justify;
		justify-content: space-between;
	}
	@include breakpoint(768px) {
		.c-footSitemap__inner {
			width: auto;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		}
	}
}
@include breakpoint(768px) {
	.c-footSitemap {
		padding: 15px 10px 5px 10px;
	}
}
@include breakpoint(768px) {
	.c-footSitemap__block {
		width: 48%;
		margin-bottom: 20px;
	}
	.c-footSitemap__block:first-child {
		margin-top: 0;
	}
}
.c-footCopy {
	padding: 20px 0;
	border-top: 1px solid #ccc;

	p{
		text-align: center;
		font-size: 1.2rem;
		line-height: 1;
	}
}
@include breakpoint(768px) {
	.c-footCopy {
		padding: 10px 0;

		p {
			font-size: 1rem;
		}
	}
}
