@import '0_base/mixin';
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-headPC {
	border-bottom: 1px solid #ccc;
}
.c-headPC__inner {
	height: 80px;
	width: 1050px;
	margin: 0 auto;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
		justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
		align-items: center;

	ul {
		display: inline-flex;

		li {
			margin-left: 20px;

			a{
				text-decoration: none;
    			font-size: 1.6rem;
  				color: #333;
			}
		}
	}
}
@include breakpoint(768px){
	.c-headPC__inner{
		width: auto;
	}
}

.c-headSP {
	border-bottom: 1px solid #ccc;
	background: #fff;
	height: 60px;
	padding-left: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	padding-top: 10px;

	.c-menuSP {
		width: 30px;
		height: 30px;
		top: 11px;
		right: 10px;
		position: absolute;
		cursor: pointer;

		&__1,
		&__2,
		&__3{
			width: 100%;
			height: 5px;
			background: #000;
			margin: 6px auto;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		}
	}
	.is-open {
		.c-menuSP__1 {
			-webkit-transform: rotate(45deg) translate(7px, 7px);
			   -moz-transform: rotate(45deg) translate(7px, 7px);
			    -ms-transform: rotate(45deg) translate(7px, 7px);
			     -o-transform: rotate(45deg) translate(7px, 7px);
			        transform: rotate(45deg) translate(7px, 7px);
		}
		.c-menuSP__2 {
			opacity: 0;
		}
		.c-menuSP__3 {
			-webkit-transform: rotate(-45deg) translate(8px, -8px);
			   -moz-transform: rotate(-45deg) translate(8px, -8px);
			    -ms-transform: rotate(-45deg) translate(8px, -8px);
			     -o-transform: rotate(-45deg) translate(8px, -8px);
			        transform: rotate(-45deg) translate(8px, -8px);
		}
	}
	.c-menulistSP {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		display: none;

		ul {
			background: #fff;
			li {
				border-bottom: 1px solid #ccc;

				a {
					text-decoration: none;
					display: block;
					color: #333;
					padding: 10px;
				}
			}
		}
	}
}




