@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.6;
	font-size: 1.4rem;
}
@include breakpoint(768px) {
	body {
		padding-top: 60px;
		font-size: 1.2rem;
	}
}


.l-main {
	width: 800px;
	margin-top: 50px;
}
@include breakpoint(768px) {
	.l-main {
		width: auto;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
.l-content {
	width: 1050px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flex-box;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	@include breakpoint(768px) {
		width: auto;
		display: block;
	}
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

.l-side {
	width: 220px;
	margin-top: 50px;
}
@include breakpoint(768px) {
	.l-side {
		width: auto;
		margin-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@include min_breakpoint(768px){
	.sp-only{
		display: none;
	}
}
@include breakpoint(768px){
	.pc-only {
		display: none;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}
