
//-------------C-SideFrame-----------

.c-sideFrame1 {
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 30px;

	&__head {
		border-bottom: 1px solid #ccc;
		padding: 12px 10px;
		background: #e6e9ed;
		p {
			font-size: 1.4rem;
			line-height: 1;
		}
	}
	&__body {
		padding: 13px 10px;
	}
}