/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.c-btn1 {
    a{
      text-decoration: none;
    }
    &.c-btn-contact-pc{
      max-width: 540px;
      background: $white;
      text-align: right;
      a{
        color: $black;
        font-size: 1.1rem;
      }
      img{
        margin-bottom: 5px;
      }
      p:last-child{
        transform: translateX(5px);
      }
    }
    &.c-btn-contact-sp{
      width: auto;
      justify-self: flex-end;
    }
}
.c-btn2{
  @include breakpoint{
    margin-bottom: 16px;
  }
  a{
    background: $btn-bg;
    width: 480px;
    color: $white;
    text-decoration: none;
    padding: 25px 0 25px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 1.8rem;
    @include breakpoint{
      width: 100%;
      justify-content: center;
      font-size: 1.2rem;
      padding: 13px 0 10px;
    }
    span {
      font-size: 2.6rem;
      font-weight: bold;
      @include breakpoint{
      font-size: 1.95rem;
      }
    }
    &::before{
      content: '';
      background: url('../img/pc/btn-arr.png') no-repeat center;
      background-size: 14px 18px;
      width: 14px;
      height: 18px;
      left: 10px;
      margin-right: 5px;
      @include breakpoint{
          background: url('../img/sp/btn-arr.png') no-repeat center;
          background-size: 10px 12px;
          width: 10px;
          height: 12px;
          position: absolute;
      }
    }
    img{
        position: absolute;
        right: 0;
    }
  }
  &-mail{
    margin-bottom: 12px;
      @include breakpoint {
      margin-bottom: 15px;
    }
    a{
      background: $white;
      color: $black;
      margin: 0 auto;
      justify-content: flex-start;
      font-size: 2rem;
      @include breakpoint{
        font-size: 1.3rem;
        justify-content: center;
        padding: 0;
      }
    }

    a:before{
      background: url('../img/pc/btn-mail.png') no-repeat center;
      background-size: 26px 16px;
      width: 26px;
      height: 16px;
      margin-right: 14px;
      @include breakpoint{
        background: url('../img/sp/btn-mail-sp.png') no-repeat center;
        background-size: 14px 10px;
        width: 14px;
        height: 10px;
      }
    }
  }

  &--sm {
    a{
      width: 250px;
      display: block;
      text-align: center;
      padding: 7px 0;
      margin:0 auto;

      &::before{
        display: block;
        position: absolute;
        top:35%;
        -webkit-transform: translatY(-50%);
           -moz-transform: translatY(-50%);
            -ms-transform: translatY(-50%);
             -o-transform: translatY(-50%);
                transform: translatY(-50%);
      }
      p{
        font-size: 1.4rem;
        line-height: 20px;
      }
      span{
        font-size: 1.9rem;
      }
    }
  }
  &-contact{
    width: 550px;
    margin: 0 auto;
    padding-top: 60px;
    button {
    background: $btn-bg;
    color: $white;
    width: 100%;
    text-decoration: none;
    padding: 25px 0 25px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    span{
      font-size: 2.6rem
      }
    }
    button::before{
      content: '';
      background: url('../img/pc/btn-arr.png') no-repeat center;
      background-size: 14px 18px;
      width: 14px;
      height: 18px;
      position: absolute;
      left: 50px;
    }

  }
}

.c-btn3{
  @extend .c-btn2;

  a{
    background: $white;
    color: $black;
    border-radius: 50px;
    margin: auto;
    justify-content: center;
    padding: 10px 0;
    width: 330px;
    @include breakpoint{
      width: 160px;
      font-size: 0.8rem;
    }
  }
}
.c-btn-scroll{
  text-align: center;
  a{
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    span{
      display: block;
      @include breakpoint{
        display: none;
      }
    }
    img{
        margin: 0 auto;
        vertical-align: middle;
    }
  }
}
.c-btn-fix{
  position: fixed;
  top: 48%;
  right: 15%;
  display: none;
  z-index: 1000;
  @include breakpoint{
    bottom: 23px;
    right: 15px;
    top: inherit;
  }
}
