//------------------Title--------
.c-title1{
	text-align: center;
	@include cf;
	.c-btn2:nth-child(2){
		float: left;
		@include breakpoint{
			float: none;
		}
	}
	.c-btn2:last-child{
		float: right;
		@include breakpoint{
			float: none;
		}
	}
}
.c-title2{
	@include breakpoint{
		padding: 0 18.5px;
	}
	h3{
		font-size: 3.5rem;
		text-align: center;
		@include breakpoint{
			font-size: 1.5rem;
		}

		a{
			text-decoration: none;
			color: $black;
			border-bottom: 3px solid $black;
			padding-bottom: 25px;
			@include breakpoint{
				border-bottom: 2px solid $black;
				padding-bottom: 10px;
			}
		}
	}
	&--txt{
		padding: 70px 0 40px;
		@include breakpoint{
			padding: 40px 0 25px;
		}
	}
	p {
		font-size: 1.5rem;
		text-align: center;
		line-height: 26px;
		@include breakpoint{
			font-size: 1.1rem;
			line-height: 20px;
		}
		img{
			margin-bottom: 25px;
			@include breakpoint{
				margin-bottom: 15px;
			}
		}
	}
}
.c-title3{

	&__head{
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		@include breakpoint{
			margin-bottom: 20px;
			justify-content: center;
		}
		h3{
			font-size: 3rem;
			line-height: 1.2;
			@include breakpoint{
				font-size: 1.5rem;
			}
		}
		img{
			margin: 0;
			@include breakpoint{
				margin: 0 20px 0 0;
			}
		}
		span{
			display: block;
		}
	}
	p{
		font-size: 1.6rem;
		line-height: 27px;
		@include breakpoint{
			font-size: 1.2rem;
			line-height: 20px;
		}
	}
}
.c-title4{
	@extend .c-title2;
	a{
		letter-spacing: 2px;
		@include breakpoint{
			letter-spacing: 0;
			font-size: 1.9rem;
		}
	}
	p{
		padding-top: 65px;
		@include breakpoint{
			padding-top: 15px;
		}
	}
}
