/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
form{
	padding: 60px 0;
}
.contact-form{
	width: 550px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 20px;
	.label{
		flex-basis: 220px;

		label{
			display: flex;
			align-items: center;
			font-size: 1.6rem;
			font-weight: bold;
		}
		label::before{
			content: '';
			width: 18px;
			height: 18px;
			background: url('../img/pc/cont-icon.png') no-repeat center;
			background-size: 18px 18px;
			margin-right: 10px;
		}
	}
	.input{
		display: block;
		flex: 1;

		label{
			font-size: 1.3rem;
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			display: block;
			user-select: none;
			margin-right: 20px;
			padding-bottom: 13px;
			padding-left: 20px;
		}
		input[type=checkbox],
		input[type=radio]{
			opacity: 0;
			position: absolute;
			cursor: pointer;
		}
		input {
			width: 100%;
			min-height: 33px;
		}
		span{
			width: 10px;
			height: 10px;
			border: 1px solid $black;
			position: absolute;
			top: 4px;
			left: 0;
		}
		input:checked ~  span{
			background: $border;
		}
		span::after{
			content:'';
			position: absolute;
			top: -1px;
		    left: 2px;
		    width: 3px;
		    height: 7px;
			border-style: solid;
			border-color: $black;
			border-width: 0 1px 1px 0;
			-webkit-transform: rotate(37deg) translate(0, -1px);
			   -moz-transform: rotate(37deg) translate(0, -1px);
			    -ms-transform: rotate(37deg) translate(0, -1px);
			     -o-transform: rotate(37deg) translate(0, -1px);
			        transform: rotate(37deg) translate(0, -1px);
			        display: none;
		}
		input:checked ~ span::after{
			display: block;
		}
		textarea{
			width: 100%;
			height: 170px;
		}

		label.c-box{
			span{
				width: 15px;
				height: 15px;
				border-radius: 50%;
				top: 0;
				&::after{
					background: $black;
					width: 7px;
					height: 7px;
					border-radius: 50%;
					top: 3px;
   					left: 2px;
				}
			}
		}
	}
	.f-input{
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 20px;
	}
	.c-input{
		background: #fff2f2;
		padding: 20px 0 8px 20px;
	}
	.input-ex{
		display: flex;
		align-items: center;
		padding-bottom: 25px;
		position: relative;
		label{
			margin: 0;
			padding: 0;
			width: 85px;
			display: block;
		}
		p{
			position: absolute;
			bottom: 5px;
			right: 0;
			font-size: 1.2rem;
		}
		input,
		select{
			width: 240px;
		}
		select{
			height: 23px;
		}
	}
	&:first-child .input{
		justify-content: flex-start;
	}
	.info{
		padding: 30px 20px;
		max-height: 170px;
		overflow-y: scroll;
		border: 1px solid $border;
		p{
			font-size: 1.2rem;
			line-height: 26px;
			letter-spacing: 1.5px;
		}
		span{
			padding-right: 20px;
		}
		h3{
			padding: 35px 0 25px;
			font-size: 1.4rem;
		}
	}
}