/*------------------------------------------------------------
text
------------------------------------------------------------*/
.c-text1 {

  &--sm{
    p{
      font-size: 1.4rem;
      @include breakpoint{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    p::before,
    p::after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 16px;
      background: $black;
      @include breakpoint {
        height: 2px;
        width: 10px;
      }
    }
    p:before{
      margin-right: 10px;
      transform: rotate(-20deg);
      @include breakpoint{
        margin-right: 12px;
        transform: rotate(60deg);
      }
    }
    p:after{
      margin-left: 10px;
      transform: rotate(20deg);
      @include breakpoint{
        margin: 0;
        transform: rotate(-60deg);
      }
    }
  }
  &--lg{
    @extend .c-text1--sm;
    margin-left: 9px;
    p{
      font-size: 3.4rem;
      font-weight: bold;
      position: relative;
      @include breakpoint{
        display: block;
        font-size: 1.3rem;
      }
    }
    p::before,
    p::after{
      width: 4px;
      height: 30px;
      @include breakpoint{
        width: 2px;
        height: 15px;
      }
    }
    p::before{
      @include breakpoint{
        transform: rotate(-30deg);
      }
    }
    p::after{
        transform: rotate(30deg);
        margin-left: 15px;
    }
    span{
      @include breakpoint{
        position: absolute;
        top: -10px;
      }
    }
  }
}
.c-text1-sp{
  p{
    @include breakpoint{
      font-size: 1.5rem;
      max-width: 190px;
      margin: auto;
    }
    &::after{
      position: relativel;
    }
  }
}
