//--------------------C-navi---------
.g-naviSP{
  position: fixed;
  top: 0;
  width: 80%;
  background: $white;
  height: 100%;
  z-index: 900;
  right: 0;
  box-shadow: -1px 0px 1px 0px #ffffff;
  display: none;
  .menu-icon{
    text-align: right;
  }
  ul{
    padding: 35px 0;
    li{
      padding: 10px 15px;
      border-top: 1px solid $border;
      a{
        text-decoration: none;
        font-size: 1.2rem;
        color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      a:after{
        content:'';
        background: url('../img/sp/menu-arr.png') no-repeat center;
        background-size: 7px 10px;
        width: 7px;
        height: 10px;
      }
    }
    li:last-child{
      border-bottom: 1px solid $border;
    }
  }
  &__btn{
    padding: 0 15px;
  }
}
