//----------------C-imgtext--------------------
.c-imgtext1{
	text-align: center;
	padding: 0 20px;
	position: relative;
	@include breakpoint{
		padding: 0 10px;
	}
	&--img{
		padding-bottom: 30px;
		@include breakpoint{
			padding-bottom: 20px;
		}
		img{
			border-radius: 50%;
		}
	}
	&--txt{
		h3{
			font-size: 1.7rem;
			width: 170px;
			text-align: center;
			margin: auto;
			padding-bottom: 25px;
			@include breakpoint{
				font-size: 1.1rem;
				width: auto;
				padding-bottom: 10px;
				max-width: 130px;
				line-height: 1.5rem;
			}
		}
		p{
			font-size: 1.3rem;
			line-height: 20px;
			text-align: left;
			@include breakpoint{
				font-size: 0.9rem;
				line-height: 1.5rem;
			}
		}
	}

}