//-----------c-list1------------------------
.accor-qa{
	padding-top: 45px;
	@include breakpoint{
		padding-top: 35px;
	}
	ul {
		li{
			margin-bottom: 20px;
			@include breakpoint{
				margin-bottom: 8px;
			}
		}
		li:nth-child(odd){
			background: $bg-4;
			font-size: 2.1rem;
			line-height: 76px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;
			@include breakpoint{
				font-size: 1.1rem;
				line-height: 1.5;
				justify-content: flex-start;
			}
			span{
				flex: 0.95;
				@include breakpoint{
					padding: 4px 30px 4px 0;
				}
			}
			&::before{
				content:'';
				background: url('../img/pc/acc-icon.png') no-repeat center;
				background-size: 75px 76px;
				height: 76px;
				width: 75px;
				@include breakpoint{
					background: url('../img/sp/acc-icon-sp.png') no-repeat center;
					background-size: 37px 41px;
					width: 37px;
					height: 41px
				}
			}
			&::after{
				content:'';
				background: url('../img/pc/plus.png') no-repeat center;
				background-size: 22px 22px;
				width: 22px;
				height: 22px;
				@include breakpoint{
					background: url('../img/sp/plus.png') no-repeat center;
					background-size: 11px 11px;
					width: 11px;
					height: 11px;
				}
			}
		}
		li:nth-child(even){
			font-size: 1.5rem;
			line-height: 30px;
			padding: 10px 30px;
			font-weight: 500;
			display: none;
			@include breakpoint{
				font-size: 1rem;
				line-height: 16px;
				padding: 20px 0;
			}
		}
		li.active::after{
			content:'';
			background: url('../img/pc/sub.png') no-repeat center;
			background-size: 22px 22px;
			width: 22px;
			height: 22px;
			@include breakpoint{
				background: url('../img/sp/sub.png') no-repeat center;
				background-size: 11px 11px;
				width: 11px;
				height: 11px;
			}
		}
	}
}
