/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.slider-container{
	position: relative;
	padding-top: 65px;
	text-align: center;
	@include breakpoint{
		padding-top: 20px;
	}

	.slider{
		position: relative;
		text-align: center;
		.slide{
			font-size: 1.5rem;
			max-width: 290px;
			@include breakpoint{
				max-width: inherit;
			}
			&__title{
				text-align: center;
				padding-bottom: 15px;
				@include breakpoint{
					padding-bottom: 5px;
				}
				h3{
					font-size: 2.5rem;
					@include breakpoint{
						font-size: 1.1rem;
					}
				}
				p{
					width: 50px;
				    height: auto;
				    margin: 0 auto;
				    @include breakpoint{
				    	width: 28px;
				    }
				}
			}
			&__content{
				text-align: left;
				@include breakpoint{
					max-width: 145px;
					margin: 0 auto;
				}
				ul{
					padding: 20px 0;

					li{
						display:flex;
						padding-bottom: 20px;
						@include breakpoint{
							padding-bottom: 10px;
						}
						span{
							flex: 0;
							flex-basis: 60px;
							width: 60px;
							height: 20px;
							background: $black;
							color: $white;
							display: flex;
							align-items: center;
							justify-content: center;
							@include breakpoint{
								width: 50px;
								height: 18px;
								font-size: 0.9rem;
								font-weight: bold;
							}
						}
						p{
							flex: 1;
							padding-left: 15px;
							font-size: 1.2rem;
							line-height: 24px;
							@include breakpoint{
								font-size: 0.9rem;
								line-height: 18px;
							}
						}
					}
				}
			}
		}
	}
	.slider2{
		@extend .slider;
		.slide{
			max-width: 250px;
			@include breakpoint{
				max-width: 100%;
				padding-left: 10px;
			}
			.slide__content{
				ul{
					padding: 30px 0 0;
					@include breakpoint{
						padding: 15px 0 0 ;
					}
					li{
						padding-bottom: 13px;
					}
				}
				@include breakpoint{
					max-width: 100%;
				}
			}
		}
		.next, .prev{
			top: 38%;
		}
		.next{
			right: -6%;
			@include breakpoint{
				right: 0;
			}
		}
		.prev{
			left: -6%;
			@include breakpoint{
				left: 0;
			}
		}
	}
}
.next, .prev{
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 30%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
  @include breakpoint{
  	top: 57%;
  }
}
.prev{
	left: 28px;
	@include breakpoint{
		left: 0;
	}
}
.next{
	right: 36px;
	@include breakpoint{
		right: 0;
	}
}
