//-------------OTher-----------
.c-copy{
  position: absolute;
  top: 111px;
  left: 49.7%;
  transform: translateX(-49.7%);
  @include breakpoint{
    position: relative;
    transform: translateX(0);
    top: 0;
    left: 0;
    margin: 55px 0 27px;
  }
  img{
    margin: 0 auto;
  }
}
.c-point {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  @include breakpoint{
    position: relative;
    transform: translateX(0);
    top: 0;
    left: 0;
    z-index: 11;
  }
  &-top{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    background: $white;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: 2.7rem;
    @include breakpoint{
      width: 150px;
      height: 150px;
      font-size: 1.3rem;
      padding-top: 25px;
    }
    p{
      margin-bottom: 10px;
      @include breakpoint{
        line-height: 1rem;
        margin-bottom: 8px;
      }
    }
    p.u-bg-yellow{
      width: 175px;
      margin: 0 auto 18px;
      padding: 3px 0;
      @include breakpoint{
        width: 105px;
      }
    }
    .c-text1{
      margin-bottom: 10px;
      @include breakpoint{
        margin-bottom: 7px;
      }
    }

  }
  &-mid{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint{
      padding-top: 15px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 8px;
      align-content: center;
    }
    h3.mid{
      margin: 0 50px;
      @include breakpoint{
        margin: 0;
      }
    }
    h3:nth-child(1){
    -webkit-transform: translateX(10px);
       -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
         -o-transform: translateX(10px);
            transform: translateX(10px);
            @include breakpoint{
              -webkit-transform: translate(0);
                 -moz-transform: translate(0);
                  -ms-transform: translate(0);
                   -o-transform: translate(0);
                      transform: translate(0);
            }
    }
  }
  &-bot{
    display: flex;
    justify-content: center;
    padding-top: 10px;

    p{
      font-size: 1.2rem;
      color: $white;
      font-weight: bold;
    }
  }
}
.modalSP{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 999;
  display: none;
  &__close{
    text-align: right;
  }
  &__content{
    padding: 0 35px;
    display: grid;
    grid-template-columns: auto auto;
    p{
      font-size: 1.25rem;
      padding-bottom: 20px;
    }
  }
}
