@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

.c-dev-title1,
.c-dev-title2,
.c-dev-title3 {
  line-height: 1;
  font-size: 1.3rem;
  padding: 6px 0 6px 15px;
  margin: 40px 0 20px 0;
  border-radius: 5px;
  text-align: left;
}

.c-dev-title2, .c-dev-title3 {
  margin-top: 20px;
}

.c-dev-title1 {
  font-size: 1.6rem;
  background: #000;
  color: #fff;
}

.c-dev-title1 h1 {
  font-size: 1.6rem;
  padding-left: 15px;
}

.c-dev-title2 {
  background: #888;
  color: #fff;
  padding-left: 30px;
}

.c-dev-title3 {
  padding-left: 35px;
  background: #DDD;
  color: #000;
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-headPC {
  border-bottom: 1px solid #ccc;
}

.c-headPC__inner {
  height: 80px;
  width: 1050px;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-headPC__inner ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-headPC__inner ul li {
  margin-left: 20px;
}

.c-headPC__inner ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}

@media screen and (max-width: 768px) {
  .c-headPC__inner {
    width: auto;
  }
}

.c-headSP {
  border-bottom: 1px solid #ccc;
  background: #fff;
  height: 60px;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 10px;
}

.c-headSP .c-menuSP {
  width: 30px;
  height: 30px;
  top: 11px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.c-headSP .c-menuSP__1, .c-headSP .c-menuSP__2, .c-headSP .c-menuSP__3 {
  width: 100%;
  height: 5px;
  background: #000;
  margin: 6px auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.c-headSP .is-open .c-menuSP__1 {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}

.c-headSP .is-open .c-menuSP__2 {
  opacity: 0;
}

.c-headSP .is-open .c-menuSP__3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(8px, -8px);
}

.c-headSP .c-menulistSP {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
}

.c-headSP .c-menulistSP ul {
  background: #fff;
}

.c-headSP .c-menulistSP ul li {
  border-bottom: 1px solid #ccc;
}

.c-headSP .c-menulistSP ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px;
}

.c-footSitemap {
  border-top: 1px solid #ccc;
  background: #efefee;
  padding: 30px 0;
}

.c-footSitemap p {
  font-weight: bold;
  font-size: 1.4rem;
}

.c-footSitemap ul li {
  margin-top: 6px;
}

.c-footSitemap ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

.c-footSitemap__inner {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pacl: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .c-footSitemap .c-footSitemap__inner {
    width: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .c-footSitemap {
    padding: 15px 10px 5px 10px;
  }
}

@media screen and (max-width: 768px) {
  .c-footSitemap__block {
    width: 48%;
    margin-bottom: 20px;
  }
  .c-footSitemap__block:first-child {
    margin-top: 0;
  }
}

.c-footCopy {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.c-footCopy p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .c-footCopy {
    padding: 10px 0;
  }
  .c-footCopy p {
    font-size: 1rem;
  }
}

.c-sideFrame1 {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.c-sideFrame1__head {
  border-bottom: 1px solid #ccc;
  padding: 12px 10px;
  background: #e6e9ed;
}

.c-sideFrame1__head p {
  font-size: 1.4rem;
  line-height: 1;
}

.c-sideFrame1__body {
  padding: 13px 10px;
}

.c-breadcrumb1 {
  padding: 10px;
}

.c-breadcrumb1 ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb1 ul li {
  line-height: 1;
  font-size: 1.2rem;
}

.c-breadcrumb1 ul li a {
  color: #333;
}

.c-breadcrumb1 ul li:after {
  content: '';
  display: inline-block;
  margin: 0 7px;
}

.c-breadcrumb1--bottomline {
  border-bottom: 1px solid #ccc;
}

.c-breadcrumb1--topline {
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .c-breadcrumb1 ul {
    width: auto;
  }
  .c-breadcrumb1 ul li {
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.6;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 60px;
    font-size: 1.2rem;
  }
}

.l-main {
  width: 800px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .l-main {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
.l-content {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .l-content {
    width: auto;
    display: block;
  }
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
.l-side {
  width: 220px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .l-side {
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	Btn
------------------------------------------------------------*/
.l-btn1--center {
  text-align: center;
}

.l-btn1--right {
  text-align: right;
}

.l-btn1--2btnCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-btn1--2btnCenter div:last-child {
  margin-left: 30px;
}

.l-btn1--2btnBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .l-btn1--2btnCenter {
    padding-left: 10px;
    padding-right: 10px;
  }
  .l-btn1--2btnCenter > div {
    width: 48%;
  }
  .l-btn1--2btnCenter > div:last-child {
    margin-left: 2%;
  }
  .l-btn1--2btnCenter .c-btn1 a {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .l-btn1.l-btn1--2btnBetween {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .l-btn1.l-btn1--2btnBetween > div {
    width: 48%;
  }
  .l-btn1.l-btn1--2btnBetween > div:last-child {
    margin-left: 2%;
  }
  .l-btn1.l-btn1--2btnBetween .c-btn1 a {
    min-width: 100%;
  }
}

.c-btn1 {
  display: inline-block;
}

.c-btn1 a {
  color: #fff;
  background: #fc6e51;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  min-width: 200px;
  padding: 13px 0;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

.c-btn1 a:hover {
  text-decoration: underline;
}

.c-btn1--color1 a {
  background: #37bc98;
}

.c-btn1--color2 a {
  background: #38afda;
}

.c-title1 {
  border-left: 8px solid #8cc152;
  margin-bottom: 10px;
}

.c-title1 h1, .c-title1 h2, .c-title1 h3, .c-title1 h4, .c-title1 h5, .c-title1 h6 {
  font-size: 1.6rem;
  padding-left: 15px;
}

.c-title1--color1 {
  border-left-color: #f6bb42;
}

.c-title1--color2 {
  border-left-color: #e9573f;
}

.c-title1--textcolor1 h1, .c-title1--textcolor1 h2, .c-title1--textcolor1 h3, .c-title1--textcolor1 h4, .c-title1--textcolor1 h5, .c-title1--textcolor1 h6 {
  color: #da4453;
}

.c-title1--textcolor2 h1, .c-title1--textcolor2 h2, .c-title1--textcolor2 h3, .c-title1--textcolor2 h4, .c-title1--textcolor2 h5, .c-title1--textcolor2 h6 {
  color: #38afda;
}

@media screen and (max-width: 768px) {
  .c-title1 h1, .c-title1 h2, .c-title1 h3, .c-title1 h4, .c-title1 h5, .c-title1 h6 {
    font-size: 1.4rem;
  }
}

.c-title2 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.c-title2 h1, .c-title2 h2, .c-title2 h3, .c-title2 h4, .c-title2 h5, .c-title2 h6 {
  font-size: 1.8rem;
  font-weight: bold;
}

.c-title2--color1 {
  border-bottom-color: #8cc152;
}

.c-title2--color1 h1, .c-title2--color1 h2, .c-title2--color1 h3, .c-title2--color1 h4, .c-title2--color1 h5, .c-title2--color1 h6 {
  color: #8cc152;
}

@media screen and (max-width: 768px) {
  .c-title2 h1, .c-title2 h2, .c-title2 h3, .c-title2 h4, .c-title2 h5, .c-title2 h6 {
    font-size: 1.4rem;
  }
}

.c-title3 h1, .c-title3 h2, .c-title3 h3, .c-title3 h4, .c-title3 h5, .c-title3 h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-title4 {
  line-height: 1;
  border-bottom: 1px solid #ccc;
}

.c-title4__inner {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .c-title4__inner {
    padding: 0 10px;
    height: 70px;
    width: auto;
  }
}

.c-title4__inner h2 {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .c-title4__inner h2 {
    font-size: 1.6rem;
  }
}

.c-title4__inner p {
  font-size: 1.4rem;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .c-title4__inner p {
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-navi1 ul {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .c-navi1 ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.c-navi1 ul li {
  width: 180px;
}

@media screen and (max-width: 768px) {
  .c-navi1 ul li {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 10px;
  }
}

.c-navi1 ul li a {
  text-decoration: none;
  background: #4fc1e9;
  color: #fff;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 38px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.c-navi1 ul li a::before {
  content: '';
  width: 5px;
  height: 5px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -4px;
}

@media screen and (max-width: 768px) {
  .c-navi1 ul li:last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-navi1 ul li:nth-child(2n+1) {
    margin-left: 0;
  }
}

.c-gnavi {
  border-bottom: 1px solid #ccc;
}

.c-gnavi ul {
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-left: 1px solid #ccc;
}

.c-gnavi ul li {
  width: 25%;
  border-right: 1px solid #ccc;
}

.c-gnavi ul li a {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  text-decoration: none;
  height: 40px;
  font-size: 1.4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #eee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
}

@media screen and (max-width: 768px) {
  .c-gnavi {
    width: auto;
  }
}

.c-imgtext1 {
  border: 1px solid #ccc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
}

.c-imgtext1__img {
  width: 150px;
  margin-right: 10px;
}

.c-imgtext1__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.c-imgtext1__text p {
  font-size: 1.2rem;
}

.c-imgtext1__text h3 {
  font-size: 2rem;
  font-weight: normal;
}

.c-imgtext1--bg1 {
  background: #f5f7fa;
}

.c-imgtext1--round {
  border-radius: 10px;
}

.c-imgtext1--imgright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.c-list1 {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.c-list1__card {
  width: 185px;
  margin-bottom: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .c-list1__card {
    width: 49%;
    margin-left: 2%;
  }
}

.c-list1__card:nth-child(4n+1) {
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .c-list1__card:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-list1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

.c-list1__info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .c-list1__img1 img {
    width: 100%;
    height: auto;
  }
}

.c-list1__img2 {
  width: 50px;
  margin-right: 10px;
}

.c-list1__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.c-list1__text h1, .c-list1__text h2, .c-list1__text h3, .c-list1__text h4, .c-list1__text h5, .c-list1__text h6 {
  font-size: 1.4rem;
}

.c-list1__text p {
  font-size: 1.2rem;
}

.c-list1--col3 .c-list1__card {
  width: 253px;
}

@media screen and (max-width: 768px) {
  .c-list1--col3 .c-list1__card {
    width: 49%;
    margin-left: 2%;
  }
}

.c-list1--col3 .c-list1__card:nth-child(4n+1) {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .c-list1--col3 .c-list1__card:nth-child(4n+1) {
    margin-left: 2%;
  }
}

.c-list1--col3 .c-list1__card:nth-child(3n+1) {
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .c-list1--col3 .c-list1__card:nth-child(3n+1) {
    margin-left: 2%;
  }
}

@media screen and (max-width: 768px) {
  .c-list1--col3 .c-list1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

.c-list2 ul {
  margin-left: 1.7rem;
}

.c-list2 ul li {
  list-style-type: disc;
  font-size: 1.4rem;
}

.c-list3 ol {
  margin-left: 1.7rem;
}

.c-list3 ol li {
  list-style-type: decimal;
  font-size: 1.4rem;
}

.c-list4 ul {
  border-top: 1px solid #ccc;
}

.c-list4 ul li {
  border-bottom: 1px solid #ccc;
}

.c-list4 ul li a {
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  font-size: 1.3rem;
}

.c-list5 ul li {
  margin-top: 15px;
}

.c-list5 ul li:first-child {
  margin-top: 0;
}

.c-table1 th, .c-table1 td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.c-table1 table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
}

.c-table1 thead th {
  background: #8cc152;
  color: #fff;
  font-size: 1.4rem;
}

.c-table1 th {
  font-weight: normal;
  font-size: 1.4rem;
  background: #e6e9e4;
}

.c-table1 td {
  text-align: center;
  font-size: 1.4rem;
}

.c-table1 .u-gray {
  background: #434a54;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .c-table1--spBlock th, .c-table1--spBlock td {
    display: block;
  }
}

.c-line1 {
  position: relative;
}

.c-line1 hr {
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.c-line1 hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  background: #fff;
  color: #bbb;
  font-size: 1.4rem;
  left: 50%;
  top: 50%;
  line-height: 1;
  margin-top: -0.7rem;
  margin-left: -0.7rem;
}

/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-message1 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px 10px;
}

.c-message1 p {
  font-size: 1.4rem;
  text-align: center;
}

.c-message1--color1 {
  border-color: #37bc9b;
  background: #48cfad;
}

.c-message1--color1 p {
  color: #fff;
}

.p-company1,
.p-company2 {
  margin-bottom: 40px;
}

.p-company1 p {
  margin-bottom: 20px;
}

.p-company2 .c-table1 {
  margin-bottom: 30px;
}

.p-company3__txt1 p {
  color: #8cc152;
}

.p-company3 p {
  margin-bottom: 10px;
}

.p-company3 ul li {
  font-size: 1.6rem;
}

.p-company3 .c-list2 {
  margin-bottom: 30px;
}

.p-company3 .c-line1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-company3__txt2 p {
  color: #DA4453;
  font-size: 1.2rem;
}

.c-company4 {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.c-company4__img {
  width: 180px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .c-company4__img {
    width: 100px;
  }
}

.c-company4__txt {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.p-service .c-title4 {
  background: #5d9cec;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .p-service .c-title4__iner {
    width: auto;
    padding: 0 10px;
    height: 70px;
  }
}

.p-service1 {
  margin-bottom: 40px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .p-service1 {
    margin-top: 10px;
  }
}

.p-service2 {
  margin-bottom: 40px;
}

.p-service2__txt1 {
  margin-bottom: 20px;
}

.p-service3 {
  margin-bottom: 40px;
}

.p-service3 .c-table1 {
  margin-bottom: 30px;
}

.p-service3 .l-btn1 {
  margin-top: 30px;
}

.p-service4 .c-title1 {
  margin-bottom: 20px;
}

.p-service4 .c-imgtext1 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .p-service4 .c-imgtext1 {
    margin-bottom: 15px;
  }
}

.p-service4 .c-imgtext1__text p {
  font-size: 1.2rem;
}

.p-service4 p {
  margin-bottom: 20px;
}

.p-service4 .c-title3 {
  margin-bottom: 10px;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.u-mt20 {
  margin-top: 20px;
}

.u-red {
  color: #F00;
  font-weight: bold;
}
